.eltd-header-dual {
    .eltd-page-header{
        .eltd-logo-area{
            overflow: visible;
            height: $header-dual-logo-area-height;
            .eltd-position-right{
                z-index: 3;
            }
            .eltd-position-left-inner{
                .eltd-left-from-menu-widget-holder{
                    & > div{
                        display: inline-block;
                       &:not(.widget_eltd_social_icon_widget){
                           margin-right:25px;
                       }
                        &:last-child{
                            margin-right:0;
                        }
                    }
                    .widget.widget_eltd_social_icon_widget{
                        margin-top: 0;
                    }
                }
            }
        }
        .eltd-menu-area {
            z-index: 2;
            height: $header-dual-menu-area-height;
            .eltd-position-left-inner,
            .eltd-position-center-inner{
                height: 100%;
            }
            .eltd-main-menu > ul > li{
                &> a{

                    letter-spacing: 1px;
                    color: #747474;

                    &:hover{
                        color: $light-skin-color;
                    }

                    .item_inner{
                        padding: 0 21px;
                    }
                    span.plus{
                        display: none;
                    }
                    .item_text:before{
                        display: none;
                    }
                }
                &.eltd-active-item{
                    &>a{
                        color: $light-skin-color;
                    }
                }
            }
        }
        //widgets
        .widget{
            &:first-child{
                margin-right: 38px;
            }
        }
        .eltd-search-opener{
            color: $light-skin-color;
            @include eltdTransform(color 0.15s ease-out);
            .eltd-search-icon-text{
                color: #747474;
            }
            &:hover{
                color: $first-main-color;
                .eltd-search-icon-text{
                    color: $light-skin-color;
                }
            }
        }
    }
}
