.eltd-blog-holder.eltd-blog-type-standard{
	article{
		.eltd-post-image-holder{
		 margin-bottom: 22px;;
		}

		&.format-quote,
		&.format-link{
			.eltd-post-title{
				margin: 13px 0 12px;
				a{
					font-family: $second-font;
					color: $light-skin-color;
					&:hover{
						color: rgba(255,255,255,.8);
					}
				}
			}
			.eltd-post-text{

				.eltd-post-mark{
					top: 25px;
					right: 28px;
				}
				&.eltd-post-has-image{
					background-color: transparent;
				}

				&:not(.eltd-post-has-image){
					background-color: #333;
				}

				.eltd-post-author-content{
					color:$light-skin-color;
					letter-spacing: 1px;
				}
			}
			.eltd-post-info.eltd-bottom-section .eltd-right-section>div{
			&.eltd-blog-share{
				display: none;

				.eltd-social-share-holder.eltd-list{
					ul li{
						&:last-child{
							margin-right: 0;
						}
						a{
							color:#fff;
							&:hover{
								color:$first-main-color;
							}
						}
					}
				}
			}
			}

		  .eltd-post-info.eltd-top-section {
			  @extend %blog-bottom-section-style;



			  .eltd-post-info-date{
				  margin-right:0;
				  color:$light-skin-color;
				  letter-spacing: 1px;

				  .eltd-blog-icon:after{
					  margin: 0 2px;
				  }

			  }
			  .eltd-post-info-category{
				  a{
					  color:$light-skin-color;
					  letter-spacing: 1px;

					  &:hover{
						  color:$first-main-color;
					  }
				  }
				  .eltd-category-icon{
					  display: none;
				  }
			  }
		  }


		}
	  	&.format-quote{

		  .eltd-post-info.eltd-top-section{
            margin-bottom: 14px;
		  }
			.eltd-post-title{
              width: 60%;
				h4{
					line-height:36px;
                    letter-spacing: 1px;
				}
			}

		}


		&.format-link{
          .eltd-post-info.eltd-top-section{
            margin-bottom: 14px;
          }

			.eltd-post-text{
              padding-bottom: 71px;
			}

            .eltd-post-title{
              width: 60%;
              h4{
                line-height:36px;
                letter-spacing: 1px;
              }
            }
		}


		&.eltd-split-post{
		  border-bottom: 2px solid $shortcode-background-color;
		  padding-bottom: 50px;
			margin-top : 46px;
			position: relative;

			&:after {
				bottom: 0;
			}
			.eltd-post-content{
				@include eltdTableLayout;
			}
			.eltd-left-section,
			.eltd-right-section{
				@include eltdTableCellLayout;
				text-align: left;
				vertical-align: top;
			}
			.eltd-left-section{
				width: 42.92%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				padding-bottom: 20px;
				.eltd-post-permalink{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					&:after {
					    content: '';
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    background-color: rgba(0, 0, 0, 0.3);
					    opacity: 0;
					    @include eltdTransition(opacity 0.3s);
					}
					&:hover {
						&:after {
							opacity:1;
						}
					}
				}
			}
			.eltd-right-section{
				width: 57.08%;
				padding-left: 42px;
				box-sizing: border-box;
			}

			.eltd-post-text{
				text-align:left;
				padding: 0 0 63px;
			  	color:$light-text-color;
			  	background-color: transparent;
			}
			.eltd-post-title{
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
			    a{
				  font-weight: 400;
				  color:$heading-color ;
				  &:hover{
				 	 color:$heading-color ;
					}
				}
			}
			.eltd-post-header{

				.eltd-post-header-right{
					top: 0;
					position: relative;
				}
			    .eltd-post-header-left
				{
				  color:$first-main-color;
				  text-transform: uppercase;
				  font-size: 11px;
				  .eltd-date-holder{
					span:first-child{
					  margin-right: 10px;
					  font-size: 12px;
					}
					float: left;
					margin-right: 22px;

				  }
				  .eltd-top-section{
					  @extend %top-section-style;
				  }

				}
				.eltd-post-title{
					margin-bottom: 33px;
				 	margin-top: 9px;
				}
				.eltd-post-category {
					margin-bottom: 4px;
				}

			}

		  	.eltd-post-info-bottom{
				@extend %bottom-section-style2;
				float: right;
			}
			.eltd-comments-share-holder{
				float: none;
				padding-right: 0;
				&:before{
					left: -8px;
				}
			}
			.eltd-post-excerpt{
				margin: 0 0 20px;

			}
			.eltd-post-image,
			.eltd-blog-audio-holder{
				margin-bottom: 0;
			}
		}

		&.format-video{
			.eltd-post-image{
				margin-bottom:32px;
			}
		}

		&:not(.format-quote):not(.format-link) {


			.eltd-post-image {
				position: relative;
				a:after {
					content:'';
					position: absolute;
					top:0;
					left:0;
					height: 100%;
					width: 100%;
					background-color: rgba(0,0,0,.3);
					opacity:0;
					@include eltdTransition(opacity .3s);
				}
				&:hover {
					a:after {
						opacity:1;
					}
				}
			}
			.eltd-post-text {
				.eltd-post-title{
					margin-bottom: 15px;
				}

              .eltd-top-section{
                .eltd-post-info-category{
                  margin-left: 5px;

					font-size: 14px;
					font-weight: 600;

					&:hover{
						color:#909090;
					}
                }.eltd-post-info-date{
				  font-size: 14px;
				  font-weight: 600;
								 }
              }
			  .eltd-bottom-section {
				margin-top:7px;
				margin-bottom: 31px;
				  letter-spacing: 1px;

				.eltd-right-section {
					@extend %bottom-section-style2;
					.eltd-post-info-comments-holder{
						float: none;
						line-height: normal;
						font-weight: 600;
						font-size: 14px;

						&:hover{
							color:$first-main-color;
						}
					}
				}

				  .eltd-left-section{
					  .eltd-post-author-content{
						  .eltd-post-info-author-link:hover{
							  color:$first-main-color;
						  }
					  }
				  }
			  }
				.eltd-post-info.eltd-top-section{
					@extend %top-section-style;

					.eltd-post-info-date{
						font-weight: 600;
						font-size: 14px;
					}
					.eltd-post-info-category a{
						font-weight: 600;
						font-size: 14px;
					}
				}
			}
		}
	}
}