.eltd-blog-holder{

	&.eltd-blog-type-masonry-gallery {

		opacity: 0;
		@include eltdTransition(opacity 0.15s ease-out);

		&.eltd-appeared{
			opacity: 1;
		}

		article {
			margin: 0;
			overflow: hidden;

			.eltd-post-image-holder {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height:100%;
				margin: 0;
				a{
					display: block;
					position: relative;
					height: 100%;
					width: 100%;

					&:after {
						content: '';
						position: absolute;
						top:0;
						left: 0;
						height: 100%;
						width: 100%;
						background-color: rgba(82, 75, 66, 0.75);
						opacity: 0;
						@include eltdTransition(opacity .5s);
					}
				}
			}
			.eltd-post-title{
				font-weight: 600;
				color: #333;
				text-transform: none;
				margin: 0 0 15px;
				font-size: 18px;
			}
			.eltd-post-info{
				@extend %post-info-style1;
				color: #a9a9a9;
				line-height: 19px;
				font-family: $first-font;
				.eltd-post-info-category,
				.eltd-post-info-date{
					color: #a9a9a9;
					font-weight: 800;
				}
			}
			&:not(.format-quote):not(.format-link){
				&:hover{
					.eltd-post-image-holder{
						a{
							&:after {
								opacity: 1;
							}
						}
					}

					.eltd-post-info-category,
					.eltd-post-info-date{
						color: #fff;
						font-weight: 800;
					}

					.eltd-post-title a {
						color:#fff;
					}
				}

				.eltd-post-excerpt{
					margin: 0;
					opacity: 0;
					font-size: 15px;
					color: $default-background-color;
					@include eltdTransform(translateY(20px));
					@include eltdTransition(all 0.3s ease);
				}
				.eltd-post-text{
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					height: auto;
					padding: 28px 30px;
					@include eltdBoxSizing(border-box);
					-webkit-transition: -webkit-transform .3s ease;
					transition: transform .3s ease;
					background-color: transparent;
					visibility: hidden;
				}
				&:hover{
					.eltd-post-text{
						@include eltdTransform(translateY(0));
						-webkit-transition: -webkit-transform .5s cubic-bezier(0.15, 0.35, 0.36, 0.99);
						transition: transform .5s cubic-bezier(0.15, 0.35, 0.36, 0.99);
					}
					.eltd-post-excerpt{
						@include eltdTransform(translateY(0px));
						opacity: 1;
						-webkit-transition: -webkit-transform .3s ease .1s, opacity .3s ease;
					}
				}
			}
			&.format-link,
			&.format-quote{
				.eltd-post-text-holder{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				.eltd-post-text-holder-inner{
					position: relative;
					height: 100%;
					background-color: rgba(82, 75, 66, 0.75);

					.eltd-post-text{
						text-align: center;
						width: 100%;
						position: absolute;
						top: 50%;
						@include eltdTransform(translateY(-50%));
						@include eltdBoxSizing(border-box);
						padding: 0 32px;
						background-color: transparent;
					}
				}
				.eltd-icon-post-mark{
					&.eltd-quote-icon-post-mark{
						margin: 15px 0 0;
					}
					&.eltd-link-icon-post-mark{
						margin: 29px 0 0;
					}
					span{
						font-size: 40px;
						color: $first-main-color;
						&.eltd-link-mark{
							font-size: 30px;
						}
					}
				}

				.eltd-post-title{
					margin: 11px 0 23px;
					font-family: $first-font;
					font-size: 18px;
					line-height: 25px;
					text-transform: none;
					font-weight: 400;
					color: #fff;
					a{
						&:after,
						&:before{
							display: none;
						}
					}
				}
				.eltd-quote-author{
					@extend %post-info-style1;
					font-weight: 800;
					color: #a9a9a9;
					@include eltdTransition(color 0.15s ease);
				}
			}
			&.format-link{
				.eltd-post-title{
					margin: 20px 0 0;
				}
			}


			&.eltd-default-masonry-item,
			&.eltd-large-height-masonry-item{
				width: 25%;
			}
			&.eltd-large-width-masonry-item,
			&.eltd-large-width-height-masonry-item{
				width: 50%;
			}

		}
		.eltd-blog-masonry-gallery-grid-sizer {
			width: 25%;
		}

	}
}