.eltd-blog-holder.eltd-blog-type-two-columns{
	article {
		width: calc((100% - 28px)/2);
		&:not(:nth-child(2n)){
			margin-right: 28px;
		}
		&:nth-child(2n+1){
			clear: both;
		}
		float: left;
		margin-bottom: 52px;

		.eltd-post-image-holder {
			position: relative;
			margin-bottom: 25px;
			img{
				vertical-align:top;
			}

			.eltd-blog-audio-holder {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}

			.eltd-post-image {
				a {
					display: block;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						background-color: rgba(0, 0, 0, 0.3);
						@include eltdTransition(opacity 0.3s);
					}

					&:hover {
						&:after {
							opacity:1;
						}
					}
				}
			}

		}


		.eltd-post-excerpt{
			margin: 0 0 28px;
		}

		.eltd-post-info.eltd-bottom-section{
			@extend %blog-bottom-section-style;

			.eltd-post-info-comments-holder{
				color:$light-skin-color;

				.eltd-post-info-comments {
					&:hover{
						color:$first-main-color;
					}

					a{
						font-size: 14px;
					}
				}
			}

			font-weight: 600;
			font-size: 14px;
			
		}

		.eltd-post-title {
			margin-top: 33px;
		 	margin-bottom:15px;
		}

		.eltd-post-info-author{
			.eltd-post-author-image{
				display: none;
			}
		}


		&.format-quote,
		&.format-link{
			.eltd-post-content{
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
			}
			.eltd-quote-post-title{
				a{
					&:after{
						content: '“';
						position: relative;
						right: 5px;
					}
					&:before{
						content: '”';
						position: relative;
						left: 5px;
					}
				}
			}
			.eltd-post-title{
				margin: 11px 0 13px;
			    color:$light-skin-color;
			    a:hover{
				  color:$first-main-color;
				}
			}
			.eltd-post-mark{
				position: absolute;
				width: 38px;
				height: 38px;
				line-height: 38px;
				top: 25px;
				right: 28px;
				text-align: center;
				background-color: $first-main-color;

				.eltd-link-quote-mark{
					font-size: 20px;
					line-height: inherit;
					&.eltd-link-mark{
						font-size: 15px;
					}
				}

			}
			.eltd-post-text{
				background-color: rgba(#434343, 0.4);
			}
			.eltd-post-info{

			}
			.eltd-quote-author{
				font-weight: 700;
				font-size: 13px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}

			.eltd-post-info.eltd-top-section{
				.eltd-post-info-date,
				.eltd-post-info-category a{
					color:$light-skin-color;
				}
				.eltd-post-info-category a:hover{
					color:$first-main-color;
				}
			}
		}
		&.format-quote{
			.eltd-post-text {
				padding: 50px 23px 38px;
			}
		}
		&.format-link{
			.eltd-post-text {
				padding: 60px 23px 47px;
			}
		}

		&.format-audio {
			.eltd-post-image {
				img {
					display: block;
				}
			}
		}

	}
}

.eltd-filter-blog-holder{

	text-align: center;
	margin-bottom: 30px;

	li {

		display:inline-block;
		padding: 0 8px;
		cursor: pointer;
		font-size: 15px;

		&.eltd-active{
			color: $first-main-color;
		}

	}

}

.eltd-single-links-pages {

	.eltd-single-links-pages-inner > span,
	a {
		display: inline-block;
		color: #333333;
		border: 2px solid $shortcode-background-color;
		width: 47px;
		height: 45px;
		line-height: 41px;
		font-weight: bold;
		text-align: center;
		@include eltdBoxSizing(border-box);
		@include eltdTransition(all 0.3s ease);

		&:hover {
			background-color: $first-main-color;
			border: 2px solid $first-main-color;
			color: #fff;
		}

	}

}
.eltd-load-more-ajax-pagination{
	margin: 20px 0 0;
	float: left;
	clear: both;
}