.eltd-blog-holder {

  &.eltd-blog-type-chequered {

    opacity: 0;
    @include eltdTransition(opacity 0.15s ease-out);

    &.eltd-appeared {
      opacity: 1;
    }
    article {
      width: 25%;
      padding: 1px;
      box-sizing: border-box;
      margin-bottom: 0;
      display: block;

      .eltd-post-image-holder{
        margin-bottom: 0;
        height: 100%;
         .eltd-post-image {
         height: 100%;
         }

      }

        &:not(.format-quote):not(.format-link){
          .eltd-post-text{
            width:100%;
            padding: 30px;
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            top: 0;
            background-color: rgba(243, 243, 243, 0.8);
          }
          .eltd-post-image-holder{
            .eltd-post-text{
              opacity: 0;
              transition:all .3s linear;
            }
            &:hover .eltd-post-text{
              opacity: 1;
            }
          }
        }
      &.format-quote,
      &.format-link{
        .eltd-post-content{
          height:100%;
          .eltd-post-text{
            text-align: center;
            background-color: #f3f3f3;
            z-index: 1;
            height: 100%;
            box-sizing: border-box;

            .eltd-post-mark{
              position: relative;
              border:none;
              width: auto;
              top:auto;
              right:auto;
              text-align: center;
              background-color: transparent;

              .eltd-link-quote-mark{
                font-size: 36px;
                color:$first-main-color;
              }
              .eltd-link-mark{
                font-size: 22px;
                color:$first-main-color;
                background-color: transparent;
              }
            }
            .eltd-quote-author{
              color:$first-main-color;
            }
            .eltd-post-title{
              color: $heading-color;
              font-family: $second-font;
              font-size: 18px;
              line-height: 32px;
                a {
                  color:$heading-color;
                  &:hover{
                    color:$first-main-color;
                  }
                }

            }
          }
        }

      }
      &.format-link{
        .eltd-post-text{
          padding: 48px 35px 15px;
        }
      }
      &.format-quote{
        .eltd-post-title{
          margin: 11px 0 18px;
        }
        .eltd-post-text{
          padding: 36px 39px 16px;
        }
      }
      &.format-audio,
      &.format-video{
        .eltd-blog-audio-holder{
          .mejs-container{
            display: none;
          }
        }
        .eltd-play-btn{
          text-align: center;
          top:50%;
          left:50%;
          position: absolute;
          transform: translate(-50%,-50%);
         i{
           color:#fff;
           font-size: 55px;

         }
        }
      }
      &.format-gallery{
        .eltd-post-image-holder{
          .owl-stage-outer{
            height:auto!important;
          }
          &:hover{
            .owl-prev{
              left:2%;
            }
            .owl-next{
              right:2%;
            }
            .eltd-post-text{
              opacity: 1;

            }
          }
        }
        .owl-nav{
          .owl-prev{
            left:-14%;
            .eltd-prev-icon span{
              font-size: 30px;
            }
          }
          .owl-next{
            right:-14%;
            .eltd-next-icon span{
              font-size: 30px;
            }
          }
        }

      }


    }

    .eltd-blog-chequered-grid-sizer {
      width: 25%;
    }
  }
}
