.eltd-blog-holder.eltd-blog-single {

	article {
	   margin-bottom:44px;

		.eltd-post-title{
			margin-top:4px;
			margin-bottom: 9px;
		}

		&.format-quote,
		&.format-link{
			.eltd-post-title{
              margin: 13px 0 19px;
              line-height: 35px;
              width: 60%;

				a{
					font-family: $second-font;
				}
			}
			.eltd-blog-single-content{
				margin: 37px 0 0;
			}


			.eltd-quote-author{
				font-family: $second-font;
				letter-spacing: 0;
			}
          .eltd-blog-share {

            .eltd-social-share-holder.eltd-list {
              ul li {
                &:last-child {
                  margin-right: 0;
                }
                a {
                  color: #fff;
                  &:hover {
                    color: $first-main-color;
                  }
                }
              }
            }
          }

		}

		&.format-quote{

			.eltd-post-content{

				.eltd-post-title a{
					color: $light-skin-color;
				}

				.eltd-post-text{

					.eltd-quote-author{
						color:$light-skin-color;
					}

					.eltd-post-author-content{
						color:$light-skin-color;
						letter-spacing: 1px;

						.eltd-post-info-author-link{
							&:hover{
								color:$first-main-color;
							}
						}
					}
				}
			}
		}

		&.format-link{

			.eltd-post-content{

				.eltd-post-text{
					padding-bottom: 71px;


					.eltd-post-mark{
						top: 25px;
						right: 28px;
					}

					.eltd-post-title{
						a{
							color: $light-skin-color;
						}
					}
					.eltd-post-info.eltd-bottom-section{
                      margin-top: 14px;


						.eltd-post-author-content{
							color: $light-skin-color;
							letter-spacing: 1px;
						}
					}

				}
			}
		}

		.eltd-post-image-holder {
			margin-bottom: 24px;
		  	img{
			  border: 1px solid $shortcode-background-color;
			}

		}

		.eltd-blog-tags-info-holder {
				margin: 40px 0 0;
				@include eltdTableLayout;

				.eltd-single-tags-holder{
					@extend %single-tags-style;
					font-weight: 600;
				}
				.eltd-post-info {
					@extend %bottom-section-style2;
					.eltd-blog-share{
						ul{
							li{
								a{
									position: relative;
									top: -1px;
								}
							}
						}
					}

					.eltd-post-info-comments-holder{
						font-weight: 600;

					}
				}
		}
	  .eltd-post-text{
		border-bottom: none;
		  color:$light-text-color;
		  .eltd-post-info.eltd-top-section{

			  @extend %blog-bottom-section-style;

			  .eltd-post-info-date{
				  margin-right:0;
				  color:$first-main-color;
                letter-spacing: 1px;
				  font-weight: 600;
				  font-size: 14px;

				  .eltd-blog-icon:after{
					  margin: 0 2px;
				  }

			  }
			  .eltd-post-info-category{
				  a{
					  font-weight: 600;
					  font-size: 14px;

					  color:$first-main-color;
                    letter-spacing: 1px;

					  &:hover{
						  color:$first-main-color;
					  }
				  }
				  .eltd-category-icon{
					  display: none;
				  }
			  }
		  }

        .eltd-post-info-comments-holder{
          .eltd-post-info-comments{
            letter-spacing: 1px;
          }
        }
	  }

	}

	/* Author - begin
	========================================================================== */

	.eltd-author-description {
		padding: 28px 30px 28px 30px;
		border: 2px solid #f0f0f0;
		background-color: #f0f0f0;

		.eltd-author-description-inner {
			@include eltdTableLayout;
		}

		.eltd-author-description-image {
			@include eltdTableCellLayout;
			width: 102px;
		 	padding-right: 31px;
			vertical-align: top;
			img{
				@include eltdBorderRadius(50%);
			}
		}

		.eltd-author-description-text-holder {
			@include eltdTableCellLayout;
			text-align: left;
			vertical-align: top;

			.eltd-author-name {
				margin: 0;
				@extend %eltd-custom-title;
                font-family: $second-font;
                display: inline-block;
                font-size: 16px;

            }
			.eltd-author-text{
				p{
					margin-top: 10px ;
					color:$light-text-color;
					font-family: $third-font;
				}
			}

			.eltd-author-name-email {
				margin-bottom: 11px;
			}
		}
		.eltd-author-social-holder {
			margin-top: 12px;
			.eltd-author-social-text{
			 	display: inline-block;
				font-size: 14px;
				font-weight: 600;
				color:#909090;
				text-transform: uppercase;
                margin-right: 18px;
				font-family: $second-font;
                letter-spacing: 1px;
			}
			span {
				font-size: 11px;
				margin:0 15px 0 0;
				display: inline-block;
				color: $light-text-color;
				@include eltdTransition(all 0.3s ease-out);


			}
			a{
				&:hover{
					cursor: pointer;
					span{
						color: $first-main-color;
					}
				}
			}
		}

	}

	/* Author - end
	========================================================================== */

	/* Single Tags - begin
	========================================================================== */
	.eltd-single-tags-holder {

		margin: 20px 0;

		.eltd-single-tags-title {
			display: inline-block;
			margin-right: 5px;
		}
		.eltd-tags {
			display: inline-block;
			a {
				display: inline-block;
				margin: 0 6px 6px 0;
				border: 2px solid #f0f0f0;
                padding: 8px 20px 7px 20px;
				@include eltdBoxSizing(border-box);
				background-color: #f0f0f0;
				@extend %eltd-custom-title-grey;
				@include eltdTransition(all .2s ease);
                letter-spacing: 1px;
				line-height: normal;
				font-weight: 600;
				font-size: 14px;
				&:hover{
					color: $light-skin-color!important;
					background-color: $first-main-color;
					border-color: $first-main-color;
				}
			}
		}
	}

	/* Single Tags - end
	========================================================================== */
	.eltd-blog-single-navigation {
		position: relative;
		padding: 55px 0 35px;
		border-bottom: 2px solid $shortcode-background-color;

		.eltd-blog-single-navigation-inner {
			position: relative;
			display: block;
		}

		.eltd-blog-single-prev-holder,
		.eltd-blog-single-next-holder {
			@include eltdTableLayout;
			width: 45%;
		}
		.eltd-blog-single-prev-holder {
			float: left;
		}
		.eltd-blog-single-next-holder {
			float: right;
		}
		.eltd-blog-single-prev,
		.eltd-blog-single-next {
			display: none;
		}
		.eltd-blog-single-prev-info,
		.eltd-blog-single-next-info {
			@include eltdTableCellLayout;
			box-sizing: border-box;
		    a{
			  color:$heading-color;
			}
		}
		.eltd-blog-single-prev-info {
			text-align: left;
		}
		.eltd-blog-single-next-info {
			text-align: right;
		}

		.eltd-blog-navigation-info {


			@extend %eltd-custom-title-grey;
            font-family: $second-font;
			@include eltdTransition(color 0.15s ease);
			font-weight: 600;
            letter-spacing: 1.5px;
			font-size: 14px;

			&:hover {
				color: $first-main-color;
			}

		}
		.eltd-blog-single-nav-title{
			margin: 0;
			a{
				@include eltdTransition(color .1s linear);
				&:hover{
					color:$first-main-color;
				}
			}
		}
	}

	/* Blog Single navigation - End


		/* Related Posts - begin
	========================================================================== */

	.eltd-related-posts-holder {
		padding: 15px 0 28px;
		border-bottom: 2px solid $shortcode-background-color;

		.eltd-related-posts-title {
			margin-bottom: 20px;
		}

		.eltd-related-post {
			width: calc((100% - 45px) / 4);
			margin-right: 15px;
			display: inline-block;
			float: left;

			&:nth-child(4n) {
				margin-right: 0;
			}

			img {
				display: block;
			}

			.eltd-related-post-image {
				margin-bottom: 22px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				min-height: 135px;
			}

			.eltd-related-post-title {
				margin: 0;
				@include eltdTransition(color .1s ease-in);
				&:hover{
					color:$first-main-color;
				}
			}

			.eltd-related-post-excerpt p {
				margin: 0;
			}

		}

	}

	//Related posts with sidebar
	.eltd-column1 .eltd-related-posts-holder,
	.eltd-column2 .eltd-related-posts-holder {

		.eltd-related-post {
			width: calc((100% - 30px) / 3);

			&:nth-child(3n) {
				margin-right: 0;
			}

		}

	}
	/* Related Posts - end
	========================================================================== */
}
