.eltd-blog-holder{

	&.eltd-blog-type-masonry {

		opacity: 0;
		@include eltdTransition(opacity 0.15s ease-out);

		&.eltd-appeared{
			opacity: 1;
		}

		article {
			width: 32%;
			margin: 0 0 66px;

			.eltd-post-image-holder {
				margin-bottom: 21px;
			}

			.eltd-post-title {
				margin: 12px 0 13px;
			}

			.eltd-post-author-content{
				.eltd-post-info-author-text,
				.eltd-post-info-author-link{
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 1px;
				}
			}

			&:not(.format-quote):not(.format-link){
				.eltd-post-title {
					width: 70%;
				}
				.eltd-post-info{
					&.eltd-bottom-section{
						border-top: 0;
						padding: 0 0 34px;
						margin: 0;
						position: relative;
					}

					&.eltd-top-section{
						.eltd-post-info-date,
						.eltd-post-info-category{
							font-weight: 600;
							a{
								font-weight: 600;
							}
						}
					}
				}
				&:hover {
					.eltd-post-info.eltd-bottom-section:after {
						width: 100%;
						@include eltdTransition(width .3s ease);
					}
				}
			}
			&.format-quote,
			&.format-link{
				.eltd-post-content{
					background-color: #ccc;
				}
				.eltd-post-text{
					background-color: rgba(133,133,133,.1);
					padding: 39px 39px 16px;
				}
				.eltd-post-info{
					&.eltd-bottom-section{
						@include eltdTableLayout();
						.eltd-left-section,
						.eltd-right-section{
							@include eltdTableCellLayout();
							&:before{
								display: none;
							}
						}

						.eltd-left-section{
							text-align: left;
						}
						.eltd-right-section{
							display: none;
						}
					}
				}

				.eltd-quote-author{
					display: none;
				}

				.eltd-post-title{
					margin: 11px 0 13px;
					a{
						font-family: $second-font;
						font-size: 28px;
						font-weight: 500;
						color: $default-background-color;
						&:hover{
							color: $light-skin-color;
						}
					}
				}

			}
			&.format-quote{
				.eltd-post-title{
					a{
						line-height: 1.3em;
					}
				}
			}

			&:not(.format-quote):not(.format-link)    {
				.eltd-post-image {
					position: relative;
					a:after {
						content:'';
						position: absolute;
						top:0;
						left:0;
						height: 100%;
						width: 100%;
						background-color: rgba(0,0,0,.3);
						opacity:0;
						@include eltdTransition(opacity .3s);
					}
					&:hover {
						a:after {
							opacity:1;
						}
					}
				}
			}

		}
		.eltd-blog-masonry-grid-sizer {
			width: 32%;
		}
		.eltd-blog-masonry-grid-gutter {
			width: 2%;
		}

		.eltd-post-info{
			&.eltd-top-section{
				@extend %top-section-style;
			}
			&.eltd-bottom-section{
				@extend %post-info-style1;
				.eltd-post-author-content{
					font-size: 14px;
					font-weight: 600;
					a,
					span{
						font-size: 14px;
						font-weight: 600;
						letter-spacing: 1px;
					}
				}
			}
		}

		&~.eltd-pagination{
			margin: 14px 0 0;
		}



	}
	&.eltd-masonry-full-width {

		margin-right: 2%;
		margin-left: 2%;

		article,
		.eltd-blog-masonry-grid-sizer{
			width: 18.4%;
		}

		.eltd-blog-masonry-grid-gutter {
			width: 2%;
		}

		&~.eltd-pagination{
			margin: 14px 0 0;
		}
	}
}