.eltd-blog-holder{
	article {
      margin-bottom: 40px;

		.eltd-post-image-holder {
			position: relative;
			margin-bottom: 30px;

			img{
				vertical-align:top;
			}

			.eltd-blog-audio-holder {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}

		}
		.eltd-more-link-container{
			padding-top: 5px;
		}
		.post-password-form{
			input[type='submit']{
				margin-top: 20px;
			}
		}

		.eltd-post-excerpt{
            margin: 0 0 13px;
            color:$light-text-color;
		}
		.eltd-single-links-pages{
			margin: 0 0 20px;
		}

		.eltd-post-title {
			margin-top: 5px;
			margin-bottom: 30px;
		}

		.eltd-post-info-author{
			.eltd-post-author-image{
				display: none;
			}
		}

		.eltd-post-info{
			&.eltd-top-section{
				@extend %top-section-style;
			}
			&.eltd-bottom-section{
				@extend %bottom-section-style;
				.eltd-left-section{
					font-weight: 600;
					font-size: 14px;
				}
			}
		}

		&.format-quote,
		&.format-link{

			.eltd-post-content{
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
			}
			.eltd-quote-post-title{
				a{
					&:after{
						content: '“';
						position: relative;
						right: 5px;
					}
					&:before{
						content: '”';
						position: relative;
						left: 5px;
					}
				}

				.eltd-quote-author{
					color:$light-skin-color;
				}
			}
			.eltd-post-title{
				margin: 11px 0 13px;
				a{
					color:$light-skin-color;
				}
			}
			.eltd-post-mark{
				position: absolute;
				width: 44px;
				height: 44px;
				line-height: 44px;
				top: 25px;
				right: 28px;
				text-align: center;
				@include eltdBorderRadius(50%);
				border:2px solid $first-main-color;
				background-color: $first-main-color;


				.eltd-link-quote-mark{
					color: #ffffff;
					line-height: inherit;
				}
				.eltd-link-mark{
					color: $light-skin-color;
				}

			}
			.eltd-post-text{


				.eltd-post-author-content{
					color:$light-skin-color;
				}
			}
			.eltd-post-info{
				&.eltd-bottom-section{
					padding: 0;
					border-top: 0;

					.eltd-post-info-comments-holder{
						color:$light-skin-color;
					}
				}
			}
			.eltd-quote-author{
				font-weight: normal;
				color: #c4b088;
				font-size: 13px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			.eltd-post-info.eltd-top-section {
				@extend %blog-bottom-section-style;



				.eltd-post-info-date{
					margin-right:0;
					color:$light-skin-color;
					letter-spacing: 1px;
					font-weight: 600;
					font-size: 14px;

					.eltd-blog-icon:after{
						margin: 0 2px;
					}

				}
				.eltd-post-info-category{
					a{
						color:$light-skin-color;
						letter-spacing: 1px;
						font-weight: 600;
						font-size: 14px;

						&:hover{
							color:$first-main-color;
						}
					}
					.eltd-category-icon{
						display: none;
					}
				}
			}

		}

	  	&.format-quote{
			.eltd-bottom-section{
			  margin: 0;
			}
			.eltd-post-text {
              padding: 42px 39px 72px;
			}

			.eltd-post-mark{
				.eltd-link-quote-mark{
					font-size: 28px;
				}
			}
		}
		&.format-link{
			.eltd-bottom-section{
			  margin: 0;
			}
            .eltd-post-text {
              padding: 42px 39px 72px;
            }
			.eltd-post-mark{
				.eltd-link-quote-mark{
					font-size: 20px;
				}
			}
		}

		&.format-audio {
			.eltd-post-image {
				img {
					display: block;
				}
			}
		}

		&.format-gallery{
			.eltd-blog-gallery-masonry-holder{

				.eltd-blog-gallery-sizer{
					width: calc((100% - 8px)/2);
				}

				.eltd-blog-gallery-gutter{
					width: 8px;
				}
				.eltd-blog-gallery-item{
					@include eltdBoxSizing(border-box);
					width: calc( (100% - 8px)/2 );

					a {
						display: block;
						padding: 0 0 8px;
						height: calc( 100% - 8px );
						img{
							height: 100%;
						}
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							height: calc(100% - 8px);
							width: 100%;
							opacity: 0;
							background-color: rgba(0, 0, 0, 0.3);
							@include eltdTransition(opacity 0.3s);
						}
						&:hover {
							&:after {
							opacity:1;
							}
						}
					}

					&.eltd-blog-gallery-img-large-height,
					&.eltd-blog-gallery-img-large-height-width{
						@include eltdBoxSizing(border-box);
					}
					&.eltd-blog-gallery-img-large-height-width{
						width: 100%;
					}
				}
			}
		}

	}
}

.eltd-filter-blog-holder{

	text-align: center;
	margin-bottom: 30px;

	li {

		display:inline-block;
		padding: 0 8px;
		cursor: pointer;
		font-size: 15px;

		&.eltd-active{
			color: $first-main-color;
		}

	}

}

.eltd-single-links-pages {

	.eltd-single-links-pages-inner > span,
	a {
		display: inline-block;
		color: #333333;
		border: 2px solid $shortcode-background-color;
		width: 47px;
		height: 45px;
		line-height: 41px;
		font-weight: bold;
		text-align: center;
		@include eltdBoxSizing(border-box);
		@include eltdTransition(all 0.3s ease);

		&:hover {
			background-color: $first-main-color;
			border: 2px solid $first-main-color;
			color: #fff;
		}

	}

}
.eltd-load-more-ajax-pagination{
	margin: 20px 0 0;
	float: left;
	clear: both;
}