.eltd-blog-holder{

	&.eltd-blog-type-pinboard {

		opacity: 0;
		margin: 0 -12px;
		@include eltdTransition(opacity 0.15s ease-out);

		&.eltd-appeared{
			opacity: 1;
		}

		a.eltd-blog-pinboard-overlay{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
            @include eltdTransition(color 0.3s ease-out);

            &:hover {
                color:$first-main-color;
            }
		}

		article {
			width: 33.33%;
			padding: 12px;
			@include eltdBoxSizing(border-box);
			margin: 0;
			overflow: hidden;

			.eltd-post-text{
				background-color: rgba(0,0,0,0);
				@include eltdTransition(all .4s ease);

			}

			.eltd-post-image-holder {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height:100%;
				margin: 0;
			}

			.eltd-post-title{
				color: $light-skin-color;
				margin: 14px 0 0;
			}
			.eltd-post-info{
				@extend %post-info-style1;
				color: $light-skin-color;
			}

			.eltd-btn-transparent.eltd-pinboard-read-more-button {
				border-radius:0;
				border-bottom:2px solid transparent;
				@include eltdTransition(all 0.3s cubic-bezier(0.25, 0.1, 0.11, .99));
				line-height:22px;
			}

			&:not(.format-quote):not(.format-link){

				&:hover{
					.eltd-post-text{
						background-color: rgba( 0, 0, 0 ,.4);
					}

					.eltd-btn-transparent.eltd-pinboard-read-more-button {
						border-bottom:2px solid #fff;
					}

				}

				.eltd-post-title{
					width: 70%;
				}

				.eltd-post-text{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					bottom: 0;
					opacity: 1;
					padding: 30px 30px 24px 30px;
					@include eltdBoxSizing(border-box);
					background-color: transparent;

					.eltd-post-text-inner{
						position: relative;
						height: 100%;
					}
					.eltd-pinboard-read-more-button{
						position: absolute;
						bottom: 0;
						left: 0;
						font-size: 12px;
						color: $light-skin-color;
						&:hover{
							color: $first-main-color;
						}
					}
				}

				.eltd-post-excerpt{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: auto;
					margin: 0;
					font-size: 15px;
					color: $light-skin-color;
					@include eltdTransform(translate3d(0,20px,0));
					@include eltdTransition(all 0.3s ease);
				}

			}
			&.format-link,
			&.format-quote{
				.eltd-post-text-holder{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				.eltd-post-text-holder-inner{
					position: relative;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.8);

					.eltd-post-text{
						text-align: center;
						width: 100%;
						position: absolute;
						top: 50%;
						@include eltdTransform(translate3d(0,-50%,0));
						@include eltdBoxSizing(border-box);
						padding: 0 10px;
						background-color: transparent;
					}
				}
				.eltd-icon-post-mark{
					&.eltd-quote-icon-post-mark{
						margin: 15px 0 0;
					}
					&.eltd-link-icon-post-mark{
						margin: 29px 0 0;
					}
					span{
						font-size: 40px;
						color: $first-main-color;
						&.eltd-link-mark{
							font-size: 30px;
						}
					}
				}

				.eltd-post-title{
					margin: 11px 0 23px;
					a{
						&:after,
						&:before{
							display: none;
						}
					}
				}
				.eltd-quote-author{
					@extend %post-info-style1;
					font-weight: 800;
					color: #d1d1d1;
					@include eltdTransition(color 0.15s ease);
				}
			}
			&.format-link{
				.eltd-post-title{
					margin: 20px 0 0;
				}
			}

		}
		.eltd-blog-pinboard-grid-sizer {
			width: 33.33%;
		}

	}
}

.eltd-blog-list-holder  {

	&.eltd-blog-pinboard {

		.eltd-blog-pinboard-overlay{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
            @include eltdTransition(color 0.3s ease-out);
		}

		&:not(.format-quote):not(.format-link){ 

			.eltd-btn-transparent.eltd-pinboard-read-more-button {
				border-radius:0;
				border-bottom:2px solid transparent;
				@include eltdTransition(all 0.3s cubic-bezier(0.25, 0.1, 0.11, .99));
				line-height:22px;
			}

			.eltd-blog-list-item:hover{

				.eltd-btn-transparent.eltd-pinboard-read-more-button {
					border-bottom:2px solid #fff;
				}

			}

		}

	}
	
}