@media only screen and (max-width: $ipad-landscape){
    .eltd-instagram-feed.eltd-col-9 li {
        width: 33.33%;
    }
}

@media only screen and (max-width: $ipad-portrait){
    .eltd-instagram-feed.eltd-col-4 li {
        width: 50%;
    }

    .eltd-instagram-feed.eltd-col-6 li {
        width: 33.33%;
    }
}

@media only screen and (max-width: $phone-portrait){
    .eltd-instagram-feed.eltd-col-4 li,
    .eltd-instagram-feed.eltd-col-3 li,
    .eltd-instagram-feed.eltd-col-6 li,
    .eltd-instagram-feed.eltd-col-9 li {
        width: 100%;
    }
}