/* ==========================================================================
   Instagram start styles
   ========================================================================== */
.widget {
	.eltd-instagram-feed {
		margin: 0 -5px;

		li {
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;
			@include eltdBoxSizing(border-box);
			border-bottom: none;

			a {
				display: block;
				position: relative;
				overflow: hidden;
				&:before {
					content:'';
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,.75);
					z-index: 20;
					opacity:0;
					@include eltdTransition(opacity .3s);
				}
				&:after {
					content: "\e09a";
					position: absolute;
					top:50%;
					left:50%;
					@include eltdTransform(translate(-50%,-50%) scale(.8));
					font-family: 'ElegantIcons';
					color:#fff;
					font-size: 16px;
				    speak: none;
				    font-style: normal;
				    font-weight: normal;
				    font-variant: normal;
				    text-transform: none;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				    z-index: 30;
				    opacity:0;
				    -webkit-backface-visibility:hidden;
				}
				&:hover {
					&:before {
						opacity:1;
						@include eltdTransition(opacity .4s);
					}
					&:after {
						opacity:1;
						@include eltdTransform(translate(-50%,-50%) scale(1));
					}
				}
			}

			img {
				display: block;
			}
		}
	}

	.eltd-instagram-feed.eltd-col-9 li {
		width: 11.11111111111111%;
	}

	.eltd-instagram-feed.eltd-col-6 li {
		width: 16.66666666666667%;
	}

	.eltd-instagram-feed.eltd-col-4 li {
		width: 25%;
	}

	.eltd-instagram-feed.eltd-col-3 li {
		width: 33.33%;
	}

	.eltd-instagram-feed.eltd-col-2 li {
		width: 50%;
	}
}

/* ==========================================================================
   Instagram end styles
   ========================================================================== */