/* ==========================================================================
   Social Icon widget start styles
   ========================================================================== */

.eltd-social-icon-widget-holder {
    position: relative;
    display: block;
    margin: 0;

    .eltd-social-icon-widget {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
    }

    .eltd-top-bar & ,
    footer & {
        color: #fff;
    }
}
/* ==========================================================================
   Social Icon widget end styles
   ========================================================================== */