/* ==========================================================================
# Widgets style - begin
========================================================================== */


.eltd-sticky-header {
	.widget {
		margin-top: 0;
	}
}

.widget {
	margin-top: 33px;

	&:first-child {
		margin-top: 0;
	}

	.eltd-widget-title {
		position: relative;
	    margin-top:0;
		margin-bottom:24px;
	    color:$heading-color;

	}

	&:hover {
		.eltd-widget-title {
			&:before {
				width: 100%;
			}
		}
	}

	ul {
		list-style-type: none;

		li {
			padding: 4px 0;

			a {
				color:#909090;
				font-size: 13px;
				font-family: $second-font;
			 	text-transform: uppercase;
                letter-spacing: 1px;
				&:hover {
					color: $first-main-color;
				}
			}

			ul {
				margin-top: 0;

				li {

					&:last-child {
						border-bottom: none;
					}

				}

			}

		}

	}

	input,
	select {
		@extend %input-style;
	}

	&.widget_rss{
		ul li{
			margin: 0 0 20px;
			&:last-child{
				margin: 0;
			}
			.rssSummary{
				margin: 20px 0 15px;
			}
		}
	}

}



.widget_search {

	form {
		@extend %clearfix;
		position: relative;

		input[type="text"] {
			padding: 16px 22px;
			padding-right: 51px;
			margin-bottom: 0;
			font-family: $third-font;
			font-weight: 600;
			font-size: 11px;
			color:#909090;
		}

		input[type="submit"] {
			position: absolute;
			font-family: 'ElegantIcons';
			width: 51px;
			font-size: 15px;
			height: 46px;
			padding: 0;
			top: 3px;
			right: 2px;
			border: none;
			border-left: 2px solid $shortcode-background-color;
			color:#7c7c7c;
			font-weight: 400;
			margin: 0;
			cursor: pointer;
			-webkit-appearance: none;
		}

	}

}


.widget_categories{

	.eltd-widget-title{
		margin-bottom: 14px;
	}
}

.tagcloud {
	margin-top:5px;
	&:after,
	&:before {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	a {
		color: #909090;
		display: inline-block;
		margin: 0 4px 8px 0;
		background-color: #f0f0f0;
		@include eltdBoxSizing(border-box);
		font-family: $second-font;
		font-size: 14px !important;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		float: left;
		line-height: normal;
		padding: 8px 20px 7px 20px;

		&:hover {
			background-color: $first-main-color;
			color:$light-skin-color;
		}

	}

}

.widget_recent_entries {

	ul  {

	  li{
		padding-bottom: 4px;
		span {
		  color: #8d8d8d;
		}

		  a{
			  letter-spacing: 0;
		  }

		a,
		span {
		  display: block;
		  font-size: 13px;
		}

	  }

	}

}

.widget_eltd_social_icon_widget {
	display: inline-block;
	margin-top: 0;
}

.widget_eltd_latest_posts_widget {
	margin-top:29px;
	.eltd-blog-list {
		.eltd-blog-list-item {
			margin: 0;
		}
	}
}
.widget_eltd_latest_posts_widget{
	.eltd-blog-list-holder>ul .eltd-blog-list-item .eltd-item-image a:after{
		display: none;
	}
}

/* Header Centered widgets - begin
========================================================================== */

.eltd-header-centered{

	.eltd-page-header{
		.eltd-logo-area{
			.widget{
				&.eltd-left-from-main-menu-widget,
				&.eltd-right-from-main-menu-widget{
					font-family: $second-font;
					font-size: 12px;
				}
			}
		}
		.eltd-menu-area{
			.widget{
				.widgettitle{
					color:$light-skin-color;
				}
				.textwidget{
					color:$light-skin-color;
				}
			}

		}
	}


  &.eltd-dark-header {
	  .eltd-page-header{

		  .eltd-menu-area{

			  .widget{
				  .widgettitle{
					  color: $dark-skin-color;
				  }
				  .textwidget{
					  color: $dark-skin-color;
				  }

			  }

		  }
	  }
  }
}
/* Header Centered widgets - end
========================================================================== */


/* Footer Widgets - begin
========================================================================== */

footer .widget {
	text-align: center;
	margin-top:9px;

	.eltd-footer-widget-title {
		color: #fff;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}

	ul {

		li {
			border-bottom: none;
		  a{
			&:hover{
			  color:$light-skin-color;
			}
		  }
		}

	}


	/* Twitter Widget - begin
	========================================================================== */
	&.widget_eltd_twitter_widget {

		li {
		 	padding-bottom: 25px;
			&:last-child {
				border-bottom: none;
			}
			.eltd_tweet_text a{
				color:$first-main-color;
			}

		}

	}
	/* Twitter Widget - end
	========================================================================== */
	&.widget_eltd_social_icon_widget{
		display: inline-block;
	}

	/* Instagram widget - begin
	========================================================================== */
	&.widget_eltd_instagram_widget {

		ul {
			margin: 0 -5px;
		}

	}
	/* Instagram widget - end
	========================================================================== */

	/* Widget recent posts - begin
	========================================================================== */
	&.widget_recent_entries {

		a {
			color: #d4d4d4;
		    font-size: 15px;
			font-weight: 400;
            font-family: $third-font;
            text-transform: none;
		}

      ul li span{
        font-family: $first-font;
      }

		ul li .post-date{
			font-family: $third-font;
		}

	}
	footer {
		.widget_recent_entries{
			ul li{
				&:first-child{
					padding-top: 0;
				}
			}
		}
	}

	&.widget_eltd_latest_posts_widget{
		.eltd-blog-list-holder.eltd-blog-minimal .eltd-blog-list-item .eltd-item-text-holder{
			padding-top: 0;

			.eltd-item-title a{
				color:#d4d4d4;
				&:hover{
					color:#fff;
				}
			}
		}
	}
	/* Widget recent posts - end
	========================================================================== */

}

/* Footer Widgets - end
========================================================================== */

/* Sidearea Widgets - begin
========================================================================== */

.eltd-side-menu {

	.widget {
		margin-top: 0;
		margin-bottom: 50px;
		color: #d4d4d4;

		ul {
			margin-top: 0;

			li {
				border-bottom: none;
				padding: 8px 0;
			}
		}

	}

	.eltd-sidearea-widget-title {
		color: #fff;
	}

	/* Widget recent posts - begin
	========================================================================== */
	.widget_recent_entries {

		a {
			color: #d4d4d4;
		}

		.post-date {
			color: #8d8d8d;

		}

	}
	/* Widget recent posts - end
	========================================================================== */

	.widget.widget_eltd_instagram_widget {

		ul li {
			padding: 0 5px;
		}

	}

}

.eltd-sidebar {

  .widget.widget_nav_menu{

	.eltd-widget-title {

		  margin-bottom: 0;

	}

	.menu-blog-categories-container > ul {
			margin-top:10px;
		  .menu-item a{
			  font-size: 14px;
			  font-family: $second-font;
			  font-weight: 600;
			  color:#333;
			  &:hover{
				  color:$first-main-color;
			  }
		  }

	}


  }


	.widget.widget_product_categories{

		.product-categories{
			.cat-item a,
			.count{
				font-family: $second-font;
				font-weight: 600;
				font-size: 13px;
				color:#333;
			}
			.cat-item a:hover{
				color:$first-main-color;
			}

		}

	}


	.widget.widget_text{
		margin-top:30px;
      color:$light-text-color;
	}
}
/* Sidearea Widgets - end
========================================================================== */
.eltd-header-standard{
  .eltd-menu-area{
	.eltd-vertical-align-containers{

	  .eltd-position-left:before,
	  .eltd-position-center:before,
	  .eltd-position-right:before{
			display: none;
	  }

	  .eltd-position-right-inner{
		.widget{
			  &>a,
			  &>div{
				line-height: 43px;
				padding: 0 10px;
			  }
		}
		.widget.widget_search  {
			  form {
				input[type="text"] {
				  margin-bottom: 0;
				  padding: 14px 22px;
				}
				input[type="submit"]{
					height: 43px;
				}
			  }
		}

		.widget .eltd-shopping-cart a{
			  line-height: 30px;
			  box-sizing: border-box;
		}

	  }
	}
  }
}

.widget select{
	font-size: 13px!important;
	option{
		font-size: 13px!important;
	}
}



/* ==========================================================================
# Widgets style - end
========================================================================== */

@import 'instagram';
@import 'twitter';
@import 'social-icon';