/* ==========================================================================
# Title area style - start
========================================================================== */

@include keyframes(title-animation-from-right) {
    0% {
        opacity: 0;
        transform: translate(50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@include keyframes(title-animation-from-left) {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}



.eltd-title{
    display: block;
    width: 100%;
    height: 200px;
    text-align: left;
    position: relative;
    z-index: 101;
    background-color: $shortcode-background-color;
    background-position: center 0;
    background-repeat: no-repeat;

    &.eltd-has-parallax-background{
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        z-index: 101;
    }

    &.eltd-content-center-alignment{
        text-align: center;
    }

    &.eltd-content-right-alignment{
        text-align: right;
    }

    &.eltd-animation-right-left{
        h1,.eltd-subtitle span,.eltd-breadcrumbs-holder{
            @include animation(title-animation-from-right, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }

    &.eltd-animation-left-right{
        h1,.eltd-subtitle span,.eltd-breadcrumbs-holder{
            @include animation(title-animation-from-left, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }

    &.eltd-has-responsive-background{
        height: auto !important;

        .eltd-title-holder {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .eltd-title-holder .eltd-container {
            display: block;
            height: 100%;
        }

        .eltd-title-holder .eltd-container-inner {
            display: table;
            height: 100%;
        }

        .eltd-title-holder .eltd-title-subtitle-holder {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

    }


    .eltd-title-image {

        img {
            display: block;
            position: relative;
            width: 100%;
        }

    }

    &.eltd-title-image-not-responsive {

        .eltd-title-image{
            display: none;
        }

    }

    .eltd-title-holder {
        display: table;
        height: 100%;
        position: relative;
        width: 100%;

        .eltd-container {
            background-color: transparent;
            display: table-row;
            vertical-align: middle;
        }

        .eltd-container-inner {
            display: table-cell;
            padding: 0 !important;
            vertical-align: middle;
        }

        .eltd-title-subtitle-holder {
            display: block;
            padding: 0;
            position: relative;
            z-index: 25;
        }

        .eltd-title-subtitle-holder-inner {
            position: relative; //because of the breadcrumbs (absolute position) on standard type title
        }

        /* #Standard title - start
        ========================================================================== */

        h1 {
            color: #444;
            display: inline-block;
            line-height: 1em;
            vertical-align: middle;
            margin: 11px 0 9px;
            font-weight: 400;

            &.eltd-title-size-small{
                font-size: 28px;
            }
            &.eltd-title-size-medium{
                font-size: 50px;
                letter-spacing: 14px;
            }
            &.eltd-title-size-large{
                font-size: 80px;
            }
        }

        h1 span{
            display: inline-block;
        }

        .eltd-subtitle{
            display: block;
            font-size: 18px;
            line-height: 35px;
            color: #fff;
            margin: 0 auto;
            width: 70%;
            font-style: italic;

            span{
                display: inline-block;
                vertical-align: middle;
            }
        }

        /* #Standard title - end
        ========================================================================== */

        /* #Breadcrumb title - start
        ========================================================================== */

        .eltd-breadcrumbs a, .eltd-breadcrumbs span{
            color: #909090;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 1.3em;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $second-font;

        }

        /* #Breadcrumb title - end
        ========================================================================== */


    }

}


/* ==========================================================================
# Title area style - end
========================================================================== */