
@include ipad-landscape {

    .eltd-title {

        &.eltd-has-background {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
            height: auto !important;
            padding: 0 !important;
        }

        &.eltd-title-image-not-responsive {
            .eltd-title-image {
                display: block;
            }
        }

        .eltd-title-holder {
            height: 100% !important;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 !important;
        }

        .eltd-title-holder .eltd-container {
            display: block;
            height: 100%;
        }

        .eltd-title-holder .eltd-container-inner {
            display: table;
            height: 100%;
        }

        .eltd-title-holder .eltd-title-subtitle-holder {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

        .eltd-title-subtitle-holder {
            padding: 0px !important;
        }

        &.eltd-standard-type .eltd-breadcrumbs-holder {
            position: relative !important;
            top: auto !important;
            left: auto !important;
            right: auto !important;
        }

    }

}

@include ipad-portrait {

    .eltd-title {

        .eltd-title-holder {


            .eltd-subtitle {
                display: none;
            }

            h1 {
                &.eltd-title-size-small {
                    font-size: 22px;
                }
                &.eltd-title-size-medium {
                    font-size: 40px;
                }
                &.eltd-title-size-large {
                    font-size: 60px;
                }
            }
        }
    }
}

@include phone-portrait {

    .eltd-title {

        .eltd-title-holder {


            h1 {
                &.eltd-title-size-medium {
                    font-size: 32px;
                }
                &.eltd-title-size-large {
                    font-size: 45px;
                }
            }
        }
    }
}
