.eltd-header-classic {

  .eltd-page-header {

    .eltd-menu-area{
      height: $header-classic-menu-area-height;

      .eltd-vertical-align-containers{

        .eltd-position-left .eltd-position-left-inner,
        .eltd-position-right .eltd-position-right-inner{
          vertical-align: top;
          height: 100%;
        }

        .eltd-position-right {
            .eltd-position-right-inner{
              .eltd-main-menu{
                &>ul > li > a{
                  color:#a3a3a3;

                  &:hover{
                    color:#333333;
                  }

                  &>span.item_outer{
                    top: 0;
                    @include eltdTransform(none);
                  }
                }

                &>ul > li.eltd-active-item > a {
                  color:#333;
                }

                &.eltd-drop-down{
                  .narrow .second .inner ul,
                  .wide .second .inner>ul{
                    box-shadow: 0 0 8px rgba(0,0,0,.09);
                  }
                }
              }
            }

        }
      }
    }

  }

  &.eltd-light-header{
    .eltd-page-header {
        .eltd-menu-area{
          .eltd-vertical-align-containers{
            .eltd-position-right .eltd-position-right-inner{
              .eltd-main-menu li a {
                color:$light-skin-color;

                &:hover{
                 color: #d3d3d3;;
                }
              }
            }
          }

        }
     }

  }
}

