.eltd-header-divided {

    .eltd-page-header {

        .eltd-menu-area-divided {
            background-color: #fff;
            border-bottom: 2px solid $shortcode-background-color;
            height: $divided-menu-area-height;

            .eltd-vertical-align-containers {
                display: table;
                table-layout: fixed;
                text-align: center;

                .eltd-position-left,
                .eltd-position-center,
                .eltd-position-right {
                    display: table-cell;
                    float: none;
                    position: relative;
                    width: auto;
                    vertical-align: middle;
                    &:before{
                        display: none;
                    }
                }
                .eltd-position-left {
                    text-align: right;
                    height: 100%;
                }

                .eltd-position-right {
                    text-align: left;
                    height: 100%;
                }

                .eltd-position-left-inner,
                .eltd-position-right-inner {
                    height: 100%;
                }
                .eltd-main-menu.eltd-left-nav>ul>li>a .item_inner,
                .eltd-main-menu.eltd-right-nav>ul>li>a .item_inner{
                    padding: 0 10px;
                }

            }
        }

    }
}