/* ==========================================================================
# Search style - begin
========================================================================== */

.eltd-search-opener {
	@include eltdTransition(all 0.15s ease-out);
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #7c7c7c;
	backface-visibility: visible;
	top: 2px;
	position: relative;
	-webkit-backface-visibility: visible;
	&>span{
		display: inline-block;
		line-height: inherit;
		&:before{
			display: inline-block;
			line-height: inherit;
		}
	}
	.eltd-search-icon-text {
       display: none;
		@include eltdTransition(all 0.15s ease-out);
		text-transform: uppercase;
		margin: 0 0 0 13px;
		letter-spacing: 2px;
	}
	&:hover{
		color: $first-main-color;
	}
}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-search-opener,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-search-opener,
.eltd-light-header .eltd-top-bar .eltd-search-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener
	&:hover span{
		color: $first-main-color!important;
	}
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-search-opener,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-search-opener,
.eltd-dark-header .eltd-top-bar .eltd-search-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
	&:hover span{
		color: $first-main-color!important;
	}
}


.eltd-fullscreen-search-holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:105;
	opacity:0;

	.eltd-search-label {
		font-family: 'Poppins',sans-serif;
		font-weight: 500;
		font-size:35px;
		line-height:1em;
		color: #fff;
		vertical-align:bottom;
		position: relative;
		top:6px;
	}

	.eltd-field-holder {
		margin:0 7px;
		width:30%;
		display:inline-block;
		vertical-align:bottom;
		position:relative;
		border-bottom:1px solid rgba(111,111,111,.3);

		.eltd-line {
			position:absolute;
			bottom:-1px;
			left:0;
			height:1px;
			width:0;
			background-color: #fff;
			@include eltdTransition(width .75s cubic-bezier(0.84, 0.1, 0.75, 0.24) .15s);
		}

		@at-root .eltd-fullscreen-search-holder.eltd-animate {
			.eltd-line {
				width: 100%;
			}
		}

		input[type=text]:focus {
			border:0 solid transparent;
		}

	}

	.eltd-search-field {
		width:100%;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:none;
		background:transparent;
		outline:none;
		position:relative;
		font-family: 'Poppins', sans-serif;
		font-size:23px;
		font-weight: 200;
		line-height:1em;
		color: #fff;
		height: 23px;
	}

	.eltd-search-submit {
		border:none;
		background:transparent;
		outline:none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size:30px;
		line-height:1em;
		color: #fff;
		@include eltdTransition(color 0.2s ease);
		position: relative;
		top:5px;
	}

	.eltd-search-submit:hover {
		color: $first-main-color;
	}

	.eltd-search-close-holder {
		float:right;
		margin-right: 45px;
	}

	.eltd-fullscreen-search-close-container {
		position:absolute;
		left:0;
		top:0;
		width:100%;

		a {
			opacity:0;
			visibility:hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			top: 36px;
			right: 48px;
		}

	}

}

.eltd-fullscreen-search-table {
	display: table;
	width:100%;
	height:100%;
}

.eltd-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
	text-align:center;
}

//Fix for woocommerce page
.eltd-fullscreen-search-opened .eltd-form-holder .eltd-search-field {
	width:100%;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	background:transparent;
	outline:none;
	position:relative;
	font-family: 'Poppins', sans-serif;
	font-size:23px;
	font-weight: 200;
	line-height:1em;
	color: #fff;
	height: 23px;
	padding: 0;
	margin-bottom:0;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.eltd-search-fade .eltd-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index:111;
	box-sizing: border-box;

	.eltd-fullscreen-search-table {
		background-color:rgba(0,0,0,0.85);
	}
}

.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder {
	@include eltdAnimation(search_fade_out .25s linear both);
}

.eltd-search-fade-in.eltd-search-fade .eltd-fullscreen-search-holder.eltd-animate{
	@include eltdAnimation(search_fade_in .25s linear both);
}

.eltd-search-fade .eltd-fullscreen-search-holder.eltd-animate .eltd-fullscreen-search-close {
	opacity:1;
	visibility:visible;
	color: #fff;
	font-size: 22px;
}
.eltd-header-standard.eltd-search-fade .eltd-fullscreen-search-holder.eltd-animate .eltd-fullscreen-search-close{
	margin-top: 7px;
	margin-left:3px;
}


@-webkit-keyframes search_fade_out {
	0%{
		opacity:1;
		visibility: visible;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}
@keyframes search_fade_out{
	0%{
		opacity:1;
		visibility: visible;
	}
	100% {
		opacity:0;
		visibility: hidden;
	}
}
@-webkit-keyframes search_fade_in {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}
@keyframes search_fade_in{
	0%{
		opacity:0;
		visibility: hidden;
	}
	100%{
		opacity:1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px)
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

.eltd-search-fade.eltd-fullscreen-search-opened .eltd-fullscreen-search-holder .eltd-form-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdAnimation(search_push_text_top .4s cubic-bezier(.26,.63,0,.96) both .25s);
}

.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-search-label,
.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-search-submit,
.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-field-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdTransform(translateY(0));
	@include eltdTransition(transform 0.75s cubic-bezier(0.84, 0.1, 0.75, 0.24));
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/

/* ==========================================================================
# Search style - end
========================================================================== */
