/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.big-images {

	.eltd-big-image-holder {
		margin-bottom: 30px;
	}

	.eltd-portfolio-media .eltd-portfolio-single-media {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */