/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.big-slider {

	.eltd-big-image-holder {
		margin-bottom: 30px;
	}
	.eltd-owl-slider .owl-nav{
		.eltd-next-icon span,
		.eltd-prev-icon span{
			color:$first-main-color;
		}

	}
}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */