/* ==========================================================================
# Portfolio Single Gallery - begin
========================================================================== */

.gallery {
	.eltd-portfolio-single-media a {
		position: relative;
		overflow: hidden;
		display: block;

		.eltd-portfolio-gallery-text-holder {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(0,0,0,0.50);
			@include eltdTransition(opacity 0.3s ease-out);
		}

		.eltd-portfolio-gallery-text-holder-inner {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
		}

		.eltd-portfolio-gallery-text-holder-inner span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
			width: 100%;
			height: 100%;
			font-size: 25px;
			line-height: 1.44em;
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: $second-font;
		}
		
		img {
			display: block;
		}

		&:hover {

			.eltd-portfolio-gallery-text-holder {
				opacity: 1;
			}

		}

	}

}

.gallery.eltd-portfolio-gallery-three-columns {

	.eltd-portfolio-single-media {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

}

.gallery.eltd-portfolio-gallery-two-columns {

	.eltd-portfolio-single-media {
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

}

.gallery.eltd-portfolio-gallery-four-columns {

	.eltd-portfolio-single-media {
		width: 24%;
		margin-right: 1.333333%;
		margin-bottom: 2%;
		float: left;

		&:nth-child(4n) {
			margin-right: 0;
		}
	}

}



/* ==========================================================================
# Portfolio Single Gallery - end
========================================================================== */