@import 'small-images';
@import 'small-slider';
@import 'big-images';
@import 'big-slider';
@import 'info-slider';
@import 'gallery';
@import 'masonry';
@import 'masonry-wide';

.eltd-portfolio-single-holder {
    .eltd-portfolio-info-item {
        &:not(:first-child){
            margin-bottom: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.eltd-portfolio-date{
            margin-top: 31px;
        }
        &.eltd-portfolio-categories {
            p {

                font-size: 14px;
                line-height: 1.3em;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $second-font;
                color:#858585;
            }
        }
        .eltd-portfolio-content{
            color:$light-text-color;
        }

        .eltd-portfolio-item-title{
            margin-top: 6px;
            margin-bottom: 25px;
        }
        h6{
            display: inline-block;
            margin: 0;
            margin-right:12px;
            font-weight: 600;
        }
        .eltd-ptf-single-info{
            display: inline-block;
            @extend %eltd-custom-title-grey;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            font-family: $third-font;
            color:#8f8f8f;

        }

        p{
            margin: 0;
        }

    }
    .eltd-ptf-like-holder{

        .eltd-ptf-like-item{
            float: left;
            height: 31px;
            line-height: 31px;

            &.eltd-ptf-like-text{
                display: none;
                padding: 0 20px;
                border-right: 0;
            }
            &.eltd-ptf-like-icon{
                height: 38px;
                width: 38px;
                line-height: 38px;
                text-align: center;
                @include eltdBorderRadius(50%);
                background-color: #f0f0f0;
                a{
                    &:before{
                        font-size: 16px;
                    }
                    &:after{
                        display:none !important;
                        opacity:0 !important;
                    }
                    &.eltd-like{
                        color: $light-text-color;
                        &:hover{
                            color: $first-main-color;
                        }
                    }
                    &.eltd-like.liked{
                        color: $first-main-color;
                    }
                }
            }
        }
    }
    .eltd-ptf-social-holder{
        margin-top: 30px;

        .eltd-portfolio-social,
        .eltd-ptf-like-holder{
            float: left;
        }

        .eltd-portfolio-social{
            float: left;
            text-align: left;
            margin-right: 12px;
            li{
                height: 38px;
                line-height: 38px;
                width: 38px;
                padding: 0;
                text-align: center;
                @include eltdBorderRadius(50%);
                background-color: #f0f0f0;
                border-color:#f0f0f0 ;
                margin-right: 7px;
                @include eltdTransition(all .2s ease-in-out);
                &:last-child{
                    margin-right: 0;
                }
                a{
                    font-size: 11px;
                    color: #858585;
                    display: block;
                }

                &:hover{
                    a{
                        color:#fff;
                    }
                    background-color: $first-main-color;
                }
            }

        }

    }

    .eltd-ptf-social-holder{
        .eltd-ptf-like-holder{
            float: right;
        }
    }

    .eltd-portfolio-single-nav {
        text-align: center;
        position: relative;
        padding-top: 28px;
        margin-top: 95px;
        border-top: 2px solid $shortcode-background-color;

        .eltd-portfolio-prev{
            position: relative;
            display: inline-block;
            float: left;
            .eltd-portfolio-navigation-info{
                display: inline-block;
                line-height: 30px;
                margin-left: 47px;
                padding: 0 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $second-font;
                font-size: 14px;
                color:$light-text-color;

            }
            .eltd-ptf-nav-icons{
                margin-left: 6px;
                background-color: #f0f0f0;
                @include eltdBorderRadius(50%);
                padding: 8px;
            }
            &:hover{
                .eltd-portfolio-navigation-info,
                .eltd-ptf-nav-icons{
                    color:$first-main-color;
                }
            }
        }
        .eltd-portfolio-next{
            position: relative;
            display: inline-block;
            float: right;
            .eltd-portfolio-navigation-info{
                display: inline-block;
                line-height: 30px;
                margin-right:47px;
                padding: 0 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $second-font;
                font-size: 14px;
                color:$light-text-color;
            }
            .eltd-ptf-nav-icons{
                right:6px;
                background-color: #f0f0f0;
                @include eltdBorderRadius(50%);
                padding: 8px;
            }
            &:hover{
                .eltd-portfolio-navigation-info,
                .eltd-ptf-nav-icons{
                    color:$first-main-color;
                }
            }
        }
        span {
            @extend %eltd-custom-title-grey;

            @include eltdTransition(color 0.15s ease-in-out);
            &.eltd-ptf-nav-icons{
                font-size: 20px;
                font-family: 'ElegantIcons';
                position: absolute;
                top:50%;
                transform: translateY(-50%);
            }
        }

        .eltd-portfolio-back-btn {
          display: inline-block;
            padding: 3px 33px 3px 39px;
            span{
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $second-font;
                font-size: 14px;
                color:$light-text-color;

            }
            a:hover span{
                color:$first-main-color;
            }
        }

    }

    .eltd-portfolio-video-lightbox {
        position: relative;
        display: block;

        img {
            vertical-align: middle;
        }
    }

    .eltd-portfolio-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .eltd-portfolio-play-icon {
            position: absolute;
            font-size: 20px;
            left: 50%;
            top: 50%;

            @include eltdTransform(translate(-50%, -50%));
        }
    }
    .owl-item {
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
}