/* ==========================================================================
# Portfolio Single Info Slider - begin
========================================================================== */

.info-slider{
	visibility: hidden;
	.eltd-info-slider-holder {

		.eltd-portfolio-single-media{
			position: relative;
			.eltd-portfolio-info-holder{
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 44px 68px 60px;
				max-width: 46.7%;
				background-color: $light-skin-color;
				@include eltdBoxSizing(border-box);
				.eltd-portfolio-item-title{
					margin-bottom: 17px;
				}
			}
			.eltd-portfolio-info-wrapper{
				margin-top:31px;
				@include eltdTableLayout();
				.eltd-portfolio-info-inner{
					@include eltdTableCellLayout();
					text-align: left;
					.eltd-portfolio-date{
						margin-bottom: 9px;
					}
				}
				.eltd-ptf-social-holder{
					@include eltdTableCellLayout();
					text-align: right;
					.eltd-ptf-social-holder-inner{
						float: right;
					}
				}
			}
			.eltd-portfolio-info-item{
				&.eltd-portfolio-date{
					margin-top: 0;
				}
			}

		}
		.eltd-owl-slider{
			.owl-controls{
				.owl-prev span,
				.owl-next span{
					color: $first-main-color;
				}
			}
		}

	}

}

/* ==========================================================================
# Portfolio Single Info Slider - end
========================================================================== */