/* ==========================================================================
# Portfolio Masonry - begin
========================================================================== */

.masonry {
    .eltd-portfolio-media .eltd-portfolio-single-media {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .eltd-follow-portfolio-info {
        position: relative;
    }
    .eltd-ptf-gallery{
        .eltd-ptf-gallery-sizer{
            width: calc( (100% - 23px) / 2 );
        }

        .eltd-ptf-gallery-gutter{
            width: 23px;
        }
        .eltd-ptf-gallery-item{
            @include eltdBoxSizing(border-box);
            width: calc( (100% - 23px) / 2 );
            a{
                display: block;
                padding: 0 0 23px;
                height: 100%;
                img{
                    vertical-align: middle;
                    height: calc( 100% - 23px );
                }
            }

            &.eltd-ptf-img-large-height,
            &.eltd-ptf-img-large-height-width{
                @include eltdBoxSizing(border-box);
                a{
                    height: calc( 100% - 23px );
                    img{
                        height: 100%;
                    }
                }
            }
            &.eltd-ptf-img-large-height-width{
                width: 100%;
            }
        }
    }
}

/* ==========================================================================
# Portfolio Masonry - end
========================================================================== */