/* ==========================================================================
# Portfolio Masonry  Wide - begin
========================================================================== */

.masonry-wide {
    &.eltd-portfolio-single-holder {
        .eltd-portfolio-info-holder{
            margin: 0 0 40px;
        }
        .eltd-portfolio-media .eltd-portfolio-single-media {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .eltd-portfolio-info-item {
            .eltd-portfolio-item-title {
                margin-bottom: 20px;
            }
        }
        .eltd-ptf-social-holder{
            margin-top: 31px;
        }

        .eltd-follow-portfolio-info {
            position: relative;
        }
        .eltd-ptf-gallery{

            .eltd-ptf-gallery-sizer{
                width: calc( (100% - 46px) / 3 );
            }

            .eltd-ptf-gallery-gutter{
                width: 23px;
            }
            .eltd-ptf-gallery-item{
                @include eltdBoxSizing(border-box);
                width: calc( (100% - 46px)/3 );
                a{
                    display: block;
                    padding: 0 0 23px;
                    height: 100%;
                    img{
                        vertical-align: middle;
                    }
                }

                &.eltd-ptf-img-large-height,
                &.eltd-ptf-img-large-height-width{
                    @include eltdBoxSizing(border-box);
                    a{
                        height: calc( 100% - 23px );
                        img{
                            height: 100%;
                        }
                    }
                }
                &.eltd-ptf-img-large-height-width{
                    width: calc( 2* ((100% - 23px) / 3) );
                }
            }
        }
    }
}

/* ==========================================================================
# Portfolio Masonry Wide - end
========================================================================== */