/* ==========================================================================
# Portfolio Single Small Images - begin
========================================================================== */

.small-images {
    .eltd-portfolio-media .eltd-portfolio-single-media {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .eltd-follow-portfolio-info {
        position: relative;

        //@include eltdTransition(margin-top 0.2s ease);
    }
}

/* ==========================================================================
# Portfolio Single Small Images - end
========================================================================== */