/* ==========================================================================
# Portfolio Single Small Slider - begin
========================================================================== */


.small-slider {
  .eltd-owl-slider .owl-nav{
    .eltd-next-icon span,
    .eltd-prev-icon span{
      color:$first-main-color;
    }

  }
}


/* ==========================================================================
# Portfolio Single Small Slider - end
========================================================================== */