$top-bar-height: 42px;

.eltd-top-bar {
    width: 100%;
    background-color: #000;
    color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
    font-weight: 400;
    height: $top-bar-height;
	z-index: 110;
	font-size:12px;
	font-family: $third-font;
	

    .eltd-grid {
        height: 100%;

        .eltd-vertical-align-containers {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .eltd-logo-wrapper a {
        max-height: $top-bar-height;
    }
	.eltd-position-left{
		.eltd-position-left-inner{
			&>div{
				display: inline-block;
				margin-top:0;
				&.widget_text{
					margin-right: 20px;
				}
			}
		}
	}
	.eltd-position-right{
		.eltd-position-right-inner{
			&>div{
				display: inline-block;
				margin-top:0;
				&.widget_text{
					margin-right: 25px;
					&:last-child{
						margin-right: 0;
					}
				}

			}
		}
	}

    .eltd-position-center {

        p {
            font-size: 13px;
            color: #c99e66;
        }
    }

	&.eltd-top-bar-light{
		background-color: rgba(255,255,255,.1);
		color: #fff;

		.widget {
			color: #fff;

			p,
			a,
			span,
			i,
			.widgettitle {
				color: #fff;
			}
			a:hover{
				color:$first-main-color;
			}

		}
	}
	&.eltd-top-bar-dark{
		background-color: #fff;
		color: $header-dark-color;

		.widget {
			color: $header-dark-color ;

			p,
			a,
			span,
			i,
			.widgettitle {
				color: $header-dark-color;
			}
			a:hover{
				color:$first-main-color;
			}

		}
	}

}
