.eltd-header-compound{
  .eltd-page-header{
    .eltd-logo-area{

      height: $header-compound-logo-area-height;
      background-color: $default-text-color;
      .eltd-vertical-align-containers{
        .eltd-position-left{
          .eltd-position-left-inner{
            .eltd-logo-top-area{
              display: inline-block;
              margin-right: 32px;
            }
            .eltd-compound-header-top-left-widgets{
              display: inline-block;
              &>div{
                display: inline-block;
                margin-top: 0;
                margin-right:19px;
                font-family: $second-font;
                font-size: 12px;
                &.widget_eltd_social_icon_widget{
                  margin-right:0;
                }
              }

            }
          }
        }
        .eltd-position-right{
          .eltd-position-right-inner{
            &>div{
              display: inline-block;
              vertical-align: middle;
              margin-top: 0;
              &:not(:last-child){
                  margin-right: 10px;
              }
              font-family: $second-font;
              font-size: 12px;
              .eltd-icon-shortcode{
                position: relative;
                top: 3px;
              }
            }
          }
        }
      }
    }
    .eltd-menu-area {
      z-index: 2;
      border: 1px solid rgba(255,255,255,.12);
      height: $header-compound-menu-area-height;
      background-color: $default-text-color;

      .eltd-position-left-inner{
          height: 100%;
      }

      .eltd-position-right{
        .eltd-position-right-inner{
          height: 100%;
          &>div{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-top: 0;
            margin-right: 40px;
            height: 100%;

            &:last-child{
              margin-right: 0;
            }
            &:not(.widget_eltd_woocommerce_dropdown_cart){
                &>div,
                &>a{
                  position: relative;
                  top: 50%;
                  @include eltdTransform(translateY(-50%));
                }
                &:not(:last-child){

                  &:before{
                    content: '';
                    height: 100%;
                    width: 1px;
                    background-color: rgba(255,255,255,.12);
                    position: absolute;
                    right: -20px;
                    top: 0;
                  }
                }
            }


            &.widget_eltd_woocommerce_dropdown_cart{
                   height: 100%;

                  .eltd-shopping-cart-widget{
                    height: 100%;
                  }
                  .eltd-shopping-cart{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    &:before{
                      content: '';
                      height: 100%;
                      width: 1px;
                      background-color: rgba(255,255,255,.12);
                      position: absolute;
                      right: -22px;
                      top: 0;
                    }
                  }

            }
          }
        }
      }
      .eltd-main-menu > ul {

        &>li{

            &>a{
              font-weight: 600;
              letter-spacing: 1px;
              color: $light-skin-color;

              &:hover{
                opacity:.6;
                @include eltdTransition(opacity .2s ease-in-out);
                .item_text:before{
                  display: none;
                }
              }

              .item_inner{
                padding: 0 21px;
              }
              .item_text{
                  &:before{
                      display: none;
                  }
              }
              span.plus{
                  display: none;
              }

            }
          &:first-child{
            &>a .item_inner{
              padding-left: 0;
            }
          }
        }
      }
    }
  }

}
