footer .eltd-footer-inner{
  @include ipad-portrait {
    .eltd-container-inner{
      .eltd-column{
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width : 1024px){
  footer{
    .eltd-footer-top-holder{
      .eltd-three-columns>.eltd-three-columns-inner{
          margin: 0 -60px;
          .eltd-column .eltd-column-inner{
            padding: 0 51px;
          }

        .eltd-column{
          &:first-child,
          &:last-child{
            width: 30%;
          }

          &:nth-child(2){
            width: 40%;
          }
        }
      }
    }
  }
}