/* ==========================================================================
# Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	color: $footer-text-color;
	@include eltdBoxSizing(border-box);
	background-color: #333333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.eltd-footer-inner {
		position: relative;
	}

	.eltd-container {
		background-color: inherit;

		.eltd-column-inner{
			text-align: center;
		}
	}

	.eltd-container-inner {
		position: relative;
	}

	.eltd-container-inner > .widget{
		text-align: center;
	}

	a {
		text-decoration: none;
	}



	.eltd-footer-ingrid-border-holder-outer {
		background-color: #393939;
	}

	.eltd-footer-top-border-holder,
	.eltd-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.eltd-footer-top-border-holder.eltd-in-grid,
	.eltd-footer-bottom-border-holder.eltd-in-grid {
		width: 1100px;
		margin: 0 auto;
	}

	.eltd-footer-top-holder {
		display: block;
		position:relative;
		background-position:center center;
		background-size: cover;
		font-family: $third-font;
        font-size:15px;
	}

	.eltd-footer-top:not(.eltd-footer-top-full) .eltd-container-inner {
		padding: 50px 0 34px;
	}

	.eltd-footer-top.eltd-footer-top-full {
		padding: 80px 25px 70px;
	}
	
	.eltd-footer-top.eltd-footer-top-aligment-center {
		text-align: center;
	}
	.eltd-footer-top.eltd-footer-top-aligment-left {
		text-align: left;
	}
	.eltd-footer-top.eltd-footer-top-aligment-right {
		text-align: right;
	}
	
	.eltd-footer-bottom-holder {
		display: table;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		height: 61px;
		line-height: 61px;
		background-color: #ebebeb;
		font-family: $first-font;

		.eltd-column-inner {
			text-align: center;
			vertical-align: middle;
		  	color:#8f8f8f;
		  	font-size: 13px;
		}

		.eltd-three-columns .eltd-column:first-child .eltd-column-inner {
			text-align: left;
		}

		.eltd-three-columns .eltd-column:last-child .eltd-column-inner {
			text-align: right;
		}

		.eltd-two-columns-50-50 .eltd-column:first-child .eltd-column-inner {
			text-align: left;
		}

		.eltd-two-columns-50-50 .eltd-column:last-child .eltd-column-inner {
			text-align: right;
		}

		.eltd-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}

}

/* Footer uncover - begin
========================================================================== */

footer.eltd-footer-uncover {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	@include eltdTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
		transform: none;
	}

}

.eltd-right-side-menu-opened footer.eltd-footer-uncover {
	left: -270px;
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.eltd-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */


/* ==========================================================================
# Footer style - end
========================================================================== */

