
/* ==========================================================================
   #Animation styles - start
   ========================================================================== */

$transition-duration: .65s;
$transition-easing: cubic-bezier(0.25, 0.1, 0.11, .99);

.touch .eltd-no-animations-on-touch .eltd-animation-grow-in,
.touch .eltd-no-animations-on-touch .eltd-animation-fade-in,
.touch .eltd-no-animations-on-touch .eltd-animation-fade-in-up,
.touch .eltd-no-animations-on-touch .eltd-animation-fade-in-down,
.touch .eltd-no-animations-on-touch .eltd-animation-fade-in-left,
.touch .eltd-no-animations-on-touch .eltd-animation-fade-in-right {
	@include eltdTransition(none !important);
	@include eltdTransform(none !important);
	opacity: 1 !important;
}
	
.eltd-animation-grow-in {
	opacity: 0;
	@include eltdTransform(scale(0.8));
    @include eltdTransition(all $transition-duration $transition-easing);
	-webkit-backface-visibility: hidden;

	&.eltd-animation-on {
		opacity: 1;
		@include eltdTransform(scale(1));
	}
}

.eltd-animation-fade-in-up {
	opacity: 0;
	@include eltdTransform(translate3d(0,30px,0));
	@include eltdTransition(all $transition-duration $transition-easing);

	&.eltd-animation-on {
		opacity: 1;
		@include eltdTransform(translate3d(0,0,0));
	}
}

.eltd-animation-fade-in-down {

	opacity: 0;
	@include eltdTransform(translate3d(0,-30px,0));
	@include eltdTransition(all $transition-duration $transition-easing);

	&.eltd-animation-on {
		opacity: 1;
		@include eltdTransform(translate3d(0,0,0));
	}
}

.eltd-animation-fade-in-left {
	opacity: 0;
	@include eltdTransform(translate3d(30px,0,0));
	@include eltdTransition(all $transition-duration $transition-easing);

	&.eltd-animation-on {
		opacity: 1;
		@include eltdTransform(translate3d(0,0,0));
	}
}

.eltd-animation-fade-in-right {
	opacity: 0;
	@include eltdTransform(translate3d(-30px,0,0));
	@include eltdTransition(all $transition-duration $transition-easing);

	&.eltd-animation-on {
		opacity: 1;
		@include eltdTransform(translate3d(0,0,0));
	}
}

.eltd-animation-fade-in {
	opacity: 0;
	@include eltdTransition(all $transition-duration $transition-easing);

	&.eltd-animation-on {
		opacity: 1;
	}
}
/* ==========================================================================
   #Animation styles - end
   ========================================================================== */