@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Input styles - start
========================================================================== */

%input-style{
	width: 100%;
	margin-bottom: 4px;
	padding: 18px 22px;
	border: 2px solid $shortcode-background-color;
	outline: 0;
	font-size: 11px;
	background-color: $light-skin-color;
	color: #909090;
	text-transform: uppercase;
	font-weight: 600;
	@include eltdBoxSizing(border-box);
	font-family: $second-font;
	@include eltdTransition(border 0.3s ease);
	-webkit-appearance: none;
  letter-spacing: 1px;

	&:focus{
		border: 2px solid $first-main-color;
	}
}

.form-submit {
	display: none;
}

.wpcf7-form{

	.wpcf7-form-control{
		&.wpcf7-text,
		&.wpcf7-number,
		&.wpcf7-date,
		&.wpcf7-textarea,
		&.wpcf7-select,
		&.wpcf7-quiz {
			font-family: $third-font;
			font-weight: 600;
			font-size: 11px;

		}

		&.wpcf7-submit{
			font-weight: 600;

		}

	}
  &.cf7_custom_style_2{

	&>div,
	&>p{
	  margin-top:5px;
	  margin-bottom:5px;
	}

	input.wpcf7-form-control.wpcf7-submit{
	  margin-top:1px;
	  background-color: $light-skin-color;
	  color:$first-main-color;
	  border:none;
	  font-weight: normal;
	  width: 200px;
	  padding: 19px 0;
	  &:hover {
		background-color: #333;
		  color:$light-skin-color;
	  }
	}
	  .wpcf7-form-control {
		  &.wpcf7-text,
		  &.wpcf7-number,
		  &.wpcf7-date,
		  &.wpcf7-textarea,
		  &.wpcf7-select,
		  &.wpcf7-quiz {
			  border: 2px solid $light-skin-color;
			  background-color: transparent;
			  margin-bottom:11px;
			  color: $light-skin-color;
			  &::-webkit-input-placeholder { color:$light-skin-color; }
			  &::-moz-placeholder { color:$light-skin-color; } /* firefox 19+ */
			  &:-ms-input-placeholder { color:$light-skin-color; } /* ie */
			  &input:-moz-placeholder { color:$light-skin-color; }
		  }

	  }
	.eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner{
	  margin:0 -6px;
	}
	.eltd-two-columns-50-50 .eltd-column .eltd-column-inner{
     padding: 0 6px;
	}
	  .wpcf7-form-control.wpcf7-textarea{
		  height: 142px;
	  }

  }
  &.cf7_custom_style_1{
	.wpcf7-form-control.wpcf7-textarea{
	  height: 144px;
	}
	  .wpcf7-form-control {
		  &.wpcf7-text,
		  &.wpcf7-number,
		  &.wpcf7-date,
		  &.wpcf7-textarea,
		  &.wpcf7-select,
		  &.wpcf7-quiz {
			  border:none;
			  font-family: $third-font;
		  }

		  &.wpcf7-submit{
			  background-color: #333;
			  border-color: #333;
			  @include eltdTransition(all .2s ease-in-out);
			  font-weight: 600;
			  &:hover{
				  background-color: $first-main-color;
				  border-color: $first-main-color;
			  }
		  }

	  }

  }
  p:last-of-type{
	img:nth-of-type(2n){
	  display: none;
	}
  }
}
.wpcf7-form-control{
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz{
		@extend %input-style;
	}
  	&.wpcf7-textarea{
	  display: inline-block;
	  vertical-align: middle;
	  resize: none;
		height: 142px;
	}
}


.post-password-form input[type='password']{
	@extend %input-style;
	margin: 10px 0 0 0;
}
.post-password-form input[type='submit']{
	margin: 20px 0 0 0;
}
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit{
	display: inline-block;
	outline: none;
  	cursor: pointer;
	font-style: normal;
	font-weight: normal;
    padding: 18px 40px 18px 43px;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	margin-top: 3px;
    letter-spacing: 2px;
	font-family: $first-font;
	background-color: $first-main-color;
	border: none;
	color: #fff;
	position: relative;
	z-index: 1;


	@include eltdTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);
	@include eltdBoxSizing(border-box);

	&:hover{
		background-color: #a27d53;
	}


}
.eltd-newsletter{
	span.wpcf7-form-control-wrap{
		display: block;
		float: left;
		width: calc(100% - 166px);
		height: 48px;
		background-color: #fff;
	}
	.ajax-loader{
		display: none;
	}
	input[type=email]{
		padding: 0;
		padding-left:20px;
		line-height: 48px;
		height: 48px;
		outline: 0;
		margin: 0;
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		text-transform: none;
		color: $light-text-color;
		-webkit-appearance: none;
		border: 2px solid $shortcode-background-color;

		&::-webkit-input-placeholder {
			font-size: 15px;
			font-style: italic;
			text-transform: none;
			font-weight: normal;
			color:$light-text-color;
			font-family: $third-font;
		}

		&:-moz-placeholder { /* Firefox 18- */
			font-size: 15px;
			font-style: italic;
			text-transform: none;
			font-weight: normal;
			color:$light-text-color;
			font-family: $third-font;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			font-size: 15px;
			font-style: italic;
			font-weight: normal;
			text-transform: none;
			font-family: $third-font;
			color:$light-text-color;
		}

		&:-ms-input-placeholder {
			font-size: 15px;
			font-style: italic;
			font-weight: normal;
			text-transform: none;
			color:$light-text-color;
			font-family: $third-font;
		}
	}

	input.wpcf7-form-control.wpcf7-submit{
		float: left;
		font-weight: bold;
		width:165px;
		height: 48px;
		line-height: normal;
		font-size: 11px;
		background-color: $first-main-color;
		color: #fff;
		text-align: center;
		border: 0;
		outline: 0;
		padding:0;
		cursor: pointer;
		-webkit-appearance: none;
		border-radius: 0;
		margin-top:0;

		&:hover{
			background-color: #333333;
			color: $light-skin-color;

		}
	}
	span.wpcf7-not-valid-tip {
		position: absolute;
		top: 80px;
		width: auto;
	}
}

/* ==========================================================================
   #Input styles - end
========================================================================== */

/* ==========================================================================
   #Single Image Shortcode styles - start
========================================================================== */

.vc_single_image-wrapper{
	position: relative;
}

a.vc_single_image-wrapper{
	position: relative;

	&:before{
	  position: absolute;
	  content:'';
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  @include eltdTransition(opacity 0.4s ease-in-out);
	  background-color: rgba(0,0,0,.3);
	}
	&:hover{
	  &:before{
		opacity: 1;
	  }
	}
}
/* ==========================================================================
   #Single Image Shortcode styles - start
========================================================================== */


/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.eltd-comment-holder {
	padding-top: 22px;
	border-bottom: 2px solid #ededed;
	padding-bottom: 50px;
	margin-bottom: 25px;
	clear: both;
	.eltd-comment-number {

		h5{
			margin-bottom: 15px;
		}

	}


	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			padding-top: 28px;
		}

		ul {
			margin-left: 104px;

		}

	}


	.eltd-comment {
		@include eltdTableLayout;

		.eltd-comment-image,
		.eltd-comment-text {
			@include eltdTableCellLayout;
			text-align: left;
			vertical-align: top;

		  	.eltd-comment-name i{
			  display: none;
			}
			.eltd-text-holder{
				color:$light-text-color;
				font-family: $third-font;

			}
		}

		.eltd-comment-image {
			width: 77px;
			padding-right: 27px;

			img {
				@include eltdBorderRadius(50%);
			}

		}

		.eltd-comment-text {

			p {
				margin: 7px 0;
			}

			.eltd-comment-name {
				margin: 5px 0 0;
              color:$heading-color;
			}

		}

		.eltd-comment-info {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 600;
			font-family: $second-font;
			color: #909090;
			letter-spacing: 1px;

			.eltd-left {
				float: left;
			}

			.eltd-right {
				float: right;

				a {
					color: #909090;
					margin-left: 12px;

					&:hover {
						color: $first-main-color;
					}
				}

			}

		}

	}

}

.comment-respond {
	margin-top: 42px;
    font-size: 13px;

	#cancel-comment-reply-link {
		margin-left: 7px;
	}

	input[type="text"],
	input[type="email"],
	textarea {
	  	margin-bottom: 16px;
		@extend %input-style;
      font-size: 13px;
	}

	textarea {
	  resize: none;
	  display: block;
	}

  	.comment-form{
	  margin-top: 29px;
	}
	.form-submit{
	  margin-top:0;
	}

}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */

.eltd-pagination {

	display: block;
	text-align: center;
	margin: 74px 0 0;
	clear: both;

	ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li{
			float: left;
			margin: 0 5px;

			&> a,
			&> span {
				display: inline-block;
				color: #333333;
				border: 2px solid $shortcode-background-color;
				width: 47px;
				height: 45px;
				line-height: 41px;
				font-size: 14px;
				font-weight: bold;
				@include eltdBoxSizing(border-box);
				@include eltdTransition(all 0.3s ease);
				cursor: pointer;

				&:hover {
					background-color: $first-main-color;
					border: 2px solid $first-main-color;
					color: #fff;
				}

			}
			&.active {
				&>a,
				&>span{
					background-color: $first-main-color;
					border: 2px solid $first-main-color;
					color: #fff;

					&:hover {

					}
				}

			}
			&.eltd-disabled-pag-item{
				&>span,
				&>a{
					cursor: none;
					pointer-events: none;
					background-color: $default-text-color;
					border-color: $light-text-color;
				}
			}
			.eltd-pagination-icon{
				font-size: 22px;
				line-height: 41px;
				font-weight: 400;
			}
		}

	}
}

.navigation.pagination {
	display: none;
}


/* ==========================================================================
   #Pagination styles - end
   ========================================================================== */

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - begin
   ========================================================================== */
.eltd-owl-slider {
	visibility: hidden;
	overflow: hidden;

	.owl-nav {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			left: -10%;
			@include eltdTransition(left .3s);
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			right: -10%;
			@include eltdTransition(right .3s);
		}

		.eltd-prev-icon,
		.eltd-next-icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			text-align: center;

			span{
				font-size: 35px;
				line-height: 40px;
				color: #fff;
			}

		}


	}


	&:hover {
		.owl-prev {
			left:2%;
		}
		.owl-next {
			right: 2%;
		}
	}

	.owl-dots {
	  @extend %dots-style;
	  .owl-dot span{
		background-color: $first-main-color;
	  }

	}

}

.owl-carousel .owl-grab {
	cursor: -webkit-grab;
	cursor: grab;
}


/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - end
   ========================================================================== */
.slick-slider{
	&.slick-initialized{
		i.slick-arrow {
			font-size: 30px;
			color: $light-skin-color;
			position: absolute;
			top: calc( 50% - 35px );
			@include eltdTransform(translateY(-50%));
			width: 30px;
			cursor: pointer;
			z-index: 2;

			&.right {
				right: 30px;
			}

			&.left {
				left: 30px;
			}
		}
		.slick-dots {
			margin: 30px 0 0;
		 	position: relative;
			padding: 8px 0;
		  	li {
				display: inline-block;
				width: 9px;
				height: 9px;
				background-color: #fff;
				border: 2px solid #fff;
				@include eltdBorderRadius(50%);
				@include eltdBoxSizing(border-box);
				@include eltdTransition(all .2s ease);
			  button {
				display: none;
			  }
			}

		 	.slick-active{
			  	background-color: $first-main-color;
				border-color: $first-main-color;
			}
		}
	}
}


/* ==========================================================================
   Sticky Sidebar widget start styles
   ========================================================================== */
.eltd-widget-sticky-sidebar {
	position: relative;
	width: 100%;
	height: 0px;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background: transparent !important;
}

/* ==========================================================================
   Sticky Sidebar widget end styles
   ========================================================================== */

/* ==========================================================================
   Content Bottom start styles
   ========================================================================== */
.eltd-content-bottom{
	margin: 0 0 79px;
	text-align: center;
}
/* ==========================================================================
   Content Bottom end styles
   ========================================================================== */

/* ==========================================================================
   Lazy loading start styles
   ========================================================================== */
@-webkit-keyframes outer {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes outer {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes inner {
	0% {
		transform: rotate(-100.8deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes inner {
	0% {
		transform: rotate(-100.8deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes arc {
	0% {
		stroke-dasharray: 1 210.48671px;
		stroke-dashoffset: 0;
	}
	40% {
		stroke-dasharray: 151.55043px, 210.48671px;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 1 210.48671px;
		stroke-dashoffset: -151.55043px;
	}
}

@keyframes arc {
	0% {
		stroke-dasharray: 1 210.48671px;
		stroke-dashoffset: 0;
	}
	40% {
		stroke-dasharray: 151.55043px, 210.48671px;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 1 210.48671px;
		stroke-dashoffset: -151.55043px;
	}
}

.eltd-preloader {
	font-size: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -37.5px 0 0 -37.5px;
	display: inline-block;
	line-height: normal;
	z-index: 10;
	animation: outer 6600ms linear infinite;
}

.eltd-preloader svg {
	animation: inner 1320ms linear infinite;
}

.eltd-preloader svg circle {
	fill: none;
	stroke: $first-main-color;
	stroke-linecap: round;
	animation: arc 1320ms cubic-bezier(0.8, 0, 0.4, 0.8) infinite;
}

img[data-lazy="true"] {
	opacity: 0;
}

/* ==========================================================================
   Lazy loading end styles
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.eltd-404-page{

	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-color: #333;
	.eltd-page-not-found{
		text-align: center;
      	margin-top:0;
		position: relative;
		top: calc(50% - 25px);
		transform: translatey(-50%);
		.eltd-grid{
			padding: 0 8.66%;
			@include eltdBoxSizing(border-box);
		}
		p{
			color:$light-skin-color;
			width: 94%;
			margin: 10px auto 50px auto;

		}

		h2{
			margin-bottom: 4px;
			margin-top:0;
			font-family: $second-font;
			color:$light-skin-color;
			font-size: 60px;
			letter-spacing: 10px;
			position: relative;
			padding-bottom: 17px;

			&:after{
				width: 197px;
				height: 2px;
				background-color: $first-main-color;
				display: inline-block;
				margin-bottom: 14px;
				margin-top: 21px;
				content: '';
				position: absolute;
				bottom: 0;
				@include eltdTransform(translatex(-50%));
				left: 50%;
			}
		}

		h5{
			font-family: $third-font;
			line-height: 32px;
			text-transform: none;
			color: $light-skin-color;
			letter-spacing: 0;
			width: 76%;
			margin: 0 auto 30px auto;
		}
		.eltd-btn.eltd-btn-solid{
			padding: 17px 45px 17px 45px;
			background-color: $first-main-color!important;
			border-color: $first-main-color!important;
			color:$light-skin-color!important;
		}
	}
	&.eltd-404-dark{
		h2, h4{
			color:$first-main-color;
		}
		.eltd-btn.eltd-btn-solid{

			color:$light-skin-color;
		}
	}

}

body.error404{
	opacity: 0;
}


/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#eltd-back-to-top{
    position: fixed;
    width:29px;
    right: 45px;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    @include eltdTransform(scale(.7));
    -webkit-transition: opacity .25s, visibility .4s, -webkit-transform .4s;
    transition: opacity .25s, visibility .4s, transform .4s;
}
#eltd-back-to-top.off{
    opacity: 0;
    visibility: hidden;
    @include eltdTransform(scale(.7));
}
    
#eltd-back-to-top.on{
    opacity: 1;
    visibility: visible;
    @include eltdTransform(scale(1));
    -webkit-transition: opacity .25s, -webkit-transform .4s;
    transition: opacity .25s, transform .4s;
  	&.light{
	  & > span {
		color:#d4d4d4;
		&:before {
			border-bottom:2px solid #d4d4d4	;
		}
	  }
	}
}

#eltd-back-to-top > span {
	position: relative;
	overflow: hidden;
	width: 29px;
	height: 29px;
	line-height: 29px;
	text-align:center;
    display: block;
	color: #333333;
    font-size: 20px;
	box-sizing: border-box;
	&:before {
		content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border-bottom: 2px solid #333;
	    @include eltdTransform(translateY(calc(-100% + 4px)));
	    -webkit-transition: -webkit-transform .3s ease;
	    transition: transform .3s ease;
	}
	&:after {
       content: '';
       position: absolute;
       top: 0%;
       left: 0%;
       height: 100%;
       width: 100%;
       opacity: 0;
       -webkit-transition: opacity .15s;
       transition: opacity .15s;
   }
}

#eltd-back-to-top  {
	span span {
		display: block;
		line-height: inherit;
		position: relative;
		z-index: 10;
		@include eltdTransform(translateY(10px));
		-webkit-transition: -webkit-transform .3s ease .1s;
		transition: transform .3s ease .1s;
	}
	&.on {
		span span {
			@include eltdTransform(translateY(0));
		}
	}
}

#eltd-back-to-top:hover {	
	> span:before {
	    @include eltdTransform(translateY(0));
	}
	> span:after {
		opacity: 1;
		@include eltdTransform(scale(1));
		-webkit-transition: opacity .25s, -webkit-transform .4s;
		transition: opacity .25s, transform .4s;
	}
}	
    
/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.eltd-self-hosted-video-holder{
	.eltd-video-wrap{
		.mejs-container,
		.mejs-overlay-play{
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

/* ==========================================================================
   #Video and audio styles - start
   ========================================================================== */
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
	background-color: #333333 !important;
}
.mejs-container {
	height: 38px !important;
}

.mejs-container * {
	font-family: $first-font !important;
}

.mejs-container .mejs-controls {
	height: 38px !important;
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}

.mejs-container .mejs-controls div {
	height: 38px !important;
	text-align: center;
	line-height: 38px !important;
	margin: 0 3px !important;
	padding: 0 !important;
}

.mejs-controls .mejs-button button {
	background: none !important;
	font-family: 'ElegantIcons' !important;
	color: #cdcdcd;
	margin: 0;
	height: 38px !important;
	margin: 0 !important;
	position: static;
	width: auto;
	display: inline-block;
    background-color: #e1e1e1;

	@include eltdTransition(color 0.15s ease-out);

	&:hover {
		color:  #cdcdcd;
	}

	&:focus {
		outline: none;
	}
}

.mejs-container .mejs-controls .mejs-playpause-button {
	width: 15px !important;
}

.mejs-controls .mejs-play button {
	font-family: 'ElegantIcons';
	font-size: 18px !important;
	margin: 0 !important;
	width: 15px !important;
	height: 38px !important;

	&:after {
		content: "\45";
	}
}

.mejs-controls .mejs-pause button {
	font-family: 'ElegantIcons';
	font-size: 18px !important;
	margin: 0 !important;
	width: 15px !important;
	height: 38px !important;
	&:after {
		content: "\60";
		position: relative;
		top: 1px;
	}
}

.mejs-controls .mejs-mute button {

	font-family: 'ElegantIcons';
	font-size: 13px !important;

	&:after {
		content: "\7a";
		position: relative;
		top: 1px;
	}

}
.mejs-controls .mejs-unmute button {

	font-family: 'ElegantIcons';
	font-size: 13px !important;

	&:after {
		content: "\78";
		position: relative;
		top: 1px;
	}

}

.mejs-container .mejs-controls .mejs-fullscreen-button {

	width: 32px;
	button {
		font-size: 13px !important;
		font-family: 'ElegantIcons' !important;

		&:after {
			content: "\30";
		}
	}
}

.mejs-container .mejs-controls .mejs-time {
	color: $light-skin-color !important;
	font-size: 11px !important;
}

.mejs-controls div.mejs-time-rail {
	padding-top: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	height: 5px !important;
	background-color: #e1e1e1 !important;
	margin: 0 !important;
	top: calc( 50% - 2px );
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	height: 5px !important;
	background-color: #e1e1e1 !important;
}

.mejs-controls .mejs-horizontal-volume-slider{
	height: 38px !important;
	width: 29px !important;
	margin-right: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
	width: 29px !important;
}
.mejs-button.mejs-volume-button {
	width: 16px !important;
	margin:	0 5px 0 0!important;
}
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background-color: $first-main-color !important;
	height: 5px !important;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
	top: calc( 50% - 2px ) !important;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
	margin:	0 5px 0 0!important;
}

/* ==========================================================================
   #Video and audio styles - end
   ========================================================================== */

/* ==========================================================================
   #Revolution slider styles - start
   ========================================================================== */

	.rev_slider{

		.tp-bullets.custom {

			.tp-bullet{
				background-color: $light-skin-color;
				width: 24px;
				height: 2px;
				@include eltdTransition(all 0.2s ease);
				&.selected,
				&:hover{
					background-color: $first-main-color;
				}
			}
		}


	}
	.eltd-light-header{
		.rev_slider{
			.tp-bullets.custom {
				.tp-bullet{
					background-color: $light-skin-color;
					&.selected,
					&:hover{
						background-color: $first-main-color;
					}
				}
			}
		}
	}
	.eltd-dark-header{
		.rev_slider{
			.tp-bullets.custom {
				.tp-bullet{
					background-color: $dark-skin-color;
					&.selected,
					&:hover{
						background-color: $first-main-color;
					}
				}
			}
			.tparrows{
				&.tp-rightarrow:before{
					color: $dark-skin-color;
				}
				&.tp-leftarrow:before{
					color: $dark-skin-color;
				}
			}
		}
	}




/* ==========================================================================
   #Revolution slider styles - end
   ========================================================================== */