/* #Reset default styles - start
   ========================================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,
ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

blockquote {
  quotes: none;
}

blockquote:before,blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: medium none;
  vertical-align: middle;
}

table th{
  border: 0;
  padding: 5px 7px;
  text-align: center;
}

table td {
  padding: 5px 10px;
  text-align: center;
}

a img {
  border: none;
}

img,.wp-caption{
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

/* #Reset default styles - end
   ========================================================================== */

/* #General styles that are used in our theme - start
 * Here are defined global styles on body element, on container elements that hold every page,
 * headings and links, inputs, core wp styles and default pagination styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clear:after {
  clear: both;
  content: "";
  display: block;
}

html {
  height: 100%;
  margin: 0 !important;
  @include eltdTransition(all 0.33s ease-out);
  overflow-y: scroll !important; /* to prevent page jumping on ajax and when there is not enough content */
}

body {
  font-family: $third-font;
  font-size: $default-font-size;
  line-height: 25px;
  color: $default-text-color;
  font-weight: 400;
  background-color: $default-background-color;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 60px;
	line-height: 1.089em;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: $second-font;
}

h2 {
	font-size: 50px;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: $second-font;
}

h3 {
	font-size: 35px;
	line-height: 1.3em;
	font-weight: 400;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: $second-font;
}

h4 {
  	font-size: 25px;
  	line-height: 1.44em;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: $second-font;
}

h5 {
	font-size: 16px;
	line-height: 1.3em;
	letter-spacing: 2px;
    font-weight: 600;
	text-transform: uppercase;
	font-family: $second-font;
}

h6 {
	font-size: 14px;
	line-height: 1.3em;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: 600;
	font-family: $second-font;
}

h1, h2, h3 {
    margin: 25px 0;
}

h4, h5 {
    margin: 15px 0;
}
h6{
  margin: 10px 0 15px 0;
}

h1, h2, h3, h4, h5{
  color: $heading-color;
}
h6{
  color: $light-text-color;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  @include eltdTypographyLayout();
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
  color: $first-main-color;
}

a,
p a {
	color: $first-main-color;
	text-decoration: none;
	cursor: pointer;
	@include eltdTransition(color 0.15s ease-out);
}

p {
    margin: 10px 0;
}

input[type='submit'],
.woocommerce input[type='button'],
.woocommerce-page input[type='button'] {
  -webkit-appearance: none;
}

ul, ol {
    list-style-position:inside;
    margin: 15px 0;
}

ul ul,
ol ol,
ol ul,
ul ol {
    margin: 0;
    padding: 0 0 0 15px;
}

pre {
  background-color: $default-background-color;
  padding: 15px;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 15px 0;
}

dt {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 15px;
}

sub, sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  	vertical-align: bottom;
	bottom: 0.5em;
}

sup {
	vertical-align: top;
	top: 0.6em;
}

.wp-caption-text {
  margin: 0;
  font-style: italic;
}

table {
  width: 100%;
}

table thead tr, table tbody tr {
  border: 1px solid $shortcode-background-color;
}

table tbody th {
  border-right: 1px solid $shortcode-background-color;
}

blockquote:not(.eltd-blockquote-shortcode) {
  padding: 0;
  border: none;
  font-style: italic;
  font-size: 17px;
  line-height: 1.6em;
  margin: 20px 0;
}
.eltd-blockquote-shortcode{
  font-weight: 400;
  margin:11px 0;
  line-height: 32px;
}

blockquote cite {
  font-style: normal;
  font-weight: 500;
}

/* Webkit */
::selection {
  background: $first-main-color;
  color: $default-background-color;
}
/* Gecko/Mozilla */
::-moz-selection {
  background: $first-main-color;
  color: $default-background-color;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor{
  opacity: 1;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.aligncenter {
  display: block;
  margin: 10px auto;
}


.alignwide {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

@include ipad-landscape() {
	.alignwide {
		width: 100%;
		max-width: 100%;
	}
}

.alignfull {
	position: relative;
	left: -1rem;
	width: calc(100% + (2 * 1rem));
	max-width: calc(100% + (2 * 1rem));
	clear: both;
}

@include ipad-landscape() {
	.alignfull {
		left: calc(-12.5% - 75px);
		width: calc(125% + 150px);
		max-width: calc(125% + 150px);
		margin-top: calc(2 * 1rem);
		margin-bottom: calc(2 * 1rem);
	}
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.meta {
  display: none;
}

.eltd-wrapper {
	background-color: $default-background-color;
	position: relative;
	z-index: 1000;
	@include eltdTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));
	left: 0px;


	.eltd-wrapper-inner{
		width: 100%;
		overflow: hidden;
	}
}

body.eltd-paspartu-enabled .eltd-wrapper{
	background-color: #fff;
	padding: 10px;
	@include eltdBoxSizing(border-box);
}

.eltd-meta {
  display: none;
}

.eltd-content{
  margin-top: 0;
  position: relative;
  z-index: 100;
  background-color: $default-background-color; /*this is needed because of the uncovering footer*/
}

/*visual composer override styles*/
.wpb_row, .wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin, .wpb_button {
  margin-bottom: 0 !important; // important is in order to prevent visual composer styles in all cases
}

.eltd-content{
    .eltd-content-inner > .eltd-container > .eltd-container-inner,
    .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner{
        padding: 82px 0;
    }
}

.eltd-boxed{

	overflow: hidden !important; /* this is because content jumping while using accordion and display:inline-block on 'body.eltd-boxed .eltd-wrapper'   */

	.eltd-wrapper{
		display: inline-block;
		vertical-align: middle;
		width: 100%;

		.eltd-wrapper-inner {
			width: $grid-width-boxed;
			overflow: visible;
			margin: auto;
		}
	}

	.eltd-content {
		overflow: hidden;
	}

	.eltd-footer-inner{
		width: $grid-width-boxed;
		margin: auto;
	}


	.eltd-page-header .eltd-sticky-header,
	.eltd-page-header .eltd-fixed-wrapper.fixed{
		width: $grid-width-boxed;
		left: auto;
	}
}
  
.eltd-smooth-transition-loader {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2000;

  &.eltd-hide-spinner {

    .eltd-st-loader {
      display: none;
    }

  }

}


.eltd-container{
  background-color: #fff; //beacuse of the Elated Slider, since content have to go over it
  position: relative;
  padding: 0;
  width: 100%;
  z-index:100;

  &:before{
    content: " ";
    display: table;
  }

  &:after{
    content: " ";
    display: table;
    clear: both;
  }
}

.eltd-container-inner{ //not in parent selector since this class is used for positioning other elements in grid
  width: $grid-width;
  margin: 0 auto;
}

.eltd-full-width {
  position: relative;
  z-index: 100;
	background-color: #fff;
}

@media only screen and (min-width: 1400px){
	.eltd-grid-1300{

		.eltd-grid,
		.eltd-container-inner,
		.eltd-grid-section .eltd-section-inner,
		.eltd-footer-top-border-holder.eltd-in-grid,
		.eltd-footer-bottom-border-holder.eltd-in-grid{
			width: $grid-width-1300;
		}

	}

	.eltd-grid-1300.eltd-boxed{

		.eltd-footer-inner,
		.eltd-wrapper-inner,
		.eltd-drop-down .wide .second>.inner>ul{
			width: $grid-width-1300 + 50px;
		}
		
		.eltd-page-header .eltd-sticky-header,
		.eltd-page-header .eltd-fixed-wrapper.fixed{
			width: $grid-width-1300 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1300px){
	.eltd-grid-1200{

		.eltd-grid,
		.eltd-container-inner,
		.eltd-grid-section .eltd-section-inner,
		.eltd-footer-top-border-holder.eltd-in-grid,
		.eltd-footer-bottom-border-holder.eltd-in-grid{
			width: $grid-width-1200;
		}
	}

	.eltd-grid-1200.eltd-boxed{

		.eltd-footer-inner,
		.eltd-wrapper-inner,
		.eltd-drop-down .wide .second>.inner>ul{
			width: $grid-width-1200 + 50px;
		}

		.eltd-page-header .eltd-sticky-header,
		.eltd-page-header .eltd-fixed-wrapper.fixed{
			width: $grid-width-1200 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1200px){
	.eltd-grid-1000{

		.eltd-grid,
		.eltd-container-inner,
		.eltd-grid-section .eltd-section-inner,
		.eltd-footer-top-border-holder.eltd-in-grid,
		.eltd-footer-bottom-border-holder.eltd-in-grid{
			width: $grid-width-1000;
		}
	}

	.eltd-grid-1000.eltd-boxed{

		.eltd-footer-inner,
		.eltd-wrapper-inner,
		.eltd-drop-down .wide .second>.inner>ul{
			width: $grid-width-1000 + 50px;
		}

		.eltd-page-header .eltd-sticky-header,
		.eltd-page-header .eltd-fixed-wrapper.fixed{
			width: $grid-width-1000 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1000px){
	.eltd-grid-800{

		.eltd-grid,
		.eltd-container-inner,
		.eltd-grid-section .eltd-section-inner,
		.eltd-footer-top-border-holder.eltd-in-grid,
		.eltd-footer-bottom-border-holder.eltd-in-grid{
			width: $grid-width-800;
		}
	}

	.eltd-grid-800.eltd-boxed{

		.eltd-footer-inner,
		.eltd-wrapper-inner,
		.eltd-drop-down .wide .second>.inner>ul{
			width: $grid-width-800 + 50px;
		}

		.eltd-page-header .eltd-sticky-header,
		.eltd-page-header .eltd-fixed-wrapper.fixed{
			width: $grid-width-800 + 50px;
			left: auto; 
		}
	}
}

/* #General styles that are used in our theme - end
   ========================================================================== */

/* #Grid system styles - start
 * Here are defined styles for grid system that is used outside Visual Composer
   ========================================================================== */

.eltd-two-columns-66-33{
  width: 100%;

  .eltd-column1 {
    width: 66.66%;
    float: left;

    .eltd-column-inner {
      padding: 0 25px 0 0;
    }
  }

  .eltd-column2 {
    width: 33.33%;
    float: left;

    .eltd-column-inner{
      padding: 0 0 0 25px;
    }
  }
}

.eltd-two-columns-33-66{
  width: 100%;

  .eltd-column1{
    width: 33.33%;
    float: left;

    .eltd-column-inner{
      padding: 0 25px 0 0;
    }
  }

  .eltd-column2{
    width: 66.66%;
    float: left;

    .eltd-column-inner{
      padding: 0 0 0 25px;
    }
  }
}


.eltd-two-columns-75-25{
  width: 100%;

  .eltd-column1{
    width: 75%;
    float: left;

    .eltd-column-inner{
      padding: 0 25px 0 0;
    }
  }

  .eltd-column2{
    width: 25%;
    float: left;

    .eltd-column-inner{
      padding: 0 0 0 25px;
    }
  }
}

.eltd-two-columns-25-75{
  width: 100%;

  .eltd-column1{
    width: 25%;
    float: left;

    .eltd-column-inner{
      padding: 0 25px 0 0;
    }
  }

  .eltd-column2{
    width: 75%;
    float: left;

    .eltd-column-inner{
      padding: 0 0 0 25px;
    }
  }
}

.eltd-two-columns-50-50{
  width: 100%;

	> .eltd-two-columns-50-50-inner{
		margin: 0 -15px;
	}

	.eltd-column{
		width: 50%;
		float: left;

		.eltd-column-inner{
			padding: 0 15px;
		}
	}
}

.eltd-three-columns {
  width: 100%;

	> .eltd-three-columns-inner{
		margin: 0 -15px;
	}

	.eltd-column{
		width: 33.33%;
		float: left;

		.eltd-column-inner{
			padding: 0 15px;
		}
	}
}

.eltd-four-columns{
  width: 100%;

	> .eltd-four-columns-inner{
		margin: 0 -15px;
	}

	.eltd-column{
		width: 25%;
		float: left;

		.eltd-column-inner{
			padding: 0 15px;
		}
	}
}

.eltd-five-columns{
  width: 100%;

	> .eltd-five-columns-inner{
		margin: 0 -15px;
	}

	.eltd-column{
		width: 20%;
		float: left;

		.eltd-column-inner{
			padding: 0 15px;
		}
	}
}

body.woocommerce.woocommerce-page{
  .eltd-two-columns-66-33.woocommerce_with_sidebar .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-75-25.woocommerce_with_sidebar .eltd-column1 .eltd-column-inner{
    padding-left: 40px;
  }

  .eltd-two-columns-33-66.woocommerce_with_sidebar .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-25-75.woocommerce_with_sidebar .eltd-column2 .eltd-column-inner{
    padding-right: 40px;
  }

  .full_width{
    .eltd-two-columns-66-33.woocommerce_with_sidebar .eltd-column1 .eltd-column-inner,
    .eltd-two-columns-75-25.woocommerce_with_sidebar .eltd-column1 .eltd-column-inner{
      padding-left: 0;
    }

    .eltd-two-columns-33-66.woocommerce_with_sidebar .eltd-column2 .eltd-column-inner,
    .eltd-two-columns-25-75.woocommerce_with_sidebar .eltd-column2 .eltd-column-inner{
      padding-right: 0;
    }
  }
}

/* #Grid system styles - end
   ========================================================================== */

@include keyframes(preload-background) {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.eltd-preload-background{
    background-repeat: repeat !important;
    background-color: transparent !important;
    background-attachment: scroll !important;
    background-size: inherit !important;
    @include animation(preload-background, 40s, infinite, linear, 0s);
}

.eltd-grid{
    width: $grid-width;
    margin: 0 auto;
}

.eltd-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    &.eltd-25-50-25 {

        .eltd-position-left,
        .eltd-position-right {
            width: 25%;
        }

        .eltd-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .eltd-position-left-inner,
        .eltd-position-center-inner,
        .eltd-position-right-inner {
            width: 98%;
        }

    }

    &.eltd-33-33-33 {

        .eltd-position-left,
        .eltd-position-center,
        .eltd-position-right {
            width: 33.33%;
        }

        .eltd-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .eltd-position-left-inner,
        .eltd-position-center-inner,
        .eltd-position-right-inner {
            width: 98%;
        }

    }

    &.eltd-50-50 {

        .eltd-position-left,
        .eltd-position-right {
            width: 50%;
        }

        .eltd-position-left-inner,
        .eltd-position-center-inner,
        .eltd-position-right-inner {
            width: 98%;
        }

    }

    .eltd-position-left {
        position: relative;
        float: left;
        z-index: 2;
        height: 100%;
    }
    .eltd-position-center {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        z-index: 1;
    }

    .eltd-position-right {
        position: relative;
        float: right;
        z-index: 2;
        height: 100%;
        text-align: right;
    }

    .eltd-position-left-inner,
    .eltd-position-center-inner,
    .eltd-position-right-inner {
        vertical-align: middle;
        display: inline-block;
    }
    .eltd-position-right.eltd-has-widget .eltd-position-right-inner{
        height: 100%;
    }

    .eltd-position-left:before,
    .eltd-position-center:before,
    .eltd-position-right:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -3px; /* adjusts for spacing */
    }

}

/* ==========================================================================
   #Row styles - start
   ========================================================================== */

.eltd-section {
    position:relative;

}

.eltd-grid-section .eltd-section-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.eltd-section-inner-margin{
	margin-left: -15px;
	margin-right: -15px;
}

.eltd-content-aligment-left {
    text-align: left;
}

.eltd-content-aligment-center {
    text-align: center;
}

.eltd-content-aligment-right {
    text-align: right;
}
.eltd-center-bck-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
/* #Parallax section styles - start
   ========================================================================== */


.eltd-parallax-section-holder{
	position: static;
	padding: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0;
	background-attachment: fixed;
	overflow: hidden;

	&.eltd-vertical-middle-align{
		display: table;
		width: calc( 100% + 15px );
	}

	.eltd-parallax-content-outer{
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		padding: 100% 0;
	}

	.touch &.eltd-parallax-section-holder-touch-disabled{
		height: auto !important;
		min-height: 200px;
		background-position: center top !important;
		background-attachment: scroll;
		background-size: cover;
	}


}

section.parallax_section_holder.vertical_middle_align .parallax_content_outer{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 100% 0;
}

.eltd-parallax-container {
  position: fixed;
  top: 0;
  left: 0;

  & > .eltd-parallax-image-frame {
    position: absolute;
    overflow: hidden;


    & > .eltd-parallax-image {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 2000px;
      -webkit-transform: translate3d(-50%,-50%,0);
      transform: translate3d(-50%,-50%,0);
    }
  }
}


/* #Video section styles - start
   ========================================================================== */

.eltd-section {

  .eltd-mobile-video-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .eltd-video-overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;

    &.eltd-video-overlay-active {
      background-image: url("img/pixel-video.png");
      background-position: 0 0;
      background-repeat: repeat;
      opacity: 1;
    }
  }

  .eltd-video-wrap {

    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;

    .mejs-offscreen {
      display: none;
    }

    .mejs-container .mejs-controls {
      display: none!important;
    }

    .mejs-poster {
      background-size: cover !important;
      -moz-background-size: cover !important;
      -webkit-background-size: cover !important;
      -o-background-size: cover !important;
    }

    .mejs-container {
      background-color: transparent!important;
      background-image: none!important;
      height: auto !important;
      width: 100% !important;
    }

    .mejs-mediaelement{
      background: none !important;
      border: 0px !important;
    }

    .mejs-container .mejs-poster img {
      max-width: none!important;
      width: 100%!important;
    }

  }
}

/* ==========================================================================
   #Row styles - end
   ========================================================================== */

/* ==========================================================================
   Main style option predefined styles - Start
   ========================================================================== */
	body{
		&.eltd-oswald-style{
			.eltd-product.eltd-product-standard-type .eltd-product-title{
				letter-spacing: 0;
			}
			.products.eltd-type-1 .eltd-product-list-product-title,
			.products.eltd-type-1 .product .price{
				font-size: 16px;
				font-weight: 400;
			}
			.eltd-product.eltd-product-image-on-left .eltd-product-title{
				text-transform: capitalize;
				font-size: 18px;
				font-weight: 400;
			}
			.eltd-section-title{
				font-weight: bold;
				text-transform: capitalize;
			}
			.eltd-content h4{
				font-weight: bold;
			}
		}

		&.eltd-poppins-style{
			.eltd-woocommerce-page .product .price,
			.woocommerce .product .price{
				font-weight: 400;
			}
			.eltd-product-list-product-title{
				font-size: 18px;
				font-weight: 600;
			}
			.eltd-section-title{
				font-weight: 600;
				text-transform: capitalize;
			}
			.eltd-blog-list-holder.eltd-blog-standard .eltd-blog-list-item .eltd-item-text-holder .eltd-item-title{
				font-weight: 600;
			}
			.eltd-content h4{
				font-weight: 600;
				text-transform: capitalize;
			}
			.eltd-blog-list-holder.eltd-blog-simple.eltd-simple-blog-light .eltd-blog-list-item .eltd-item-title{
				font-weight: 400;
			}
		}

		&.eltd-raleway-style{
			.eltd-content h3{
				text-transform: capitalize;
				font-weight: 600;
			}
			.eltd-section-title{
				text-transform: capitalize;
				font-weight: 600;
			}
			.eltd-team-name{
				font-size : 18px !important;
				text-transform: capitalize;
			}
		}

		&.eltd-yesteryear-style{

			.eltd-section-title{
				text-transform: capitalize;
			}
			.countdown-amount{
				font-size: 75px;
			}
			.eltd-team-position{
				font-size: 20px;
				text-transform: capitalize;
			}

		}

		&.eltd-greatvibes-style{

			.eltd-section-title{
				text-transform: capitalize;
				font-weight: 400;
			}
			.eltd-content h3{
				text-transform: capitalize;
				font-size : 35px;
			}

		}
	}

/* ==========================================================================
   Main style option predefined styles - End
   ========================================================================== */

/* ==========================================================================
   Custom contact form(Text Field Options) - Start
   ========================================================================== */

.eltd-custom-contact-section{
	ul{
		list-style:none;
		margin: 0;
		li{
			&:not(:last-child){
				margin-bottom: 24px;
			}
		}
		h6,p{
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			float: left;
			text-align: left;
			margin: 0;
			-webkit-appearance: none;
		}
		h6{
			width: 100%;
            margin-bottom: 11px;
            color:#333;
            font-size: 13px;
		}
		p{
			width: 100%;

		}
	}
	&.eltd-custom-grey-style{
		ul{
			li{
				h6,p{
					color: #8f8f8f;
				}
			}
		}
	}
}

/* ==========================================================================
   Custom contact form(Text Field Options) - End
   ========================================================================== */