.eltd-grid,
.eltd-container-inner,
.eltd-grid-section .eltd-section-inner,
.eltd-slider .carousel-inner .eltd-slider-content-outer{

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}

.eltd-boxed .eltd-wrapper  .eltd-wrapper-inner,
.eltd-boxed .eltd-wrapper  .eltd-footer-inner{

  @include laptop-landscape {
    width: $grid-width-laptop-landscape-boxed;
  }

  @include ipad-landscape {
    width: $grid-width-ipad-landscape-boxed;
  }

  @include ipad-portrait {
    width: $grid-width-ipad-portrait-boxed;
  }

  @include phone-landscape {
    width: $grid-width-phone-landscape-boxed;
  }

  @include phone-portrait {
    width: $grid-width-phone-portrait-boxed;
  }

  @include smaller-phone-portrait {
    width: $grid-width-smaller-phone-portrait-boxed;
  }
}

//vertical menu responsive

.eltd-header-vertical .eltd-grid,
.eltd-header-vertical .eltd-container-inner,
.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer{

	@include vertical-menu-laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include vertical-menu-ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

}


@include ipad-landscape {
  .eltd-content{
    margin-top: 0px !important;
  }
	body.eltd-paspartu-enabled .eltd-wrapper{
		padding: 0 50px;
	}

	.eltd-top-bar{
		display: none;
	}

	.eltd-content-left-from-sidebar{
		margin-bottom: 50px;
	}
}


@include ipad-landscape {
	.eltd-two-columns-50-50 .eltd-column,
	.eltd-two-columns-66-33 .eltd-column1,
	.eltd-two-columns-66-33 .eltd-column2,
	.eltd-two-columns-33-66 .eltd-column1,
	.eltd-two-columns-33-66 .eltd-column2,
	.eltd-two-columns-25-75 .eltd-column1,
	.eltd-two-columns-25-75 .eltd-column2,
	.eltd-two-columns-75-25 .eltd-column1,
	.eltd-two-columns-75-25 .eltd-column2,
	.eltd-three-columns .eltd-column,
	.eltd-four-columns .eltd-column{
		width: 100%;
	}

	.eltd-two-columns-66-33 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-66-33 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column2 .eltd-column-inner
	{
		padding: 0;
	}

}

@include phone-landscape{
	body.eltd-paspartu-enabled .eltd-wrapper{
		padding: 0 30px;
	}

	.eltd-newsletter{
		span.wpcf7-form-control-wrap{
				width: 100%;
				margin-bottom:15px;

			.wpcf7-form-control.wpcf7-text{
				border-right:2px solid $shortcode-background-color;

				&:focus{
					border-right:2px solid $first-main-color;
				}
			}
		}
	}

	.eltd-top-bar{
		display: none;
	}
}

@include smaller-phone-portrait {
  .eltd-section-inner-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1440px) and (min-width : 1281px){
	.eltd-parallax-section-holder .eltd-parallax-content-outer{
		//important overrides value from parallax script
		padding-top: 70px !important;
	}
}

.eltd-custom-contact-section {
	@include ipad-landscape{
		ul {
			a {
				color: #fff !important;
			}
		}
	}
}

.eltd-parallax-section-holder{
	@include phone-landscape{
		background-repeat: repeat;
	}
}

@include ipad-portrait{
	.eltd-overapping-row{
		margin-top: 30px;
		.vc_column_container>.vc_column-inner{
			margin-top: 0 !important;
			text-align: center;
			.wpb_single_image.vc_align_left{
				text-align: center;
			}
		}
	}
}

@include phone-landscape{
	.eltd-comment-holder {
		ul{

			li{
				.eltd-comment{
					display: block;
					.eltd-comment-image,
					.eltd-comment-text{
						display: block;
					}
				}
			}
			ul{
				margin-left: 40px;
			}
		}
	}
}

@include phone-portrait{
	h1{
		font-size: 55px;
	}
}