//layout mixins - start
@import 'variables';

@mixin eltdTableLayout(){
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

@mixin eltdTableCellLayout(){
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

@mixin eltdTypographyLayout(){
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

//layout mixins - end

//transition mixins - start

@mixin eltdTransition($transition-param...) {
    -webkit-transition: $transition-param;
    -moz-transition: $transition-param;
    transition: $transition-param;
}

@mixin eltdTransform($transform-param...) {
    -webkit-transform: $transform-param;
    -moz-transform: $transform-param;
    transform: $transform-param;
}

@mixin eltdAnimation($animation-param...) {
	-webkit-animation: $animation-param;
    -moz-animation: $animation-param;
	animation: $animation-param;
}

@mixin eltdTransformOrigin($animation-param...) {
	-webkit-transform-origin: $animation-param;
    -moz-transform-origin: $animation-param;
    transform-origin: $animation-param;
}

@mixin eltdBoxShadow($shadow-property...) {
    -webkit-box-shadow: $shadow-property;
    -moz-box-shadow: $shadow-property;
    box-shadow: $shadow-property;
}

@mixin eltdBorderRadius($border-radius...) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin eltdBoxSizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}
//transition mixins - end

//media query mixins - start
@mixin mac {
    @media only screen and (max-width: $mac) {
        @content;
    }
}

@mixin large-laptop {
    @media only screen and (max-width: $large-laptop) {
        @content;
    }
}

@mixin laptop-landscape {
    @media only screen and (max-width: $laptop-landscape) {
        @content;
    }
}

@mixin ipad-landscape {
    @media only screen and (max-width: $ipad-landscape) {
        @content;
    }
}

@mixin ipad-landscape-min {
    @media only screen and (min-width: $ipad-landscape) {
        @content;
    }
}

@mixin ipad-portrait {
    @media only screen and (max-width: $ipad-portrait) {
        @content;
    }
}

@mixin phone-landscape {
    @media only screen and (max-width: $phone-landscape) {
        @content;
    }
}

@mixin phone-portrait {
    @media only screen and (max-width: $phone-portrait) {
        @content;
    }
}

@mixin smaller-phone-portrait {
    @media only screen and (max-width: $smaller-phone-portrait) {
        @content;
    }
}

//media query mixins - end

@mixin vertical-menu-laptop-landscape {
    @media only screen and (min-width: $vertical-menu-ipad-landscape) and (max-width: $vertical-menu-laptop-landscape) {
        @content;
    }
}

@mixin vertical-menu-ipad-landscape {
    @media only screen and (min-width: $ipad-landscape) and (max-width: $vertical-menu-ipad-landscape) {
        @content;
    }
}

//animation mixin - start

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content };
    @keyframes #{$name} { @content };
}

@mixin animation ($name, $duration, $repeat, $timing, $delay) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $repeat;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $repeat;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

//animation mixin - end

%clearfix {

    &:after,
    &:before {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }

}

%eltd-custom-title-grey{
    font-size: 13px;
    color: #909090;
    font-family: $second-font;
    text-transform: uppercase;
    font-weight: 400;

}

%eltd-custom-title{
    font-family: $first-font;
    font-size: 13px;
    font-weight: 700;
    color: $heading-color;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover{
        color: $first-main-color;
    }
}

%author-info-style{
    >div{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        &:first-child{
            padding: 0;
        }
        &:before{
            display: none;
        }
    }
    .eltd-post-author-content{
        text-transform: uppercase;
        font-family: $second-font;
        font-size: 11px;
        a,span{
            color:#909090;
        }
        .eltd-post-info-author-link:hover{
            color:$first-main-color;
        }
    }

    .eltd-post-author-image{
       display: none;
    }
}

%eltd-ptf-icons-style{

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5%;
    opacity: 0;
    text-align: center;
    @include eltdTransform(translateY(-100%));
    @include eltdTransition(all 0.3s ease-in-out);
    @include eltdBoxSizing(border-box);
    background-color: $first-main-color;
    z-index: 3;

    a{
        display: inline-block;
        font-size: 16px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border: 1px solid $first-main-color;
        margin: 0 10px 0 0;

        color: $first-main-color;
        background-color: $default-background-color;
        z-index: 3;
        @include eltdBoxSizing(border-box);
        @include eltdBorderRadius(100%);
        @include eltdTransform(rotate(0deg));
        @include eltdTransition(transform 0.5s);

        &:hover{
            @include eltdTransform(rotate(-360deg));
        }
        a:before{
            font-family: 'FontElegant';
            line-height: inherit;
        }
        a.eltd-portfolio-lightbox:before{
            content: "\4c";
        }
        a.eltd-preview:before{
            content: "\55";
        }
        a.eltd-like:before{
            content: "\e030";
        }
        a.eltd-like.liked:before{
            content: "\e089";
        }
    }
}



%blog-bottom-section-style{
    text-transform: uppercase;
    font-size: 14px;
    font-family: $second-font;
    font-weight: 400;
    letter-spacing: 1px;
    .eltd-post-info-date{
        display: inline-block;
        color:$first-main-color;
        .eltd-blog-icon{
            display: none;
        }
        &:after{
            content:"/";
            position: relative;
            display: inline-block;
            margin: 0 5px;
        }
    }
    .eltd-post-info-category{
        display: inline-block;

        a{
            color:$first-main-color;
            span{
                color:inherit;
            }
        }
    }
    .eltd-post-info-comments-holder{
        float: right;
        display: inline-block;
        a{
            color:#909090;
            &:hover{
                color:$first-main-color;
            }
        }

        .eltd-blog-icon{
            display: none;
        }

    }
}

%post-info-style1{
    @extend %eltd-custom-title-grey;

    a:hover{
        color: $first-main-color;
    }
    > div {
        display: inline-block;
        &.eltd-post-info-comments-holder{
            &:before{
                display: none;
            }
        }
        span,
        a{
            &:not(.eltd-blog-icon):not(.eltd-social-network-icon):not(.eltd-blog-category-icon):not(.eltd-social-share-icon):not(.eltd-share-link){
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                text-transform: inherit;
                color:inherit;
            }
        }

    }
}
%single-tags-style{
    @include eltdTableCellLayout;
    @extend %post-info-style1;
    text-align: left;

}
%bottom-section-style2{
    @include eltdTableCellLayout;
    @extend %post-info-style1;

    .eltd-post-info-comments-holder{
        float: right;
        line-height: 35px;
        & > span{
            display: none;
        }

      .eltd-post-info-comments{
        &:hover{
          color:$first-main-color;
        }
      }
    }
    text-align: right;
    .eltd-blog-share {
        margin-right: 7px;
        line-height: 35px;
        .eltd-social-share-text{
            display: none;
        }
    }
}
%bottom-section-style{
    margin: 0;
    padding: 0;
    @include eltdTableLayout();
    .eltd-left-section,
    .eltd-right-section{

        @include eltdTableCellLayout();
        @extend %post-info-style1;

        &>div{
            &:before{
                display: none;
            }
        }

    }
    .eltd-post-info-comments-holder{
        & > span{
            margin-right: 8px;
            color:$first-main-color;
            vertical-align: middle;
            font-size: 12px;
        }
        a{
            font-size: 13px;
            color:#909090;
            text-transform: uppercase;
        }
    }
    .eltd-left-section{
        text-align: left;
    }
    .eltd-right-section{
        text-align: right;
        .eltd-blog-share{
            margin-right: 0;
        }
    }
}

%top-section-style{
  letter-spacing: 1px;
    font-family: $second-font;
    & > div:not(:first-child):before {
        content: ' ';
        position: relative;
    }
    .eltd-post-info-date{
        font-size: 13px;
        display: inline-block;
        .eltd-blog-icon{
           display: none;
        }
        &:after{
            content: "/";
            display: inline-block;
            position: relative;
            margin-left: 5px;

        }
    }
    .eltd-post-info-category{
      font-size: 13px;
        display: inline-block;
    }
    .eltd-post-info-category a:not(.eltd-category-icon) {
        span{
          font-size: 14px;
            margin-right:10px;
        }
        &:last-child span{
            margin-right:0;
        }

    }
    .eltd-post-info-category .eltd-category-icon{
        font-size: 12px;
        margin-right:5px;
    }

    .eltd-post-info-date,
    .eltd-post-info-category,
    .eltd-post-info-category a{
        color: $first-main-color;
        font-weight: 400;
        text-transform: uppercase;
    }
    .eltd-post-info-category a:hover{
        color:#909090;
    }
}
%post-info-style2{

    font-family: $first-font;
    font-size: 11px;
    line-height: 1.3em;
    font-weight: 400;
    color: $first-main-color;
    text-transform: capitalize;

    .eltd-post-info-date{
        .eltd-blog-icon{
            margin-right: 9px;
        }
    }
    .eltd-post-info-category a:not(.eltd-category-icon){
       span {
           margin-right: 10px;
       }
    }
    .eltd-post-info-category {
        font-size: 12px;
        .eltd-category-icon{
            margin-right: 7px;
            font-size: inherit;
        }

    }

    a:hover{
        color:  $first-main-color;
    }
    .eltd-post-info-comments-holder{
        .eltd-blog-icon{
            vertical-align: middle;
        }
        .eltd-post-info-comments{
            vertical-align: middle;

          &:hover{
            color:$first-main-color;
          }
        }
    }

    .eltd-blog-icon{
        font-size: 12px;
        margin-right: 5px;
    }
    > div {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 2px;
        &:first-child{
            padding: 0 21px 0 0;
        }
        &:not(:first-child):before{
            content: ' ';
            position: relative;
        }
    }
}

%dots-style{

    text-align: center;
    position: relative;
    margin: 45px 0 0;

    .owl-dot {
        display: inline-block;
        &:not(:last-child){
            margin: 0 10px 0 0;
        }
    }

    .owl-dot span {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $light-skin-color;
        border:2px solid $light-skin-color;
        @include eltdBorderRadius(50%);
        @include eltdBoxSizing(border-box);
        @include eltdTransition(all 0.2s ease);

        &:hover{
            background-color: $first-main-color;
            @include eltdBoxSizing(border-box);
        }
    }

    .owl-dot.active span {
        background-color: $first-main-color;
        @include eltdBoxSizing(border-box);
    }
}
%dots-style2{
    text-align: center;
    position: relative;
    margin: 42px 0 0;

    .owl-dot {
        display: inline-block;
        &:not(:last-child){
            margin: 0 10px 0 0;
        }
    }

    .owl-dot span {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #fff;
        border:2px solid #858585;
        @include eltdBorderRadius(50%);
        @include eltdBoxSizing(border-box);
        @include eltdTransition(all 0.2s ease);
        @include eltdBoxSizing(border-box);

        &:hover{
            background-color: #858585;
        }
    }

    .owl-dot.active span {
        background-color: #858585;
    }
}


%portfolio-like-style{
    .eltd-ptf-like-item{
        float: left;
        height: 31px;
        line-height: 31px;
        border: 2px solid $light-skin-color;
        @include eltdBorderRadius(50%);
        background-color: $light-skin-color;

        &.eltd-ptf-like-text{
            @extend %post-info-style1;
            padding: 0 20px;
            border-right: 0;
        }
        &.eltd-ptf-like-icon{
            padding: 0 10px;
            a{
                &:before{
                    font-family: 'ElegantIcons';
                    font-size: 16px;
                }
                &.eltd-like{
                    color: $light-text-color;
                    &:hover{
                        color: $first-main-color;
                    }
                    &:before{
                        content: "\e030";
                    }
                }
                &.eltd-like.liked{
                    color: $first-main-color;
                    &:before{
                        content: "\e089";
                    }
                }
            }
        }
    }
}