$grid-width: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$logo-area-height: 220px;
$menu-area-height: 96px;
$header-centered-logo-area-height: 75px;
$header-centered-menu-area-height: 67px;
$header-simple-logo-area-height: 33px;
$header-simple-menu-area-height: 82px;
$header-compound-logo-area-height:87px;
$header-compound-menu-area-height:61px;
$header-dual-logo-area-height:240px;
$header-dual-menu-area-height:50px;
$header-classic-menu-area-height: 50px;
$header-full-screen-menu-area-height: 78px;
$divided-menu-area-height: 90px;
$sticky-header-height: 58px;

$first-main-color: #b79c7d;
$default-background-color: #fff;
$default-text-color: #8f8f8f;
$light-text-color: #858585;
$light-skin-color: #fff;
$dark-skin-color: #000;
$header-light-color: #ffffff;
$header-dark-color: #000000;
$heading-color: #333;
$shortcode-background-color: #ebebeb;
$shortcode-color: #444;
$footer-text-color: #d4d4d4;
$shop-light-text:#909090;

$default-font-size: 14px;
$first-font: 'Open Sans', sans-serif;
$second-font: 'Rokkitt', serif;
$third-font: 'Noto Serif', serif;

//responsive breakpoints

$large-laptop: 1440px;
$mac: 1280px;
$laptop-landscape: 1200px;
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$phone-landscape: 600px;
$phone-portrait: 480px;
$smaller-phone-portrait: 320px;

//responsive breakpoints for vertical menu
$vertical-menu-laptop-landscape: 1490px;
$vertical-menu-ipad-landscape: 1314px;

$vertical-menu-width: 270px;