@import 'variables';
@import 'mixins';

@include mac {
	.eltd-blog-holder {
		&.eltd-masonry-full-width{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 23.5%;
			}
		}
	}
}

@include laptop-landscape {
	.eltd-blog-holder{
		&.eltd-masonry-full-width{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 23.5%;
			}
		}
		&.eltd-blog-type-chequered{
			article{
				&.format-quote,
				&.format-link {
					.eltd-post-content {

						.eltd-post-text {
							padding: 10px;
						}
					}
				}
			}

		}
	}
}

@include ipad-landscape {
	.eltd-blog-holder{

	  	article{
			.eltd-post-text{
			  .eltd-post-title{
				font-size: 22px;
			  }
			}
		}
		&.eltd-blog-type-split-column{

			article:not(.format-quote):not(.format-link){

				.eltd-post-content{

					.eltd-post-image,
					.eltd-post-text{
						display: inline-block;
						width: 100%;
					}

					.eltd-post-text-inner{
						padding-left: 0px;
					}
				}
			}
		}

		&.eltd-blog-type-masonry {
			article{
				&:not(.format-quote):not(.format-link){
					.eltd-post-title {
						width: 100%;
					}
				}
			}
		}

		&.eltd-masonry-full-width{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 32%;
			}
		}
		&.eltd-blog-type-masonry-gallery{
			article{
				&.eltd-default-masonry-item,
				&.eltd-large-height-masonry-item{
					width: 50%;
				}
				&.eltd-large-width-masonry-item,
				&.eltd-large-width-height-masonry-item{
					width: 100%;
				}
			}
			.eltd-blog-masonry-gallery-grid-sizer {
				width: 50%;
			}
		}
		&.eltd-blog-type-pinboard {
			article{
				&.eltd-pinboard-portrait-item,
				&.eltd-pinboard-landscape-item{
					width: 50%;

					.eltd-post-title{
						font-size: 24px;
						width: 100%;
						margin: 5px 0 0;
					}
				}
			}
			.eltd-blog-pinboard-grid-sizer {
				width: 50%;
			}
		}
		&.eltd-blog-type-chequered{
			opacity: 0;
			@include eltdTransition(opacity 0.15s ease-out);

			&.eltd-appeared {
				opacity: 1;
			}
			article {
				width: 50%;
				&.format-quote,
				&.format-link {
					.eltd-post-content {
						.eltd-post-text {
							padding: 40px;
						}
					}
				}

			}
			.eltd-blog-chequered-grid-sizer {
				width: 50%;
			}
		}
	}
}

@include ipad-portrait {
	.eltd-blog-holder{
		&.eltd-blog-type-masonry{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 49%;
			}
		}
		&.eltd-masonry-full-width{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 49%;
			}
		}
		&.eltd-blog-single{
			.eltd-related-posts-holder .eltd-related-post {
				width: calc( (100% - 15px) / 2 );
				&:nth-child(2n){
					margin-right: 0;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}
		}
	  &.eltd-blog-type-pinboard{
			article:not(.format-quote):not(.format-link){
			  .eltd-post-text{
				padding: 20px;
				.eltd-post-title{
				  width: 100%;
				}
			  }
			}
	  }
	}

	.eltd-column1,
	.eltd-column2{
		.eltd-blog-holder.eltd-blog-single{
			.eltd-related-posts-holder .eltd-related-post {
				width: calc( (100% - 15px) / 2 );
				&:nth-child(2n){
					margin-right: 0;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}
		}
	}

	
}

@include phone-landscape {
	.eltd-blog-holder{
		&.eltd-blog-type-masonry{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 100%;
			}
		}
		&.eltd-blog-type-pinboard{
			article.eltd-pinboard-portrait-item,
			article.eltd-pinboard-landscape-item,
			.eltd-blog-pinboard-grid-sizer{
				width: 100%;
			}
		}
		&.eltd-masonry-full-width{
			article,
			.eltd-blog-masonry-grid-sizer{
				width: 100%;
			}
		}

		&.eltd-blog-type-masonry-gallery{
			article{
				width: 100% !important;
			}
			.eltd-blog-masonry-gallery-grid-sizer {
				width: 100%;
			}
		}
		&.eltd-blog-type-two-columns,
		&.eltd-blog-type-three-columns{
			article{
				width: 100%;
				margin: 0 0 20px;
			}
		}
		&.blog-standard-type{
			article{
				&.eltd-split-post{

					.eltd-left-section,
					.eltd-right-section,
					.eltd-post-content{
						width: 100% !important;
						display: block !important;
					}
					.eltd-left-section{
						min-height: 200px;
					}
					.eltd-right-section{
						padding-left: 0;
					}
					.eltd-post-text{
						padding: 0;
					}
					.eltd-post-header{
						@include eltdTransform(translateX(0));
					}
				}
			}
		}
		&.eltd-blog-type-pinboard {
			article,
			.eltd-blog-pinboard-grid-sizer{
				width: 100%;
			}
		}

		&.eltd-blog-single{
			.eltd-blog-single-navigation{
				.eltd-blog-single-prev,
				.eltd-blog-single-next{
					display: none;
				}
			}
			article{
				.eltd-blog-tags-info-holder{
					display: block;

					.eltd-single-tags-holder,
					.eltd-post-info{
						display: block;
						text-align: left;
					    .eltd-blog-share{
						  float: left;
						}
					  	.eltd-post-info-comments-holder{
						  float: left;
						}
					}

				}
			}
		}
		article{
			.eltd-blog-gallery-masonry-holder{

				.eltd-blog-gallery-sizer,
				.eltd-blog-gallery-item{
					width: 100% !important;
				}

				.eltd-blog-gallery-gutter{
					width: 0;
				}

			}
			.eltd-post-info{
				&.eltd-bottom-section {

					display: block;

					.eltd-left-section,
					.eltd-right-section {
						display: block;
						text-align: left;
					}
					.eltd-right-section{
						padding-left: 0;
						margin: 10px 0 0;
					}
				}
			}
		}
		&.eltd-blog-type-chequered{
			opacity: 0;
			@include eltdTransition(opacity 0.15s ease-out);

			&.eltd-appeared {
				opacity: 1;
			}
			article {
				width: 100%;
			}
			.eltd-blog-chequered-grid-sizer {
				width: 100%;
			}
		}

		&.eltd-blog-type-standard{
			article{
				&.format-quote,
				&.format-link{
					.eltd-post-title{
						width: 100%;
					}
				}
			}
		}
	}
}

@include phone-portrait {

	.eltd-related-posts-holder .eltd-related-post {
		width: 100% !important;
		margin-right: 0 !important;
	}
	.eltd-related-posts-holder .eltd-related-posts-title h3:before,
	.eltd-related-posts-holder .eltd-related-posts-title h3:after{
		display: none !important;
	}

}