@import 'variables';
@import 'mixins';

%input-style{
	width: 100%;
	margin-bottom: 14px;
	padding: 18px 22px;
	border: 2px solid $shortcode-background-color;
	outline: 0;
	font-size: 11px;
	background-color: transparent;
	color: #909090;
	text-transform: uppercase;
	font-weight: 600;
	@include eltdBoxSizing(border-box);
	font-family: $first-font;
	@include eltdTransition(border 0.3s ease);

	&:focus{
		border: 2px solid $first-main-color;
	}
}

%woocommerce-button {

	border: 1px solid #fff;
	color: #333;
	font-family: $first-font;
  	padding: 19px 55px;
	font-weight: 600;
	font-size: 11px;
	line-height: 14px;
 	border-radius: 50px;
	text-transform: uppercase;
 	background-color: $shortcode-background-color;
	letter-spacing: 2px;
	cursor: pointer;
	@include eltdBorderRadius(0);
	@include eltdBoxSizing(border-box);
	@include eltdTransition(all 0.3s ease);
	display: inline-block;
	text-align: center;

	&:hover {
		background-color: $shortcode-background-color;
		color: $first-main-color;
	}

}

@import 'modules/woocommerce/woocommerce';
@import 'modules/woocommerce/product-list';
@import 'modules/woocommerce/product-list-type2';
@import 'modules/woocommerce/single-product';
@import 'modules/woocommerce/cart';
@import 'modules/woocommerce/checkout';
@import 'modules/woocommerce/cart-dropdown';
@import 'modules/woocommerce/woocommerce-select2';
@import 'modules/woocommerce/widgets';



