/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */

@import 'variables';
@import 'mixins';

@import 'modules/woocommerce/product-list-responsive';
@import 'modules/woocommerce/single-product-responsive';
@import 'modules/woocommerce/cart-responsive';
@import 'modules/woocommerce/checkout-responsive';

/* Woocommerce dropdown cart - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {
    .eltd-shopping-cart-outer:hover{
        .eltd-shopping-cart-dropdown{
            display: none;
            visibility: hidden;
        }
    }
    .eltd-top-bar .eltd-shopping-cart-outer{
        float: none;
    }    
}

@media only screen and (max-width: $smaller-phone-portrait) {
    .eltd-shopping-cart-outer{
        display: none;
    }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */