.widget.eltd-sticky-right {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding-left: 8px;
	&.widget_eltd_search_opener{
		padding-left: 20px;
	}
	position: relative;
	.eltd-search-opener {
		color: #333;
	}
	.eltd-shopping-cart-widget .eltd-shopping-cart a {
		color: #333;
	}
}
