.widget.eltd-right-from-main-menu-widget {
	font-family: $second-font;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	position: relative;
}


.eltd-light-header {
	.widget.eltd-right-from-main-menu-widget {
		&:nth-child(2) { //First child is nav menu
			&:before {
				background-color: #fff;
			}
		}
	}
}

.eltd-dark-header {
	.widget.eltd-right-from-main-menu-widget {
		&:nth-child(2) { //First child is nav menu
			&:before {
				background-color: #000;
			}
		}
	}
}