@import "blocks/mobile-navigation";

/* ==========================================================================
#Mobile header styles
========================================================================== */
.eltd-mobile-header {
    display: none;
    position: relative;
    z-index: 101; //one more thatn the content

   /* #General mobile header styles
   ========================================================================== */
    .eltd-mobile-header-inner {
        height: 100px;
        background-color: #fff;
        position: relative;

        .eltd-mobile-header-holder {
            position: relative;
            z-index: 2;
            height: 100%;
        }
    }

    .eltd-grid {
        height: 100%;
    }

    .eltd-vertical-align-containers {
        padding: 0;

        .eltd-position-right {

            .eltd-position-right-inner {
                height:100%;
            }

        }

    }

    /* #End of general mobile header styles
   ========================================================================== */




    /* #Mobile logo styles
    ========================================================================== */
    .eltd-mobile-logo-wrapper a {
        display: block;
        max-height: 80px;
    }

    .eltd-mobile-logo-wrapper img {
        height: 100%;
        width: auto;
    }
    /* #End of mobile logo styles
    ========================================================================== */



    /* #Mobile menu opener styles
    ========================================================================== */
    .eltd-mobile-menu-opener {
        float: left;
        position: relative;
        z-index: 2;
        height: 100%;

        a {
            display: table;
            height: 100%;
            padding-right: 10px;
            color: #000;

            &:hover {
                color: $first-main-color;
            }
        }

        .eltd-mobile-opener-icon-holder {
            display: table-cell;
            vertical-align: middle;
        }
    }
    /* #End of mobile menu opener styles
    ========================================================================== */
}

/* ==========================================================================
#End of mobile header styles
========================================================================== */



/* ==========================================================================
#Sticky mobile header styles
========================================================================== */
.eltd-sticky-up-mobile-header {
    .eltd-animate-mobile-header {
        .eltd-mobile-header-inner {
            width: 100%;

            @include eltdTransform(translateY(-100%));
            top: 0;
            left: 0;
            position: fixed;
        }
    }

    .mobile-header-appear {
        .eltd-mobile-header-inner {
            //Added left and right transition values because of sidearea transitions on open/close
            -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            -moz-transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            -o-transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            @include eltdTransform(translateY(0));
        }
    }
}
/* ==========================================================================
#End of sticky mobile header styles
========================================================================== */