.eltd-header-full-screen {

  .eltd-page-header {

    .eltd-menu-area{
      height: $header-full-screen-menu-area-height;

      .eltd-vertical-align-containers{

        .eltd-position-right {
            .eltd-position-right-inner{
                .eltd-main-menu{
                  li a{
                    color:#a3a3a3;

                    &:hover{
                      color:#333333;
                    }
                  }
                }.eltd-main-menu{
                  li a{
                    color:#a3a3a3;

                    &:hover{
                      color:#333333;
                    }
                  }
                }
            }

        }
      }
    }

  }

  &.eltd-light-header{
    .eltd-page-header {
        .eltd-menu-area{
          .eltd-vertical-align-containers{
            .eltd-position-right .eltd-position-right-inner{
              .eltd-main-menu li a {
                color:$light-skin-color;

                &:hover{
                 color: #d3d3d3;;
                }
              }
            }
          }

        }
     }

  }
}