.extended-custom-icon{
	background-image: url('img/vc-extend.png');
    background-size: auto !important; /* to override Visual Composer css style */
}
.extended-custom-icon.icon-wpb-portfolio {
	background-position:0px 0px;
}
.extended-custom-icon.icon-wpb-portfolio-slider {
	background-position:-32px 0px;
}
.extended-custom-icon.icon-wpb-carousel-slider {
	background-position:-64px 0px;
}
.extended-custom-icon.icon-wpb-testimonials {
	background-position:-96px 0px;
}
.extended-custom-icon.icon-wpb-promotion-list {
	background-position:-128px 0px;
}
.extended-custom-icon.icon-wpb-twitter-feed {
	background-position:-160px 0px;
}
.extended-custom-icon.icon-wpb-accordion {
	background-position:-192px 0px;
}
.extended-custom-icon.icon-wpb-accordion-section {
	background-position:-224px 0px;
}
.extended-custom-icon.icon-wpb-animation-holder {
	background-position:-256px 0px;
}
.extended-custom-icon.icon-wpb-blockquote {
	background-position:-288px 0px;
}
.extended-custom-icon.icon-wpb-blog-list {
	background-position:-320px 0px;
}
.extended-custom-icon.icon-wpb-button {
	background-position:-352px 0px;
}
.extended-custom-icon.icon-wpb-call-to-action {
	background-position:-384px 0px;
}
.extended-custom-icon.icon-wpb-counter {
	background-position:-416px 0px;
}
.extended-custom-icon.icon-wpb-countdown {
	background-position:-448px 0px;
}
.extended-custom-icon.icon-wpb-custom-font {
	background-position:-480px 0px;
}
.extended-custom-icon.icon-wpb-elements-holder {
	background-position:-512px 0px;
}
.extended-custom-icon.icon-wpb-elements-holder-item {
	background-position:-544px 0px;
}
.extended-custom-icon.icon-wpb-interactive-images {
	background-position:-576px 0px;
}
.extended-custom-icon.icon-wpb-interactive-image {
	background-position:-608px 0px;
}
.extended-custom-icon.icon-wpb-google-map {
	background-position:-640px 0px;
}
.extended-custom-icon.icon-wpb-icons {
	background-position:-672px 0px;
}
.extended-custom-icon.icon-wpb-icon-list-item {
	background-position:-704px 0px;
}
.extended-custom-icon.icon-wpb-icon-with-text {
	background-position:-736px 0px;
}
.extended-custom-icon.icon-wpb-image-gallery {
	background-position:-768px 0px;
}
.extended-custom-icon.icon-wpb-interactive-elements-holder {
	background-position:-800px 0px;
}
.extended-custom-icon.icon-wpb-interactive-elements-holder-left-item {
	background-position:-832px 0px;
}
.extended-custom-icon.icon-wpb-interactive-elements-holder-right-item {
	background-position:-864px 0px;
}
.extended-custom-icon.icon-wpb-message {
	background-position:-896px 0px;
}
.extended-custom-icon.icon-wpb-ordered-list {
	background-position:-928px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart {
	background-position:-960px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart-pie {
	background-position:-992px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart-doughnut {
	background-position:-1024px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart-with-icon {
	background-position:-1056px 0px;
}
.extended-custom-icon.icon-wpb-pricing-tables {
	background-position:-1088px 0px;
}
.extended-custom-icon.icon-wpb-pricing-table {
	background-position:-1120px 0px;
}
.extended-custom-icon.icon-wpb-progress-bar {
	background-position:-1152px 0px;
}
.extended-custom-icon.icon-wpb-separator {
	background-position:-1184px 0px;
}
.extended-custom-icon.icon-wpb-social-share {
	background-position:-1216px 0px;
}
.extended-custom-icon.icon-wpb-tabs {
	background-position:-1248px 0px;
}
.extended-custom-icon.icon-wpb-tab {
	background-position:-1280px 0px;
}
.extended-custom-icon.icon-wpb-team {
	background-position:-1312px 0px;
}
.extended-custom-icon.icon-wpb-unordered-list {
	background-position:-1344px 0px;
}
.extended-custom-icon.icon-wpb-video-button {
	background-position:-1376px 0px;
}
.extended-custom-icon.icon-wpb-parallax-images {
	background-position:-1408px 0px;
}
.extended-custom-icon.icon-wpb-process-holder {
	background-position:-1440px 0px;
}
.extended-custom-icon.icon-wpb-process-item {
	background-position:-1472px 0px;
}
.extended-custom-icon.icon-wpb-blog-list-carousel {
	background-position:-1504px 0px;
}
.extended-custom-icon.icon-wpb-blog-list-slider {
	background-position:-1536px 0px;
}
.extended-custom-icon.icon-wpb-info-box {
	background-position:-1568px 0px;
}
.extended-custom-icon.icon-wpb-section-title {
	background-position:-1600px 0px;
}
.extended-custom-icon.icon-wpb-restaurant-menu {
	background-position:-1632px 0px;
}
.extended-custom-icon.icon-wpb-restaurant-item {
	background-position:-1664px 0px;
}
.extended-custom-icon.icon-wpb-product {
	background-position:-1696px 0px;
}
.extended-custom-icon.icon-wpb-product-list {
	background-position:-1728px 0px;
}
.extended-custom-icon.icon-wpb-product-slider {
	background-position:-1760px 0px;
}
.extended-custom-icon.icon-wpb-embedded-link-holder {
	background-position:-1792px 0px;
}
.extended-custom-icon.icon-wpb-parallax-section {
	background-position:-1824px 0px;
}
.extended-custom-icon.icon-wpb-parallax-section-item {
	background-position:-1856px 0px;
}
.extended-custom-icon.icon-wpb-workflow {
	background-position:-1888px 0px;
}
.extended-custom-icon.icon-wpb-workflow-item {
	background-position:-1920px 0px;
}
.extended-custom-icon.icon-wpb-product-carousel {
	background-position:-1952px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider {
	background-position:-1984px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-left-panel {
	background-position:-2016px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-right-panel {
	background-position:-2048px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-content-item {
	background-position:-2080px 0px;
}
.extended-custom-icon.icon-wpb-cards-gallery {
	background-position:-2112px 0px;
}

.wpb_no_vertical_split_slider > .wpb_element_wrapper > .vc_container_for_children{
	overflow: hidden;
}

.wpb_no_vertical_left_sliding_panel{
	width: 50%;
	float: left;
	clear: left;
}

.wpb_no_vertical_right_sliding_panel{
	width: 50%;
	float: right;
	clear: right;
}

.wpb_no_vertical_left_sliding_panel > .controls > .column_edit,
.wpb_no_vertical_right_sliding_panel > .controls > .column_edit{
	display: none;
}

.wpb_no_vertical_left_sliding_panel{
	width: 50%;
	float: left;
	clear: left;
}

.wpb_no_vertical_right_sliding_panel{
	width: 50%;
	float: right;
	clear: right;
}

.wpb_no_vertical_left_sliding_panel > .controls > .column_edit,
.wpb_no_vertical_right_sliding_panel > .controls > .column_edit{
	display: none;
}

.wpb_eltd_vertical_split_slider > .wpb_element_wrapper > .vc_container_for_children{
	overflow: hidden;
}

.wpb_eltd_vertical_split_slider_left_panel{
	width: 50%;
	float: left;
	clear: left;
}

.wpb_eltd_vertical_split_slider_right_panel{
	width: 50%;
	float: right;
	clear: right;
}

.wpb_eltd_vertical_split_slider_left_panel > .controls > .column_edit,
.wpb_eltd_vertical_split_slider_right_panel > .controls > .column_edit{
	display: none;
}