.eltd-header-standard {

    .eltd-menu-area {

        .eltd-vertical-align-containers {
            .eltd-position-right-inner{
                height: 100%;
                .eltd-main-menu{
                    margin-right: 0;
                }
            }
            .eltd-position-left-inner{
                height: 100%;
                .eltd-logo-wrapper{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
      .eltd-main-menu > ul > li > a{
        letter-spacing: 1px;
        margin-right: 5px;
      }
    }

    .eltd-shopping-cart-widget{

      .eltd-shopping-cart{

        a {
          color:#7c7c7c;
          &:hover{
            color: $first-main-color;
          }
        }
      }
    }


  &.eltd-light-header{
    .eltd-shopping-cart-widget{
      .eltd-shopping-cart{
        a:hover i{
          color:#fff;
        }
      }
    }
  }
}

