.btn-default:hover
.btn-default:active,
.btn-default.active,
.btn-default:hover,
.btn-default:active,
.btn-default.active {
	background-color:#dae0e8;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
	background-color:$eltd-first-color
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
	border-color: $eltd-first-color;
	color: $eltd-first-color;
}

.btn {
	border:1px solid transparent;
	border-radius:4px;
	padding:8px 20px;
	font-size:13px;
}
.btn-sm:focus {
	border:none;
	outline:none;
	background-color:#fff;
	color:$eltd-first-color;
}

.btn-primary {
	background-color: $eltd-first-color;
}

.btn-primary:hover {
	border:none;
	background-color: transparent;
	color:$eltd-first-color;
	border:1px solid $eltd-first-color
}

.btn-default {
	border-radius:4px;
	border:1px solid transparent;
	background-color:#ABB7C7;
	color:#fff;
	margin-left:3px;
}

.btn-info {
	background-color:$eltd-first-color;
	color:#fff;
}