.nav > li > a {
	padding: 0;
}

.nav-tabs > li > a {
	border:none;
}

.nav-tabs > li {
	margin-bottom: 0;
}


.eltd-tabs-wrapper .nav-tabs {
	margin-top: 0;
}

.eltd-tabs-wrapper .nav-tabs > li.active > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-left-color: transparent;
}

.eltd-tabs-wrapper .nav-tabs > li.active > a:hover,
.eltd-tabs-wrapper .nav-tabs > li.active > a:focus {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.eltd-tabs-wrapper .nav-tabs > li a > i {
	width: 19px;
}

.eltd-tabs-wrapper .eltd-tabs-content {
	background-color: #fcfcfc;
	padding: 20px 20px 20px 20px;

}

.eltd-tabs-wrapper.vertical .nav-tabs {
	border-bottom: 0;
}

.eltd-tabs-wrapper.vertical .nav-tabs > li {
	float: none;
	border-bottom: 1px solid #3a5264;
	width: 100%;
}

.eltd-tabs-wrapper.vertical .nav-tabs > li.active a,
.eltd-tabs-wrapper.vertical .nav-tabs > li.active a:focus,
.eltd-tabs-wrapper.vertical .nav-tabs > li.active a:hover {
	border-bottom: 0px solid #566269;
	margin-bottom: 0;
	background-color: $eltd-first-color;
	border-left: none;
}

.eltd-tabs-wrapper.vertical .nav-tabs > li a:focus,
.eltd-tabs-wrapper.vertical .nav-tabs > li a:hover {
	background-color: #2d3d49;
	color:#fff;
	border-left: none;
}

.eltd-tabs-navigation-wrapper .nav-tabs li > a:hover > i {
	color:$eltd-first-color;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transition:transform 0.3s;
}

.eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper .nav-tabs li.active > a:hover > i {
	color:#fff;
}

.eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper,
.eltd-tabs-wrapper.vertical .eltd-tabs-content {
	min-height: 300px;
}

.eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper {
	width: 226px;/*was 199*/
}

.eltd-tabs-wrapper.vertical .eltd-tabs-content {
	margin-left: 226px;
	background-color:#EBEFF2;
	color:#34383C;
	min-height: 780px;
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li:first-child > a {
	border-top: none;
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li > a {
	font-size:13px;
	color:#bdc6cb;
	font-weight: 600;
	padding-left:16px;
	border-left: none;
	margin-right: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	border-radius:0
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li > a:hover {
	color:#fff;
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a {
	color:#fff;
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li > a span {
	display: inline-block;
	padding: 10px;
}

.eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a  i {
	color:#fff;
}

.eltd-tabs-wrapper.vertical.left .eltd-tabs-navigation-wrapper {
	float: left;
	background-color:#374a59;
}

.eltd-tabs-wrapper.vertical.right .eltd-tabs-navigation-wrapper,
.eltd-tabs-wrapper.vertical.right .eltd-tabs-wrapper.vertical.right .eltd-tabs-content {
	float: right;
}