/* Woocommerce table - begin
========================================================================== */

.eltd-woocommerce-page {

	table td {
		@include phone-landscape {
			padding: 5px 5px;
		}

	}

	td.product-thumbnail img {
		@include phone-portrait {
			display: none;
		}
	}

	td.actions {

		.coupon {
			@include ipad-landscape {
				input[type="text"] {
					width: 170px;
				}

				input[type="submit"] {
					padding: 16px 24px;
				}
			}
		}

		.eltd-cart-proceed-update {
			@include ipad-landscape {
				.eltd-btn {
					padding: 16px 20px;
				}
			}

		}

		.coupon,
		.eltd-cart-proceed-update {
			@include ipad-portrait {
				width: 100%;
				margin-bottom: 20px;

				.eltd-btn,
				input[type="text"],
				input[type="submit"] {
					width: calc( 50% - 4px );
					margin: 0 2px;
					float: left;
				}

				.eltd-btn {
					text-align: center;
				}

			}
		}

		.coupon,
		.eltd-cart-proceed-update {
			@include phone-portrait {
				.eltd-btn,
				input[type="text"],
				input[type="submit"] {
					width: 100%;
					margin: 0 0 10px;
				}
			}
		}
	}

	tr.cart_item {
		.eltd-quantity-buttons {

			@include ipad-portrait {

				.eltd-quantity-input {
					width: 30px;
				}

				.eltd-quantity-plus,
				.eltd-quantity-minus {
					width: 20px;
				}

			}

			@include phone-landscape {

				.eltd-quantity-input {
					width: 25px;
				}

				.eltd-quantity-plus,
				.eltd-quantity-minus {
					width: 15px;
				}

			}

		}
	}

	.coupon {

		input[type="text"] {
			@include ipad-portrait {
				width: 150px;
			}
		}

	}

}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.eltd-woocommerce-page {

	.eltd-shipping-calculator {

		@include phone-landscape {
			width: 100%;
			margin-bottom: 25px;
		}

	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.eltd-woocommerce-page {

	.eltd-cart-totals {
		@include phone-landscape {
			width: 100%;
		}
	}

}

/* Woocommerce totals - end
========================================================================== */