/* Woocommerce table - begin
========================================================================== */

.eltd-woocommerce-page {

	table.cart tbody tr:last-child {
		border: none;
	}

	table td {
		vertical-align: middle;
	}

	td.product-thumbnail img {
		width: 80px;
	}

	td.product-remove {
		border-right: 1px solid #e0dede;
	}

	td.actions {
		padding: 25px 0;

		.coupon,
		.eltd-cart-proceed-update {
			float: left;
			width: 50%;
			display: inline-block;
			text-align: left;
		}

		.eltd-cart-proceed-update {
			text-align: right;
		  .checkout-button{
			display: none;
		  }
		}
	}

  .shop_table{
	thead{
	  &>tr{
		border:2px solid #ebebeb;
		&>th{
		  color:#333;
		  font-weight: 600;
		  text-transform: uppercase;
		  font-family: $second-font;
		  padding: 13px 0;
			letter-spacing: 1px;
		}
	  }
	}
	tbody{
	  tr{
		border: 2px solid #ebebeb;
		td{
		  padding: 20px 10px;
		}

		  &:last-child{
			  td{
				  padding: 20px 0;
			  }
		  }
	  }
	}

	  tfoot{
		  .cart-subtotal{
			  th{
				  font-weight: 600;
			  }
		  }

		  .order-total{
			  th{
				  font-weight: 600;
			  }

		  }
	  }
  }

  .coupon {
		@extend %clearfix;

		label {
			display: none;
		}

		input[type="text"] {
			width: 200px;
			padding: 15px 22px;
			float: left;
			margin-right: 5px;
			line-height: 14px;
		}

		input[type="submit"] {
			float: left;
		}

	}

}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.eltd-woocommerce-page {

	.eltd-shipping-calculator {
		width: 50%;
		display: inline-block;
		float: left;

		p {
			margin: 0;
		}

		#calc_shipping_country_field {
			margin-bottom: 14px;
		}

		.shipping-calculator-form {
			margin-top: 20px;
		}

		.form-row {
			float: left;
		}

		.form-row-last {
			margin-right: 0;
		}

		.form-row-wide {
			width: 100%;
		}


	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.eltd-woocommerce-page {

	.eltd-cart-totals {
		width: 100%;
		display: inline-block;

		h3 {
		    margin-bottom: 30px;
		    text-align: center;
			font-size: 25px;
			line-height: 1.44em;
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: $second-font;
		}

		table th {
			vertical-align: middle;
		   border-right:none;
		}

		tr{
		  th{
			font-family: $second-font;
			color: #333333;
			font-weight: 600;
			text-transform: uppercase;
			  letter-spacing:1px;
		  }
		  th:first-child{
			width: 20%;
			text-align: left;
			padding-left: 50px;
		  }
		  &>td{
			text-align: left;
		  }
		}

		.wc-proceed-to-checkout {
			text-align: right;
			margin-top: 15px;
			a {
				text-align: center;
			  	padding: 18px 30px;
			  	float: left;
			}

		}
	}
	.woocommerce{
	  .cart-empty{
		text-transform: uppercase;
		color: #333;
		font-size: 25px;
		font-family: $second-font;
		margin-bottom: 35px;
		  text-align: center;
	  }

	  .return-to-shop{
		  text-align: center;
		  a{

			  outline: none;
			  font-style: normal;
			  font-weight: 600;
			  font-family: $first-font;
			  padding: 18px 40px 18px 43px;
			  font-size: 11px;
			  line-height: 14px;
			  text-transform: uppercase;
			  letter-spacing: 2px;
			  background-color: $first-main-color;
			  border: none;
			  border-bottom: 2px solid #a27d53;
			  color: #fff;
			  position: relative;
			  z-index: 1;
			  display: inline-block;


			  &:after{
				  content: "";
				  position: absolute;
				  bottom: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				  transform: scaleY(0);
				  transform-origin: bottom center;
				  background-color: #a27d53;
				  z-index: -1;
				  transition: transform 0.3s;
			  }
			  &:hover{
				  &:after{
					  transform: scaleY(1);
				  }
			  }

		  }
	  }
	}

}

/* Woocommerce totals - end
========================================================================== */