/* Woocommerce cart dropdown - begin
========================================================================== */

.widget_eltd_woocommerce_dropdown_cart.eltd-right-from-main-menu-widget,
.widget_eltd_woocommerce_dropdown_cart.eltd-right-from-mobile-logo,
.widget_eltd_woocommerce_dropdown_cart.eltd-sticky-right {
	height: 100%;

	.eltd-shopping-cart-widget {
		height: 100%;
		display: table;
		table-layout: fixed;
	}

	.eltd-shopping-cart {
		display: table-cell;
		vertical-align: middle;
	}
}
.eltd-shopping-cart-widget {
	position: relative;

	.eltd-shopping-cart {

		a {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			color: #7c7c7c;

			i {
				font-size: 16px;
                vertical-align: middle;
                top: -2px;
                position: relative;
			}

			.eltd-shopping-cart-number {
				color: #fff;
				font-size: 10px;
			    font-weight: 400;
				position: absolute;
				background-color: $first-main-color;
				@include eltdBorderRadius(50%);
				width: 13px;
				height: 13px;
				text-align: center;
				line-height: 13px;
				right: -5px;
				z-index: 1;
				font-family: $third-font;
			}


		}

	}

	&:hover {
		.eltd-shopping-cart-dropdown {
			visibility: visible;
			opacity: 1;
			top: 100%; 
		}
	}

	.eltd-shopping-cart-dropdown {
		position: absolute;
		right: 0;
		top: 120%;
		width: 300px;
		background-color: $light-skin-color;
		@include eltdBoxSizing(border-box);
		@include eltdBoxShadow(2px 4px 8px rgba(0,0,0,.09));
		visibility: hidden;
		opacity: 0;
		@include eltdTransition(all .2s cubic-bezier(0.25, 0.1, 0.11, .99) .1s);

		ul {
			margin: 0;
			padding: 9px 16px 14px;

			li {
				border-bottom: none;
				padding: 15px 0;
			}

		}

		.eltd-shopping-cart-item {
			@include eltdTableLayout;

			.eltd-shopping-cart-item-image,
			.eltd-shopping-cart-item-details {
				@include eltdTableCellLayout;
				vertical-align: top;
			}

			.eltd-shopping-cart-item-image {
				width: 73px;

				img {
					display: block;
				}


			}

			.eltd-shopping-cart-item-details {
				text-align: left;
				padding-left: 10px;

				h6 {
					margin: 0;
					margin-bottom: 10px;

					a {
						color: #333;
						font-family: $third-font;
						letter-spacing: 1px;
						font-size: 13px;
						text-transform: uppercase;
						font-weight: 400;

						&:hover{
							color:$first-main-color;
						}
					}
				}

				.eltd-shopping-cart-price {
					font-size: 13px;
					color: #a3a3a3;
					font-weight: 400;
					font-family: $third-font;
					letter-spacing: 1px;
					text-transform: uppercase;
					line-height: normal;
					margin-bottom: 12px;
				}

				.eltd-shopping-cart-quantity {
					font-size: 13px;
					line-height: 13px;
					text-transform: uppercase;
					font-weight: 400;
					color: #a3a3a3;
					font-family: $third-font;
					letter-spacing: 1px;
				}

			}
		}

		.eltd-empty-cart {
			padding: 9px 7px;
			text-align: left;
			border-bottom: none;
			color: #979797;
			font-size: 14px;
			font-family: $third-font;
		}

		.eltd-shopping-cart-footer {
			border-top: 2px solid #f0f0f0;
			padding: 10px 16px 24px;

			.eltd-shopping-cart-total {
				text-align: left;
				font-family: $third-font;
				color: #a3a3a3;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 1px;
				line-height: normal;

				.amount {
					float: right;
				}

			}

			.eltd-shopping-cart-buttons {
				padding-top: 7px;
			}

		}

		.eltd-shopping-cart-remove {
			position: absolute;
			top: 8px;
			right: 0;
			font-size: 22px;
			color: #a3a3a3;
			line-height: 1em;
			z-index: 2;
			.eltd-light-header &,
			.eltd-dark-header &{
				color: #a3a3a3;
			}

			&:hover{
				color:$first-main-color;
			}

		}

		.eltd-shopping-cart-buttons {

			a {
				float: left;
				width: 49%;
				text-align: center;
				padding: 11px 0;
				font-size: 10px;

				&:first-child {
					margin-right: 2%;
				}

				.eltd-btn-text{
					color:#fff;
				}

			}

		}

	}

}



//Dark header cart dropdown
.eltd-dark-header {

	.eltd-shopping-cart-widget {

		.eltd-shopping-cart {

			.eltd-shopping-cart-number {
				color: #fff !important;
			}

		}

		.eltd-shopping-cart-dropdown{

			.eltd-shopping-cart-price span,
			.eltd-shopping-cart-total span{
				color:#a3a3a3;
			}

			.eltd-shopping-cart-remove{
				&:hover{
					color:$first-main-color;
				}
			}
		}


	}

	.eltd-menu-area{
		.widget.widget_eltd_woocommerce_dropdown_cart{
			.eltd-shopping-cart-widget {
				.eltd-shopping-cart a:hover{
					i{
						color:$first-main-color!important;
					}
				}
			}

		}
	}

}

//Light header cart dropdown
.eltd-light-header {


	.eltd-menu-area{

		.widget.widget_eltd_woocommerce_dropdown_cart{
			.eltd-shopping-cart-widget {

				.eltd-shopping-cart {

					.eltd-shopping-cart-number {
						color: #fff !important;
					}

				}

				.eltd-shopping-cart-dropdown{
					.eltd-shopping-cart-price span,
					.eltd-shopping-cart-total span{
						color:#a3a3a3;
					}
					.eltd-shopping-cart-remove{
						&:hover{
							color:$first-main-color;
						}
					}

				}

			}
		}

	}


}

/* Woocommerce cart dropdown - end
========================================================================== */