/* Woocommerce checkout - begin
========================================================================== */

.eltd-woocommerce-page {

	.checkout_coupon {

		.button {
			@extend %woocommerce-button;
		}

	}

	.woocommerce-checkout{
	  .woocommerce-checkout-review-order-table{
		thead tr {
		  th {
			text-align: left;
			&:first-child{
			  padding-left: 50px;
			}
		  }
		}

		tbody tr{
		  td{
			text-align: left;
			&:first-child{
			  padding-left: 50px;
			}
			&:last-child{
			  padding-left: 0;
			}
		  }
		}

		tfoot{
		  border:2px solid $shortcode-background-color;
		  .cart-subtotal{
			border-bottom:  2px solid $shortcode-background-color;
		  }
		  tr{
			th {
			  text-align: left;
			  padding: 20px 10px 20px 50px;
			  font-family: $second-font;
			  font-weight: 600;
			  text-transform: uppercase;
				  color:#333;
				letter-spacing: 1px;
				font-size: 14px;
			}
			td{
			  text-align: left;
			  padding-left: 0;
			  .amount{
				color:#333;
			  }
			}
		  }
		}
	  }
	}

  .woocommerce-checkout-payment{
	ul {
	  li{
		border:2px solid $shortcode-background-color;
		padding: 20px;
		padding-left: 50px;
		border-bottom: 1px solid $shortcode-background-color;
		border-top: 1px solid $shortcode-background-color;
		&:first-child{
		  border-top: 2px solid $shortcode-background-color;
		}
		&:last-child{
		  border-bottom: 2px solid $shortcode-background-color;
		}
	  }
	}
  }

	.woocommerce-checkout .col2-set:before,
	.woocommerce-checkout .col2-set:after {
		content: '';
		display: table;
	}

	.woocommerce-info{
		background-color: #fff;
	  	border: 2px solid $shortcode-background-color;

	  &>a {
		float:right;
	  }
	}

	.woocommerce-checkout .col2-set:after {
		clear: both;
	}

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		width: 49%;
		margin-right: 1%;
		display: inline-block;
		float: left;

		h3 {
			margin-bottom: 20px;
			font-size: 25px;
			line-height: 1.44em;
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: $second-font;
		}

		.form-row {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 20px;
			float: left;

			.select2-choice {
				width: 100%;
				height: 55px;
				line-height: 53px;

				.select2-arrow b:after {
					line-height: 53px;
				}

			}

		}

		.form-row-last {
			margin-right: 0;
		}

		.form-row-wide,
		.form-row.notes {
			width: 100%;
		}

		.form-row label {
			display: none;
		}
		.form-row.create-account label.checkbox{
			display: inline-block;
		}

	}

	.woocommerce-checkout .col-2 {
		margin-left: 1%;
		margin-right: 0;
	}

	.wc_payment_methods {
		list-style-type: none;

		img {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
		}

	}

	#order_review_heading{
		font-size: 25px;
		line-height: 1.44em;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $second-font;
	}

	input[type='text'],
	input[type='email'],
	textarea,
	input[type=tel]{
		font-family: $third-font;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 1px;
	}

}

/* Woocommerce checkout - end
========================================================================== */