/* Woocommerce checkout - begin
========================================================================== */

.eltd-woocommerce-page {

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		@include ipad-portrait {
			width: 100%;
		}
	}

}

/* Woocommerce checkout - end
========================================================================== */