/* Woocommerce product list on hover - begin
========================================================================== */
.woocommerce,
.eltd-woocommerce-page{

  .products{

    &.eltd-type-2{
      padding: 0;
      margin: 0;
      .product{
        margin-bottom: 30px;
        .eltd-product-inner{

          &:hover{
            .eltd-product-image-overlay{
              opacity: 1;
            }
          }
          .eltd-product-title-holder{
            display: block;
          }
          .eltd-product-content-holder{
            text-align: center;
            margin-top:30px;

            .eltd-single-product-subtitle{
              text-align: center;
              margin-bottom: 8px;
            }
            .eltd-product-price{
              font-size: 23px;
              color:$heading-color;
              font-family: $second-font;

              del{
                text-decoration: none;
                color: $first-main-color;

                span{
                  position: relative;

                  &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $first-main-color;
                    left: 0;
                    top:50%;
                    @include eltdTransform(translatey(-50%));
                  }

                }
              }
            }
            .eltd-product-list-product-title{
              font-size: 16px;
              display: block;
              text-align: center;
              font-weight: 600;
              margin: 12px 0 2px;
              font-family: $second-font;
            }

            .star-rating{
             display: inline-block;
            }
          }
        }


        ins{
          text-decoration: none;
        }


      }
    }

  }
}


































/* Woocommerce product list on hover - end
========================================================================== */