/* Woocommerce product list on hover - begin
========================================================================== */
.woocommerce,
.eltd-woocommerce-page{

  .products{

    &.eltd-type-on-hover{
      padding: 0;
      margin: 0;
      .product{
        padding: 0;
        margin-bottom: 0;
        .eltd-product-inner{

          &:hover{
            .eltd-product-content-holder
            {
              opacity: 1;
              z-index: 1;
              .eltd-single-product-subtitle,
              .star-rating{
                display: none;
              }
              .eltd-product-list-product-title a,
              .price {
                color: $light-skin-color;
              }

            }
            .eltd-product-image-overlay{
              opacity: 1;
            }
          }

          .eltd-product-content-holder{
            opacity: 0;
            position: absolute;
            left: 24px;
            right:24px;
            bottom: 22px;
          }
        }
    
        
      }
    }

  }
}


































/* Woocommerce product list on hover - end
========================================================================== */