/* Woocommerce product list - begin
========================================================================== */

.eltd-woocommerce-page {

	@include phone-landscape {

		.woocommerce-result-count,
		.woocommerce-ordering {
			width: 100%;
			margin-bottom: 2%;

		}
		.woocommerce-result-count {
			text-align: center;
		}
		.woocommerce-ordering .orderby,
		.woocommerce-ordering .select2-choice {
			display: block;
			margin: 0 auto;
		}

	}

}
.woocommerce.columns-6,
.eltd-woocommerce-page.eltd-woocommerce-columns-6,
.woocommerce.columns-5,
.eltd-woocommerce-page.eltd-woocommerce-columns-5,
.woocommerce.columns-4,
.eltd-woocommerce-page.eltd-woocommerce-columns-4 {

	.products .product {

		@include ipad-landscape {
			width: 33.33333%;

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(3n+1) {
				clear: both;
			}

		}

		@include ipad-portrait {
			width: 50%;

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}

		@include phone-portrait {
			width: 100%;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product {

		@include ipad-landscape {
			width: 50%;

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}

		@include phone-landscape {
			width: 100%;
		}

	}

}

.woocommerce.columns-3,
.eltd-woocommerce-page.eltd-woocommerce-columns-3 {

	.products .product {

		@include ipad-portrait {
			width: 50%;

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}

		@include phone-portrait {
			width: 100%;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{

		@include phone-landscape {
			width: 100%;
		}

	}

}

.woocommerce.columns-2,
.eltd-woocommerce-page.eltd-woocommerce-columns-2{

	.products .product {

		@include phone-portrait {
			width: 100%;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{

		@include phone-landscape {
			width: 100%;
		}

	}
}

/* Woocommerce product list - end
========================================================================== */