/* Woocommerce product list - begin
========================================================================== */

.woocommerce,
.eltd-woocommerce-page {

	.woocommerce-result-count,
	.woocommerce-ordering {
		width: 50%;
		display: inline-block;
		float: left;
		margin: 0;
		margin-bottom: 29px;
	}

	.woocommerce-result-count {
		font-size: 11px;
		line-height: 51px; //Same as ordering dropdown
		font-weight: 600;
		color: #909090;
	  	font-family: $first-font;
		text-transform: uppercase;
		text-align: right;
	}

	.full_width {

		.woocommerce-result-count {
			position:relative;
			left:45px;
		}

		.woocommerce-ordering {
			position:relative;
			right:45px;
		}
	}

	.products {
		list-style: none;
		padding: 0;
		margin: 0 -10px;
		@extend %clearfix;

		&.related {
			clear: both;
			margin: 0;
			padding-top: 48px;
		  	.products{
			  margin-top:43px;

				.eltd-product-list-product-title{
					a{
						text-transform: uppercase;
						font-weight: 600;
					}
				}
				.price{
					font-size: 20px;
				}

			}
		}

		&.eltd-type-1{
		  .eltd-product-image-holder {
			&:hover{
			  .eltd-product-image-overlay {
				opacity: 1;
			  }
			}
		  }
		}

	}

	.product {
		float: left;
		text-align:left;
		@include eltdBoxSizing(border-box);
		padding: 0 10px;

		.eltd-product-inner {
			position: relative;
		}

		.eltd-product-image-holder {
			position: relative;

			.eltd-product-image-overlay {
				text-align: center;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				opacity: 0;
				background-color: rgba(0,0,0,.2);
				@include eltdTransition(opacity 0.3s ease);
			}

			.eltd-product-image-overlay-inner {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				width: 100%;
			}

			img {
				display: block;
				width: 100%;
			}

		  	.eltd-product-link{
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			}

		}

	  	.eltd-btn.added {
			display: none;
		}

		.added_to_cart {
			@extend %woocommerce-button;
			background-color: $first-main-color;
			border-color: $first-main-color;
			color: #333;
			&:hover{
				background-color: $first-main-color;
				border-color: $first-main-color;
				color: $light-skin-color;
			}
		}

		.eltd-product-title-holder {
			vertical-align: top;
			margin: 20px 0 0;
			@include eltdTableLayout;
		}

		.eltd-single-product-subtitle {
			margin-top: 0;
			margin-bottom: 13px;
			text-align: left;
			font-weight: 400;
		  	color:$light-text-color;
			font-family: $third-font;
		}

		.eltd-product-list-product-title,
		.price {
			display: block;
			vertical-align: top;
			@include eltdTableCellLayout;
		}

		.eltd-product-list-product-title {
			text-align: left;
			margin: 11px 0 2px;
		  	a {
			  color:$heading-color;  
			  @include eltdTransition(all .2s ease);
				&:hover{
					color:$first-main-color;
				}
			}
		}

		.price {
			text-align: right;
			font-size: 20px;
			font-family: $second-font;
			color: $heading-color;

			del {
				font-size: 14px;
			}

			ins {
				text-decoration: none;
			}

		}


		.eltd-onsale,
		.eltd-out-of-stock {
			position: absolute;
			display: table;
			top: 0;
			right: 0;
			width: 57px;
			height: 57px;
			text-align: center;
			z-index: 100;
			color: #fff;
			background-color: $first-main-color;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 15px;
			font-weight: 700;
		}

		.eltd-onsale-inner,
		.eltd-out-of-stock-inner {
			display: table-cell;
			vertical-align: middle;
		}

	}

}
.woocommerce.columns-6,
.eltd-woocommerce-page.eltd-woocommerce-columns-6 {

	.products .product {
		width: 16.666%;
		margin-bottom: 48px;

		&:nth-child(6n+1) {
			clear: both;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{
		width: 20%;

		&:nth-child(6n+1) {
			clear: none;
		}

		&:nth-child(5n+1) {
			clear: both;
		}

	}

}
.woocommerce.columns-5,
.eltd-woocommerce-page.eltd-woocommerce-columns-5 {

	.products .product {
		width: 20%;
		margin-bottom: 50px;

		&:nth-child(5n+1) {
			clear: both;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{
		width: 25%;

		&:nth-child(5n+1) {
			clear: none;
		}

		&:nth-child(4n+1) {
			clear: both;
		}

	}

}

.woocommerce.columns-4,
.eltd-woocommerce-page.eltd-woocommerce-columns-4 {

	.products .product {
		width: 25%;
		margin-bottom: 50px;

		&:nth-child(4n+1) {
			clear: both;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{
		width: 33.33333%;

		&:nth-child(4n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}

	}

}

.woocommerce.columns-3,
.eltd-woocommerce-page.eltd-woocommerce-columns-3 {

	.products .product {
		width: 33.33333%;
		margin-bottom: 50px;

		&:nth-child(3n+1) {
			clear: both;
		}

	}

	.eltd-woocommerce-with-sidebar .products .product{
		width: 50%;

		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(2n+1) {
			clear: both;
		}

	}

}

.woocommerce.columns-2,
.eltd-woocommerce-page.eltd-woocommerce-columns-2 {

	.products .product {
		width: 50%;
		margin-bottom: 50px;

		&:nth-child(2n+1) {
			clear: both;
		}

	}

}
.woocommerce-pagination{
  margin-top:30px;
}

/* Woocommerce product list - end
========================================================================== */