/* Woocommerce single product - begin
========================================================================== */

.single-product .product {
	padding: 0;
}

.eltd-single-product-images,
.eltd-single-product-summary {
	width: 50%;
	display: inline-block;
	float: left;
	@include eltdBoxSizing(border-box);
}

.eltd-single-product-images {
	padding-right: 34px;

	.images {
		position: relative;

		.woocommerce-product-gallery__image:not(:first-child) {
			float: left;
			width: 32%;
			margin-right: 2%;
			margin-bottom: 2%;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	a {
		display: inline-block;
	}

	.thumbnails a {
		float: left;
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
	 	margin-top: 1%;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

}

.eltd-single-product-summary {
	padding-left: 10px;

	.eltd-single-product-title {
		margin-top: -9px;
		margin-bottom: 6px;
		display: inline-block;
	}

	.eltd-single-product-actions {
		float: right;
		display: inline-block;

		.eltd-social-share-holder {
			float: left;
			margin-right: 10px;
		}

		.yith-wcwl-add-to-wishlist {
			float: left;
			margin-top: 0;

			.yith-wcwl-add-button {
				img {
					display: none !important;
				}
			}

			a {
				color: #858585;
				width: 35px;
				display: inline-block;
				@include eltdBorderRadius(50%);
				line-height: 35px;
				text-align: center;
				height: 35px;
				background-color: #f0f0f0;
				border: 2px solid #f0f0f0;

				&:hover {
					color: $first-main-color;
				}

				&:before {
					content: '\e030';
					font-size: 16px;
					font-family: 'ElegantIcons';
					speak: none;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

			}

			.yith-wcwl-wishlistaddedbrowse{

				a{
					color: $first-main-color;

					&:before{
						content: "\e089";

					}
				}
			}



		}

	}

	.eltd-single-product-subtitle {
		color: $light-text-color;
		font-size: 15px;
		margin: 0;
		margin-bottom: 13px;
		font-weight: normal;
	}

	.woocommerce-product-rating {
		margin-bottom: 33px;
	}

	.eltd-single-product-description{
		color:$light-text-color;
	}

	.eltd-single-product-price {
		border-top: 2px solid $shortcode-background-color;
		border-bottom: 2px solid $shortcode-background-color;
		padding: 15px 0;
		margin-bottom: 35px;

		.price {
			font-size: 27px;
		}
	}

	.cart {
		margin-top: 36px;
		margin-bottom: 32px;
		@extend %clearfix;

		.eltd-quantity-buttons {
			float: left;
		}


		/* Variable Product - begin
		=====================================================*/
		.variations {
			margin-bottom: 20px;

			tr {
				border: none;

				td {
					text-align: left;
					padding: 0;
					padding-right: 4px;
					padding-bottom: 10px;
				}

			}

			label {
				font-size: 11px;
				font-weight: 700;
				text-transform: uppercase;
			}

			select {
				min-width: 200px;
				padding: 10px 15px;
				border: 2px solid $shortcode-background-color;
				font-size: 11px;
				outline: none;
				font-weight: 600;
				text-transform: uppercase;
				color: #909090;
			}

		}

		.reset_variations {
			margin-left: 10px;
			background-color: transparent;
			border: 1px solid;
			padding: 11px 15px;
			line-height: 1em;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
			display: inline-block;
			@include eltdTransition(color 0.3s ease, background-color 0.3s ease);

			&:hover {
				color: #fff;
				background-color: $first-main-color;
			}

		}

		.single_variation {
			margin-bottom: 20px;
		}

		/* Variable Product - end
		=====================================================*/

		/* Grouped Product - begin
		=====================================================*/
		.group_table {
			margin-bottom: 20px;

			.price {
				width: auto;
				vertical-align: middle;
			}

		}
		/* Grouped Product - end
		=====================================================*/

	}

	.product_meta {

		.eltd-woocommerce-meta-table {
			tr {
				border: none;
			}

			td {
				text-align: left;
			}

			a {
				font-family: $third-font;
				color:$light-text-color;
				font-weight: 400;

				&:hover {
					color: $first-main-color;
				}

			}
		}

		.eltd-woocommerce-meta-name {
			font-weight: 600;
			color:$heading-color;
			font-family: $second-font;
			font-size: 14px;
			text-transform: uppercase;
			width: 17%;
			padding: 5px 0;
			letter-spacing: 1px;
		}

	}

	.eltd-tabs {
		margin-top: 60px;
		clear: both;

		.eltd-tab-container {
			padding: 11px 0;

			h2 {
				display: none;
			}

			.shop_attributes {

				th{
					vertical-align: middle;
				}
			}

		}

	}

	/* Reviews - begin
	=====================================================*/
	#reviews {

		ol {
			list-style-type: none;

			li {
				margin-bottom: 20px;
			}

		}

		.eltd-woocommerce-comment-holder {
			@include eltdTableLayout;
		}

		.eltd-woocommerce-comment-image,
		.eltd-woocommerce-comment-text {
			@include eltdTableCellLayout;
			text-align: left;
			vertical-align: top;
		}

		.eltd-woocommerce-comment-text {
			padding-left: 20px;
		}

		.eltd-woocommerce-comment-image {
			width: 60px;

			img {
				@include eltdBorderRadius(50%);
			}

		}

		.eltd-woocommerce-comment-text {

			.meta {
				display: block;
			}

		}

		.comment-reply-title {
			font-size: 18px;
			font-weight: 500;
		}

		.comment-form {

			label {
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 700;
			}

			input,
			textarea {
				margin-bottom: 0;
				background-color: transparent;
				border: 2px solid #ebebeb;

				&.submit {
					@extend %woocommerce-button;
				}

			}

		}

		.comment-form-rating {

			.stars {
				margin: 0;

				a {
					font-family: ElegantIcons;
					visibility: hidden;
					position: relative;
					letter-spacing: 6px;

					&:after {
						content: '\e031';
						color: #b7b7b7;
						visibility: visible;
						position: absolute;
						top: 0;
						left: 0;
						@include eltdTransition(color 0.3s ease);
					}

				}

				&.selected {

					a {

						&:after {
							color: $first-main-color;
						}

						&.active ~ a {

							&:after {
								color: #b7b7b7;
							}

						}

					}

				}

			}

		}

	}
	/* Reviews - end
	=====================================================*/

}

/* Related Products - begin
=====================================================*/
.related.products {

	h2 {
		font-size:25px;
		font-weight:400;
	}

	.product {
		padding: 0 10px;
	}

}

/* Related Products - end
=====================================================*/

/* Woocommerce tabs - begin
=====================================================*/
.woocommerce-tabs.eltd-horizontal-tab{
  ul {
   &.eltd-tabs-nav{
     padding-bottom: 10px;
   }
	li{
	  &.active{
		.eltd-woo-tab-icon:before{
		  color:$light-skin-color;
		}

	  }
	a{
		font-weight: 600;
		font-size: 14px;
		.eltd-icon-frame{
			display: none;
		}

	}
	  &:hover{
		.eltd-woo-tab-icon:before{
		  color:$light-skin-color;
		}
	  }

	}
	  .eltd-woo-tab-icon:before{
			font-family: 'ElegantIcons', serif;
			color:$first-main-color;
			position: relative;
			font-size: 13px;
			margin-right: 3px;
		  	display: none;
	  }

	.description_tab{
	  .eltd-woo-tab-icon:before{
		content:"\e031";
		margin-top:-1px;
	  }
	}
	.additional_information_tab{
	  .eltd-woo-tab-icon:before{
		content:"\e020";
	  }
	}
	.reviews_tab{
	  .eltd-woo-tab-icon:before{
		content:"\e01d";
	  }
	}
  }
	&.eltd-color-tabs{
		ul li{
			&.ui-state-default{
				a{
					color:#333333;
					font-family: $second-font;
					opacity: .6;
                  padding: 0;

                  &:after{
                    background-color: transparent;
                  }
				}

			}
          margin-right: 60px;
          &:last-child{
            margin-right: 0;
          }
			&.ui-state-active,
			&.ui-state-hover{
				a{
					opacity: 1;
					color:#333333;
                  padding: 0;
                  &:after{
                    background-color: transparent;
                  }
				}
			}
		}

	}
}


/* Woocommerce tabs - end
=====================================================*/

/* Woocommerce single product - end
========================================================================== */