/* Woocommerce single product - begin
========================================================================== */
@include ipad-landscape{

	.eltd-woocommerce-page{

	  .eltd-quantity-buttons{
  			width: 81px;
	  }
	}
}

.eltd-single-product-images,
.eltd-single-product-summary {

	@include ipad-portrait {
		width: 100%;
		margin: 0;
		padding: 0;
	}

}
.eltd-single-product-summary{
	.eltd-single-product-actions{
		@include large-laptop {
			display: block;
			float: none;
			margin: 5px 0 10px;
		}
	}
}

.eltd-single-product-images {

	@include ipad-portrait {
		margin-bottom: 30px;
	}

}

/* Woocommerce single product - end
========================================================================== */