/* ==========================================================================
# Woocommerce widgets - begin
========================================================================== */

/* Woocommerce cart - begin
========================================================================== */

.widget_shopping_cart {

	.mini_cart_item {
		position: relative;
		@extend %clearfix;
		padding: 8px 0;

		a {
			display: block;
			font-size: 15px;
			font-family: $first-font;

			img {
				float: left;
				margin-right: 10px;
				width: 53px;
				@include eltdBorderRadius(50%);
			}

		}

		.remove {
			position: absolute;
			top: 5px;
			right: 0;
			font-size: 20px;
			z-index: 2;
			font-weight: 400;
		}

		.variation {
			dt, dd, p {
				display: inline-block;
				margin: 0;
			}
		}

		.quantity {
			font-weight: 700;
		}
	}

	.buttons {
		margin-top: 20px;
		@extend %clearfix;

		a {
			@extend %woocommerce-button;
			padding: 0;
			border: none;
			float: left;

			&:hover {
				background-color: transparent;
				color: $first-main-color;
			}

			&:first-child {
				margin-right: 25px;
			}

		}

	}

}

/* Woocommerce Cart - end
========================================================================== */

/* Woocommerce Price Filter - begin
========================================================================== */
.widget_price_filter {
	.price_slider_wrapper{
	  margin-top:33px;
	}
	.price_slider {
		position: relative;
	  	margin: 0 4px;
		height: 3px;
		background-color: $shortcode-background-color;

		.ui-slider-range {
			position: absolute;
			background-color: $first-main-color;
			height: 3px;
		}

		.ui-slider-handle {
			position: absolute;
			background-color: $shortcode-color;
			width: 10px;
			margin-top: -4px;
			height: 10px;
			@include eltdBorderRadius(50%);
			@include eltdTransform(translateX(-50%));
			cursor: pointer;
		}

	}

	button {
	  left: 50%;
	  transform: translatex(-50%);
	  position: relative;
	  padding: 13px 56px;
	  font-size: 10px;
		@extend %woocommerce-button;
	  	background-color: $first-main-color;
	  	color: $light-skin-color;

		&:hover {
			background-color: transparent;
			color: $first-main-color;
		}

	}

	.price_slider_amount {
	  	margin-top: 29px;
	}

	.price_label {
	  text-align: center;
	  position: relative;
	  font-size: 15px;
	  color: #858585;
	  font-weight: 400;
	  margin-top: 16px;

		.to,
		.from {

		}

	}

}

/* Woocommerce Price Filter - end
========================================================================== */

/* Woocommerce Products, Woocommerce Top Rated Products - begin
========================================================================== */

.widget_products,
.widget_top_rated_products {

	.product_list_widget {
		margin-top: 25px;
	}

	.product_list_widget li {
		@include eltdTableLayout;
		border-bottom: none;
		padding: 8px 0;

		.eltd-woocommerce-widget-product-image,
		.eltd-woocommerce-widget-product-details,
		.eltd-woocommerce-widget-product-price {
			@include eltdTableCellLayout;
			font-size: 15px;
			font-weight: 400;
			color: $light-text-color;
		}

		.eltd-woocommerce-widget-product-image {
			width: 53px;

			img {
				display: block;
			}

		}

		.eltd-woocommerce-widget-product-details {
			text-align: left;
			padding-left: 10px;
			vertical-align: top;

			h5 {
				margin-top: 0;
				margin-bottom: 0;
			  a{
				  font-weight: 600;
				  font-family: $second-font;
				  text-transform: uppercase;
				  font-size: 14px;
				  color:$heading-color;
				  letter-spacing: 1px;
				  &:hover{
					color:$first-main-color;
				  }
			  }
			}

			.star-rating {
				margin-top: 5px;
			}

		}

		.eltd-woocommerce-widget-product-price {
			width: 60px;
			text-align: right;
			vertical-align: top;
			font-weight: 400;
			color:#909090;
			font-family: $second-font;
			font-size: 15px;
			letter-spacing: 1px;
		}

	}

}

.widget_products {

	.product_list_widget li {
		.eltd-woocommerce-widget-product-details,
		.eltd-woocommerce-widget-product-price {
			vertical-align: middle;
		}
	}

	.product_list_widget{
		li .eltd-woocommerce-widget-product-price{
			font-size: 15px;
			letter-spacing: 1px;
		}
	}

}

/* Woocommerce Products, Woocommerce Top Rated Products - end
========================================================================== */

.widget_recent_reviews {

	ul {
		margin-top: 25px;

		li {
			@extend %clearfix;
			border-bottom: none;
			padding: 8px 0;
		}

	}

	a {
		display: block;
		font-size: 15px;

		img {
			float: left;
			margin-right: 10px;
			width: 53px;
			@include eltdBorderRadius(50%);
		}

	}

	.star-rating {
		margin: 3px 0;
	}

}

.widget_product_search {

	form {
		@extend %clearfix;
		position: relative;

		input[type="search"] {
			padding: 16px 22px;
			padding-right: 51px;
		}

		input[type="submit"]{
			position: absolute;
			font-family: 'simple-line-icons';
			width: 51px;
			height: 47px;
			padding: 0;
			top: 2px;
			right: 0;
			border: none;
			border-left: 2px solid $shortcode-background-color;
		}

	}

}

/* ==========================================================================
# Woocommerce widgets - end
========================================================================== */