/* ==========================================================================
# Woocommerce style - begin
========================================================================== */

@font-face{
	font-family:'star';
	src:url('../../../plugins/woocommerce/assets/fonts/star.eot');
	src:url('../../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
	url('../../../plugins/woocommerce/assets/fonts/star.woff') format('woff'),
	url('../../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
	url('../../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
	font-weight:normal;
	font-style:normal
}

.eltd-woocommerce-page {

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	textarea {
		@extend %input-style;
	}

}

.woocommerce-account {

	.woocommerce {
		margin:15px 0 23px 0;


      h2{
        font-size: 35px;
        line-height: 1.3em;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        font-family: $second-font;
      }
	}

	.woocommerce-MyAccount-navigation {
		float: left;
		width: 20%;

		ul {
			margin: 0;
		}

		li{
			position: relative;
			display: block;
			width: 100%;
			margin-right: 0;
			margin-bottom: 4px;

			a{
				display: block;
				padding: 12px 22px;
				color: #757575;
				text-transform: uppercase;
				letter-spacing: .5px;
				background-color: #fff;
				border: 1px solid #e4e4e4;
				box-sizing: border-box;
				@include eltdTransition(color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out);
			}
			&.is-active a,
			&:hover a {
				color: #fff;
				background-color: $first-main-color;
			}
		}
	}
	.woocommerce-MyAccount-content {
		float: right;
		width: 75%;
	}

	input[type="submit"] {
		@extend %woocommerce-button;
		background-color: $first-main-color;
		color: #fff;
		padding: 13px 45px;

		&:hover {
			background-color: #a27d53;
			color: #fff;
		}

	}

	.login {

		label {
			margin-bottom: 5px;
			display: inline-block;
		}

		.eltd-labels-holder {
			float: right;

			a {
				margin-left: 20px;
			}

		}
	}

}

/* Woocommerce rating - begin
========================================================================== */

.eltd-woocommerce-page .star-rating,
.woocommerce .star-rating {
	font-family: ElegantIcons;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1em;
	font-size: 13px;
	width: 90px;
	letter-spacing: 6px;

	&:before {
		content: '\e031 \e031 \e031 \e031 \e031';
		color: #b7b7b7;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;

		&:before {
			color: $first-main-color;
			content: '\e031 \e031 \e031 \e031 \e031';
			top: 0;
			position: absolute;
			left: 0;
		}

		strong {
			display: block;
		}

	}

}
.eltd-woocommerce-page{

	.woocommerce-product-rating{

		.woocommerce-review-link{
			display: none;
		}

	}
}

/* Woocommerce rating - end
========================================================================== */

/* Woocommerce pagination - begin
========================================================================== */

.woocommerce-pagination {
	display: block;
	text-align: center;

	.page-numbers {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin: 0 5px;
		}

		li > a,
		li > span {
			color: #333333;
			border: 2px solid $shortcode-background-color;
			width: 47px;
			height: 45px;
			line-height: 41px;
			font-weight: bold;
			@include eltdBoxSizing(border-box);
			@include eltdTransition(all 0.3s ease);

			&:hover {
				background-color: $first-main-color;
				border: 2px solid $first-main-color;
				color: #fff;
			}

			&.prev,
			&.next {
				font-family: 'ElegantIcons';
				font-size: 22px;
			}

			&.current {
				background-color: $first-main-color;
				border: 2px solid $first-main-color;
				color: #fff;

				&:hover {

				}

			}

		}

	}

}

/* Woocommerce pagination - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

.eltd-woocommerce-page .eltd-quantity-buttons {
	display: inline-block;
	border: 2px solid $shortcode-background-color;
	height: 52px;
	@include eltdBoxSizing(border-box);
	margin-right: 18px;

	.eltd-quantity-input {
		border: none;
		background-color: transparent;
		display: inline-block;
		width: 48px;
		float: left;
		padding: 0;
		line-height: 48px;
		text-align: center;
		font-size: 15px;
		color: #444444;
		font-weight: 600;
		margin: 0;
	}

	.quantity-control {
		border-left: 2px solid $shortcode-background-color;
		height: 100%;
		display: inline-block;
		float: left;
	}

	.eltd-quantity-minus,
	.eltd-quantity-plus {
		display: block;
		width: 27px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		line-height: 23px;
		@include eltdBoxSizing(border-box);
		color: #909090;
	}

	.eltd-quantity-minus {
		border-top: 1px solid $shortcode-background-color;
	}
	.eltd-quantity-plus {
		border-bottom: 1px solid $shortcode-background-color;
	}

}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce message - begin
========================================================================== */

.eltd-woocommerce-page {

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		margin-bottom: 25px;
		position: relative;
		display: block;
		padding: 8px 40px;
		background-color: $shortcode-background-color;
		line-height: 50px;
		color: #909090;
		font-size: 14px;

	}

	.woocommerce-message a {
		float: right;
	}
}

/* Woocommerce message - end
========================================================================== */

/* Woocommerce wishlist - begin
========================================================================== */

.eltd-woocommerce-page {
	table.cart.wishlist_table {
		font-size: 100%;

		tr:last-child {
			border: 1px solid $shortcode-background-color;
		}

		.yith-wcwl-share {
			text-align: center;
		}
	}
}

/* Woocommerce wishlist - end
========================================================================== */
/* Woocommerce my-account - start
========================================================================== */

.woocommerce{
  .myaccount_user,
  .address{
	a{
	  font-weight: 400;
	  color:$first-main-color;
	  &:hover{
		text-decoration: underline;
	  }
	}
  }
}

/* Woocommerce my-account - end
========================================================================== */