/* ==========================================================================
# Side area style - start
========================================================================== */

//TODO Delete commented code

/* Side area general style - start
========================================================================== */

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-side-menu-button-opener,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-side-menu-button-opener,
.eltd-light-header .eltd-top-bar .eltd-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;

	&:hover span{
		color: #fff!important;
	}
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-side-menu-button-opener,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-side-menu-button-opener,
.eltd-dark-header .eltd-top-bar .eltd-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
	&:hover span{
		color: $first-main-color!important;
	}
}


body.eltd-disable-sidemenu-area-opener{
	.widget_eltd_side_area_opener{
		display: none !important;
	}
}

.eltd-side-menu-button-opener {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #7c7c7c;
	font-size: 26px;
	line-height: 1em;

  span{
    vertical-align: middle;
  }
}

.eltd-side-menu-button-opener.medium {
	display: inline-block;
	font-size: 21px;
	line-height: 30px;
	height: 30px;
	width: 19px;
}

.eltd-side-menu-button-opener.large {
	display: inline-block;
	font-size: 28px;
	line-height: 34px;
	height: 34px;
	width: 24px;
}

.eltd-side-menu-button-opener > i {
	display: inline-block;
	height: inherit;
	line-height: inherit;
	vertical-align: bottom;
	width: inherit;
	text-align: center;
	-webkit-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-moz-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-ms-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-o-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	transition: opacity 0.15s ease-out, color 0.15s ease-out;
}

.eltd-side-menu-button-opener:hover {
	color: $heading-color;
}

.eltd-side-menu-button-opener span.social_icon {
	font-family: 'ElegantIcons' !important;
}

.eltd-side-menu-button-opener i.social_icon {
	font-family: 'FontAwesome',serif !important;

}

.eltd-side-menu {
	background-color: rgba(0,0,0,0.9);
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 30px 50px;
	position: fixed;
	top: 0;
	right: -270px;
	width: 210px;
	z-index: 9999;
	-webkit-backface-visibility: hidden;

	.eltd-side-menu-title {
		display: block;
		margin: 0 0 12px;
	}

	.widget_nav_menu {

		li:last-child,
		li a {
			margin: 0;
		}

	}

	.eltd-close-side-menu-holder {
		display: table;
		height: 90px;
		position: absolute;
		top: 0px;
		right: 38px;
		z-index: 1000;
	}

	.eltd-close-side-menu-holder-inner {
		display: table-cell;
		vertical-align: middle;
	}

	a.eltd-close-side-menu {
		display: inline-block;
		height: 26px;
		width: 26px;
		padding: 0 2px 4px 0; /* in order to align icon in horizontal and vertical center */
		z-index: 1000;
		@include eltdTransition(transform .5s ease);

		span{
			color: #ffffff;
			display: inline-block;
			font-size: 22px;
			height: 26px;
			line-height: 29px;
			position: relative;
			text-align: center;
			width: 26px;
		}

	}

	a.eltd-close-side-menu:hover {
		@include eltdTransform(rotate(180deg));
	}

}

.admin-bar .eltd-side-menu .eltd-close-side-menu-holder {
	top: 32px;
}

/* Side area general style - end
========================================================================== */

/* Side area slides over content style - start
========================================================================== */

.eltd-right-side-menu-opened {

	.eltd-wrapper,
	footer.uncover,
	.eltd-fixed-wrapper.fixed,
	.eltd-sticky-header,
	.mobile-header-appear .eltd-mobile-header-inner {
		left:-270px;
	}

}

.eltd-side-menu-slide-from-right {

	.eltd-wrapper {
		background-color: #fff;
		position: relative;
		z-index: 1000;
		@include eltdTransition(left 0.2s cubic-bezier(.645,.045,.355,1.000));

		.eltd-cover {
			z-index: 0;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
			background:#000;
			-webkit-transition: opacity 0.2s ease-in-out,background 0.2s ease-in-out,z-index 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out,background 0.2s ease-in-out,z-index 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out,background 0.2s ease-in-out,z-index 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out,background 0.2s ease-in-out,z-index 0.2s ease-in-out;
		}

	}

	.carousel-inner {
		@include eltdTransition(left 0.2s cubic-bezier(.645,.045,.355,1.000));
	}

	.eltd-side-menu {
		padding: 5% 30px 30px 30px;
		top: 0;
		right: -45%;
		width: 45%;
		z-index: 9999;
		visibility: hidden;
		-webkit-box-sizing:border-box;
		box-sizing: border-box;
		@include eltdTransition(0.2s ease-in-out);
	}

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed {
		-webkit-transition: left 0.2s cubic-bezier(.645,.045,.355,1.000), -webkit-transform 0.33s ease;
		transition: left 0.2s cubic-bezier(.645,.045,.355,1.000), transform 0.33s ease;
	}

	footer.uncover {
		@include eltdTransition(left 0.2s cubic-bezier(.645,.045,.355,1.000));
	}

}

.eltd-side-menu-slide-from-right.eltd-right-side-menu-opened {

	.eltd-cover {
		cursor: url('img/close.png'), pointer;
		z-index: 1002;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.eltd-side-menu {
		right: 0px;
		visibility: visible;
	}

}

/* Side area slides over content style - end
========================================================================== */

/* Side area slides with content style - start
========================================================================== */

.eltd-side-menu-slide-with-content {
	$animation-duration : .45s;
	$animation-easing : cubic-bezier(0.84, 0.1, 0.56, 0.9);

	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-overflow-scrolling: auto !important;
	@include eltdTransition(left $animation-duration $animation-easing, right $animation-duration $animation-easing);

	.eltd-side-menu {
		position: fixed;
		visibility: visible;
		-webkit-box-sizing:border-box;
		box-sizing: border-box;
		width: 470px;
		right: -470px;
		height: 100%;
		top: 0;
		z-index: 9999;
		@include eltdTransition(left $animation-duration $animation-easing, right $animation-duration $animation-easing);
	}

	&.eltd-side-menu-open .eltd-side-menu{
		@include eltdTransition(left $animation-duration $animation-easing, right $animation-duration $animation-easing);
	}

	footer.uncover,
	.eltd-wrapper{
		@include eltdTransition(left $animation-duration $animation-easing, right $animation-duration $animation-easing);
	}

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed,
	.eltd-mobile-header-inner {
		@include eltdTransition(all $animation-duration $animation-easing);
	}

	.carousel-inner {
		left:0 !important;
		@include eltdTransition(left $animation-duration $animation-easing);
	}

}

.eltd-side-menu-slide-with-content.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -470px;
	}

	.eltd-side-menu {
		right: 0;
	}

}

/* width 270px start */
.eltd-side-menu-slide-with-content.eltd-width-270.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -270px;
	}

	.eltd-side-menu {
		right: 0;
	}


}


.eltd-side-menu-slide-with-content.eltd-width-270 {

	.eltd-side-menu {
		width: 270px;
		right: -270px;
	}

}
/* width 270px end */

/* width 370px start */
.eltd-side-menu-slide-with-content.eltd-width-370.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -370px;
	}

	.eltd-side-menu {
		right: 0;
	}

}

.eltd-side-menu-slide-with-content.eltd-width-370 {

	.eltd-side-menu {
		width: 370px;
		right: -370px;
	}
}
/* width 370px end */


/* Side area slides with content style - end
========================================================================== */

/* Side area uncovering - start
========================================================================== */

.eltd-side-area-uncovered-from-content {

	.eltd-side-menu {
		background-color: #1b1b1b;
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		padding: 30px;
		position: fixed;
		top: 0;
		right: 0;
		width: 210px;
		z-index: 90;
		visibility: hidden;
	}

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed {
		-webkit-transition: left 0.3s ease, right 0.2s ease;
		-moz-transition: left 0.3s ease, right 0.2s ease;
		-o-transition: left 0.3s ease, right 0.2s ease;
		transition: left 0.3s ease, right 0.2s ease;
	}

}

.eltd-side-area-uncovered-from-content.eltd-right-side-menu-opened {

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed,
	.eltd-mobile-header-inner {
		left: -270px;
	}

}

/* Side area uncovering - end
========================================================================== */

/* ==========================================================================
# Side area style - end
========================================================================== */