@include ipad-portrait {

  .eltd-side-menu-slide-with-content {
    .eltd-side-menu {
      width: 100%;
      right: -100%;
    }
  }

  .eltd-side-menu-slide-from-right {
    .eltd-side-menu {
      width: 100%;
      right: -100%;
    }
  }

}