/* ==========================================================================
# Fullscreen menu style - begin
========================================================================== */

/* Fullscreen general style - begin
========================================================================== */

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened) .eltd-line {
	background-color: $header-dark-color !important;
}
//take oposite color if vertical split slider is enabled and if are set light/dark styles on sections
.eltd-dark-header.eltd-vss-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header.eltd-vss-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header.eltd-vss-dark-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened) .eltd-line{
	background-color: $header-light-color !important;
}

.eltd-dark-header.eltd-vss-light-header.eltd-vertical-split-screen-initialized .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened){
	.eltd-line{
		background-color: #fff!important;
	}

	&:hover{
		.eltd-line{
			background-color: $first-main-color!important;
		}
	}
}

.eltd-fullscreen-menu-opened .eltd-logo-wrapper{
	display: none;
}

.eltd-fullscreen-menu-opened #multiscroll-nav{
	display: none;
}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened),
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened),
.eltd-light-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened){
	.eltd-line {
		background-color: $header-light-color !important;
	}

	&:hover{
		.eltd-line {
			background-color: $first-main-color !important;
		}
	}
}

//take oposite color if vertical split slider is enabled and if are set light/dark styles on sections
.eltd-light-header.eltd-vss-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened),
.eltd-light-header.eltd-vss-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened),
.eltd-light-header.eltd-vss-light-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened){

	.eltd-line{
		background-color: $header-dark-color !important;
	}

	&:hover{
		.eltd-line{
			background-color: $first-main-color !important;
		}
	}
}


//show light logo if full screen menu holder is opened
.eltd-fullscreen-menu-opened .eltd-logo-wrapper a img.eltd-normal-logo,
.eltd-fullscreen-menu-opened .eltd-logo-wrapper a img.eltd-dark-logo{
	opacity: 0;
}
.eltd-fullscreen-menu-opened .eltd-logo-wrapper a img.eltd-light-logo{
	opacity: 1;
}


.eltd-fullscreen-menu-opener {
    display: block;

	.eltd-line {
		background-color: #333333;
		height: 2px;
		margin: 0;
		width: 16px;
		top: 0;
		left: 0;
		@include eltdTransition(all 0.15s ease-out);
		position: absolute;
		display: block;
	}

	.eltd-line:after,
	.eltd-line:before {
		background-color: inherit;
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		width: 16px;
		z-index: 1;
		-webkit-backface-visibility: hidden; /*because X sign jumps on hover in Chrome*/
	}

	.eltd-line:before {
		top: -5px;
	}

	.eltd-line:after {
		top: 5px;
	}

}

.eltd-fullscreen-menu-opener-inner {
	display: inline-block;
	height: 2px;
	position: relative;
	top: -1px;
	right: 3px;
	vertical-align: middle;
	width: 13px;
}

.eltd-fullscreen-menu-opener:hover {

	.eltd-line {
		background-color: $first-main-color;
	}

}

.eltd-fullscreen-menu-opener.opened {

	.eltd-line {
		background-color: transparent !important;
	}

	.eltd-line:after {
		background-color: $light-skin-color;
		top: 0 !important;
		@include eltdTransform(rotate(45deg));
	}

	.eltd-line:before {
		background-color: $light-skin-color;
		top: 0 !important;
		@include eltdTransform(rotate(-45deg));
	}

}

.eltd-fullscreen-menu-opener.opened:hover {

	.eltd-line:after,
	.eltd-line:before{
		background-color: $first-main-color;
	}

}

.eltd-fullscreen-menu-opener.medium {

	.eltd-fullscreen-menu-opener-inner,
	.eltd-line,
	.eltd-line:after,
	.eltd-line:before {
		height: 3px;
		width: 19px;
	}

	.eltd-fullscreen-menu-opener-inner {
		top:-2px;
	}

	.eltd-line:before{
		top: -6px;
	}

	.eltd-line:after {
		top: 6px;
	}

}

.eltd-fullscreen-menu-opener.large {

	.eltd-fullscreen-menu-opener-inner,
	.eltd-line,
	.eltd-line:after,
	.eltd-line:before {
		height: 4px;
		width: 24px;
	}

	.eltd-fullscreen-menu-opener-inner {
		top:-3px;
	}

	.eltd-line:before {
		top: -8px;
	}

	.eltd-line:after {
		top: 8px;
	}

}

.eltd-fullscreen-menu-opened {

	.eltd-page-header,
	.eltd-top-bar {
		visibility: hidden;
	}

	.eltd-fullscreen-menu-opener,
	.eltd-logo-wrapper {
		visibility: visible;
	}

	.eltd-fullscreen-menu-holder-outer {
		visibility: visible !important;
		opacity: 1 !important;
	}

}

.eltd-fullscreen-menu-holder-outer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	visibility: hidden;
	opacity: 0;
	z-index: 105; /* this has to be between header z-index and content z-index */
}

.eltd-fullscreen-menu-holder {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: table;
	background-repeat: repeat;
	background-position: 0 0;
}

.eltd-fullscreen-menu-holder-inner {
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0px;
}

.touch {

	.eltd-fullscreen-menu-holder-outer {
		display: none;
	}

	.eltd-fullscreen-menu-opened .eltd-fullscreen-menu-holder-outer {
		display: block;
	}

}

nav.eltd-fullscreen-menu {
	margin: 0 auto;
	position: relative;
	top: 0;
	text-align: left;

	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		max-width:600px;

		li {
			margin: 0;
			text-align: center;
			padding: 11px 0;
		}

		li a {
			font-size: 32px;
			font-weight: 600;
			line-height: 40px;
			color: #fff;
			padding: 0;
			display: block;
			position: relative;
			text-decoration: none;
			cursor: pointer;
			font-family: $second-font;
			@include eltdTransition(color 0.15s ease-out);
		}

		li a:hover{
			color: $first-main-color;
		}

		li a span {
			display: inline-block;
			vertical-align: middle;
		}

		li ul li a {
			font-size: 22px;
			font-weight: 600;
			line-height: 21px;
			color: #949494;
		}

		li ul li a:hover {
			color:$first-main-color;;
		}

		li ul li ul li a {
			font-size: 0.99em;
			line-height: 1em;
		}

	}

	> ul {
		display: block;
	}

	ul.sub_menu {
		display: none;
		padding: 18px 0;
		padding-bottom: 0;
	}

}

.eltd-fullscreen-above-menu-widget-holder,
.eltd-fullscreen-below-menu-widget-holder {
	text-align:center;
	color: #fff;

	.eltd-fullscreen-widget-title {
		color: #fff;
	}

}

.eltd-fullscreen-below-menu-widget-holder {
	margin-top:38px;
}

/* Fullscreen general style - end
========================================================================== */

/* Fullscreen fade animations general - begin
========================================================================== */

@-webkit-keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@-moz-keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@-webkit-keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

@-moz-keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

@keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer,
.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: fixed;
	z-index: 105;
	opacity: 0;
}

.eltd-fullscreen-fade-out .eltd-fullscreen-menu-holder-outer {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-animation: fade_out .25s linear both;
	animation: fade_out .25s linear both;
}

.eltd-fullscreen-menu-opened.eltd-fullscreen-fade-in .eltd-fullscreen-menu-holder-outer {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-animation: fade_in .25s linear both;
	animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */

/* Fullscreen animation push text right - begin
========================================================================== */

@-webkit-keyframes push_text_right {
	0% {
		opacity:0;
		-webkit-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
	}
}

@-moz-keyframes push_text_right {
	0% {
		opacity:0;
		-moz-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateX(0);
	}
}

@keyframes push_text_right {
	0% {
		opacity:0;
		transform:translateX(-60px)
	}
	100% {
		opacity:1;
		transform:translateX(0)
	}
}

@-webkit-keyframes push_nav_right {
	0% {
		opacity:0;
		-webkit-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
	}
}

@-moz-keyframes push_nav_right {
	0% {
		opacity:0;
		-moz-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateX(0);
	}
}

@keyframes push_nav_right {
	0% {
		opacity:0;
		transform:translateX(-60px)
	}
	100% {
		opacity:1;
		transform:translateX(0)
	}
}

.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer nav > ul > li > a,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder > div,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdAnimation(push_text_right .4s cubic-bezier(0.175, 0.885, 0.32, 1) both);
}

.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdTransition(all .75s ease-out);
	@include eltdTransform(translateX(50px));
}

/* Fullscreen animation push text right - end
========================================================================== */

/* Fullscreen animation push text top - begin
========================================================================== */

@-webkit-keyframes push_text_top {
	0% {
		opacity:0;
		-webkit-transform:translateY(60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
	}
}

@-moz-keyframes push_text_top {
	0% {
		opacity:0;
		-moz-transform:translateY(60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateY(0);
	}
}

@keyframes push_text_top {
	0% {
		opacity:0;
		transform:translateY(60px);
	}
	100% {
		opacity:1;
		transform:translateY(0)
	}
}

.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer nav > ul > li > a,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder > div,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdAnimation(push_text_top .4s ease-out both .5s);
}

.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include eltdTransition(all .75s ease-out);
}

/* Fullscreen animation push text top - end
========================================================================== */

/* Fullscreen animation fade text scaledown - begin
========================================================================== */

.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer nav,
.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	opacity:1;
	@include eltdTransform(scale(1));
	@include eltdTransition(all .25s linear 0.1s);
}

.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	opacity:0;
	@include eltdTransform(scale(1.1));
	@include eltdTransition(all .25s linear 0.1s);
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */

/* ==========================================================================
# Fullscreen menu style - end
========================================================================== */