.eltd-header-simple {
  .eltd-page-header{
    .eltd-logo-area{

      height: $header-simple-logo-area-height;

      .widget{
        &.eltd-right-from-main-menu-widget,
        &.eltd-left-from-main-menu-widget{
          font-family: $first-font;
          font-size: 12px;
          letter-spacing: 0;
        }
      }
    }
    .eltd-menu-area {
      z-index: 2;
      height: $header-simple-menu-area-height;
      .eltd-position-center-inner{
        height: 100%;
      }
      .eltd-left-from-main-menu-widget,
      .eltd-right-from-main-menu-widget{
        font-family: $first-font;
      }
      .eltd-main-menu > ul > li > a{
        font-weight: 600;
        letter-spacing: 1px;
        color: $light-skin-color;
        .item_inner{
          padding: 0 21px;
        }
        span.plus{
          display: none;
        }

      }
    }

    &.eltd-header-in-grid{
         .eltd-logo-area,
         .eltd-menu-area{
             &>.eltd-grid{
               background-color: $first-main-color;
             }
         }
    }
    &.eltd-header-out-grid{
      .eltd-logo-area,
      .eltd-menu-area{
          background-color: $first-main-color;
      }
    }
  }

}
