/* ==========================================================================
   WPML style start
   ========================================================================== */


.widget{
	#lang_sel{

		& > ul{
          margin:0;

			& > li{
				padding:0;
                border-bottom: none;

                 .lang_sel_sel{
					 padding: 0 54px 0 8px;
                   position: relative;

                   &:after{
                     content: "\33";
                     font-family: ElegantIcons;
                     display: inline-block;
                     position: absolute;
					 right: 0;
                     font-size: 18px;
                   }

                 }

				& > ul{
                  display: none;
                    position: absolute;
                    margin: 0 0 0 -2px;
                    padding: 0;
                    & > li{
                     	padding: 0;
						text-align: left;
						background-color: #fff;
						border: 1px solid #f0f0f0;

						.eltd-light-header & {
							background-color: black;
						}

                      a{
						  padding: 3px 11px;

                      }

                    }
				}

                a{
                  display: block;
                }

				&:hover > ul{
                  display: block;



				}


			}
		}
	}

}


.widget_icl_lang_sel_widget {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.widgettitle{
		display: none;
	}
}

%wpml-dropdown-styles {
	position: relative;
	@include eltdBoxSizing(border-box);

	.lang_sel_sel {
		position: relative;
		display: block;

		&:after {
			content: '\33';
			font-family: 'ElegantIcons';
			font-size: 16px;
			vertical-align: middle;
			margin-left: 3px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			border-bottom: 0;
			ul li{
				&:last-child{
					border-bottom:1px solid #F0F0F0;
				}
			}
		}
	}

	ul ul {
		position: absolute;
		top: calc( 100% + 2px );
		width: calc(100% + 2px);
		left: -1px;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		background-color: rgba($shortcode-color, 0.9);

		border-top: none;
		padding: 10px 18px;

		@include eltdBoxSizing(border-box);
		@include eltdTransition(visibility 0s linear 0.25s, opacity 0.25s ease-in-out);

		li {
			display: block;
		}

		a {
			display: block;
		}
	}

	&:hover {
		ul ul {
			opacity: 1;
			visibility: visible;

			-webkit-transition-delay: 0s;
			-moz-transition-delay: 0s;
			transition-delay: 0s;
		}
	}
}

.eltd-sidebar,
.wpb_widgetised_column {

	.widget_icl_lang_sel_widget {
		width: 100%;

		img {
			display: inline-block !important;
			vertical-align: middle;
		}


		#lang_sel{
			li a {
				padding: 0 0 54px 0;
			}
		}
	}

	//dropdown styles
	#lang_sel {
		@extend %wpml-dropdown-styles;
		@include eltdBorderRadius(20px);

		li a {
			text-align: left;
			padding: 10px 0;


			&:after {
				position: absolute;
				right: 12px;
			}

			&:hover{
				ul ul {
					display: block;
				}
			}

		}

		.lang_sel_sel {
			padding: 6px 18px;
		}

		ul ul {
			background-color: #fff;
			border-top: none;
			display: none;

			li a {
				line-height: 30px;
			}

			img {
				margin: 0 5px 0 0;
			}
		}
	}

	//list styles
	#lang_sel_list {

		ul li {
			padding: 5px 0;
		}
	}

	.lang_sel_list_horizontal {

		ul li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 5px 0;

			&:last-child {
				margin: 0 0 5px;
			}
		}
	}
}

.eltd-footer-inner,
.eltd-side-menu {

	.widget_icl_lang_sel_widget{
		width: 100%;
		#lang_sel{
			&>ul {


				&>li {
					.lang_sel_sel{
						padding:0 0 10px 0;
						color:#909090;
					}
					&>ul{
						margin:-2px 0 0;
						li{
							background-color: #b1b1b1;
							border:none;
							a{
								color:#333;
							}
						}

					}
				}
			}
		}
	}
	//dropdown styles
	#lang_sel {
		@extend %wpml-dropdown-styles;

		@include eltdBorderRadius(20px);

		.lang_sel_sel {
			padding: 7px 25px 7px 15px;
		}

		ul {
			background-color: transparent;
		}

		a {
			color: $shortcode-color;
			margin-bottom: 0;

			&:hover {
				color: $first-main-color;
			}

			&:after {
				position: absolute;
				right: 10px;
			}
		}
		&>ul{
			&>li{
				a:hover{
					ul ul {
						display: inline-block;
					}
				}
			}
		}
		ul ul {
			display: none;
			padding: 12px 22px;

			a {
				line-height: 30px;
			}

			img {
				margin: 0 5px 0 0;
			}
		}
	}

	//list tyles
	#lang_sel_list {

		img {
			margin-right: 5px;
		}
	}

	.lang_sel_list_horizontal {

		ul li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 5px 0;

			&:last-child {
				margin: 0 0 5px;
			}
		}
	}

	.eltd-footer-bottom-holder {

		#lang_sel_list {
			line-height: 1.4em;
		}
	}
}

.eltd-footer-inner{
	#lang_sel>ul>li>ul>li{
		text-align: center;
	}

}

.eltd-top-bar {

	.eltd-position-right-inner .widget_icl_lang_sel_widget {
		margin-left: 20px;

		#lang_sel {
			ul ul {
				left: auto;
				right: 0;
			}
		}

	}

	.eltd-position-left-inner .widget_icl_lang_sel_widget {

		#lang_sel {
			ul ul {
				left: 0;
				right: auto;
			}
		}

	}

	#lang_sel {
		@extend %wpml-dropdown-styles;

		.lang_sel_sel {
			font-size: 12px;
			color: $light-text-color;
			padding: 0;

			&:after {
				right: 0;
			}

			&:hover {
				color: $first-main-color;
			}

			img {
				position: relative;
				top: 2px;
			}
		}

		ul {
			list-style-type: none;

			> li {
				padding: 0;
			}

		}

		ul ul {
			width: 120px;
			padding: 5px 0 10px;

			top: calc( 100% + 6px );
			text-align: left;
			line-height: 1.7em;
			background-color: rgba( $shortcode-color, 0.9 );
			left: auto;
			right: 0;

			li {
				padding: 5px 20px;
			}

			img {
				position: relative;
				top: 2px;
				margin-right: 5px;
			}

			a {
				color: $shortcode-color;
				font-size: 12px;
				display: block;
				text-align: right;
				font-family: $second-font;

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}

	#lang_sel_list {

		ul {
			list-style-type: none;

			li {
				float: left;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: #ccc;

					&:hover {
						color: $first-main-color;
					}
				}
			}
		}

		img {
			margin-right: 5px;
		}
	}
}

.eltd-main-menu > ul > li.menu-item-language > a {
	padding: 0 30px 0 15px;

	span {
		position: relative;
		display: block;
		top: 50%;
		@include eltdTransform(translateY(-50%));

		&:after {
			content: '\33';
			font-family: 'ElegantIcons';
			margin-left: 3px;

			@include eltdTransform(translateY(-50%));
		}
	}

	img {
		display: inline-block !important;
		vertical-align: middle;
		margin: 0 5px 0 0;
	}
}

.eltd-main-menu {

	.menu-item-language {

		.submenu-languages {
			position: absolute;
			top: 100%;
			width: 186px;
			left: -1px;
			z-index: 10;
			opacity: 0;
			visibility: hidden;

			border-top: none;
			padding: 12px 0;

			text-align: left;
			background-color: rgba($shortcode-color, 0.9);

			@include eltdBoxSizing(border-box);
			@include eltdTransition(visibility 0s linear 0.25s, opacity 0.25s ease-in-out);

			li {
				display: block;
				width: 100%;
				float: none;
				padding: 0 22px;
				@include eltdBoxSizing(border-box);
			}

			a {
				display: block;
				color: $shortcode-color;
				font-size: 12px;
				text-transform: inherit;
				line-height: 30px;

				&:hover {
					color: $first-main-color;
				}

				img {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					top: -1px;
					margin: 0 5px 0 0;
				}
			}
		}

		&:hover {

			ul {
				opacity: 1;
				visibility: visible;

				-webkit-transition-delay: 0s;
				-moz-transition-delay: 0s;
				transition-delay: 0s;
			}
		}
	}
}

.eltd-sticky-header,
.eltd-menu-area {

	.eltd-position-right {

		.widget_icl_lang_sel_widget {
			height: 100%;

			#lang_sel {
				@extend %wpml-dropdown-styles;
				height: 100%;

				> ul {
					height: 100%;

					> li {
						height: 100%;
						display: table;

						a {
							display: table-cell !important;
							vertical-align: middle;
						}
						&:hover{
							ul {
								display: inline-block;
								margin-top: -2px;
								padding: 0;
							}
						}
					}
				}

				.lang_sel_sel {
					color: $heading-color;
					padding: 0 30px 0 20px;
					height: 100%;

					&:after {
						right: 0;
					}

					&:hover {
						color: $first-main-color;
					}

					img {
						position: relative;
						top: 2px;
						display: inline-block;
					}
				}

				ul {
					list-style-type: none;
				}

				ul ul {
					display: none;
					width: 186px;
					padding: 12px 0;
					background-color: $light-skin-color;

					li {

						a {
							line-height: 30px;
						}

					}

					img {
						position: relative;
						top: 2px;
						margin-right: 5px;
						display: inline-block;
					}

					a {
						color: $shortcode-color;
						font-size: 12px;
						display: block;
						font-family: $second-font;

						&:hover {
							color: $first-main-color;
						}
					}
				}
			}

			#lang_sel_list {

				ul {
					list-style-type: none;

					li {
						float: left;
						margin-right: 10px;

						a {
							color: #ccc;

							&:hover {
								color: $first-main-color;
							}
						}
					}
				}

				img {
					margin-right: 5px;
				}
			}

		}

	}

}

.widget.eltd-sticky-right{

	&.widget_icl_lang_sel_widget{
		#lang_sel{
			&>ul{

				background-color: #fff;

				&>li{

					&>a{
						&:after{
							position: relative;
							top: -2px;
						}
					}

					ul{
						padding: 0;
						width:100%;
						background-color: #fff;
						margin-top:-2px;

						li{
							padding: 0;
						}
					}
				}


			}
		}
	}

}

/* ==========================================================================
   WPML style end
   ========================================================================== */