@include phone-landscape{
      .masonry,
      .masonry-wide{
              .eltd-ptf-gallery{

                  .eltd-ptf-gallery-sizer,
                  .eltd-ptf-gallery-item{
                      width: 100% !important;
                  }

                  .eltd-ptf-gallery-gutter{
                      width: 0;
                  }

              }
          }

   .eltd-portfolio-single-holder{

        .eltd-portfolio-single-nav{

          .eltd-portfolio-prev{

            span:last-child{
              display: none;
            }
            .eltd-ptf-nav-icons{
              position: relative;
              vertical-align: middle;
            }
          }

          .eltd-portfolio-next{

              span:first-child{
              display: none;
              }
              .eltd-ptf-nav-icons{
                position: relative;
                vertical-align: middle;
              }
          }
        }
   }
}

.eltd-portfolio-single-holder{
	@include phone-portrait{
		.eltd-portfolio-single-nav {
		  .eltd-portfolio-prev,
		  .eltd-portfolio-next{
				width:32px;
		  }
		  .eltd-portfolio-navigation-info span {
			display: none;
		  }
		  .eltd-portfolio-back-btn{
			padding: 0 10px;
		  }
		}
	}
}

.info-slider{

	.eltd-info-slider-holder {

		.eltd-portfolio-single-media {
			.eltd-portfolio-info-holder {
				@include ipad-landscape{
					max-width: 100%;
					position: relative;
				}
			}
		}

	}
}
@include phone-landscape{
	.eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-two-columns article{
		margin-bottom:20px;
	}
}
