.eltd-header-centered {
    .eltd-page-header{
        .eltd-vertical-align-containers{
            padding: 0 25px;
        }
        .eltd-logo-area{
            overflow: visible;
            height: $header-centered-logo-area-height;
            .eltd-position-right{
                z-index: 3;
                .eltd-position-right-inner{
                    &>div{
                        margin-right:21px;
                        &:last-child{
                            margin-right:0;
                        }
                    }
                }
            }
            .eltd-position-center-inner{
                vertical-align: bottom;
            }
            .eltd-position-left-inner{
                .eltd-left-from-menu-widget-holder{
                    & > div{
                        display: inline-block;
                       &:not(.widget_eltd_social_icon_widget){
                           margin-right:25px;
                       }
                        &:last-child{
                            margin-right:0;
                        }
                    }

                }
            }
             .eltd-left-from-main-menu-widget,
             .eltd-right-from-main-menu-widget{
                 margin-top:0;
                color:#333333;
                 &.widget i {
                     color:#333333;
                 }
                 &.widget_eltd_social_icon_widget{
                        a{
                            color:#333333;
                        }
                 }
                 .eltd-shopping-cart{
                     a:hover i{
                         color:$first-main-color;
                     }
                 }

            }

        }
        .eltd-menu-area {
            z-index: 2;
            height: $header-centered-menu-area-height;
            .eltd-position-center-inner{
                height: 100%;

              .eltd-header-centered-widget-area{
                display: inline-block;
                height: 100%;
                margin-left: 10px;

                &>div{
                  margin-right: 18px;

                  &:last-child{
                    margin-right: 0;
                  }
                }

                .eltd-shopping-cart-widget {

                  .eltd-shopping-cart{
                     a:hover{

                         color:$first-main-color;
                         .eltd-light-header & {
                             i{
                               color:#fff;
                             }
                         }


                     }
                  }
                }
              }
            }
            .eltd-main-menu > ul > li > a{
                letter-spacing: 1px;
                color: #7c7c7c;
                font-weight: 600;
                margin-right:5px;

                .eltd-light-header & {
                    color: #e4e3e3;
                }
                .eltd-dark-header & {
                    color: #333333;


                }

                .item_text  {                
                    &:before {
                        content:"";
                        @include eltdTransition(all 0.3s cubic-bezier(0.25, 0.1, 0.11, .99));
                    }
                }

                &:hover{
                    color: #333333;
                    .item_text{
                        position: relative;
                        &:before{
                            background-color: transparent;
                        }
                    }
                }

                .item_inner{
                  padding: 0 19px 0 14px;
                }
                span.plus{
                    display: none;
                }

            }
        }
    }

    &.eltd-light-header{
        .eltd-page-header{
            .eltd-menu-area{
                .eltd-main-menu > ul > li > a{
                    color: #fff;
                    @include eltdTransition(color 0.2s ease-in-out);
                  .item_outer {
                    padding: 11px 0;
                    background-color: transparent;
                    @include eltdTransition(background-color 0.1s ease-in-out);
                  }

                    &:hover{
                        color: #333;
                        .item_outer{
                          background-color: #fff;
                        }
                        .item_text{
                          color: #333;
                            &:before{
                                background-color: $light-skin-color;
                            }
                        }
                    }
                }
            }
            .eltd-logo-area{
                 .widget.eltd-left-from-main-menu-widget,
                 .widget.eltd-right-from-main-menu-widget{
                    color: $light-skin-color;
                     &.widget i {
                         color:$light-skin-color;
                     }
                     .eltd-shopping-cart{
                         a:hover i{
                             color:$first-main-color;
                         }
                     }

                }



            }


          .eltd-menu-area{
            .widget.eltd-right-from-main-menu-widget{
              .eltd-shopping-cart{
                a:hover i{
                  color:$first-main-color;
                }
              }
            }
          }
        }
    }

    &.eltd-dark-header{
        .eltd-page-header{
            .eltd-menu-area{
                .eltd-main-menu > ul > li > a{
                    color: #333333;
                    @include eltdTransition(color 0.2s ease-in-out);

                  .item_outer{
                    padding: 11px 0;
                  }
                    &:hover{
                      .item_outer{
                        background-color: #333;
                      }
                      .item_text{
                        color:#fff;
                        &:before{
                          background-color: #333333;
                        }
                      }


                    }
                }
            }
            .eltd-logo-area{

                    .eltd-left-from-menu-widget-holder .eltd-left-from-main-menu-widget,
                    .eltd-right-from-menu-widget-holder .eltd-right-from-main-menu-widget{
                            color:#333333;
                    }
            }
        }
    }

}


