@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.eltd-header-vertical {
    .eltd-content,
    footer{
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }


    .eltd-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: 0;
        padding: 85px 70px 20px;
        background-color: transparent;
        height: 100%;
        z-index: 101;
        backface-visibility: hidden;
        @include eltdBoxSizing(border-box);
        outline: none;
    }

    .eltd-logo-wrapper{
        a img{
            margin:0 auto;
        }
    }

    &.admin-bar .eltd-vertical-menu-area {
        top: 81px;
    }

    .eltd-vertical-menu-area.eltd-with-scroll {
        overflow: hidden;
    }

    .eltd-vertical-area-background {
        position: fixed;
        width: $vertical-menu-width;
        height: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;
        box-shadow: 0 2px 8px rgba(0,0,0,.09);

        @include eltdTransition(opacity 0.5s ease, background-color 0.5s ease);
    }

    &.eltd-light-header{
        .eltd-vertical-menu > ul > li > a{
            color:#aaaaaa;
            &:hover{
                color:$light-skin-color;
                .item_text{
                    &:after{
                        display: none;
                    }
                }
            }

        }
    }

}