.eltd-main-menu {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	font-family: $third-font;

    .eltd-main-menu-line {
      display: none;
    	position: absolute;
    	left:0;
    	height: 0;
    	border-top: 2px solid #333333;
		@include eltdTransition(width .4s, left .6s cubic-bezier(0.25, 0.1, 0.11, .99));

    	@at-root .eltd-light-header .eltd-main-menu:not(.eltd-sticky-nav) .eltd-main-menu-line {
    		border-top-color: #fff;
    	}

    	@at-root .eltd-dark-header .eltd-main-menu:not(.eltd-sticky-nav) .eltd-main-menu-line {
    		border-top-color: #333333;
    	}
    }

	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			position: relative;
			display: inline-block;
			float: left;
			padding: 0;
			margin: 0;
			background-repeat: no-repeat;
			background-position: right;

			a {
				font-size: 13px;
				font-weight: 600;
				line-height: 16px;
				color: #7c7c7c;

				.menu_icon_wrapper{
					font-size: 11px;
					color: $first-main-color;
					margin-right: 6px;
				}

                &:hover{
                  color:$first-main-color;
                }

				body:not(.eltd-menu-with-large-icons) & span.item_inner i:before {
					margin: 0 7px 0 0;
				}
			}


		}
	}

	> ul {

		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 100%;

		> li {

			height: 100%;


			&.has_sub {
				> a i.eltd-menu-arrow {
					display: inline-block;
					margin-left: 6px;
				}

				> a .item_inner > i.eltd-menu-arrow {
					position: relative;
					left: 4px;
				}
			}

			> a {

				height: 100%;
				position: relative;
				padding: 0;
				display: inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				border-style: solid;
				border-width: 0;
				border-color: transparent;
				background-color: transparent;
				@include eltdTransition(color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out);

				&:before {
					height: 2px;
					bottom: 0;
				}

				&:after {
					height: 1px;
					bottom: 4px;
				}

				body.eltd-menu-with-large-icons & {
					text-align: center;
					vertical-align: middle;
				}

				> span.item_outer {
					display: block;
					position: relative;
					top: 50%;
					@include eltdTransform(translateY(-50%));
				}

				span.item_inner {
					display: inline-block;
                    padding: 0 16px;
					border-width: 0;
					position: relative;
					border-color: transparent;
					background-color: transparent;
					@include eltdTransition(text-decoration 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out);
					

					body.eltd-menu-with-large-icons & {
						text-align: center;
						vertical-align: middle;
					}
				}

				body.eltd-menu-with-large-icons & span.item_inner i {
					display: inline-block;
					width: 100%;
					vertical-align: middle;
				}

				span.plus {
					display: none;
					position: absolute;
					font-size: 15px;
					z-index: 1;
					right: 12px;
				}

				> i.blank {
					display: none;
				}

				.item_outer{
					padding: 11px 0;
					background-color: transparent;
				}
				&:hover{
					color:#fff;
					.item_outer{
						background-color: #333;
					}
					.item_text{
						color:#fff;
					}
				}
			}
		}
	}

	body:not(.eltd-menu-with-large-icons) & .eltd-drop-down .wide.icons .second i:before {
		margin: 0;
	}

	&.eltd-sticky-nav {

		> ul > li .second {
			top: calc( 100% + 2px ); //Border bottom on sticky header
		}

		ul li a {
			color: #333;
		}

	}

	&.eltd-left-nav,
	&.eltd-right-nav {

		> ul > li {

			.second {
				top: calc( 100% + 2px ); //Border bottom on divided header
			}

			> a .item_inner {
				padding: 0 28px;
			}

		}

		ul li a {
			color: #9c9c9c;
		}

	}

}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header),
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header {
	.eltd-main-menu > ul > li {
		> a {
			color: #fff;
			.item_outer{
				padding: 11px 0;
				background-color: transparent;
				@include eltdTransition(background-color .1s ease-in-out);
			}
			&:hover{
				color: #333;
				.item_outer{
					background-color: #fff;
				}
				.item_text{
					color: #333;
				}
			}

		}

		&.eltd-active-item{
			&>a{
				color: #333;
				.item_outer{
					padding: 11px 0;
					background-color: #fff;
				}
			}
		}
	}
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header),
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header {
	.eltd-main-menu > ul > li {
		> a {
			color: #333333;

			.item_outer{
				padding: 11px 0;
				@include eltdTransition(background-color .1s ease-in-out);
			}

          &:hover{
			  color: #fff;
			  .item_outer{
				  background-color: #333;
			  }
          }
		}
	}
}

/* Narrow drop down styles
   ========================================================================== */
.eltd-drop-down {
	ul {
		list-style: none;

		li {
			position: relative;
		}
	}

	%second-ul {
		display: inline-block;
		position: relative;
		background-color: rgba(255,255,255, 1);
	}

	.second {
		left: 0;
		top: 100%;
		position: absolute;
		display: block;
		visibility: hidden;
		overflow: hidden;
		opacity: 0;
		z-index: 10;
		@include eltdTransition(top 0.15s ease-out);

		&.eltd-drop-down-start {
			visibility: visible;
			overflow: visible;
			opacity: 1;
			@include eltdTransition(opacity 0.2s ease-out);
		}

		header.transparent.fixed.scrolled &,
		header.transparent.fixed_hiding.scrolled &,
		header.transparent.with_border:not(.sticky) &,
		header.transparent.eltd-menu-item-first-level-bg-color:not(.sticky) & {
			top: 100%;
		}

		header.transparent:not(.sticky) & {
			top: 75%;
		}

		&.right {
			right: 0;
			left: auto;
		}
	}

	.second .inner {
		position: relative;
		padding: 0;
		display: block;
		z-index: 997;

		> ul {
			@extend %second-ul;

			> li:last-child > a,
			> li > ul > li:last-child > a,
			> li > ul > li > ul > li:last-child > a {
				border-bottom: 0;
			}
		}

		ul li {
			display: block;
			position: relative;
			float: none;
			height: auto;
			background: 0;
			&:not(:last-child){
				margin-bottom: 14px;
			}
			@include eltdTransition(background-color .15s ease-out);
		}

		ul li a,
		ul li h4 {
			display: block;
			font-size: 13px;
			color: #6d6d6d;
			height: auto;
			line-height: 20px;
            margin: 0 25px;
			font-weight: 400;
			float: none;
			font-family: $third-font;
            text-transform: uppercase;
            letter-spacing: 1px;
			@include eltdTransition(color .15s ease-out);
		}

      &>ul>li>a{
        text-transform: uppercase;
      }

		> ul > li:hover > a,
		ul li.sub ul li:hover > a {







		}

		ul.right li {
			a,
			h4 {
				text-align: right;
			}

			ul {
				left: -100%;
			}

			&.sub a i.eltd-menu-arrow {
				right: auto;
				left: 31px;
				@include eltdTransform(rotate(180deg) translateY(50%));
			}
		}

		ul li.sub a i.eltd-menu-arrow {
			position: absolute;
			top: 50%;
			right: 23px;
			vertical-align: middle;
			color: inherit;
			font-size: 18px;
			@include eltdTransform(translateY(-50%));
		  	display: inline-block;
		}


	  ul li .widget{
		margin-top:20px;

		a{
		  padding: 0;
		}
	  }
	}

	li.left_position .second {
		left: 0;
	}

	li.right_position .second {
		left: auto;
		right: 0;
	}

	li.left_position .second .inner,
	li.right_position .second .inner {
		> ul {
			width: auto;
			white-space: nowrap;

			> li {
				float: none;
				display: inline-block;
				width: 180px;
				vertical-align: top;
			}
		}
	}

	> ul > li {
		&:hover > .second {
			z-index: 20;
		}
	}

	.narrow .second .inner ul {
		@extend %second-ul;
		padding: 25px 0;
		box-shadow: 2px 4px 8px rgba(0,0,0,.09);

		li:last-child {
			border-bottom: none;
		}

		li {
			padding: 0;
			width: 235px;
			@include eltdTransition(background-color .15s ease-out);

			ul{
				li a{
					text-transform: capitalize;
					letter-spacing: 0.5px;
				}
			}
		}


		li ul {
			position: absolute;
			box-shadow: 2px 4px 8px rgba(0,0,0,.09);
			left: 100%;
			top: -25px; /* same as padding in father ul */
			height: auto;
			opacity: 0;
			overflow: hidden;
			z-index: 10;
			-webkit-transform: translateZ(0);
			@include eltdTransition(opacity .4s ease-out);
		}

		li:hover ul {
			z-index: 20;
			opacity: 1;
		}

		&.right li ul {
			left: -100%;
		}
	}

	.narrow>.second>.inner>ul{
		padding-bottom: 26px;
	}
}

/*
header.transparent .eltd-drop-down li:not(.right_position):not(.left_position) .second:not(.right) {
    left: 16px;
}
*/
header.transparent.eltd-menu-item-first-level-bg-color .eltd-drop-down .second:not(.right) {
	left: 0;
}

/* slide_from_bottom start */

body.eltd-dropdown-slide-from-bottom .eltd-drop-down {
	.second {
		@include eltdTransition(top 0.25s cubic-bezier(0.25, 0.1, 0.11, .99) .1s, opacity 0.2s cubic-bezier(0.25, 0.1, 0.11, .99) .1s, height 0s ease-out 0.5s);
	}

	.wide,
	.narrow {
		.second .inner > ul {
			margin-top:-10px;
			@include eltdTransition(all 0.3s cubic-bezier(0.25, 0.1, 0.11, .99));
			padding-bottom: 16px;
		}

		.second.eltd-drop-down-start .inner > ul {
			top: 0;
		}
	}

	.narrow .second .inner ul li {
		ul {
			margin-top: -10px;
			@include eltdTransition(all 0.3s cubic-bezier(0.25, 0.1, 0.11, .99));
		}

		&:hover ul {
			top: -15px;
		}
	}

	.narrow>.second>.inner>ul{
		padding-bottom: 26px;
	}


}

/* slide_from_bottom end */

/* slide_from_top start */

body.eltd-dropdown-slide-from-top .eltd-drop-down {
	.second {
		overflow: visible;
		@include eltdTransition(top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s);
	}

	.wide,
	.narrow {
		.second .inner > ul {
			top: -30px;
			@include eltdTransition(all 0.3s cubic-bezier(.39, .575, .565, 1));
		}

		.second.eltd-drop-down-start .inner > ul {
			top: 0;
		}
	}

	.narrow .second .inner ul li {
		ul {
			top: -22px;
			@include eltdTransition(all 0.3s cubic-bezier(.39, .575, .565, 1));
		}

		&:hover ul {
			top: -1px; /* same as padding in father ul */
		}
	}

	.narrow>.second>.inner>ul{
		padding-bottom: 26px;
	}
}

/* slide_from_top end */

/* slide_from_left start */

body.eltd-dropdown-slide-from-left .eltd-drop-down {
	.second {
		overflow: visible;
		@include eltdTransition(top 0.15s ease-out, opacity 0.15s ease-out, height 0s ease-out 0.4s);
	}

	.wide,
	.narrow {
		.second .inner > ul {
			left: -30px;
			@include eltdTransition(all 0.2s ease-out);
		}

		.second.eltd-drop-down-start .inner > ul {
			left: 0;
		}
	}

	.narrow .second .inner ul li {
		ul {
			left: calc(100% - 30px);
			@include eltdTransition(all 0.2s ease-out);
		}

		&:hover ul {
			left: 100%;
		}
	}
}

/* slide_from_left end */

/* Wide drop down styles
   ========================================================================== */
.eltd-drop-down .wide {
	.second ul {
		padding: 29px 0 22px;
	}
	.second .inner > ul{
      padding: 30px 0 16px 0;
		box-shadow: 2px 4px 8px rgba(0,0,0,.09);
		&> li{
			padding: 0;
			border-left: none;

			a{

				&.no_link{
					margin-bottom:5px;
					.item_text{
						position:relative;
						font-size: 14px;
						font-style: normal;
						color:#6d6d6d;
						font-family: $third-font;
						text-transform: none;
						letter-spacing: 0px;

						&:after{
							display: none;
						}
					}
				}
			}

			&>ul{
				padding-top: 14px;
			}



		}

		&>li.sub{
			a i.eltd-menu-arrow{
				display: none;
			}
		}
	}



	&:not(.wide_full_width){
		.second > .inner > ul {
			&>li {
				width: 25%;
				&:nth-child(4n+1) {
					clear: both;
				}
			}
		}
	}

	&.wide_full_width{
		.second > .inner > ul{
			&>li {
				width: 20%;
				&:nth-child(5n+1) {
					clear: both;
				}

				ul{
					li {
						a.no_link{
							.item_text{
								color: #979797;
								font-size: 13px;
								font-style: italic;
								font-family: $third-font;
								text-transform: capitalize;
							}
						}
					}

				}
			}
		}
	}

	.second ul li {
		float: left;
		padding: 0;
		border-bottom: 0;
		width: 100%;
		@include eltdBoxSizing(border-box);

		a,
		h4,
		&.sub a {
			background: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: transparent;
		}

		ul {
			display: block;
			left: 0;
			padding: 18px 0 0;
			position: relative;
			top: 0;
			visibility: visible;
			background-color: transparent !important;
		}

		ul .widget {
			padding: 0px 18px;
		}

		ul li {
			border: 0;
		}

		ul li.menu-item-has-children > a,
		ul li.menu-item-has-children > a:hover {
			border-bottom: 0 none;
			color: #393939;
		}
	}

	.second > .inner > ul {
		width: 1100px;

		.eltd-grid-1300 & {
			width: $grid-width-1300;
		}

		.eltd-grid-1200 & {
			width: $grid-width-1200;
		}

		.eltd-grid-1000 & {
			width: $grid-width-1000;
		}

		.eltd-grid-800 & {
			width: $grid-width-800;
		}
	}

	.second .inner > ul > li > a {
		line-height: 18px;
		font-size: 13px;
		color: #757575;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: $third-font;
		text-transform: uppercase;
        position: relative;
        border-bottom: 2px solid $shortcode-background-color;
        padding-bottom: 10px;
        width: 73%;

		&:hover {
			color:#757575;
			.item_text{
				&:after{
					display: none;
				}
			}
		}

	}
	.second .inner ul li {
		&.sub h4 a,
		h4 a {
			padding: 0px !important;
		}
	}

	&:not(.right_position):not(.wide_full_width) .second ul li {
		&:first-child,
		&:nth-child(4n+1) {
			border-left-color: transparent;
		}
	}

	&.wide_full_width .second ul li{
		&:first-child,
		&:nth-child(5n+1) {
			border-left-color: transparent;
		}

		&>a{
		  i.eltd-menu-arrow{
			display: none;
		  }
		}
	}

	&.right_position .second ul li {
		float: right;

		&:last-child,
		&:nth-child(4n) {
			border-left-color: transparent;
		}
	}
	&.right_position.wide_full_width .second ul li {

		&:nth-child(5n) {
			border-left-color: transparent;
		}
	}

}

/* Wide drop down with full width background styles
   ========================================================================== */
.eltd-drop-down .wide.wide_background {
	.second {
		background-color: #fff;

		.inner {
			text-align: center;
		}

		.inner ul {
			text-align: left;
		}
	}
}

/* Wide with icons drop down styles
   ========================================================================== */
.eltd-drop-down .wide.icons .second {
	ul li a span {
		position: relative;
		display: block;
	}

	i {
		width: 24px;
		height: auto;
		float: left;
		display: inline-block;
		vertical-align: middle;
		color: inherit;
		line-height: inherit;

		&.blank {
			background: none;
			border: 0px;
			display: none;
		}
	}
}