@import "blocks/logo";
@import "blocks/main_menu";
@import "top-bar/top-bar";
@import "types/header-standard/header-standard";
@import "types/header-divided/header-divided";
@import "types/header-simple/header-simple";
@import "types/header-compound/header-compound";
@import "types/header-vertical/_header-vertical";
@import "types/header-classic/_header-classic";
@import "types/header-full-screen/_header-full-screen";
@import "types/header-centered/_header-centered";
@import "types/header-dual/_header-dual";
@import "widgets/header-standard-widgets";
@import "widgets/header-sticky-widgets";
@import "widgets/header-mobile-widgets";

@import "types/mobile-header/_mobile-header";


.eltd-page-header {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 109;

    /* ==========================================================================
    #General header layout - start
    ========================================================================== */
    a img {
        display: block;
    }

    .eltd-grid{
        height: 100%;

        .eltd-vertical-align-containers{
            padding: 0;
            @include eltdTransition(background-color 0.3s ease);
        }
    }

    /* ==========================================================================
    #General header layout - end
    ========================================================================== */

    /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
    .eltd-logo-area {
        height: $logo-area-height;
        overflow: hidden;
        position: relative;

        .eltd-logo-wrapper a {
            max-height: $logo-area-height*0.9;
        }
    }
    /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */

    /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
    .eltd-menu-area {
        height: $menu-area-height;
        position: relative;
        @include eltdTransition(background-color 0.3s ease);

        .eltd-logo-wrapper a {
            max-height: $menu-area-height*0.9;
        }
    }

    /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */

    /* ==========================================================================
    #Sticky header styles - start
    ========================================================================== */
    .eltd-sticky-header{
        height: $sticky-header-height;
        width: 100%;
        position: fixed;
        top: -2px;
        left: 0;
        z-index: 100;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.33s ease;
        transition: transform 0.3s ease;
        -webkit-backface-visibility: hidden;
        @include eltdBoxSizing(border-box);

        .eltd-paspartu-enabled &{
            padding-left: 10px;
            padding-right: 10px;
            //sticky mustn't have top and bottom padding
            padding-top: 0 !important;
            padding-bottom: 0!important;
        }

        &.header-appear{
            transform: translateY(0%);
        }

        .eltd-sticky-holder {
            height: 100%;
            background-color: #fff;
            position: relative;
            z-index: 2;
            box-shadow: 0 2px 8px rgba(0,0,0,.09);

            .eltd-vertical-align-containers{
                padding: 0 25px;

                .eltd-position-center{
                    height: 100%;

                    .eltd-position-center-inner{
                        height: 100%;
                    }
                }
            }
        }

        .admin-bar &.header-appear{
            top: 32px;
        }

        .eltd-position-right-inner {
            height: 100%;
        }

        .eltd-sticky-holder .eltd-logo-wrapper a {
            max-height: $sticky-header-height*0.9;
        }

        .eltd-sticky-right{
            display: inline-block;
            vertical-align: middle;
        }

        .eltd-main-menu.eltd-sticky-nav{
            &>ul>li{
                &>a{
                    letter-spacing: 1px;
                    font-weight: 700;
                    .item_inner{
                        padding: 0 16px;
                    }
                }

                .second .inner{
                  margin-top:-2px;
                }
                &.eltd-active-item,
                &:hover{
                    &>a{
                        color: $first-main-color;
                    }
                }
                &.eltd-main-menu-line{
                    display: none;
                }
            }
        }

        .second {
            a { 
                .item_text { 

                    position:relative;

                    &:after {
                        content:"";
                        position:absolute;
                        top:auto !important;
                        bottom:-5px;
                        left:0;
                        height:2px;
                        width:100%;
                        opacity:0;
                        transform-origin:left;
                        background:$first-main-color;
                        @include eltdTransition(all 0.3s ease-in-out);
                        @include eltdTransform(scale(0.5,1));
                    }
                }

                &:hover { 
                    .item_text {
                        &:after { 
                            opacity:0.5;
                            @include eltdTransform(scale(1,1));
                        }
                    }
                }
            }
        }

    }




    /* ==========================================================================
    #Sticky header styles - start
    ========================================================================== */

    /* ==========================================================================
    #Fixed header styles - start
    ========================================================================== */
    .eltd-fixed-wrapper.fixed{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        -webkit-backface-visibility: hidden;
    }

    /* ==========================================================================
    #Fixed header - end
    ========================================================================== */
}

/* ==========================================================================
#Light header - begin
========================================================================== */

.eltd-light-header{

    .eltd-logo-area,
    .eltd-menu-area,
    .eltd-vertical-menu-area{
        color: #fff !important; //Beacause of inline color styles

        .widget {
			color: #fff !important; //Beacause of inline color styles
            p,
            a,
            span,
            i,
            .widgettitle {
                color: #fff;
            }

          a:hover{
           color:#fff;
          }



        }

        .eltd-light-logo{
            opacity: 1;
        }

        .eltd-dark-logo,
        .eltd-normal-logo{
            opacity: 0;
        }

    }

    &.eltd-header-standard .eltd-shopping-cart-widget .eltd-shopping-cart a:hover i{
        color:$first-main-color;
    }

  .eltd-page-header{

    .eltd-menu-area{

      .eltd-main-menu{

        li{

          &.eltd-active-item>a .item_text{
            color:#333;
          }

          &>.second{
            &>.inner>ul
            {
             &>.current-menu-item{
                &>a{
                  color:$first-main-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
#Light header - end
========================================================================== */

/* ==========================================================================
#Dark header - begin
========================================================================== */

.eltd-dark-header{

    .eltd-logo-area,
    .eltd-menu-area,
    .eltd-vertical-menu-area{
        color: $header-dark-color !important; //Because of inline color styles

        .widget {
			color: $header-dark-color;

            p,
            a,
            span,
            i,
            .widgettitle {
                color: $header-dark-color ; //Beacause of inline color styles
            }

        }

        .eltd-dark-logo{
            opacity: 1;
        }

        .eltd-normal-logo,
        .eltd-light-logo{
            opacity: 0;
        }

    }

  .eltd-page-header{

    .eltd-menu-area{

      .eltd-main-menu{

        li{

          &.eltd-active-item>a{
            color:$first-main-color;
          }

          &>.second{
            &>.inner>ul
            {
              &>.current-menu-item{
                &>a{
                  color:$first-main-color;
                }
              }
            }
          }
        }
      }
    }
  }

}

.eltd-page-header{

  .eltd-menu-area{

    .eltd-main-menu{

        a {

            color:inherit;

            .item_text {
                position:relative;
            }

            &:hover {
                color:$first-main-color;
            }

        }

        .second {
            a { 
                .item_text { 

                    &:after {
                        content:"";
                        position:absolute;
                        top:auto !important;
                        bottom:-5px;
                        left:0;
                        height:2px;
                        width:100%;
                        opacity:0;
                        transform-origin:left;
                        background:$first-main-color;
                        @include eltdTransition(all 0.3s ease-in-out);
                        @include eltdTransform(scale(0.5,1));
                    }
                }

                &:hover { 
                    .item_text {
                        &:after { 
                            opacity:0.5;
                            @include eltdTransform(scale(1,1));
                        }
                    }
                }
            }
        }

        .second .item_text[data-content]:after {
            top:0;
        }

      &>ul{
        li{

          &.eltd-active-item>a{
            .item_outer{
              background-color: #333;
              padding: 11px 0;
            }
            .item_text{
              color:#fff;

            }
          }

          &>.second{
            &>.inner>ul
            {
              &>.current-menu-item{
                &>a{
                  color:$first-main-color;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ==========================================================================
#Dark header - end
========================================================================== */