@include mac{
	.eltd-header-centered{
		.eltd-page-header{
			.eltd-menu-area .eltd-main-menu{
				&> ul > li > a{
					.item_inner{
						padding: 0 20px;
					}
					span.plus{
						right: 0;
					}
				}
			}
		}
	}
	.eltd-header-standard{
		.eltd-page-header{
			.eltd-menu-area .eltd-main-menu{
				&> ul > li > a{
					.item_inner{
						padding: 0 10px;
					}
				}
			}
		}
	}
}

@include ipad-landscape {
    .eltd-page-header{
        display: none;
    }

    .eltd-mobile-header {
        display: block;
    }

	.eltd-header-vertical {
		.eltd-vertical-menu-area {
			display: none;
		}
		.eltd-content,
		footer {
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}

	.eltd-header-vertical .carousel-inner {
		left: 0 !important;
		width: 100%;
	}
}

.eltd-drop-down .wide .second > .inner > ul {
    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

}

.eltd-boxed{
	.eltd-page-header .eltd-sticky-header,
	.eltd-page-header .eltd-fixed-wrapper.fixed{
		@include laptop-landscape {
			width: $grid-width-laptop-landscape-boxed;
		}
	}

	&.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner{
		@include ipad-landscape {
			width: $grid-width-ipad-landscape-boxed;
			left: auto;
		}

		@include ipad-portrait {
			width: $grid-width-ipad-portrait-boxed;
		}

		@include phone-landscape {
			width: $grid-width-phone-landscape-boxed;
		}

		@include phone-portrait {
			width: $grid-width-phone-portrait-boxed;
		}

		@include smaller-phone-portrait {
			width: $grid-width-smaller-phone-portrait-boxed;
		}
	}
}