@media only screen and (max-width: $phone-portrait){
 
	.eltd-accordion-holder:not(.eltd-boxed) div.eltd-accordion-content{
		padding: 0;
	}

	.eltd-accordion-holder:not(.eltd-boxed) span.eltd-tab-title {
		padding: 0 0 0 58px;
	}
    
    
}
