/* ==========================================================================
   Accordion shortcode start styles
   ========================================================================== */
.eltd-accordion-holder{
	position: relative;
    margin-bottom: 0;
    
    .eltd-accordion-content{
        margin: 0;
        padding: 10px 0;
    }
    .eltd-title-holder {
        cursor: pointer;
        position: relative;
        color: $light-text-color;
        padding: 20px 0;
        margin: 9px 0 0;
        @include eltdBoxSizing(border-box);
        @include eltdTransform(translateZ(0px));
        @include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out);
        &:first-child{
            margin: 0;
        }

        .eltd-tab-title,
        .eltd-tab-title-inner{
            color: inherit;
            font-weight: 600;
            line-height: 23px;
            font-family: $second-font;
        }
        
        .eltd-accordion-mark {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 40px;
            height: 50px;
            line-height: 50px;
            color: $light-text-color;
            @include eltdBoxSizing(border-box);
            @include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);
        }
        
        .eltd-accordion-mark-icon {
            position: relative;
            display: block;
            width:100%;
            height: 100%;
            line-height:inherit;
            text-align: center;
            font-size: 13px;
            @include eltdTransition(color 0.15s ease-out);
        }
        .eltd-accordion-mark-icon span{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            line-height:inherit;
            @include eltdTransition(opacity 0.15s ease-out);
            margin-left: -1px;
        }
        .eltd-accordion-mark-icon .icon_minus-06{
            opacity: 0;
        }
        .eltd-accordion-mark-icon .icon_plus{
            opacity: 1;
        }
        &.ui-state-active,
        &.ui-state-hover{
            color: $first-main-color;

            .eltd-accordion-mark{
                color: #333333;
                background-color: #FFFFFF;
                border-color: $first-main-color;
            }
        }
        &.ui-state-active{

            .eltd-accordion-mark-icon .icon_minus-06{
                opacity: 1;
            }
            .eltd-accordion-mark-icon .icon_plus{
                opacity: 0;
            }
        }

    }

    &.eltd-initial{

        .eltd-title-holder .eltd-tab-title{
            padding: 0 0 0 60px;
            @include eltdTableLayout;
            box-sizing: border-box;
            text-align : left;

            span.eltd-tab-title-inner{
                position: relative;
                @include eltdTableCellLayout;
                text-align : left;
            }
        }

    }
    &.eltd-boxed{
        .eltd-accordion-content{
            padding: 16px 25px 16px 38px;
            @include eltdBoxSizing(border-box);
            background-color: $default-background-color;
            border: 2px solid $shortcode-background-color;
            border-top: 0;

            p,
            p:last-child{
                margin: 10px 0;
            }
        }
        .eltd-title-holder{
            text-align: left;
            padding: 14px 40px;
            background-color: $shortcode-background-color;

            .eltd-accordion-mark{
                border: 0;
                background-color: transparent;
            }
        }
        .eltd-title-holder.ui-state-active,
        .eltd-title-holder.ui-state-hover{
            color: #333;
            background-color: $shortcode-background-color;
            border-color: $first-main-color;
        }

        &.light {
            .eltd-title-holder {
                background-color: #fff;
            }
            .eltd-accordion-content{
                border: 0;
                border-top:2px solid $shortcode-background-color;
            }
            .eltd-title-holder.ui-state-active,
            .eltd-title-holder.ui-state-hover{
                color: #333;
                background-color: #FFFFFF;
                border-color: $first-main-color;
            }
        }

        &.dark {
            .eltd-title-holder {
                background-color: #000;
            }
            .eltd-accordion-content{
                border: 2px solid #000;
            }
            .eltd-title-holder.ui-state-active,
            .eltd-title-holder.ui-state-hover{
                color: #333;
                background-color: #FFFFFF;
                border-color: $first-main-color;
            }
            &.eltd-accordion-square{
                .eltd-title-holder {
                    font-family: $first-font;
                    background-color:$shortcode-background-color;
                    color:#333333;
                    .eltd-accordion-mark{
                        color:#333333;
                    }
                }
                .eltd-accordion-content{
                    border: 2px solid $shortcode-background-color;;
                    border-top: none;
                    font-family: $first-font;
                    font-size:14px;
                    color:#676767;
                    padding: 20px 25px 28px 38px;
                }
                .eltd-title-holder.ui-state-active,
                .eltd-title-holder.ui-state-hover{
                    color: $light-skin-color;
                    font-family: $first-font;
                    background-color: #333333;
                    .eltd-accordion-mark{
                        color:#fff;
                    }
                }

            }
        }

        &.eltd-accordion-rounded{
            .eltd-title-holder{
                background-color: #f0f0f0;
                margin: 9px 0 0;
                &:first-child{
                    margin: 0;
                }
                @include eltdBorderRadius(50px);
            }
            .eltd-accordion-content{
                background-color: transparent;
                border-color: transparent;
                padding: 14px 55px 9px 38px;

            }
            .eltd-title-holder.ui-state-active,
            .eltd-title-holder.ui-state-hover{
                background-color: #f0f0f0;
                color:$heading-color;
            }

            &.dark{

                .eltd-title-holder,
                .eltd-title-holder.ui-state-active,
                .eltd-title-holder.ui-state-hover{

                    .eltd-accordion-mark{
                        color:#fff;
                    }
                    background-color: #000;
                    color:#fff;
                }
            }

        }

    }
}



