@media only screen and (max-width: $large-laptop) {
  .eltd-blog-carousel-holder.eltd-carousel-cards{
    .eltd-blog-carousel-item {
      padding: 39px 20px 36px 20px;
    }
  }
}

@include laptop-landscape{

	.eltd-blog-carousel-holder.eltd-carousel-cards{
		.eltd-blog-carousel-item {
			padding: 30px;
		}
	}

}
@include ipad-landscape{
    
	.eltd-blog-carousel-holder.eltd-carousel-cards{
		.eltd-blog-carousel-item {
			padding: 20px 25px 25px;
		}
		&.eltd-four-columns .eltd-blog-carousel-item{
			width: calc((100% - 28px)/2);  //margin between items is 28px
			margin-bottom: 28px;
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(2n+1){
				clear: both;
			}
		}

	}

}

@include phone-landscape{

	.eltd-blog-carousel-holder.eltd-carousel-cards{
		.eltd-blog-carousel-item{
			width: 100% !important; // important is set to override all other selectors
			margin: 0 0 28px !important;
			clear: both;
		}

	}
}