.eltd-blog-list-holder.eltd-blog-gallery{

    .eltd-blog-list-item{

        &:hover {
            .eltd-blog-list-item-holder {
                &:after {
                    background-color: rgba(0,0,0,.4);
                }
            }

            .eltd-blog-list-item-holder .eltd-view-more {

                &:after {
                    @include eltdTransform(scale(1,1));
                    opacity:1;
                } 

            }
        }

        .eltd-blog-list-block-link {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 15;
        }

        .eltd-blog-list-item-holder{
            background-position: center center;
            min-height: 507px;
            @include eltdBoxSizing(border-box);
            background-color: lightgrey;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 25px 30px 22px;

            &:after { 
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 10;
                @include eltdTransition(all .4s);
            }

            .eltd-item-image{
                img{
                vertical-align: middle;
                display: none;
                }
            }

            .eltd-item-text-holder{
                position: relative;
                z-index: 20;

                .eltd-post-info-author.eltd-item-info-section{
                    @extend %author-info-style;

                    .eltd-post-author-content{
                        font-family: $second-font;
                        font-size: 13px;
                        letter-spacing: 1px;

                        span,
                        a {
                            color:$light-skin-color;
                        }

                        .eltd-post-info-author-link:hover {
                            color:#fff;
                        }
                    }
                }

                .eltd-item-title{
                    color:$light-skin-color;
                    margin-top:11px;
                    letter-spacing: 1px;
                    @include eltdBoxSizing(border-box);
                    width: 88%;

                    a:hover {
                        color:inherit;
                    }
                }

            }

            .eltd-view-more{
                position: absolute;
                bottom: 21px;
                border-bottom: 2px solid transparent;
                z-index: 20;
                color:$light-skin-color;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: $first-font;
                font-size: 11px;
                font-weight: 600;
                @include eltdTransition(all .3s cubic-bezier(.25,.1,.11,.99));

                &:after {
                    content:"";
                    position:absolute;
                    bottom:0;
                    left:0;
                    height:2px;
                    width:100%;
                    background:#fff;
                    transform-origin:left;
                    opacity:0;
                    @include eltdTransform(scale(.5,1));
                    @include eltdTransition(all .3s cubic-bezier(.25,.1,.11,.99));
                }
            }
        }
    }
}