/*------------------Masonry shortcode -----------------------------*/
.eltd-blog-list-holder.eltd-masonry{

    .eltd-blog-list{
        opacity: 0;
        @include eltdTransition(opacity 0.15s ease-out);

        &.eltd-appeared{
            opacity: 1;
        }
        .eltd-blog-list-masonry-item{
            .eltd-item-info-section{
                @extend %blog-bottom-section-style;
            }
        }

        .eltd-excerpt{
            margin-bottom: 15px;
        }

    }

    .eltd-blog-list-masonry-grid-gutter {
        width: 24px;
    }

    &.eltd-one-column{

        .eltd-blog-list-masonry-grid-gutter {
            width: 0;
        }

        .eltd-blog-list-masonry-grid-sizer,
        .eltd-blog-list-masonry-item{
            width: 100%;
        }
    }

    &.eltd-two-columns {

        .eltd-blog-list-masonry-grid-sizer,
        .eltd-blog-list-masonry-item{
            width: calc((100% - 24px) / 2); //margin between items is 24px
        }

    }
    &.eltd-three-columns {

        .eltd-blog-list-masonry-grid-sizer,
        .eltd-blog-list-masonry-item{
            width: calc((100% - 48px) / 3); //margin between items is 24px
        }

    }
    &.eltd-four-columns{

        .eltd-blog-list-masonry-grid-sizer,
        .eltd-blog-list-masonry-item{
            width: calc((100% - 72px) / 4); //margin between items is 24px
        }

    }
}