.eltd-blog-slider-holder{
    &:hover{
        cursor: pointer;
    }
    .eltd-blog-slider{
        visibility: hidden;
    }
    .eltd-blog-slider-item{
        width: 100%;
        position: relative;
        float: left;
        @include eltdBoxSizing(border-box);

        .eltd-blog-slider-top-section{

             position: relative;
             overflow: hidden;
            .eltd-blog-slider-caption{
                 position: absolute;
                 right:0;
                 bottom: 0;
                 height: auto;
                padding: 0 45px 20px 0;
                text-align: left;
                 @include eltdBoxSizing(border-box);
                 @include eltdTransform(translateY(100%));
                 will-change:transform, opacity;

                .eltd-item-info-section{
                    .eltd-post-info-date,
                    .eltd-post-info-category{
                        display: inline-block;
                        font-family: $first-font;
                        font-size: 11px;
                        color:#a9a9a9;
                        font-weight:800;
                        text-transform: uppercase;
                        .eltd-blog-icon{
                            display: none;
                        }
                    }
                    .eltd-post-info-category a{
                        color:#a9a9a9;
                        &:hover{
                            color:$first-main-color;
                        }
                    }
                    .eltd-post-info-date:after {
                        content: "/";
                        position: relative;
                        display: inline-block;
                        margin:0 5px;

                    }
                }
            }
            .eltd-btn{
                font-weight:400!important; //override inline button style
                color:$first-main-color;
                font-size: 13px;
                &:hover{
                    color:$first-main-color;
                }
            }
        }

        .eltd-section-title{
            margin:0;
            text-align: center;
            color:#231f20;
            font-weight:600;
            font-size: 50px;
        }
        .eltd-excerpt{
            margin: 0 0 9px;
        }
    }

    .eltd-blog-slider.owl-carousel {
        .eltd-post-image {
            overflow: hidden;
            img {
                @include eltdTransition(all .4s);
            }
        }

        &.eltd-translating {
            .owl-item {
                &:not(.active){
                    .eltd-blog-slider-caption{
                        @include eltdTransform(translateY(0) translateZ(0));
                    }
                }
            }
        }
        &.eltd-translated { 
            .owl-item {
                &.active{
                    .eltd-blog-slider-caption{
                        @include eltdTransform(translateY(0) translateZ(0));
                        -webkit-transition: -webkit-transform .25s cubic-bezier(0.22, 0.61, 0.36, 1);
                        transition: transform .25s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }
                    &:hover {
                        .eltd-post-image {
                            img {
                                @include eltdTransform(scale(1.05));
                                -webkit-transition: -webkit-transform .75s cubic-bezier(0.25, 0.1, 0.11, .99);
                                transition: transform .75s cubic-bezier(0.25, 0.1, 0.11, .99);
                            }
                        }
                    }
                }

            }
        }

     .owl-controls{
         display: none;
     }
    }

    &.eltd-blog-slider-left-type{
        .eltd-blog-slider.owl-carousel{
                .eltd-blog-slider-item{
                    .eltd-blog-slider-caption{
                        left:0;
                        padding: 0 0 25px 30px ;

                        .eltd-section-title{
                             text-align: left;
                             color:$light-skin-color;
                             font-size: 25px;
                             font-weight: 400;
                             font-family: $second-font;
                             width: 50%;
                        }

                        .eltd-item-info-section{

                            .eltd-post-info-date,
                            .eltd-post-info-category a{
                                color:$light-skin-color;
                                font-weight: 400;
                                font-family: $second-font;
                            }

                            .eltd-post-info-category a:hover{
                                color:$first-main-color;
                            }
                        }
                    }
                }
        }
    }
    &.eltd-blog-slider-display-nav{
        .eltd-blog-slider.owl-carousel{
            .owl-controls{
                display: block;
                .owl-dots {
                    @extend %dots-style2;
                    margin: 20px 0 0;
                }
                .owl-nav{
                    display: none;
                }
            }
        }
    }

}

