.eltd-blog-list-holder.eltd-blog-author-top{
	.eltd-blog-list-item{
		background-color: #fff;
		padding: 26px 38px 20px 28px;
		@include eltdBoxSizing(border-box);
		.eltd-item-title{
			margin: 12px 0 11px;
		}
		.eltd-excerpt{
			margin: 0 0 66px;
		}
		.eltd-post-info-author{
			@extend %author-info-style;
		}
		.eltd-author-icon{
			font-size: 14px;
			color: $first-main-color;
		}
		.eltd-item-info-section{
			@extend %blog-bottom-section-style;

		}

	}
}
