/* #Latest posts
   ========================================================================== */
.eltd-blog-list-holder{
	display: inline-block;
	width: 100%;
    
    &>ul{
        list-style: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding:0;	
        vertical-align: top;
        
        .eltd-blog-list-item{
            display: block;
            position: relative;
            float: left;
            margin: 0 24px 20px 0;

            .eltd-item-title{
                width: 70%;
            }

            .eltd-item-image {
                position: relative; 
                a:after {
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0,0,0,.3);
                    opacity:0;
                    @include eltdTransition(opacity .3s)
                }

                &:hover {
                    a:after {
                        opacity:1;
                    }
                }
            }
        }
    }
    .eltd-item-title{
        width: 70%;
        a:hover{
            color:$first-main-color;
        }
    }
    .eltd-excerpt{
        margin: 10px 0 0 0; 
    }
    &.eltd-one-column .eltd-blog-list-item{
        float: none;
        margin-right: 0;
    }
    &.eltd-two-columns .eltd-blog-list-item{
        width: calc((100% - 24px)/2);  //margin between items is 24px
        &:nth-child(2n){
            margin-right: 0;
        }
        &:nth-child(2n+1){
            clear: both;
        }
    }
    &.eltd-three-columns .eltd-blog-list-item{
        width: calc((100% - 48px)/3); //margin between items is 24px
        &:nth-child(3n){
            margin-right: 0;
        }
        &:nth-child(3n+1){
            clear: both;
        }
    }
    &.eltd-four-columns .eltd-blog-list-item{
        width: calc( (100% - 72px )/4); //margin between items is 24px
        &:nth-child(4n){
            margin-right: 0;
        }
        &:nth-child(4n+1){
            clear: both;
        }
    }
}