@include laptop-landscape{
	.eltd-blog-list-holder{

		&.eltd-blog-gallery{
			&.eltd-four-columns{
				.eltd-blog-list-item{
					width: calc((100% - 24px)/2);  //margin between items is 24px

					&:nth-child(2n){
						margin-right: 0;
					}

					&:nth-child(2n+1){
						clear: both;
					}
				}

			}
		}


	}
}
@include mac{
	.eltd-blog-list-holder{

		&.eltd-blog-gallery{
			.eltd-blog-list-item .eltd-blog-list-item-holder{

				min-height: 450px;
			}
		}
	}

}
@include ipad-landscape{

	.eltd-blog-list-holder{

		&>ul{
			.eltd-blog-list-item{
				.eltd-item-title{
					width: 100%;
				}
			}
		}

		&.eltd-masonry.eltd-four-columns{
			.eltd-blog-list-masonry-grid-sizer,
			.eltd-blog-list-masonry-item {
				width: calc((100% - 24px) / 2); //margin between items is 24px
			}
		}

		&.eltd-four-columns .eltd-blog-list-item{
			width: calc((100% - 24px)/2);  //margin between items is 24px
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(2n+1){
				clear: both;
			}
		}
		&.eltd-blog-author-top.eltd-three-columns{
			.eltd-blog-list-item{
				width: 100%;
				clear: none;
				margin: 20px 0;
			}
		}

		&.eltd-blog-split-column{
			&.eltd-three-columns{
				.eltd-blog-list-item.eltd-blog-list-split-column-item{
					width: 100%;
				}
			}
		}

		&.eltd-blog-minimal{
			.eltd-blog-list{
				li{
					.eltd-item-image{
						width: 12%;
					}
				}
			}
		}

		&.eltd-blog-standard {

			&.eltd-three-columns{
				ul li{
					.eltd-item-text-holder{
						.eltd-item-info-section.eltd-small-info-section{
							.eltd-post-info-comments-holder{
								float: left;
							}
						}
					}
				}

			}
		}
	}

}

@include ipad-portrait{
	.eltd-blog-list-holder{

		&.eltd-blog-standard {

			&.eltd-three-columns{
				ul li{
					.eltd-item-text-holder{
						.eltd-item-info-section.eltd-small-info-section{
							.eltd-post-info-comments-holder{
								float: right;
							}
						}
					}
				}

				.eltd-blog-list-item:nth-child(3n+1),
				.eltd-blog-list-item,
				.eltd-blog-list-item:nth-child(3n){
					width: 100%;
				}
			}
		}

		&.eltd-blog-gallery{
			.eltd-blog-list-item{
				width: 100%;
				clear: none;
			}
		}

		&.eltd-blog-overlay{
			&.eltd-three-columns{
				.eltd-blog-list-item{
					width: 100%;  //margin between items is 24px
				}

			}
		}

		&.eltd-blog-split-column{
			&.eltd-two-columns{
				.eltd-blog-list-item.eltd-blog-list-split-column-item{
					width: 100%;
				}
			}
		}
	}
}
    

@include phone-landscape{

	.eltd-blog-list-holder{
		.eltd-blog-list-item{
			width: 100% !important; // important is set to override all other selectors
			margin: 0 0 25px !important;
		}

		&.eltd-masonry{

			.eltd-blog-list-masonry-grid-sizer,
			.eltd-blog-list-masonry-item{
				width: 100%;
			}
			.eltd-blog-list-masonry-grid-gutter {
				width: 0;
			}

		}
		&.eltd-blog-split-column{
			.eltd-blog-list-item.eltd-blog-list-split-column-item{
				float: none;
				.eltd-blog-list-item-holder{
					display: block;
					
					.eltd-item-image-holder,
					.eltd-item-text-holder{
						display: block;
						a{
							position: relative;
						}
					}
					.eltd-item-text-holder{
						padding-left: 0;
					}
					.eltd-item-image-holder{
						margin-bottom: 15px;
						background-image: none!important;
						img{
							display: block;
						}
					}
				}

			}
		}
	}
	.eltd-blog-type-standard{
		article{
			.eltd-post-info.eltd-bottom-section{
				.eltd-post-info-comments-holder{
					float: none!important;
					vertical-align: middle;
				}
			}

		}
	}
}

@include phone-portrait{

	.eltd-blog-list-holder{
		&.eltd-blog-split-column{
			.eltd-blog-list-item.eltd-blog-list-split-column-item{
				.eltd-item-image-holder{
					width: 100%;
					float: none;
					padding-right: 0;
					margin-bottom: 15px;
				}
				.eltd-item-text-holder{
					width: 100%;
					padding-left: 0;
				}
			}
		}
	}
}
    
