.eltd-blog-list-holder.eltd-blog-minimal{

  margin-top: 0;

	.eltd-blog-list-item{

		float: none;
		border:none;
	 	padding: 8px 0;
		.eltd-item-image{
			float: left;
			width: 20%;
			a,
			a img{
				display: inline-block;
				vertical-align: top;
				@include eltdBorderRadius(50%);
			}
		}
		&:first-child{
			padding-top: 0;
		}

		.eltd-item-text-holder{
			float: left;
		 	padding-left: 18px;
			padding-top: 8px;
			width: 80%;
			box-sizing: border-box;
			.eltd-item-info-section{
				@extend %post-info-style1;
				font-size: 14px;
				font-weight: 600;
				.eltd-post-info-date{
                  letter-spacing: 1px;
					.eltd-blog-icon{
						display: none;
					}
				}
			}

			.eltd-item-title{
				margin: 0;
			  	width:100%;
				a{
					color: $heading-color;
				  	font-size: 16px;
                    letter-spacing: 1.5px;
					font-weight: 600;

					&:hover{
						color: $first-main-color;
					}
				}
			}
		}
	}
}