/*------------------Pinboard shortcode -----------------------------*/
.eltd-blog-list-holder.eltd-blog-pinboard{

    .eltd-blog-list{
        opacity: 0;
        @include eltdTransition(opacity 0.15s ease-out);

        &.eltd-appeared{
            opacity: 1;
        }
        .eltd-blog-list-pinboard-grid-sizer{
            width: 33.33%;
        }
        .eltd-blog-list-item{
            width: 33.33%;
            padding: 12px;
            @include eltdBoxSizing(border-box);
            margin: 0;
            overflow: hidden;
            .eltd-item-info-section{
                @extend %blog-bottom-section-style;
            }

            &:hover{
                .eltd-item-image{
                    a{
                        background-color: rgba( 0, 0, 0 ,0.8);
                        @include eltdTransition(background-color .4s ease);
                    }
                }
            }

            .eltd-item-image {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height:100%;
                margin: 0;
                a{
                    display: block;
                    height: 100%;
                    width: 100%;
                    @include eltdTransition(background-color 0.15s ease);
                }
            }
            .eltd-item-title{
                width: 70%;
                color: $light-skin-color;
                margin: 14px 0 0;
            }
            .eltd-item-info-section{
                @extend %post-info-style1;
                color: $light-skin-color;
                .eltd-post-author-image{
                    display: none;
                }
            }
            .eltd-item-text-holder{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                opacity: 1;
                padding: 42px;
                @include eltdBoxSizing(border-box);
                background-color: transparent;

                .eltd-item-text-holder-inner{
                    position: relative;
                    height: 100%;
                }
                .eltd-pinboard-read-more-button{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: $light-skin-color;
                    &:hover{
                        color: $first-main-color;
                    }
                }
            }
        }
    }
}