/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote{

	.eltd-blockquote-text {
		font-size: 18px;
		color: #7a7a7a;
	 	line-height: 32px;
	  	margin:11px 0;
		&:after{
			content: '”';
			position: relative;
			right: 5px;
		}
		&:before{
			content: '“';
			position: relative;
			left: 5px;
		}
	}

}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */