/*------------------Simple type styles -----------------------------*/
.eltd-blog-list-holder.eltd-blog-border-bottom{
	.eltd-blog-list-item{

		border-bottom: 2px solid $shortcode-background-color;
		padding: 0 0 33px;
		position: relative;

		&:after{
			position: absolute;
			bottom: -2px;
			left: 50%;
			width: 50px;
			height: 3px;
			@include eltdTransform(translateX(-50%));
			background-color: $first-main-color;
			@include eltdTransition(width .4s cubic-bezier(0.18, 0.89, 0.32, 1.18));
		}
		.eltd-item-image{
			img{
				vertical-align: middle;
			}
		}
		.eltd-item-text-holder {
			margin: 29px 0 0;
		}

		.eltd-item-info-section{
			@extend %post-info-style1;
			&.eltd-large-info-section{
				@extend %top-section-style;
			}
		}
		.eltd-item-title{
			margin: 12px 0 13px;
		}
		.eltd-excerpt{
			margin: 0 0 13px;
		}

		&:hover {
			&:after {
				width: 100%;
				@include eltdTransition(width .3s ease);
			}
		}
	}

}
