.eltd-blog-list-holder.eltd-blog-overlay{
  .eltd-blog-list-item{

    .eltd-item-image{
      img{
        vertical-align: middle;
      }
      .eltd-blog-overlay-hover-image{
        opacity: 0;
        @include eltdTransition(opacity .2s);
      }

      a{

          .eltd-item-text-holder{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .6);
            @include  eltdTransition(all .3s cubic-bezier(0.15, 0.35, 0.36, 0.99));
            opacity:1;

                .eltd-item-text-holder-inner{
                  position: absolute;
                  bottom:23px;
                  left: 37px;
                    @include eltdTransform(translateY(45px));
                    @include eltdTransition(all 0.3s cubic-bezier(0.15, 0.35, 0.36, 0.99));

                  .eltd-post-info-date{
                      text-transform: uppercase;
                      font-family: $second-font;
                      font-size: 11px;
                      color:$light-skin-color;
                      .eltd-blog-icon{
                        display: none;
                      }
                  }

                  .eltd-read-more{
                    text-transform: uppercase;
                    opacity:0;
                    display:block;
                    font-family: $second-font;
                    font-size: 12px;
                    color:#fff;
                      @include eltdTransition(opacity 0.3s cubic-bezier(0.15, 0.35, 0.36, 0.99));
                  }

                  .eltd-item-title{
                      margin-top:4px;
                      width: 90%;
                      @include eltdTransition(all 0.3s cubic-bezier(0.15, 0.35, 0.36, 0.99));
                  }

                }

            &:hover{

                background-color: rgba(255, 255, 255, 0);

                .eltd-blog-overlay-hover-image{
                  opacity: 1;
                }
                .eltd-item-text-holder-inner{

                    @include eltdTransform(translateY(0));

                    .eltd-post-info-date,
                    .eltd-item-title,
                    .eltd-read-more{
                        color:$light-skin-color;
                    }
                    .eltd-read-more{
                        opacity:1;
                    }
              }
            }
          }

        &:after{
          display: none;
        }
      }
    }
  }
}