.eltd-blog-list-holder.eltd-blog-simple{
	.eltd-blog-list-item{
		&:not(:first-child){
			padding: 29px 0 0;
		}
		position: relative;

		.eltd-post-info{

			&.eltd-bottom-section{
				@extend %blog-bottom-section-style;
				.eltd-post-info-date,
				.eltd-post-info-category a,
				.eltd-post-info-category:before{
					color:#909090;
				}
				.eltd-post-info-category a:hover{
					color:$first-main-color;
				}
				.eltd-post-info-comments-holder .eltd-post-info-comments{
					font-weight: 400;
				}

			}

		}
		.eltd-item-title{
			margin: 0 0 20px;
			width: 100%;
			a:hover{
				color:$first-main-color;
			}
		}
		.eltd-excerpt{
			margin: 0 0 23px;
		}
	}

	&.eltd-simple-blog-light{
		.eltd-blog-list-item{
			.eltd-item-title{
				text-transform: none;
			}
			.eltd-item-title,
			.eltd-excerpt,
			.eltd-post-info .eltd-post-info-date,
			.eltd-post-info.eltd-bottom-section .eltd-post-info-category a,
			.eltd-post-info .eltd-post-info-comments-holder .eltd-post-info-comments,
			.eltd-post-info-comments-holder span{
				color: $light-skin-color;
			}
			.eltd-post-info.eltd-bottom-section .eltd-post-info-category a:hover{
				color:$first-main-color;
			}
		}
	}
}
