.eltd-blog-list-holder.eltd-blog-standard{
	.eltd-blog-list-item{
		.eltd-item-image{
			a,
			a img{
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
		}
		.eltd-item-text-holder{
			.eltd-item-info-section{
				&.eltd-small-info-section{
					@extend %blog-bottom-section-style;
					font-weight: 600;
					font-size: 14px;
				}

			}
			margin: 25px 0 0;

			.eltd-item-title{
				margin: 13px 0 16px;
			}
			.eltd-excerpt{
              margin: 0 0 29px;
			}
		}

	}
  & > ul .eltd-blog-list-item .eltd-blog-icon{
	display:inline-block;
  }
}
