.eltd-blog-list-holder.eltd-blog-split-column{

  .eltd-blog-list-item.eltd-blog-list-split-column-item{
    margin-bottom: 70px;
    .eltd-blog-list-item-holder{

      @include eltdTableLayout;
      .eltd-item-image-holder{
          @include eltdTableCellLayout;
          @include eltdBoxSizing(border-box);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          img{
            vertical-align: middle;
            display: none;
          }

          a{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: 1;
          }
        &:hover{
          &:after{
          opacity: 1;
          }
        }
        &:after{
          content: "";
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100%;
          opacity: 0;
          @include eltdTransition(all .3s ease);
          background-color: rgba(0,0,0,.3);
        }
      }

      .eltd-item-text-holder{
        width: 50%;
        @include eltdTableCellLayout;
        text-align: left;
        padding-bottom: 33px;
        padding-left: 23px;
        @include eltdBoxSizing(border-box);

        .eltd-post-info-author.eltd-item-info-section{
          @extend %author-info-style;
          .eltd-post-author-content{
            text-transform: uppercase;
          }
        }


        .eltd-item-title{
          margin-top: 8px;
          margin-bottom: 12px;

        }
        .eltd-excerpt{
          margin-bottom: 9px;
        }

        .eltd-view-more{
          text-transform: uppercase;
          font-family: $second-font;
          font-size: 11px;
          &:hover{
            color:$first-main-color;
          }
        }
      }
    }

  }

  &.eltd-one-column .eltd-blog-list-item{
    overflow: hidden;
  }

  &.eltd-blog-split-columns-rounded{
    .eltd-blog-list{
      .eltd-blog-list-item-holder{
        .eltd-item-image-holder{
          background-image: none!important;
          display: block;
          height:auto;
          .eltd-item-image{
            img{
              display: block;
              margin:0 auto;
            //  @include eltdBorderRadius(50%);
            }
          }
        }
        .eltd-item-text-holder{
          width: 76%;
        }
      }
    }
  }
}