@include laptop-landscape{

	.eltd-blog-slider-holder{
		.eltd-grid{
			margin-top: 0 !important;
		}
		.eltd-blog-slider-item {
			padding: 0;
		}
	}

}
@include ipad-landscape{
    
	.eltd-blog-slider-holder{
		.eltd-blog-slider-item {
			padding: 0;
		}
		&.eltd-four-columns .eltd-blog-slider-item{
			width: calc((100% - 28px)/2);  //margin between items is 28px
			margin-bottom: 28px;
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(2n+1){
				clear: both;
			}
		}

	}

}

@include phone-landscape{

	.eltd-blog-slider-holder{

		.eltd-blog-slider-item{
			width: 100% !important; // important is set to override all other selectors
			margin: 0!important;
			clear: both;
			.eltd-section-title{
				font-size: 20px;
			}
		}

	}
}
    
