.eltd-blog-carousel-holder{
    position: relative;
    .eltd-blog-carousel-wrapper{
        .slick-dots{
       display:none!important;
        }
    }
    &.enable-carousel-pagination{
        .eltd-blog-carousel-wrapper{
            .slick-dots{
                display:block!important;
            }
        }
    }
    &.eltd-carousel-cards{
        &:hover{
            cursor: pointer;
        }
        .eltd-blog-carousel {
            padding: 0 2px;
        }
        .eltd-blog-carousel-item{
            padding: 40px 41px 61px 43px;
            position: relative;
            float: left;
            text-align: left;
            background-color: rgba(255,255,255,1);
            @include eltdBoxSizing(border-box);
            &:not(:last-child){
                margin-right: 28px;
            }

            .eltd-item-text-holder {
                margin: 25px 0 0;
            }
            .eltd-blog-icon{
                font-size: 12px;
                color: $first-main-color;
                margin-right: 9px;
            }
            .eltd-item-info-section{

                &.eltd-large-info-section,
                &.eltd-small-info-section{
                    font-weight: 600;
                    @extend %blog-bottom-section-style;
                    
                    .eltd-post-info-comments-holder{
                        float: none;
                    }
                }
            }
            .eltd-item-title{
                margin: 10px 0 8px;
            }
            .eltd-excerpt{
                margin: 0 0 14px;
            }
        }
        &.eltd-two-columns .eltd-blog-carousel-item{
            width: calc((100% - 28px)/2);  //margin between items is 28px
        }
        &.eltd-three-columns .eltd-blog-carousel-item{
            width: calc((100% - 56px)/3); //margin between items is 28px
        }
        &.eltd-four-columns .eltd-blog-carousel-item{
            width: calc( (100% - 84px )/4); //margin between items is 28px
        }
        .eltd-blog-carousel-wrapper {
            visibility: hidden;
        }
    }

    &.eltd-carousel-var-image-size{
        .eltd-blog-carousel-wrapper {
            visibility: hidden;
        }
        .eltd-blog-carousel-item{
            position: relative;

            .eltd-blog-carousel-item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .eltd-blog-carousel-image-holder {
                overflow: hidden;
                img {
                    @include eltdTransition(all .2s);
                }
            }
            .eltd-blog-carousel-content-holder{
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
                padding: 20px;
                background-color: rgba($light-skin-color , 0.7) ;
                @include eltdBoxSizing(border-box);
                @include eltdTransform(translateY(100%));
                -webkit-transition: -webkit-transform .0s .2s, opacity .2s ease-out;
                transition: transform .0s .2s, opacity .2s ease-out;
                .eltd-item-title {
                    opacity:0;
                    @include eltdTransform(translateY(-25px));
                    @include eltdTransition(all .4s .4s);
                }
                .eltd-excerpt {
                    opacity:0;
                    @include eltdTransform(translateY(-25px));
                    @include eltdTransition(all .4s .5s);
                }
            }
            &.slick-active{
                cursor: pointer;
                .eltd-blog-carousel-content-holder {
                    opacity: 1;
                    @include eltdTransform(translateY(0));
                    -webkit-transition: -webkit-transform .4s, opacity .1s ease-out;
                    transition: transform .4s, opacity .1s ease-out;
                    .eltd-item-title,
                    .eltd-excerpt {
                        opacity:1;
                        @include eltdTransform(translateY(0px));
                    }
                }
            }
            &:hover {
                .eltd-blog-carousel-content-holder{
                    opacity: 1;
                    @include eltdTransform(translateY(0));
                    -webkit-transition: -webkit-transform .3s, opacity .1s ease-out;
                    transition: transform .3s, opacity .1s ease-out;
                    .eltd-item-title {
                        -webkit-transition-delay: .2s;
                        transition-delay: .2s;
                    }
                    .eltd-excerpt {
                        -webkit-transition-delay: .3s;
                        transition-delay: .3s;
                    }
                    .eltd-item-title,
                    .eltd-excerpt {
                        opacity:1;
                        @include eltdTransform(translateY(0px));
                    }
                }
                img {
                    -webkit-transition: -webkit-transform .4s cubic-bezier(0.22, 0.61, 0.36, 1);
                    transition: transform .4s cubic-bezier(0.22, 0.61, 0.36, 1);
                    @include eltdTransform(scale(1.07));
                }
            }
        }

    }

    .eltd-blog-carousel-wrapper.owl-carousel {
        .owl-nav {
            width: 100%;

            .owl-prev {
                position: absolute;
                top: 50%;
                @include eltdTransform(translateY(-50%));
                left: 2%;
            }

            .owl-next {
                position: absolute;
                top: 50%;
                @include eltdTransform(translateY(-50%));
                right: 2%;
            }

            .eltd-prev-icon,
            .eltd-next-icon {
                display: inline-block;
                width: 42px;
                height: 42px;
                @include eltdBorderRadius(50%);
                border: 2px solid #74797b;
                text-align: center;

                i {
                    font-size: 22px;
                    line-height: 40px;
                    color: #74797b;
                }

            }

        }

        .owl-dots {
            @extend %dots-style;

        }

    }

}

