.eltd-btn {
    display: inline-block;
    position: relative;
    outline: none;
    font-style: normal;
    font-weight: 600;
    font-family: $first-font;
    padding: 18px 40px 18px 43px;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include eltdTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);
    @include eltdBoxSizing(border-box);

    &:active {
        @include eltdTransform(translate3d(0,1px,0));
    }

    &.eltd-btn-solid {
        background-color: $first-main-color;
        border: none;
        color: #fff;
        position: relative;
        z-index: 1;


        &:not(.eltd-btn-custom-hover-color):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: $light-skin-color !important;
        }

        &:not(.eltd-btn-custom-hover-bg):hover {
            background-color: $first-main-color;
        }

        .eltd-btn-overlay{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #a27d53;
            left: 0;
            height: 100%;
            transform-origin: bottom center;
            z-index: -1;
            opacity:0;
            transition: transform 0s ease-in-out 0.35s, opacity ease-in-out 0.35s;
            -webkit-transition: -webkit-transform 0s ease-in-out 0.35s, opacity ease-in-out 0.35s;
            @include eltdTransform(scaleY(0));
        }

        &:hover {
            .eltd-btn-overlay{
                transition: transform 0.35s ease-in-out, opacity 0s;
                -webkit-transition: -webkit-transform 0.35s ease-in-out, opacity  0s;
                @include eltdTransform(scaleY(1));
                opacity:1;
            }
        }

    }

    &.eltd-btn-outline {
        border: 2px solid $first-main-color;
        color: $first-main-color;
        background-color: transparent;

        &:not(.eltd-btn-custom-hover-color):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: #fff !important;
        }

        &:not(.eltd-btn-custom-hover-bg):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: $first-main-color !important;
        }

        &:not(.eltd-btn-custom-border-hover):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: $first-main-color !important;
        }
    }

    &.eltd-btn-transparent {
        padding: 0 !important;
        color: #909090;
        font-size: 12px;

        &:hover{
            color: $first-main-color;
        }

    }

    &.eltd-btn-small {
        font-size: 11px;
        padding: 10px 32px;
    }

    &.eltd-btn-medium {
        //same as default
    }

    &.eltd-btn-large {
        font-size: 14px;
        padding: 23px 60px;
    }

    &.eltd-btn-huge,
    &.eltd-btn-huge-full-width {
        font-size: 16px;
        line-height: 16px;
        padding: 26px 62px;
    }

    &.eltd-btn-huge-full-width {
        display: block;
        text-align: center;
    }

    &.eltd-btn-icon .eltd-btn-text {
        margin-right: 10px;
    }
}

.eltd-btn-input {

    padding:0;

    input[type=submit] {
        font-style: normal;
        font-weight: 600;
        font-family: "Open Sans",sans-serif;
        font-size: 11px;
        line-height: 14px;
        border:0 solid;
        padding:18px 40px 18px 43px;
        background:transparent;
        text-transform:uppercase;
        margin:0;
        cursor:pointer;
        letter-spacing: 2px;
        color:#fff;
    }

    &:hover {
        input[type=submit] {
            color:#fff;
        }
    }

}

input[type=submit].eltd-btn,
button.eltd-btn {
    cursor: pointer;
}