/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */

.eltd-call-to-action {

	.eltd-call-to-action-row-75-25 .eltd-call-to-action-column1 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $ipad-landscape) {
			width: 65%;
		}

	}

	.eltd-call-to-action-row-75-25 .eltd-call-to-action-column2 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $ipad-landscape) {
			width: 35%;
		}

	}

	.eltd-call-to-action-cell {

		@include phone-landscape {
			display: block;
			text-align: center !important;
			width: 100% !important;
		}

	}

	.eltd-text-wrapper .eltd-call-to-action-icon-holder {

		@include phone-landscape {
			position: relative;
			width: 100%;
			text-align: center;
		}

	}

	.eltd-text-wrapper .eltd-call-to-action-icon {

		@include phone-landscape {
			display: inline-block;
		}

	}

	.eltd-text-wrapper .eltd-call-to-action-text {

		@include phone-landscape {
			text-align: center;
			margin-bottom: 10px;
		}

	}

}

.eltd-call-to-action.with-icon {

	@include phone-landscape {
		padding: 0;
	}

}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */