/* ==========================================================================
# Call to action style - begin
========================================================================== */

.eltd-call-to-action {
	position: relative;
	display: block;
	@include eltdBoxSizing(border-box);
	background-color: $shortcode-background-color;

	.eltd-call-to-action-row-80-20,
	.eltd-call-to-action-row-50-50,
	.eltd-call-to-action-row-66-33 {
		display: table;
		@include eltdBoxSizing(border-box);
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.eltd-call-to-action-row-80-20 .eltd-call-to-action-column1 {
		width: 80%;
	}

	.eltd-call-to-action-row-80-20 .eltd-call-to-action-column2 {
		width: 20%;
	}

	.eltd-call-to-action-row-50-50 .eltd-call-to-action-column1,
	.eltd-call-to-action-row-50-50 .eltd-call-to-action-column2  {
		width: 50%;
	}

	.eltd-call-to-action-row-66-33 .eltd-call-to-action-column1 {
		width: 66%;
	}

	.eltd-call-to-action-row-66-33 .eltd-call-to-action-column2 {
		width: 34%;
	}

	.eltd-call-to-action-column2 {
		text-align: right;
	}

	.eltd-call-to-action-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.eltd-text-wrapper .eltd-call-to-action-icon-holder {
		position: absolute;
		height: 100%;
		top:0;
	}

	.eltd-text-wrapper .eltd-call-to-action-icon {
		display:table;
		height:100%;

		.eltd-call-to-action-icon-inner {
			display:table-cell;
			height:100%;
			vertical-align:middle;

			.eltd-call-to-action-icon {
				font-size: 40px;
				display: inline;
			}

		}
	}

}

.eltd-call-to-action{

	.eltd-call-to-action-text{
  		font-weight: 400;
	}
	&.with-icon {

	  .eltd-text-wrapper .eltd-call-to-action-text {
		  padding: 0 20px 0 70px;
	  }

	}
}

/* ==========================================================================
# Call to action style - end
========================================================================== */