/* ==========================================================================
# Carousels style - begin
========================================================================== */

.eltd-carousel-holder {

	.eltd-carousel {
		visibility: hidden;
	}
	
	.eltd-carousel-item-holder {
		position: relative;
		text-align: center;

		img {
			width: auto;
		}

		a {
			@include ipad-landscape {
				position: relative;
				margin: 0 5px;
				position: relative;
			}
		}

		/* Image zoom - begin
		========================================================================== */

		.eltd-carousel-first-image-holder.eltd-image-zoom {
			display: inline-block;
			padding: 10px 0;
			img {
				image-rendering: optimizeQuality;
				@include eltdTransition(transform 0.15s ease-out);
				-webkit-backface-visibility: hidden;
			}
		}

		.eltd-carousel-first-image-holder.eltd-image-zoom:hover img {
			@include eltdTransform(scale(1.05));
		}

		/* Image zoom - end
		========================================================================== */


		/* Image change on hover - begin
		========================================================================== */

		.eltd-carousel-first-image-holder.eltd-image-change {
			position: relative;
			display: block;
			opacity: 1;
			z-index: 5;
			@include eltdTransition(opacity 0.15s ease-out);
		}

		.eltd-carousel-second-image-holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		&:hover .eltd-carousel-first-image-holder.eltd-image-change {
			opacity: 0;
		}

		/* Image change on hover - end
		========================================================================== */

		/* Image underline - begin
		========================================================================== */
		@at-root .eltd-carousel[data-image-animation="underline"]:not([data-show_in_two_rows="yes"]) {
			&.owl-carousel .owl-stage-outer {
				padding: 20px 0;
				margin: -20px 0; //create space for image animation
			}
			.eltd-underline {
				img {
					display: inline-block;
					margin:auto;
					-webkit-transition: -webkit-transform .3s cubic-bezier(.44,1.22,0,1.43);
					transition: transform .3s cubic-bezier(.44,1.22,0,1.43);
				}
				.eltd-carousel-line {
				    content: '';
				    position: absolute;
				    bottom: -10px;
				    left: 50%;
				    @include eltdTransform(translateX(-50%));
				    width: 0px;
				    height: 3px;
				    opacity: 0;
				    background-color: $first-main-color;
				    @include eltdTransition(opacity .0s .1s, width .1s ease);
				}
				&:hover {
					img {
						@include eltdTransform(translateY(-15px));
					}
					.eltd-carousel-line {
						opacity: 1;
						width: 50px;
				    	@include eltdTransition(width .2s ease .12s);
					}	
				}
			}
		}
		/* Image underline - end
		========================================================================== */


	}

	/* Carousel navigation - begin
	========================================================================== */


	.eltd-carousel.owl-carousel {

		.owl-nav {

			width: 100%;

			.owl-prev {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				left: 2%;
			}

			.owl-next {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				right: 2%;
			}

			.eltd-prev-icon,
			.eltd-next-icon {
				display: inline-block;
				text-align: center;

				i {
					font-size: 30px;
					line-height: 40px;
					color: $light-skin-color;
				}

			}

		}
		.owl-controls{
			margin-top: 47px;
		}
		.owl-dots {
		  @extend %dots-style;

		}

	}
	&.carousel-pagination-dark{
	  .eltd-carousel {
		  &.owl-carousel {
			  .owl-dots {
				@extend %dots-style2;
			  }
		  }
	  }
	}

	/* Carousel navigation - end
	========================================================================== */

}

/* ==========================================================================
# Carousels style - end
========================================================================== */