.eltd-cards-gallery-holder{
    position: relative;
    .eltd-cards-gallery{
        width: 100%;
        position: relative;
    }

    img{
        position: relative;
        display: block;
        @include eltdTransition(opacity 0.3s ease);
        @include  eltdBoxShadow( 0 5px 15px 3px rgba(0,0,0,.09));
    }

    .fake_card{
        position: relative;
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .card{
        box-sizing: border-box;
        position: absolute;
        -webkit-transition: -webkit-transform .5s cubic-bezier(0,0,0,1), top .5s cubic-bezier(0,0,0,1), margin .2s ease-in-out, opacity .3s ease-out;
        transition: transform .5s cubic-bezier(0,0,0,1), top .5s cubic-bezier(0,0,0,1), margin .2s ease-in-out, opacity .3s ease-out;
        width: 100%;
        background-color: #fff;

        &:nth-last-child(9) {
            @include eltdTransform(translateX(60%) scale(0.3));
        }

        &:nth-last-child(8) {
            @include eltdTransform(translateX(-60%) scale(0.3));
        }

        &:nth-last-child(7) {
            @include eltdTransform(translateX(-40%) scale(0.5));
        }

        &:nth-last-child(6) {
            @include eltdTransform(translateX(40%) scale(0.5));
        }

        &:nth-last-child(5) {
            @include eltdTransform(translateX(25%) scale(0.7));
        }

        &:nth-last-child(4) {
            @include eltdTransform(translateX(-25%) scale(0.7));
        }

        &:nth-last-child(3) {
            @include eltdTransform(translateX(10%) scale(0.9));
        }

        &:nth-last-child(2) {
            @include eltdTransform(translateX(-10%) scale(0.9));
        }

        &:last-child {
            padding: 0;
            left: 0;
            &.eltd-transform-y {
                opacity: 0;
                @include eltdTransform(translateY(100%));
            }
        }

        &:not(:last-of-type) {
            cursor: pointer;
        }

        &:not(:last-of-type):not(.active):hover {
            margin-top: -10px;
        }
    }
}