/* ==========================================================================
# Carousels responsive  style - begin
========================================================================== */

.eltd-carousel-holder{

  @include phone-landscape {

    .eltd-carousel-item-holder{
      img{
        margin:0 auto;
      }
    }

  }

}



/* ==========================================================================
# Carousels responsive  style - end
========================================================================== */