/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
@include ipad-landscape{
	.eltd-counter-holder.center {
		text-align: center;
		padding: 20px;
	}
}

/* ==========================================================================
# Counter style - end
========================================================================== */