/* ==========================================================================
# Counter style - begin
========================================================================== */

.eltd-counter-holder {
	display: block;
	padding: 20px 0;

	.eltd-counter {
		letter-spacing: 0;
		font-size: 55px;
		line-height: 1em;
		font-weight: normal;
		color: $first-main-color;
		font-family: $second-font;
		overflow: hidden;
		display: inline-block !important;
		height: 1em;


	}
    .eltd-counter-details{
      margin-top:12px;
    }

	.eltd-counter-icon {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.eltd-counter-title {
		margin: 3px 0 0 0;

	}

	.eltd-counter-text {
		margin: 5px 0 0 0;
		color: #74797b;
	}
	&.eltd-counter-left {
		text-align: left;
	}

	&.eltd-counter-right {
		text-align: right;

	}

	&.eltd-counter-center {
		text-align: center;
	}

	&.eltd-counter-icon-left{
		.eltd-counter{
			margin-left: -2px;

		}
		.eltd-counter-custom-icon,
		.eltd-counter-details,
		.eltd-counter-icon{
			display: inline-block;
		}
		.eltd-counter-custom-icon,
		.eltd-counter-icon{
			margin-right: 19px;
			vertical-align: top;
		}
		&.eltd-counter-center{
			text-align: left;
		}
		.eltd-counter-title{
			margin: 5px 0 0;
		}
	}

}

.eltd-counter-dark .eltd-counter-title{
  color: $first-main-color;
}
.eltd-counter-light{
	.eltd-counter-icon{
		color:$first-main-color;
		background-color: $light-skin-color;
		width: 55px;
		height: 55px;
		line-height: 55px;
		@include eltdBorderRadius(50%);
		margin: 0 auto 20px 0;
		text-align: center;
		span,i{
			line-height: 55px
		}
	}

	.eltd-counter-title,
	.eltd-counter,
	.eltd-counter-text{
		color: #fff;

	}
	&.eltd-counter-left{
		.eltd-counter-icon{
			margin: 0 auto 20px 0;
		}
	}
	&.eltd-counter-right{
		.eltd-counter-icon{
			margin: 0 0 20px auto;
		}
	}
	&.eltd-counter-center{
		.eltd-counter-icon{
			margin: 0 auto 20px auto;
		}
	}


}




/* ==========================================================================
# Counter style - end
========================================================================== */