/* ==========================================================================
# Countdown style - begin
========================================================================== */
/* jQuery Countdown styles 2.0.0. */
.countdown-rtl {
	direction: rtl;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 16.5%;
}
.countdown-show6 .countdown-section {
	width: 15%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}

.countdown-section {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: inherit;
}
.countdown-amount {
	font-family: $second-font;
	display: block;
	position: relative;
	font-size: 65px;
	line-height: 65px;
	margin-bottom: 19px;
	color: inherit;

}

.countdown-period {
	font-weight: bold;
	font-family: $second-font;
	font-size: 13px;
	display: block;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: inherit;
}
.countdown-descr {
	display: block;
	width: 100%;
}
.eltd-countdown{
	text-align: center;
	&.eltd-skin-light{
		color: #fff;
	}
	&.eltd-skin-dark{
		color: #333333;
	}
}

/* ==========================================================================
# Countdown style - end
========================================================================== */