/* ==========================================================================
   Dropcaps shortcodes styles
   ========================================================================== */
.eltd-dropcaps{
	position: relative;
	display: inline-block;
	float: left;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 40px;
	color: $first-main-color;
	font-weight: 700;
	text-align: center;
	margin: 5px 5px 0 0;

	&.eltd-square{
		font-size: 25px;
		background-color: $first-main-color;
		color: #fff;
	}

	&.eltd-circle{
		@extend .eltd-square;
		@include eltdBorderRadius(2em);
	}
}


/* ==========================================================================
   Dropcaps shortcode end styles
   ========================================================================== */