/* ==========================================================================
   Elements Holder start style
   ========================================================================== */

.eltd-elements-holder {
	width: calc(100%);
	display: table;
	table-layout: fixed;

	&.eltd-two-columns {

		.eltd-elements-holder-item {
			width: 50%;
		}
	}

	&.eltd-two-columns {

		.eltd-elements-holder-item {
			width: 50%;
		}
	}

	&.eltd-three-columns {

		.eltd-elements-holder-item {
			width: 33%;
		}
	}

	&.eltd-four-columns {

		.eltd-elements-holder-item {
			width: 25%;
		}
	}

	&.eltd-five-columns {

		.eltd-elements-holder-item {
			width: 20%;
		}
	}

	&.eltd-six-columns {

		.eltd-elements-holder-item {
			width: 16%;
		}
	}

	.eltd-elements-holder-item {

		display: table-cell;
		vertical-align: middle;
		height: 100%;
		background-size: cover;

		&.eltd-vertical-alignment-top {
			vertical-align: top;
		}

		&.eltd-vertical-alignment-bottom {
			vertical-align: bottom;
		}

		&.eltd-horizontal-alignment-center {
			text-align: center;
		}

		&.eltd-horizontal-alignment-right {
			text-align: right;
		}

		.eltd-elements-holder-item-inner {
			width: 100%;
		}
	}

	&.eltd-elements-items-float {

		&.eltd-three-columns {

			.eltd-elements-holder-item {
				width: 33.33333333333333%;
			}
		}

		&.eltd-six-columns {

			.eltd-elements-holder-item {
				width: 16.66666666666667%;
			}
		}

		.eltd-elements-holder-item {
			float:left;
		}
	}

	.eltd-elements-holder-item-content{
		padding: 0 18px 0 0;
	}

}
/* ==========================================================================
   End of Elements Holder style
   ========================================================================== */