/* ==========================================================================
   Google Map start style
   ========================================================================== */


.eltd-google-map-holder{
	position: relative;
}

.eltd-google-map {

	display: block;
	width: 100%;
	height: 300px;

	iframe,
	object,
	embed {

		width: 100%;
		display: block;

	}

	img {
		max-width: none;
	}
}

.eltd-google-map-overlay {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: none;
	top:0;
	left:0;
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */