.eltd-iwt {
    $icon-tiny-content-padding: 30px;
    $icon-small-content-padding: 60px;
    $icon-medium-content-padding: 65px;
    $icon-large-content-padding: 100px;
    $icon-huge-content-padding: 100px;
    $title-margin-bottom: 8px;

    @include eltdTableLayout;


    .eltd-icon-shortcode.circle a {
        position: relative;
        color:$first-main-color;
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: -1;
            box-shadow: 0 0 0px 2px currentColor;
            outline: 1px solid transparent;
            @include eltdTransform(scale(.8));
            opacity:0;
            @include eltdTransition(all .5s ease);
            visibility: hidden;
        }
        &:hover {
            &:after {
                visibility: visible;
                @include eltdTransform(scale(1.1));
                opacity:1;
                -webkit-transition: -webkit-transform .4s cubic-bezier(0,0,.26,2.21), opacity .3s ease;
                transition: transform .4s cubic-bezier(0,0,.26,2.21), opacity .3s ease;
            }
        }
    }

    .eltd-iwt-icon-holder{
        .eltd-icon-shortcode{
            color:#8f8f8f;

            a{
                color:inherit;
                &:hover{
                    color:$first-main-color;
                }
            }
        }
    }

    &.eltd-hovered {
        .eltd-icon-shortcode.circle a {
            &:after {
                visibility: visible;
                @include eltdTransform(scale(1.1));
                opacity:1;
                -webkit-transition: -webkit-transform .4s cubic-bezier(0,0,.26,2.21), opacity .3s ease;
                transition: transform .4s cubic-bezier(0,0,.26,2.21), opacity .3s ease;
            }
        }
    }

    .eltd-iwt-title-holder {
        h1,h2,h3,h4,h5,h6 {
            margin: 0;
        }
    }

    .eltd-iwt-link {
        margin-top: 10px;
        display: inline-block;
        text-transform: uppercase;
        color:#333333;
        font-family: $first-font;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 600;
        &:hover{
            color:$first-main-color;
        }
    }

    .eltd-iwt-content-holder .eltd-iwt-link {
        position:relative;
    }

    &.eltd-iwt-icon-top {
        text-align: center;
        .eltd-iwt-content-holder{
            @include eltdBoxSizing(border-box);
        }

        .eltd-iwt-icon-holder {
            margin-bottom: 23px;
        }

        &.eltd-iwt-icon-background-layout{
            .eltd-iwt-icon-holder{
                margin-bottom: -52px;
            }
        }

    }
    &.eltd-iwt-icon-image-hover{
        .eltd-iwt-icon-holder{

            .eltd-iwt-hover-image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity:0;
                @include eltdTransition(opacity 0.3s ease-out);
            }

            &:hover{
                .eltd-iwt-hover-image{
                    opacity:1;
                }
            }
        }
    }
    &:not(.eltd-iwt-left-from-title) {
        .eltd-iwt-title-holder {
            margin-bottom: $title-margin-bottom;
        }
    }

    &.eltd-iwt-icon-left {
        .eltd-iwt-icon-holder {
            float: left;
        }

        &.eltd-iwt-icon-tiny .eltd-iwt-content-holder {
            padding-left: $icon-tiny-content-padding;
            padding-top: 35px;

            .eltd-iwt-link {
                margin-top: 0;
            }
        }

        &.eltd-iwt-icon-small  {

            .eltd-iwt-content-holder{
                padding-left: $icon-small-content-padding;
            }

        }

        &.eltd-iwt-icon-medium {

            .eltd-iwt-content-holder{
                padding-left: $icon-medium-content-padding;
            }

            &.eltd-iwt-circle-holder{
                .eltd-iwt-content-holder{
                    padding-left: 2*($icon-medium-content-padding);
                }

            }
            &.eltd-iwt-square-holder{
                .eltd-iwt-content-holder{
                    padding-left: 2*($icon-medium-content-padding);
                }

            }

        }



        &.eltd-iwt-icon-large .eltd-iwt-content-holder {
            padding-left: $icon-large-content-padding;
        }

        &.eltd-iwt-icon-huge .eltd-iwt-content-holder {
            padding-left: $icon-huge-content-padding;
        }
    }

    &.eltd-iwt-icon-right {
        text-align: right;

        .eltd-iwt-icon-holder {
            float: right;
        }

        &.eltd-iwt-icon-tiny .eltd-iwt-content-holder {
            padding-right: $icon-tiny-content-padding;
        }

        &.eltd-iwt-icon-small .eltd-iwt-content-holder {
            padding-right: $icon-small-content-padding;
        }

        &.eltd-iwt-icon-medium {

            .eltd-iwt-content-holder {
                padding-right: $icon-medium-content-padding;

            }

        }

        &.eltd-iwt-icon-medium {

            .eltd-iwt-content-holder{
                padding-right: $icon-medium-content-padding;
            }

            &.eltd-iwt-circle-holder{
                .eltd-iwt-content-holder{
                    padding-right: 2*($icon-medium-content-padding);
                }

            }
            &.eltd-iwt-square-holder{
                .eltd-iwt-content-holder{
                    padding-right: 2*($icon-medium-content-padding);
                }

            }

        }

        &.eltd-iwt-icon-large .eltd-iwt-content-holder {
            padding-right: $icon-large-content-padding;
        }

        &.eltd-iwt-icon-huge .eltd-iwt-content-holder {
            padding-right: $icon-huge-content-padding;
        }
    }

    &.eltd-iwt-left-from-title {
        .eltd-iwt-icon-title-holder {
            margin-bottom: $title-margin-bottom;
        }

        .eltd-iwt-icon-holder {
            margin-right: 20px;
        }

        .eltd-iwt-icon-holder,
        .eltd-iwt-title-holder {
            display: inline-block;
            vertical-align: middle;
        }
    }
}