.eltd-icon-shortcode {
    $transition-duration: 0.4s;

    position:relative;
    display: inline-block;

    &.circle,
    &.square {
        background-color: $shortcode-background-color;
        text-align: center;
        font-size: 11px;
        border-style:solid;
        border-color:$shortcode-background-color;

        @include eltdTransition(
            border-color $transition-duration ease-in-out,
            color $transition-duration ease-in-out
        );

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: $shortcode-background-color;
        }

        &:after {
            content:"";
            position:absolute;
            top:100%;
            left:0;
            height:100%;
            width:100%;
            background:inherit;
            transition: top 0.3s;
        }

        &:hover{

            &:after { 
                top:0;
            }

            background-color: $shortcode-background-color;
            a span,
            a i{
                color:$light-skin-color!important;//because of inline styles
            }


        }

        .eltd-icon-element {
            position:relative;
            z-index:1;
            color:$light-text-color;
            line-height: inherit;
        }
    }
    &.square {
        width: 43px;
        height: 43px;
        line-height: 43px;
    }
    &.normal{

        a{
            i{
                @include eltdTransition(color .2 linear);
            }
         &:hover i {
             color:$first-main-color;
         }
        }
    }
    &.circle{
        margin-right: 9px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        overflow:hidden;
    }
    &.square {
        background-color: transparent;
        font-size: 11px;
        float: left;

        .eltd-icon-element {
            color:$light-text-color;
        }
        &:hover{
            .eltd-icon-element {
                color: $first-main-color;
            }
        }

    }

    &.circle {
        @include eltdBorderRadius(50%);
    }

}

.widget_eltd_social_icon_widget{
    .eltd-icon-shortcode{
        margin-right:10px;
    }
}
.eltd-icon-animation-holder {
    @include eltdTransform(scale(0));
    @include eltdTransition(transform 0.15s ease-in-out);
    display: inline-block;

    &.eltd-icon-animation-show {
        @include eltdTransform(scale(1));
    }
}

.eltd-icon-tiny {
    font-size: 1.15em;
    line-height: .75em;
    vertical-align: -15%;
}

.eltd-icon-small {
    font-size: 1.9em;
}

.eltd-icon-medium {
    font-size: 2.3em;
}

.eltd-icon-large {
    font-size: 2.85em;
}

.eltd-icon-huge {
    font-size: 3.4em;
}