/* ==========================================================================
# Icon List Item style - begin
========================================================================== */
.eltd-icon-list-item{
    display: table;
    table-layout: fixed;
    height: 37px;
    width: 100%;
	position: relative;
	margin-bottom: 0px;
    
    .eltd-icon-list-icon-holder{
        display: table-cell;
        vertical-align: middle;
        width: 37px;
    }
    .eltd-icon-list-icon-holder-inner i,
    .eltd-icon-list-icon-holder-inner .font_elegant{
        display: block;
        color: $first-main-color;
        font-size: 19px;
        text-align: center;
    }
    .eltd-icon-list-text{
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }
}
/* ==========================================================================
# Icon List Item style - end
========================================================================== */

