@include ipad-landscape{

  .eltd-iwt{

    &.eltd-iwt-icon-left{

      .eltd-iwt-content-holder{
        padding-left: 45px!important; //Because of inline styles
      }
    }

  }
}

@include phone-portrait{

  .eltd-iwt{

    &.eltd-iwt-icon-left{

      .eltd-iwt-content-holder{
        padding-left: 82px!important; //Because of inline styles
      }
    }

  }
}