/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.eltd-image-gallery {

	.eltd-image-gallery-slider {
		visibility: hidden;
	}

	.eltd-grayscale .eltd-gallery-image img {
		image-rendering: optimizeQuality;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(img/desaturate.svg#grayscale);
		@include eltdTransition(all .4s);
	}

	.eltd-grayscale .eltd-gallery-image:hover img {
		-webkit-filter: grayscale(0);
		filter: none;
	}


	.eltd-gallery-image{
		margin-right: 25px;
		margin-bottom: 25px;
		display: inline-block;
		float: left;

		img {
			display: block;
		}
	}
	.eltd-image-gallery-grid{
		.eltd-gallery-image{
			a{
				display: block;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					@include eltdTransition(opacity 0.4s ease-in-out);
					background-color: rgba($dark-skin-color, 0.4);
				}
				&:hover{
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}

	.eltd-image-gallery-grid.eltd-gallery-no-space{
		.eltd-gallery-image{
			margin:0;
		}
	}

	.eltd-image-gallery-grid.eltd-gallery-columns-2 {

		.eltd-gallery-image {
			width: calc((100% - 25px)/2);

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}
		&.eltd-gallery-no-space{
			.eltd-gallery-image {
				width:50%;
			}
		}
	}

	.eltd-image-gallery-grid.eltd-gallery-columns-3 {

		.eltd-gallery-image {
			width: calc((100% - 50px)/3);

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}

		}
		&.eltd-gallery-no-space{
			.eltd-gallery-image {
				width:calc(100%/3);
			}
		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-4 {

		.eltd-gallery-image {
			width: calc((100% - 75px)/4);

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}

		}
		&.eltd-gallery-no-space{
			.eltd-gallery-image {
				width:25%;
			}
		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-5 {

		.eltd-gallery-image {
			width: calc((100% - 100px)/5);

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}

		}
		&.eltd-gallery-no-space{
			.eltd-gallery-image {
				width:20%;
			}

		}

	}

	.slick-slider{

	  .slick-dots{

		li{
		  background-color: #e1e1e1;
		  border-color: #e1e1e1;

		  &:hover,
		  .slick-active{
			background-color: $first-main-color;
			border-color: $first-main-color;
		  }
		}
	  }
	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

.eltd-image-gallery {

	.owl-item {
		-webkit-transform:translateZ(0);
	}

	.owl-controls {

		/* Navigation
		======================================================= */
		.owl-nav {
			.eltd-prev-icon,
			.eltd-next-icon {
				display: inline-block;
				width: 42px;
				height: 42px;
				text-align: center;

				span {
					font-size: 35px;
					line-height: 40px;
					color: #fff;
				}

			}

			.owl-prev {
				left: -2%;
				position: absolute;
				top: 50%;
				opacity: 0;
				@include eltdTransform(translateY(-50%));
				@include eltdTransition(left .4s, opacity 0.4s);
			}

			.owl-next {
				right: -2%;
				opacity: 0;
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				@include eltdTransition(right .4s, opacity 0.4s);
			}
		}

		/* Pagination
		======================================================= */
		.owl-dots {
		  @extend %dots-style;

		  .owl-dot span{
			background-color: #e1e1e1;
			border-color: #e1e1e1;

			&:hover{
			  background-color: $first-main-color;
			  border-color: $first-main-color;
			}
		  }


		  .owl-dot.active span {
			background-color: $first-main-color;
			border-color: $first-main-color;
		  }


		}

	}
	&:hover{
		.owl-controls {
			.owl-nav {
				.owl-prev {
					opacity: 1;
					left: 2%;
				}
				.owl-next {
					opacity: 1;
					right: 2%;
				}
			}
		}

	}


}

/* Image Gallery Slider - end
========================================================================== */

.eltd-image-gallery-slider{

	opacity:0;
	&.owl-carousel{
		margin:0 -8px;
		width: auto;

		.owl-item{
			position:relative;
			padding: 0 4px;
			box-sizing: border-box;
			overflow:hidden;

            a {

                -webkite-translate: -webkit-transform 0.3s ease-out;
                translate: transform 0.3s ease-out;

                &:hover {
                    @include eltdTransform(scale(1.1,1.1));
                }
            }

			&:after {
				content:"";
				position:absolute;
				top:0;
				left: 4px;
				width: calc(100% - 8px);
				height:100%;
				background:#000;
				opacity:0;
                @include eltdTransition(opacity 0.3s ease-out);
                pointer-events: none; 
                display:block;
			}

			&:hover {

				&:after {
					opacity:0.3;
				}

			}
		}
	}
}

/* ==========================================================================
# Image Gallery - end
========================================================================== */


/* Image Gallery Carousel - end
========================================================================== */

.eltd-image-gallery-carousel{
	opacity:0;
	.owl-item{
		padding: 0 30px;
		@include eltdBoxSizing(border-box);

		img{
			box-shadow: 10px 18px 18px rgba(0,0,0,.6);
			&:hover{
				cursor: -webkit-grab;
			}
		}
	}
	.owl-controls .owl-dots{
		margin-top: 62px;
	}

}

/* ==========================================================================
# Image Carousel - end
========================================================================== */

/* ==========================================================================
# Image Carousel Variable Image Size - start
========================================================================== */

.eltd-image-gallery-carousel-var-img-size{
	img{
		@include eltdTransition(all 0.3s ease-in-out);
		padding: 0 27px;
		outline: none;
		&:hover{
			cursor: -webkit-grab;
		}
	}
}
/* ==========================================================================
# Image Carousel Variable Image Size - end
========================================================================== */