/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.eltd-image-gallery {

	.eltd-image-gallery-grid.eltd-gallery-columns-2 {

		.eltd-gallery-image {

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
				text-align: center;

				img{
					display: inline-block;
				}
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-3 {

		.eltd-gallery-image {

			@include ipad-landscape {
				width: calc((100% - 8px)/2);

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
				}

				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-4 {

		.eltd-gallery-image {

			@include ipad-landscape {
				width: calc((100% - 25px)/2);

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-5 {

		.eltd-gallery-image {


			@media only screen and (min-width: $ipad-portrait+1) and (max-width: $ipad-landscape+1) {
				width: calc(100%/3);

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
				}

				&:nth-child(5n+1) {
					clear: none;
				}

			}

			@media only screen and (min-width: $phone-portrait) and (max-width: $ipad-portrait) {
				width: calc((100% - 25px)/2);

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
				}

				&:nth-child(5n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
				text-align: center;

				img{
					display: inline-block;
				}
			}

		}

	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */