.eltd-info-box-holder {

	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 56px 24px 65px;
	@include eltdBoxSizing(border-box);
	&.eltd-info-box-border-overlay{
		.eltd-ib-overlay{
			@include eltdBoxSizing(border-box);
		}

	}

	&.eltd-info-box-with-border{
		.eltd-ib-overlay{
			border:2px solid $shortcode-background-color;
		}

	}

    &.eltd-interactive {

        &:hover {

            .eltd-ib-icon-holder {
                @include eltdTransform(TranslateY(-7px));
                border-color: #ebebeb;
            }

        }

    }

	&:hover{

		.eltd-ib-overlay{
			@include eltdTransition(all 0.3s ease);
		}

		.eltd-ib-button-holder{
			.eltd-btn{
				background-color: $shortcode-background-color;
				border-color: $shortcode-background-color;
				color:$first-main-color;
				&:hover{
					background-color: $shortcode-background-color!important;
					border-color: $shortcode-background-color!important;
				}

			}
		}

		&.eltd-info-box-border-overlay{
			.eltd-ib-overlay{
				background-color:#fff;
				border:2px solid $first-main-color;
				@include eltdTransition(all 0.2s ease-in-out);
				@include eltdBoxSizing(border-box);
			}
			.eltd-ib-bottom-holder .eltd-ib-text-holder p,
			.eltd-ib-icon-holder span,
			.eltd-ib-icon-holder i{
				color:#a2a2a2;
			}
			.eltd-ib-title{
				color:$heading-color;
			}
			.eltd-ib-front-holder .eltd-ib-icon-holder{
				border-color: $shortcode-background-color;
			}
		}

        .eltd-ib-front-holder {
            z-index:3;
        }

	}

	//styles when placed in elements holder
	.eltd-elements-holder & {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}

	.eltd-elements-holder.eltd-two-columns & {
		width: 50%;
	}

	.eltd-elements-holder.eltd-three-columns & {
		width: 33%;
	}

	.eltd-elements-holder.eltd-four-columns & {
		width: 25%;
	}

	.eltd-elements-holder.eltd-five-columns & {
		width: 20%;
	}

	.eltd-elements-holder.eltd-six-columns & {
		width: 16%;
	}

	&.eltd-info-box-with-image {
		background-color: #0e0d0b;
	}

	.eltd-info-box-inner {
		display: table;
		width: 100%;
		height: 100%;
	}

	.eltd-ib-front-holder {
		z-index: 100;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		.eltd-ib-title{
			margin: 0;
			padding-bottom: 11px;
			@include eltdTransition(all 0.1s cubic-bezier(0.25, 0.1, 0.11, .99));
		}
		.eltd-ib-icon-holder {
			color: #a2a2a2;
			font-size: 25px;
			margin-bottom: 8px;
			padding-bottom: 15px;
			display: inline-block;
			border-bottom: 2px solid transparent;
			width: 38px;
			@include eltdTransition(all .1s linear);
		}

		.eltd-ib-button-holder {
			margin-top: 25px;

			.eltd-btn {
				padding: 16px 39px;
			}
		}

		.eltd-ib-text-holder {

			p{
				@include eltdTransition(all 0.1s cubic-bezier(0.25, 0.1, 0.11, .99));
				color:#8f8f8f;
				margin: 0;
			}
		}

		.eltd-ib-bottom-holder {
			text-align: center;
			padding: 0;
			@include eltdBoxSizing(border-box);
		}

	}

	%frame {
		content: '';
		position: absolute;
		left: 18px;
		top: 18px;
		height: calc(100% - 40px);
		width: calc(100% - 40px);
		background: transparent;
		z-index: 33;
	}

    .eltd-info-box-inner > a:after {
        @extend %frame;
    }

	&:not(.eltd-interactive) {
		.eltd-info-box-inner:after {
			@extend %frame;
			z-index: 2;
		}
	}

	.eltd-ib-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		border:none;
		background-color: rgba(255,255,255,1);
		background-size: cover;
		background-repeat: no-repeat;
		@include eltdTransition(all 0.1s ease);
	}

	/* Light Skin
	============================================================*/
	&.eltd-light {

		color: #fff;

		h2 {
			color: #fff;
		}

      .eltd-ib-front-holder{
        .eltd-ib-title-holder .eltd-ib-title,
        .eltd-ib-icon-holder,
        .eltd-ib-text-holder p{
          color: #fff;
        }
      }

		&.eltd-interactive{
			&:hover{
				.eltd-ib-overlay{
					@include eltdTransition(all 0.3s ease);
					background-color: $first-main-color;
				}

				.eltd-ib-bottom-holder .eltd-ib-text-holder p,
				.eltd-ib-icon-holder span,
				.eltd-ib-icon-holder i,
				.eltd-ib-title{
					color:$light-skin-color;
				}

				.eltd-ib-icon-holder{
					border-color: #fff;
				}
			}
		}


	}

	&.eltd-simple {
		width: 100%;
		padding:100% 0 0;
		min-height: 0;

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			.eltd-ib-top-holder {
				display: table;
				height: 100%;
				width: 100%;
			}

			.eltd-ib-title {
				display: table-cell;
				vertical-align: middle;

              .eltd-light & {
                color:#fff;
              }
			}

			&:before {
				content: '';
				position: absolute;
				top: 14px;
				left: 14px;
				width: calc( 100% - 28px );
				height: calc( 100% - 28px );
				z-index: 5;
				border: 2px solid #ffffff;
				@include eltdBoxSizing(border-box);
			}


		}


	}

}