.eltd-info-box-holder {
	@include mac {
		padding: 25px 0;

		.eltd-ib-front-holder {
			padding: 0 20px;
		}

	}

	@include ipad-portrait {
		padding: 50px 0;

		.eltd-ib-front-holder {
			padding: 0 50px;
		}
	}

	@include ipad-portrait {
		padding: 35px 0;

		.eltd-ib-front-holder {
			padding: 0 10px;
		}
	}

	@media screen and (max-width: 767px) {
		padding: 35px 0;
	}
}

@include ipad-landscape {
	.eltd-info-box-holder {
		.eltd-elements-holder.eltd-four-columns & {
			width: 50%;
			display: inline-block;
			height: auto;
		}
		padding: 70px 11px;
	}
}

@include ipad-portrait {
	.eltd-info-box-holder {
		.eltd-elements-holder.eltd-two-columns &,
		.eltd-elements-holder.eltd-three-columns &,
		.eltd-elements-holder.eltd-four-columns &,
		.eltd-elements-holder.eltd-five-columns &,
		.eltd-elements-holder.eltd-six-columns & {
			width: 100%;
			display: inline-block;
			height: auto;
		}
		padding: 35px 0;

	}
}