/* ==========================================================================
   #Interactive Images responsive styles start
   ========================================================================== */
   	@include large-laptop {
   		.eltd-interactive-images {
		   	&.eltd-ii-five-columns {
				 .eltd-interactive-image-holder {
	   				width: 25%;
	   			}
	   		}
	   	}
   	}


   	@include ipad-landscape {
   		.eltd-interactive-images {
		   	&.eltd-ii-five-columns,
		   	&.eltd-ii-four-columns {
				  .eltd-interactive-image-holder {
		   			width: 33%;
		   		}
		   	}
	   	}
   	}

   	@include ipad-portrait {
   		.eltd-interactive-images {
		   	&.eltd-ii-five-columns,
		   	&.eltd-ii-four-columns,
		   	&.eltd-ii-three-columns {
				  .eltd-interactive-image-holder {
		   			width: 50%;
		   		}
		   	}
	   	}
   	}

   	@include phone-portrait {
   		.eltd-interactive-images {
   			margin: 0;

		   	&.eltd-ii-five-columns,
		   	&.eltd-ii-four-columns,
		   	&.eltd-ii-three-columns {
				  .eltd-interactive-image-holder {
		   			width: 100%;
		   		}
		   	}
	   	}
   	}
/* ==========================================================================
   #Interactive Images responsive styles end
   ========================================================================== */