/* ==========================================================================
   Interactive Elements Holder Responsive start style
   ========================================================================== */

.eltd-interactive-elements-holder-wrapper .eltd-interactive-elements-holder{
	@include ipad-landscape{
		.eltd-interactive-elements-holder-item-wrap{
			position: relative;
			right: 0;
			width: 100%;
		}
	}
}
.eltd-interactive-elements-holder {

	&.eltd-responsive-mode-1280{

		.eltd-interactive-elements-holder-item {
			@media only screen and (max-width: 1279px) {
				width: 100%;
				display: inline-block;
				height: auto;
				margin: 0;
			}
		}
	}

	&.eltd-responsive-mode-1024 {

		.eltd-interactive-elements-holder-item{
			@media only screen and (max-width: 1024px) {
				width: 100%;
				display: inline-block;
				height: auto;
				margin: 0;
				position: relative;
			}
		}
	}

	&.eltd-responsive-mode-768 {

		.eltd-interactive-elements-holder-item{
			@media only screen and (max-width: 768px) {
				width: 100%;
				display: inline-block;
				height: auto;
				margin: 0;
			}
		}
	}

	&.eltd-responsive-mode-600 {

		.eltd-interactive-elements-holder-item{
			@media only screen and (max-width: 600px) {
				width: 100%;
				display: inline-block;
				height: auto;
				margin: 0;
			}
		}
	}

	&.eltd-responsive-mode-480 {

		.eltd-interactive-elements-holder-item{
			@media only screen and (max-width: 480px) {
				width: 100%;
				display: inline-block;
				height: auto;
				margin: 0;
			}
		}

	}

	.eltd-interactive-elements-holder-item-content{
		@media only screen and (max-width: 480px) {
			padding: 0 10px;
		}
	}

}
@media only screen and (max-width: 1280px) {
	.eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: left;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: right;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: center;
	}
}
@media only screen and (max-width: 1024px) {
	.eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: left;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: right;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: left;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: right;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {
	.eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: left;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: right;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	.eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: left;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: right;
	}
	.eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
		text-align: center;
	}
}

/* ==========================================================================
   End of Interactive Elements Holder Responsive style
   ========================================================================== */