/* ==========================================================================
   #Interactive Images styles start
   ========================================================================== */
	.eltd-interactive-images {
		margin: -15px -10px;

	   	&.eltd-ii-three-columns {
		   	.eltd-interactive-image-holder {
	   			width: 33%;
	   		}
	   	}

	   	&.eltd-ii-four-columns {
		   	.eltd-interactive-image-holder {
	   			width: 25%;
	   		}
	   	}

	   	&.eltd-ii-five-columns {
			.eltd-interactive-image-holder {
	   			width: 20%;
	   		}
	   	}

		.eltd-interactive-image-holder {
			position: relative;
		   	display: inline-block;
		   	vertical-align: middle;
		   	@include eltdBoxSizing(border-box);
		   	padding: 15px 10px;
		}

		.eltd-interactive-image {
			display: inline-block;
			position: relative;

			> a {
				position: absolute;
				top:0;
				left:0;
				height: 100%;
				width: 100%;
				z-index: 100;
			}
		}

		&:not(.eltd-tile-hover-effect) {
			.eltd-interactive-image {
				.eltd-ii-back-holder {
					opacity:0;
					@include eltdTransition(opacity .5s cubic-bezier(0.25, 0.1, 0.11, 1.33));
				}

				&:hover {
					.eltd-ii-back-holder {
					    opacity:1;
					}
				}
			}
		}

		&.eltd-tile-hover-effect {
			.eltd-interactive-image {
				.eltd-ii-back-holder {
					opacity:0;
					@include eltdTransform(rotateY(-180deg));
					-webkit-transition: -webkit-transform .8s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s .1s;
					transition: transform .8s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s .1s;
				}

				.eltd-ii-front-holder {
					opacity: 1;
					@include eltdTransform(rotateY(0deg));
					-webkit-transition: -webkit-transform .8s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s;
					transition: transform .8s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s;
				}

				&.eltd-hovered {
					.eltd-ii-front-holder {
						-webkit-transition: -webkit-transform .7s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s ease-out .07s;
						transition: transform .7s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s ease-out .07s;
						@include eltdTransform(rotateY(180deg));
						opacity: 0;
					}

					.eltd-ii-back-holder {
						-webkit-transition: -webkit-transform .7s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s;
						transition: transform .7s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .2s;
					    @include eltdTransform(rotateY(0deg));
					    opacity:1;
					}
				}
			}
		}

		&.eltd-appear-effect {
			.eltd-interactive-image {
				visibility: hidden;
			}

			.touch & .eltd-interactive-image {
				visibility: visible;
			}

			.no-touch & {
				&.eltd-one-by-one {
					.eltd-interactive-image {
						visibility: visible;
						opacity:0;
						@include eltdTransform(translate3d(0, 120px, 0));

						&.eltd-appeared.eltd-lazy-appeared {
							@include eltdTransition(all .8s cubic-bezier(0.25, 0.1, 0.11, .99));
							opacity: 1;
							@include eltdTransform(translate3d(0, 0, 0));
						}
					}
				}

				&.eltd-randomize {
					.eltd-interactive-image {
						visibility: visible;
						opacity:0;
						@include eltdTransform(scale(.9));

						&.eltd-appeared.eltd-lazy-appeared {
							opacity: 1;
							@include eltdTransform(scale(1));
                        	-webkit-transition: -webkit-transform .6s cubic-bezier(0.25, 0.1, 0.11, .99), opacity .2s ease-out;
                        	transition: transform .6s cubic-bezier(0.25, 0.1, 0.11, .99), opacity .2s ease-out;
						}
					}
				}
			}
		}

		.eltd-interactive-image-inner {
			position: relative;
			-webkit-perspective: 1000;
			-moz-perspective: 1000px;
			perspective: 1000px;

			> div {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				outline: 1px solid transparent; //moz pixelation fix
			}

			.eltd-ii-front-holder {
				> img {
					vertical-align: middle;
				}
			}

			.eltd-ii-back-holder {
				position: absolute;
				width: 100%;
				height: 100%;
				top:0;
				left:0;
				text-align: center;
				background-color: #3d3d3d;
				
				.eltd-ii-back-holder-image {
					position: absolute;
					top:0;
					left:0;
					height: 100%;
					width: 100%;
					opacity: .03;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
				}

				.eltd-ii-back-holder-inner {
					display: inline-block;
					position: relative;
					top: 50%;
					@include eltdTransform(translateY(-50%));
				}

				.eltd-ii-title {
					font-size: 16px;
					color:#fff;
					margin:10px 0;
				}

				.eltd-ii-tagline {
					font-size: 16px;
					color: #9c9c9c;
				}
			}
		}
	}
/* ==========================================================================
   #Interactive Images styles end
   ========================================================================== */