/* ==========================================================================
   Interactive Elements Holder start style
   ========================================================================== */

.eltd-interactive-elements-holder-wrapper {
	position: relative;

	> a {
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		z-index: 100;
		&:after {
			content:'';
			position: absolute;
			top:0;
			left:0;
			height: 100%;
			width: 100%;
			background-color: rgba(255,255,255,.05);
			opacity:0;
			@include eltdTransition(opacity .3s);
		}
	}

	.eltd-animation-to-right {
		.eltd-interactive-elements-holder-item-wrap {
			@include eltdTransition(left .4s cubic-bezier(0.22, 0.61, 0.36, 1));
			left: -10%;
		}
	}
	.eltd-animation-to-left {
		.eltd-interactive-elements-holder-item-wrap {
			@include eltdTransition(right .4s cubic-bezier(0.22, 0.61, 0.36, 1));
			right: -10%;
		}
	}

	&:hover {
		.eltd-interactive-elements-holder {
			&.eltd-animation-to-right {
				.eltd-interactive-elements-holder-item-wrap {
					left: 0;
				}
			}
			&.eltd-animation-to-left {
				.eltd-interactive-elements-holder-item-wrap {
					right: 0;
				}
			}
		}	

		a:after {
			opacity:1;
			@include eltdTransition(opacity .6s);
		}
	}

	.eltd-interactive-elements-holder {
		width: calc(100%);
		display: table;
		table-layout: fixed;
		overflow: hidden;
		position: relative;
		opacity:0;

		.eltd-interactive-elements-holder-item-wrap{
			position: absolute;
			width: calc(60% + 1px);
			height: 100%;
			z-index: 20;
		}

		.eltd-interactive-elements-holder-item-wrap-inner {
			display: table;
			height: 100%;
			width: 100%;
			table-layout: fixed;
		}

		.eltd-interactive-elements-holder-item {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			width: 50%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			&.eltd-vertical-alignment-top {
				vertical-align: top;
			}

			&.eltd-vertical-alignment-bottom {
				vertical-align: bottom;
			}

			&.eltd-horizontal-alignment-center {
				text-align: center;
			}

			&.eltd-horizontal-alignment-right {
				text-align: right;
			}

			.eltd-elements-holder-item-inner {
				width: 100%;
			}
		}

		.eltd-interactive-elements-holder-item-content{
			padding: 0 18px 0 0;
		}

	}
}

/* ==========================================================================
   End of Interactive Elements Holder style
   ========================================================================== */