/* ==========================================================================
# Message style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
.eltd-message{
    position: relative;
	padding: 24px 27px;
	margin: 0;
	background-color: $default-text-color;
    border: 0 solid $shortcode-background-color;
    @media only screen and (max-width: 480px){
        padding: 20px 22px;
    }
    .eltd-message-inner{
        position: relative;
        padding-right: 20px;
        
        .eltd-message-text{
            display: table;
            height: 100%;
            @media screen and (max-width: 320px) {
               line-height: normal !important;
            }
            .eltd-message-text-inner{
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
            }
        }
        
        a.eltd-close{
            position: absolute;
            right: 6px;
            top: 2px;
            font-size: 14px;
            
            i{
                width: 14px;
                height: 14px;
                color: #fff;
                font-weight: 700;
                display: inline-block;
                
                &:hover{
                    color: $first-main-color;
                }
            }
        }
    }
}
/* Unique style for both types - end
========================================================================== */

/* Type with icon - begin
========================================================================== */
.eltd-message.eltd-with-icon{
    .eltd-message-icon-holder{
        float: right;
        padding: 0 20px 0 34px;
        @media only screen and (max-width: 600px){
            padding: 20px 22px;
        }
        .eltd-message-icon{
            display: table;
            height: 100%;
            
            .eltd-message-icon-inner{
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                >i,
                >span{
                    color: #fff;
                    line-height: 1em;
                    padding: 8px;
                } 
            }
        }
    }
}


/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message style - end
========================================================================== */