/* ==========================================================================
# Ordered List Style - begin
========================================================================== */
.eltd-ordered-list ol {
	counter-reset: li;
	display: block;
	list-style-type: none;
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0 0 30px;
    li{
        margin: 0px 0px 21px;
        font-family: inherit;
        font-size: 17px;
        font-weight: 400;
    }
    >li:before{
        color:$first-main-color;
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
        padding-right: 16px;
    }
}
.eltd-ordered-list ul{
    counter-reset: li;
	display: block;
	list-style-type: none;
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0 0 30px;
}

/* ==========================================================================
# Ordered List Style - end
========================================================================== */