/* ==========================================================================
# Parallax Section responsive style - begin
========================================================================== */

@include mac{
	.eltd-parallax-section {
		.eltd-parallax-section-item {
			&:not(:last-child) {
				margin-bottom: 5%;
			}
		}
	}
}

@include ipad-landscape {
	.eltd-parallax-section {
		.eltd-parallax-section-item {
			&:not(:last-child) {
				margin-bottom: 10%;
			}

			&.eltd-psi-horizontal.eltd-psi-item-right .eltd-psi-wide-image {
				right: 5%;
			}

			&.eltd-psi-horizontal.eltd-psi-item-left .eltd-psi-wide-image {
				left: 5%;
			}

			&.eltd-psi-vertical { 
				.eltd-psi-wide-image { 
					vertical-align: text-top;
				}
			}

		}
	}
}

@include ipad-portrait {
	.eltd-parallax-section {
		.eltd-parallax-section-item {
			&:not(:last-child) {
				margin-bottom: 15%;
			}

			&.eltd-psi-vertical {
				.eltd-psi-narrow-image {
					max-width: 35%;
				}

				.eltd-psi-wide-image {
					max-width: 65%;
				}

				.eltd-psi-text-holder {
					.eltd-psi-text-holder-inner {
						float: right;
						@include eltdTransform(translate(10%, -10%));
					}

					.eltd-dotted-line-holder {
						display: inline-block;
					    @include eltdTransform(scaleX(-1) translateX(-10%));
					}
				}
			}
		}
	}
}

@include ipad-landscape { 
	.eltd-parallax-section {
		.eltd-parallax-section-item {
			&.eltd-psi-horizontal.eltd-psi-item-right .eltd-psi-wide-image {
				right: 0%;
			}

			&.eltd-psi-horizontal.eltd-psi-item-left .eltd-psi-wide-image {
				left:0%;
			}
		}
	}
}

@include ipad-portrait {
	.eltd-parallax-section {
		.eltd-parallax-section-item {
			.eltd-psi-images-holder .eltd-psi-narrow-image {
				position: relative;
				z-index: 100;
			}

			&.eltd-psi-vertical .eltd-psi-text-holder .eltd-dotted-line-holder {
				float:none;
			}

			&.eltd-psi-horizontal {
				.eltd-psi-wide-image {
					z-index: 1;
				}

				.eltd-psi-text-right .eltd-psi-text-holder { 
					.eltd-dotted-line-holder {
						float:left;
					}

					.eltd-psi-text-holder .eltd-psi-text-holder-inner {
						@include eltdTransform(translateY(50%));
					}
				}
			}
		}
	}
}

/* ==========================================================================
# Parallax Section responsive style - end
========================================================================== */