/* ==========================================================================
# Parallax Images responsive style - begin
========================================================================== */

@include ipad-landscape {
	.eltd-parallax-images {
		display: block;
		
		.eltd-parallax-images-holder-inner,
		.eltd-parallax-images-content {
			display: block;
			@include eltdBoxSizing(border-box);
			width: 100%;
			padding-left: 5%;
			padding-right: 5%;
		}

		.eltd-parallax-images-holder-inner {
			margin-bottom: 5%;
		}
	}
}

/* ==========================================================================
# Parallax Images responsive style - end
========================================================================== */