/* ==========================================================================
# Parallax Section style - begin
========================================================================== */
.eltd-parallax-section {
	@include eltdBoxSizing(border-box);
	padding-left: 9.6%;
	padding-right: 9.6%;

	.eltd-parallax-section-item {
		position: relative;
		width:100%;
		@include eltdTransition(all 2.5s cubic-bezier(0, 0, 0, 1));

		&:not(:last-child) {
			margin-bottom: 2%;
		}

		.eltd-psi-inner {
			display: inline-block;

			img {
				vertical-align: middle;
			}
		}

		.eltd-psi-text-holder {
			.eltd-psi-text-holder-inner {
				display: inline-block;
				vertical-align: top;

				.eltd-psi-title {
					margin-top: 0;
					margin-bottom: 5px;
				}

				.eltd-psi-tagline {
					margin-top: 0;
				}
			}

			.eltd-dotted-line-holder {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				overflow: hidden;
			}
		}

		.eltd-psi-images-holder {
			position: relative;
			display: inline-block;
			font-size: 0; //remove unnecessary spacing

			a {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				z-index: 100;
				
				&:hover {
					~ img {
						opacity: .85;
					}
				}
			}

			.eltd-psi-narrow-image {
				@include eltdBoxShadow(0px 10px 10px -5px rgba(0,0,0,0.43));
				@include eltdTransform(translateZ(0));
				@include eltdTransition(opacity .3s cubic-bezier(0.25, 0.1, 0.11, .99));
			}

			.eltd-psi-wide-image {
				-webkit-transition: -webkit-transform 5s cubic-bezier(0,0,0,1), opacity .3s cubic-bezier(0.25, 0.1, 0.11, .99);
				transition: transform 5s cubic-bezier(0,0,0,1), opacity .3s cubic-bezier(0.25, 0.1, 0.11, .99);
			}
		}

		&.eltd-psi-item-right {
			text-align: right;
		}

		&.eltd-psi-horizontal {
			.no-touch & {
				.eltd-dotted-line-holder {
					img {
						@include eltdTransform(rotate(60deg));
						-webkit-transform-origin:0% 100%;
						transform-origin:0% 100%;
						@include eltdTransition(all .5s cubic-bezier(.25, .1, .11, 1));
					}
				}

				&.eltd-appeared {
					.eltd-dotted-line-holder {
						img {
							@include eltdTransform(rotate(0deg));
						}
					}
				}
			}

			.eltd-psi-wide-image {
				position: absolute;
				bottom: 0;
				left:0;
				z-index: -1;
			}

			&.eltd-psi-item-right {
				.eltd-psi-wide-image {
					right:0;
					left:auto;
				}
			}

			&.eltd-psi-text-left {
				.eltd-psi-text-holder {
					text-align: left;
					@include eltdTransform(translateX(-3%));
				}

				.eltd-psi-text-holder-inner {
					@include eltdTransform(translateY(-20%));
				}

				.no-touch & {
					.eltd-psi-text-holder-inner {
						opacity: 0;
						@include eltdTransform(translate(20%, -20%));
						@include eltdTransition(all .25s cubic-bezier(.25, .1, .11, 1) .4s);					
					}

					&.eltd-appeared {
						.eltd-psi-text-holder-inner {
							@include eltdTransform(translateY(-20%));
							opacity: 1;
						}
					}
				}
			}

			&.eltd-psi-text-center {
				.eltd-psi-text-holder {
					text-align: center;

					.eltd-psi-text-holder-inner {
						@include eltdTransform(translate(-50%, -20%));
					}

					.eltd-dotted-line-holder {
						@include eltdTransform(translateX(-50%));
					}
				}

				.no-touch & {
					.eltd-psi-text-holder-inner {
						opacity: 0;
						@include eltdTransform(translate(-30%, -20%));
						@include eltdTransition(all .25s cubic-bezier(.25, .1, .11, 1) .4s);					
					}

					&.eltd-appeared {
						.eltd-psi-text-holder-inner {
							@include eltdTransform(translate(-50%, -20%));
							opacity: 1;
						}
					}
				}
			}

			&.eltd-psi-text-right {
				.eltd-psi-text-holder {
					@include eltdTransform(translateX(3%));

					.eltd-psi-text-holder-inner {
						float: right;
						@include eltdTransform(translateY(-20%));
					}

					.eltd-dotted-line-holder {
						@include eltdTransform(scaleX(-1));
					}
				}

				.no-touch & {
					.eltd-psi-text-holder-inner {
						opacity: 0;
						@include eltdTransform(translate(-20%, -20%));
						@include eltdTransition(all .25s cubic-bezier(.25, .1, .11, 1) .4s);					
					}

					&.eltd-appeared {
						.eltd-psi-text-holder-inner {
							@include eltdTransform(translateY(-20%));
							opacity: 1;
						}
					}
				}
			}
		}

		&.eltd-psi-vertical { 
			.eltd-psi-wide-image {
				vertical-align: bottom;
				@include eltdTransition(all 1.4s cubic-bezier(0.25, 0.1, 0.11, .99));
			}

			.no-touch & {
				.eltd-dotted-line-holder {
					img {
						@include eltdTransform(rotate(-45deg));
						-webkit-transform-origin: 0% 100%;
						transform-origin: 0% 100%;
						@include eltdTransition(all .5s cubic-bezier(.25, .1, .11, 1));
					}
				}

				.eltd-psi-text-holder-inner {
					opacity: 0;
					@include eltdTransform(translateY(20%));
					@include eltdTransition(all .25s cubic-bezier(.25, .1, .11, 1) .4s);					
				}

				&.eltd-appeared {
					.eltd-psi-text-holder-inner {
						@include eltdTransform(translateY(0%));
						opacity: 1;
					}
					.eltd-dotted-line-holder {
						img {
							@include eltdTransform(rotate(0deg));
						}
					}
				}
			}

			.eltd-psi-text-holder {
				display: inline-block;

				.eltd-psi-text-holder-inner {
					display: block;
					text-align: left;
				}

				.eltd-dotted-line-holder {
					@include eltdTransform(scale(-1) translateX(-10%));
					float: right;
				}
			}

			&.eltd-psi-text-top {
				.eltd-psi-text-holder {
					vertical-align: top;
					@include eltdTransform(translateY(-10%));
				}
			}

			&.eltd-psi-text-center {
				.eltd-psi-text-holder {
					vertical-align: middle;
				}
			}

			&.eltd-psi-text-bottom {
				.eltd-psi-text-holder {
					@include eltdTransform(translateY(-10%));
					vertical-align: bottom;
				}
			}
		}
	}
}

/* ==========================================================================
# Parallax Section style - end
========================================================================== */