/* ==========================================================================
# Parallax Images style - begin
========================================================================== */
.eltd-parallax-images {
	display: table;
	width: 100%;
	table-layout: fixed;

	.eltd-parallax-images-holder-inner {
		display: table-cell;
		vertical-align: middle;
		width: 55%;

		.eltd-pi-top-row,
		.eltd-pi-bottom-row {
			position: relative;
		}

		//top pi row - top img, right img
		.eltd-top-img-wrapper {
			position: relative;
			display: inline-block;
			margin-left: 10%;
			max-width: 58%;
			z-index: 20;
		}

		.eltd-right-img-wrapper {
			position: absolute;
			top: 25%;
			right: 0;
			max-width: 50%;
			z-index: 10;
		}

		//bottom pi row - bottom img, left img
		.eltd-bottom-img-wrapper {
			position: relative;
			display: inline-block;
		    margin-left: 30%;
		    max-width: 57%;
		    z-index: 40;
		}

		.eltd-left-img-wrapper {
			position: absolute;
			top: -60%;
			left: 0;
			max-width: 50%;
			z-index: 30;
		}

		.eltd-img-wrapper-inner {
			position: relative;
			display: inline-block;
		
			> a {
				position: absolute;
				top:0;
				left:0;
				height: 100%;
				width: 100%;
				z-index: 100;
			}
		}
		
		img {
			vertical-align: middle;
			@include eltdBoxShadow(0 5px 15px 2px rgba(0,0,0,.05));

		}
	}	

	.eltd-parallax-images-content {
		display: table-cell;
		vertical-align: middle;
		width: 45%;
		padding-left: 7%;
		padding-right: 10%;
	}

	.no-touch & {
		opacity: 0;

		&.eltd-appeared {
			@include eltdTransition(opacity .4s);
			opacity: 1;
		}
	}

	.no-touch &.eltd-image-fade-effect {
		.eltd-parallax-images-holder-inner {
			img {
				@include eltdTransform(translate3d(0,0,0));
				@include eltdTransition(all .35s cubic-bezier(0.25, 0.1, 0.11, .99));
			}

			.eltd-fade {
				img {
					filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
					-webkit-filter: grayscale(100%);
			        filter: grayscale(100%);
			        opacity: .1;
				}
			}

			>div >div:hover {
				z-index: 100;
			}
		}
	}

	.no-touch &.eltd-image-parallax-hover-effect { 
		.eltd-parallax-images-holder-inner {
			img {
				@include eltdTransition(all .35s cubic-bezier(0.25, 0.1, 0.11, .99));
			}
			
			.eltd-img-wrapper-inner:hover {
				img {
					@include eltdTransform(scale(1.05) translate3d(0,0,0));
					@include eltdBoxShadow(0 5px 15px 3px rgba(0,0,0,.09));
				}
			}

			>div >div:hover {
				z-index: 100;
			}
		}
	}

	.no-touch &.eltd-image-parallax-scroll-effect {

		&:not(.eltd-image-parallax-hover-effect):not(.eltd-image-fade-effect) {
			.eltd-parallax-images-holder-inner {
				.eltd-img-wrapper-inner > a {
					&:after {
						content:'';
						position: absolute;
						top:0;
						left:0;
						height: 100%;
						width: 100%;
						opacity: 0;
						background-color: rgba(255,255,255,.1);
						@include eltdTransition(all .8s cubic-bezier(0.25, 0.1, 0.11, .99));
					}

					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}

		.eltd-parallax-images-content {
			@include eltdTransition(all 2s cubic-bezier(0,0,0,1));
		}

		.eltd-top-img-wrapper { 
			.eltd-img-wrapper-inner {
				@include eltdTransition(all 1s cubic-bezier(0,0,0,1));
			}
		}

		.eltd-right-img-wrapper { 
			.eltd-img-wrapper-inner {
				@include eltdTransition(all 1.8s cubic-bezier(0,0,0,1));
			}
		}

		.eltd-left-img-wrapper { 
			.eltd-img-wrapper-inner {
				@include eltdTransition(all .9s cubic-bezier(0,0,0,1));
			}
		}

		.eltd-bottom-img-wrapper { 
			.eltd-img-wrapper-inner {
				@include eltdTransition(all 1.2s cubic-bezier(0,0,0,1));
			}
		}
	}
}
/* ==========================================================================
# Parallax Images style - end
========================================================================== */