/* ==========================================================================
# Pie Chart With Icon - begin
========================================================================== */

.eltd-pie-chart-with-icon-holder {
	position: relative;
	display: block;

	.eltd-percentage-with-icon {
		position: relative;
		display: block;
		height: 175px;
		width: 175px;
		line-height: 175px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: opacity .3s ease 0s;
		-moz-transition: opacity .3s ease 0s;
		-o-transition: opacity .3s ease 0s;

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		i,
		span {
			float: none;
			margin: 0;
			color: $first-main-color;
			vertical-align: middle !important;
			display: inline;
			font-size: 48px;
		}

		.eltd_icon_font_elegant {
			line-height: inherit;
		}

	}

	.eltd-pie-chart-text {
		@include eltdBoxSizing(border-box);
		text-align: center;
		margin: 12px 0 0;

		.eltd-pie-title {
			margin: 0 0 12px;
		}

	}

	&.light {

		.eltd-pie-chart-text {
			color: #fff;

			.eltd-pie-title {
				color: #fff;
			}

		}
	}

	&.dark {

		.eltd-pie-chart-text {
			color: #000;

			.eltd-pie-title {
				color: #000;
			}

		}
	}

}

/* ==========================================================================
# Pie Chart With Icon - end
========================================================================== */