/* ==========================================================================
# Pie Chart Basic - begin
========================================================================== */

.eltd-pie-chart-holder {
	position: relative;
	display: block;

	.eltd-percentage {
		position: relative;
		display: block;
		height: 175px;
		width: 175px;
		line-height: 175px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		@include eltdTransition(opacity .3s ease-out);
		background-color: #fff;
		@include eltdBorderRadius(50%);

		.eltd-pie-title {
			line-height: inherit;

		}

	}

	.eltd-percentage canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.eltd-to-counter {
		position: relative;
		font-weight: 500;
		font-size: 48px;
		color: #333333;
		font-family: $second-font;
		letter-spacing: -2px;

		&:after {
			content: '%';
		}
	}

	.eltd-pie-chart-text {
		text-align: center;
		margin: 35px 0 0;
		@include eltdBoxSizing(border-box);

		.eltd-to-counter {
			font-size: 20px;
		}

		.eltd-pie-title {
			margin: 0;
		}

	}

	&.light {
		.eltd-to-counter{
			color:#fff;
			font-weight: 400;
			font-family: $second-font;
		}
		.eltd-pie-chart-text {
			color:#fff;

			.eltd-pie-title,p {
				color:#fff;
			}

		}

	}

	&.dark {

		.eltd-to-counter {
			color: #000;
		}

		.eltd-pie-chart-text {
			color: #000;

			.eltd-pie-title {
				color: #000;
			}

		}
	}


}

/* ==========================================================================
# Pie Chart Basic - end
========================================================================== */
