.eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space{
    article{
        float: left;
        margin-bottom: 0;
        .eltd-item-image-holder {
            overflow: hidden;
            a:after {
                content:'';
                position: absolute;
                top:0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,.6);
                opacity: 0;
                @include eltdTransition(opacity .4s);
            }
            &:hover {
                a:after {
                    opacity: 1;
                }
            }
        }

        .eltd-item-text-holder {
            padding: 0 5px;
        }

        .eltd-ptf-excerpt{
            font-size: 14px;
            margin: 0 0 24px;
        }
        .eltd-item-title{
            margin: 14px 0 18px;
        }
        .eltd-ptf-category-holder{
            margin: 21px 0 0;
        }
        .eltd-item-icons-holder{
            @extend %eltd-ptf-icons-style;
        }
        .eltd-ptf-category-holder{
            @extend %post-info-style1;
            a{
                color: inherit;
            }
        }

        .eltd-ptf-like-holder{
            position: absolute;
            z-index: 999;
            right:18px;
            top:17px;

            .eltd-ptf-like-item{
                border: none;
                background-color: transparent;

                &.eltd-ptf-like-text{
                    display: none;
                }
                &.eltd-ptf-like-icon{
                    padding: 0 10px;
                    a{
                        &:before{
                            font-family: 'ElegantIcons';
                            font-size: 16px;
                        }
                        &.eltd-like{
                            color: $light-text-color;
                            display: block;
                            background-color: $light-skin-color;
                            @include eltdBorderRadius(50%);
                            @include eltdTransition(all .2 ease);
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            &:hover{
                                background-color: $first-main-color;
                                color:$light-skin-color;
                            }
                            &:before{
                                content: "\e030";
                            }
                            &.liked{
                                background-color: $first-main-color;
                                color:$light-skin-color;
                            }
                        }

                    }
                }
            }

        }
    }
    &.eltd-ptf-two-columns{
        article{
            width: 50%;
        }
    }

    &.eltd-ptf-three-columns{
        article{
            width: 33.333333%;
        }

    }
    &.eltd-ptf-four-columns{
        article{
            width: 25%;
        }
    }
    &.eltd-ptf-five-columns{
        article{
            width: 20%;
        }
    }
    &.eltd-ptf-six-columns{
        article{
            width: 16.666666%;
        }
    }
    .eltd-ptf-list-paging{
        margin: 50px 0 0;
    }
}