@include mac{
    .eltd-portfolio-list-holder-outer{

        &.eltd-ptf-masonry-parallax{
            article{
                padding: 20px;
            }
        }

    }
}

@include ipad-landscape{

    .eltd-portfolio-list-holder-outer{

         &.eltd-ptf-standard,
         &.eltd-ptf-gallery{

             &.eltd-ptf-large-spacing,
             &.eltd-ptf-small-spacing,
             &.eltd-ptf-extra-small-spacing{
                 &.eltd-ptf-five-columns,
                 &.eltd-ptf-six-columns{
                     article{
                         width: 33%;
                     }
                 }
                 &.eltd-ptf-four-columns{
                     article{
                         width: 50%;
                     }
                 }
             }
         }
        &.eltd-ptf-standard-no-space,
        &.eltd-ptf-gallery-no-space{

            &.eltd-ptf-five-columns,
            &.eltd-ptf-six-columns {
                article {
                    width: 33.333333%;
                }
            }
            &.eltd-ptf-four-columns{
                article{
                    width: 50%;
                }
            }
        }
        &.eltd-ptf-pinterest{

            &.eltd-ptf-pinterest-five-columns{
                article,
                .eltd-portfolio-list-masonry-grid-sizer{
                    width: 33.33%;
                }
            }
            &.eltd-ptf-pinterest-four-columns{
                article,
                .eltd-portfolio-list-masonry-grid-sizer{
                    width: 50%;
                }
            }

        }
        &.eltd-ptf-masonry,
        &.eltd-ptf-masonry-with-space{

            .eltd-portfolio-list-masonry-grid-sizer,
            .eltd-default-masonry-item,
            .eltd-large-height-masonry-item{
                width: 50%;
            }
            .eltd-large-width-masonry-item,
            .eltd-large-width-height-masonry-item{
                width: 100%;
            }
        }
        &.eltd-ptf-masonry-parallax{
            .eltd-portfolio-list-masonry-grid-sizer,
            .eltd-default-masonry-item,
            .eltd-large-height-masonry-item{
                width: 50%;
            }
            .eltd-large-width-masonry-item,
            .eltd-large-width-height-masonry-item{
                width: 100%;
            }
        }

    }
}

@include ipad-portrait {

    .eltd-portfolio-list-holder-outer{

        &.eltd-ptf-standard,
        &.eltd-ptf-gallery{

            &.eltd-ptf-large-spacing,
            &.eltd-ptf-small-spacing,
            &.eltd-ptf-extra-small-spacing{
                &.eltd-ptf-three-columns,
                &.eltd-ptf-four-columns,
                &.eltd-ptf-five-columns,
                &.eltd-ptf-six-columns {
                    article{
                        width: 50%;
                    }
                }
            }
        }
        &.eltd-ptf-standard-no-space,
        &.eltd-ptf-gallery-no-space{
            &.eltd-ptf-three-columns,
            &.eltd-ptf-four-columns,
            &.eltd-ptf-five-columns,
            &.eltd-ptf-six-columns {
                article{
                    width: 50%;
                }
            }
        }
        &.eltd-ptf-pinterest{

            &.eltd-ptf-pinterest-five-columns,
            &.eltd-ptf-pinterest-four-columns{
                article,
                .eltd-portfolio-list-masonry-grid-sizer{
                    width: 50%;
                }
            }

        }

    }

}

@include phone-landscape{
    .eltd-portfolio-list-holder-outer{
        article,
        .eltd-portfolio-list-masonry-grid-sizer{
            width: 100% !important; // !important is set to override all other stronger selectors
        }
        &.eltd-ptf-gallery-tiled{
            article{
                left: 0 !important;
            }
        }
        &.eltd-ptf-masonry,
        &.eltd-ptf-masonry-with-space{
            article{
                .eltd-item-image-holder img{
                    width: 100%;
                }
            }
        }
    }

    .eltd-portfolio-filter-holder{
        .eltd-portfolio-filter-holder-inner ul li{
            float:none;

        }
    }


}