.eltd-portfolio-filter-holder{

    @include eltdTableLayout;
    margin : 0 0 77px;

    .eltd-portfolio-filter-holder-inner{

        @include eltdTableCellLayout;

        ul{
            display: inline-block;
            list-style: none;
            vertical-align: middle;
            position: relative;
            margin: 0;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: -13px;
                background-color: $shortcode-background-color;
            }

            li{
                cursor: pointer;
                display: block;
                margin: 0;
                margin-right:10px;
                float: left;
                text-align: center;
                font-family: $second-font;

                &:last-child{
                     margin-right: 0;
                }

                span{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 2px 17px;
                    color: #adadad;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    @include eltdTransition(color 0.25s ease-out);
                  font-weight: 700;
                }
                &.active,
                &.current,
                &:hover{
                    span{
                        color: $first-main-color;
                        &:after {
                            height: 100%;
                            opacity: 1;
                            @include eltdTransition(height .25s cubic-bezier(0.22, 0.61, 0.36, 1));
                        }
                    }
                }
            }
        }

    }
}