.eltd-portfolio-list-holder-outer.eltd-ptf-gallery{
    height: 100%;
    text-align: justify;
    font-size: 0.1px;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
    }
    article{
        float: left;
        @include eltdBoxSizing(border-box);

        .eltd-item-title{
            margin: 7px 0 5px 0;
            color:#333;
        }

        .eltd-item-image-holder{
            overflow: hidden;
        }

        .eltd-item-image-holder img{
            image-rendering: optimizeQuality;
            backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
            -webkit-backface-visibility: hidden;
        }

        .eltd-portfolio-link{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .eltd-item-text-overlay-inner{
            @include  eltdTableLayout;
        }

    }
    &.eltd-ptf-two-columns{
        article{
            width: 50%;
        }
    }

    &.eltd-ptf-three-columns{
        article{
            width: 33.33333333%;
        }

    }
    &.eltd-ptf-four-columns{
        article{
            width: 25%;
        }
    }
    &.eltd-ptf-five-columns{
        article{
            width: 20%;
        }
    }
    &.eltd-ptf-six-columns{
        article{
            width: 16.6666666%;
        }
    }
    &.eltd-ptf-large-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -12px;
        }
        article{
            padding: 0 12px;
            margin: 0 0 24px;
        }

    }
    &.eltd-ptf-small-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -4px;
        }
        article{
            padding: 0 4px;
            margin: 0 0 8px;
        }
    }
    &.eltd-ptf-extra-small-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -1px;
        }
        article{
            padding: 0 1px;
            margin: 0 0 2px;
        }
    }
}
