.eltd-portfolio-list-holder-outer.eltd-ptf-masonry {

	.eltd-portfolio-list-holder{
		opacity: 0;
		@include eltdTransition(opacity 0.15s ease-out);

		&.eltd-appeared{
			opacity: 1;
		}
	}
	&.eltd-ptf-masonry-four-columns {
		.eltd-portfolio-list-masonry-grid-sizer,
		.eltd-default-masonry-item,
		.eltd-large-height-masonry-item {
			width: 25%;
		}
		.eltd-large-width-masonry-item,
		.eltd-large-width-height-masonry-item {
			width: 50%;
		}
	}

	&.eltd-ptf-masonry-three-columns{
		.eltd-portfolio-list-masonry-grid-sizer,
		.eltd-default-masonry-item,
		.eltd-large-height-masonry-item{
			width: 33.3333333333%;
		}
		.eltd-large-width-masonry-item,
		.eltd-large-width-height-masonry-item{
			width: 66.6666666666%;
		}
	}



	article{
		margin: 0;
		.eltd-item-title{
			margin: 7px 0;
		}

		.eltd-item-image-holder{
			overflow: hidden;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			@include eltdTransition(opacity .75s cubic-bezier(0,0,0,1));

			img{
				image-rendering: optimizeQuality;
				backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
				-webkit-backface-visibility: hidden;
				height: 100%;
				width: 100%;
				@include eltdTransition(opacity .75s cubic-bezier(0,0,0,1));
			}
		}

		.eltd-portfolio-link{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.eltd-item-text-overlay-inner{
			@include  eltdTableLayout;
		}

		&:hover{
			.eltd-item-text-overlay{
				opacity: 1;
			}
		}
	}
}