.eltd-portfolio-list-holder-outer.eltd-ptf-gallery-tiled{
    height: 100%;
    text-align: justify;
    font-size: 0.1px;
    cursor: url(img/crosshair.png), auto;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
    }
    article{

        position: absolute;
        display: inline-block;
        overflow: hidden;
        opacity: 0;
        a {
            cursor: url(img/crosshair.png), auto;
            color:lighten($default-text-color, 25%);
        }

        a img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            padding: 0;
            border: 0;
        }
        @include eltdTransition(opacity 0.8s ease);
        &.show{
            opacity: 1;
            visibility: visible;
        }

        .eltd-item-title{
            margin: 7px 0;
            color:#fff;
        }

        .eltd-item-image-holder{
            overflow: hidden;
        }

        .eltd-portfolio-link{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .eltd-item-text-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.45);
            @include eltdTransition(opacity 0.3s ease-in-out);
        }
        .eltd-item-text-overlay-inner{
            @include  eltdTableLayout;
        }

        .eltd-item-text-holder{
            @include eltdTableCellLayout;
        }

        &:hover{
            .eltd-item-text-overlay{
                opacity: 1;
            }
        }
    }
}
