.eltd-portfolio-list-holder{

    @at-root .eltd-appear-effect.eltd-ptf-one-by-one {
         article {
            opacity: 0;
            @include eltdTransform(translate3d(0,60px,0));
            @include eltdTransition(all .85s cubic-bezier(0.23, 1, 0.32, 1));
            -webkit-backface-visibility:hidden;

            &.eltd-appeared {
                opacity: 1;
                @include eltdTransform(translate3d(0,0,0));
           }
        }
    }

    article{
        position:relative;

        &.mix{
            display: none;
            visibility: hidden;
            vertical-align: top;

            .eltd-like a:after {
                display:none;
            }
        }

        &.eltd-ptf-masonry-parallax-item {
            overflow:hidden;
            margin: 12px 0;
            padding: 0 12px;
        }

        .eltd-item-image-holder{
            position: relative;
            a{
                display: block;
            }
            img,
            a img{
                vertical-align: top;
                height: auto;
                max-width: 100%;
            }
        }
        .eltd-item-icons-holder{
            @extend %eltd-ptf-icons-style;
        }
        .eltd-ptf-category-holder{
            @extend %post-info-style1;
            font-size: 14px;
            letter-spacing: 1.5px;
            font-weight: 600;
            a{
                color: inherit;
            }
        }
        .eltd-ptf-like-holder{
            @extend %portfolio-like-style;

            .eltd-like:after {
                display:none;
                opacity:0.03;
            }
        }
    }
    .eltd-ptf-excerpt{
        text-align: left;
    }

    .eltd-ptf-excerpt & {
        .eltd-item-excerpt {
            font-size: 15px;
            line-height: 1.67em;
        }
    }


    //overlay hover
    .eltd-ptf-overlay & {
        article{
            .eltd-item-text-overlay {
                position: absolute;
                top: 30px;
                left: 30px;
                height: calc(100% - 60px);
                width: calc(100% - 60px);
                @include eltdTransform(scale(.8));
                opacity: 0;
                background-color: $light-skin-color;
                -webkit-transition: -webkit-transform 0s .15s, opacity 0.15s ease-out;
                transition: transform 0s .15s, opacity 0.15s ease-out;
                .eltd-item-title{
                    color: $first-main-color;
                }
                .eltd-ptf-category-holder{
                    color: $first-main-color;
                }
            }
            .eltd-item-text-holder {
                display: table-cell;
                vertical-align: bottom;
                text-align: left;
                @include eltdBoxSizing(border-box);
                padding: 25px 30px;
            } 
            .eltd-ptf-category-holder {
                margin-bottom: 10px;
            }
            .eltd-item-title,
            .eltd-ptf-category-holder,
            .eltd-item-excerpt{
                color:#fff;
            }
            &:hover {
                .eltd-item-text-overlay {
                    opacity: 1;
                    @include eltdTransform(scale(1));
                    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.11, 0.79, 0.58, 1), opacity 0.1s ease-out;
                    transition: transform 0.5s cubic-bezier(0.11, 0.79, 0.58, 1), opacity 0.1s ease-out;
                }
            }
        }

    }

    //light shader hover
    .eltd-ptf-light-shader & {
        article{
            .eltd-item-text-overlay {
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: rgba(255,255,255,.85);
                @include eltdTransition(opacity .2s ease-out);
            }
            .eltd-item-text-holder {
                display: table-cell;
                vertical-align: bottom;
                text-align: left;
                @include eltdBoxSizing(border-box);
                padding: 25px 30px;
            } 
            .eltd-ptf-category-holder {
                margin-bottom: 10px;
            }
            .eltd-item-title {
                color: #444;
                @include eltdTransform(translate3d(-100%,0,0));
                -webkit-transition: -webkit-transform .0s .2s;
                transition: transform .0s .2s;
            }
            .eltd-ptf-category-holder {
                color:$light-text-color;
                @include eltdTransform(translate3d(-100%,0,0));
                -webkit-transition: -webkit-transform .0s .2s;
                transition: transform .0s .2s;
            }
            .eltd-item-excerpt{
                color:$light-text-color;
            }
            &:hover {
                .eltd-item-text-overlay {
                    opacity: 1;
                    @include eltdTransition(opacity .6s ease);
                }
                .eltd-item-title {
                    @include eltdTransform(translate3d(0,0,0));
                    -webkit-transition: -webkit-transform .3s cubic-bezier(0.11, 0.79, 0.58, 1);
                    transition: transform .3s cubic-bezier(0.11, 0.79, 0.58, 1);
                }
                .eltd-ptf-category-holder {
                    @include eltdTransform(translate3d(0,0,0));
                    -webkit-transition: -webkit-transform .3s cubic-bezier(0.11, 0.79, 0.58, 1) .1s;
                    transition: transform .3s cubic-bezier(0.11, 0.79, 0.58, 1) .1s;
                }
            }
        }
    }
    .eltd-ptf-light-shader.eltd-ptf-excerpt & { 
        article{ 
            .eltd-item-title,
            .eltd-ptf-category-holder,
            .eltd-item-excerpt {
                @include eltdTransition(none);
                @include eltdTransform(none);
            }
            &:hover {
                .eltd-item-text-overlay {
                    opacity: 1;
                    @include eltdTransition(opacity .3s ease);
                }
            }
        }
    }

    //dark shader hover
    .eltd-ptf-dark-shader & {
        article{
            overflow: hidden;
            .eltd-item-text-overlay {
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: rgba(0,0,0,.45);
                @include eltdTransition(opacity .2s ease-out, left .0s .2s);
            }
            .eltd-item-text-holder {
                display: table-cell;
                vertical-align: bottom;
                text-align: left;
                @include eltdBoxSizing(border-box);
                padding: 25px 30px;
            } 
            .eltd-ptf-category-holder {
                margin-bottom: 10px;
            }
            .eltd-item-title {
                opacity: 0;
                color: $light-skin-color;
                @include eltdTransform(translate3d(-100%,0,0));
                -webkit-transition: -webkit-transform .0s .2s, opacity .0s .2s;
                transition: transform .0s .2s, opacity .0s .2s;
            }
            .eltd-ptf-category-holder {
                color:$light-skin-color;
                opacity: 0;
                @include eltdTransform(translate3d(-100%,0,0));
                -webkit-transition: -webkit-transform .0s .2s, opacity .0s .2s;
                transition: transform .0s .2s, opacity .0s .2s;
            }
            .eltd-item-excerpt{
                color:$light-text-color;
            }
            &:hover {
                .eltd-item-text-overlay {
                    left:0;
                    opacity: 1;
                    @include eltdTransition(left 0.4s ease);
                }
                .eltd-item-title {
                    opacity: 1;
                    @include eltdTransform(translate3d(0,0,0));
                    -webkit-transition: -webkit-transform .25s cubic-bezier(0.11, 0.79, 0.58, 1) .25s, opacity .1s .25s;
                    transition: transform .25s cubic-bezier(0.11, 0.79, 0.58, 1) .25s, opacity .1s .25s;
                }
                .eltd-ptf-category-holder {
                    opacity: 1;
                    @include eltdTransform(translate3d(0,0,0));
                    -webkit-transition: -webkit-transform .25s cubic-bezier(0.11, 0.79, 0.58, 1)  .35s, opacity .1s .35s;
                    transition: transform .25s cubic-bezier(0.11, 0.79, 0.58, 1) .35s, opacity .1s .35s;
                }
            }
        }
    }
    .eltd-ptf-dark-shader.eltd-ptf-excerpt & { 
        article{ 
            .eltd-item-text-overlay {
                left: 0;
            }
            .eltd-item-title,
            .eltd-ptf-category-holder,
            .eltd-item-excerpt {
                @include eltdTransition(none);
                @include eltdTransform(none);
            }
            &:hover {
                .eltd-item-text-overlay {
                    opacity: 1;
                    @include eltdTransition(opacity .6s cubic-bezier(.19,1,.22,1));
                }
            }
        }
    }

    //centered hover
    .eltd-ptf-centered & {
        article{
            .eltd-item-text-overlay {
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: rgba(0,0,0,0.3);
                @include eltdTransition(opacity .2s ease-out);

            }
            .eltd-item-text-holder {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                @include eltdBoxSizing(border-box);
                padding: 25px 30px;
            } 
            .eltd-ptf-category-holder {
                color:#fff;
                margin-bottom: 4px;
                @include eltdTransform(translate3d(0,40px,0));
                @include eltdTransition(all .0s .2s);

                span{
                    font-family: $third-font;
                    font-size: $default-font-size;
                    font-weight: 400;
                    text-transform: none;
                }
            }
            .eltd-item-title {
                color: #fff;
                @include eltdTransform(translate3d(0,20px,0));
                @include eltdTransition(all .0s .2s);

                .eltd-ptf-gallery & {
                    color: #fff;
                }
            }
            &:hover {
                .eltd-item-text-overlay {
                    opacity: 1;
                    @include eltdTransition(opacity .6s cubic-bezier(.19,1,.22,1));
                }
                .eltd-item-title,
                .eltd-ptf-category-holder {
                    @include eltdTransition(all .8s cubic-bezier(.19,1,.22,1));
                    @include eltdTransform(translate3d(0,0,0));
                }
            }
        }
    }

    //slide up hover
    .eltd-ptf-slide-up & {
        article{
            overflow: hidden;
            .eltd-item-image-holder img{
                @include eltdTransition(all 0.3s ease);
                backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
                -webkit-backface-visibility: hidden;
            }
            .eltd-item-text-overlay {
                position: absolute;
                bottom:0;
                width: 100%;
                background-color:$first-main-color;
                @include eltdTransform(translate3d(0,100%,0));
                -webkit-transition: -webkit-transform .3s ease;
                transition: transform .3s ease;   
            }
            .eltd-item-text-holder {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                @include eltdBoxSizing(border-box);
                padding: 18px 30px;
            } 
            .eltd-ptf-category-holder {
                color:#fff;
                margin-bottom: 10px;
            }
            .eltd-item-title {
                color: #fff;
            }
            &:hover {
                .eltd-item-image-holder img{
                    @include eltdTransform(translate3d(0,-30px,0));
                    @include eltdTransition(all .35s cubic-bezier(.18,.87,.28,1.01) .05);
                }
                .eltd-item-text-overlay {
                    @include eltdTransform(translate3d(0,0,0));
                    -webkit-transition: -webkit-transform .5s cubic-bezier(.19,1,.22,1);
                    transition: transform .5s cubic-bezier(.19,1,.22,1);
                }

            }
        }
    }
}

.eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-centered article .eltd-item-title{
    color:#fff;
}

.eltd-portfolio-list-holder-outer{
    &.eltd-ptf-centered.eltd-ptf-crosshair{
        article{
            .eltd-portfolio-link{
                cursor: url(img/crosshair.png), auto;

            }
            .eltd-item-text-overlay{
                background-color: rgba(0, 0, 0, 0.7);
                .eltd-item-text-holder{
                    .eltd-item-title{
                        color:$light-skin-color;
                    }
                    .eltd-ptf-category-holder a{
                        color:#b1b1b1;
                    }
                }

            }
        }
    }
}
.eltd-ptf-overlay{
        &.eltd-ptf-overlay-dark {
            .eltd-portfolio-list-holder {
                article {
                    .eltd-item-text-overlay {
                        background-color: $first-main-color;
                        .eltd-item-title {
                            color: $light-skin-color;
                        }
                        .eltd-ptf-category-holder {
                            color: $light-skin-color;
                        }
                    }

                    .eltd-item-title,
                    .eltd-ptf-category-holder,
                    .eltd-item-excerpt {
                        color: #fff;
                    }
                }
            }
        }

        &.eltd-ptf-overlay-light{
            .eltd-portfolio-list-holder {
                article {
                    .eltd-item-text-overlay {
                        background-color: $light-skin-color;
                        .eltd-item-title {
                            color: #333;
                            margin-bottom:0;
                        }
                        .eltd-ptf-category-holder {
                            color: $first-main-color;
                        }
                    }

                    .eltd-item-title,
                    .eltd-ptf-category-holder,
                    .eltd-item-excerpt {
                        color: $first-main-color;
                    }
                }
            }
        }
  }



.eltd-ptf-list-paging{
    text-align: center;
    margin: 25px 0 0 0;
}