.eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space{
    article{
        float: left;
        .eltd-item-title{
            margin: 7px 0;
        }

        .eltd-item-image-holder{
            overflow: hidden;
        }

        .eltd-item-image-holder img{
            image-rendering: optimizeQuality;
            backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
            -webkit-backface-visibility: hidden;
        }

        .eltd-portfolio-link{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .eltd-item-text-overlay-inner{
            @include  eltdTableLayout;
        }

    }
    &.eltd-ptf-two-columns{
        article{
            width: 50%;
        }
    }

    &.eltd-ptf-three-columns{
        article{
            width: 33.3333333%;
        }

    }
    &.eltd-ptf-four-columns{
        article{
            width: 25%;
        }
    }
    &.eltd-ptf-five-columns{
        article{
            width: 20%;
        }
    }
    &.eltd-ptf-six-columns{
        article{
            width: 16.6666666%;
        }
    }
    .eltd-ptf-list-paging{
        margin: 50px 0 0;
    }

    .eltd-pagination{
        margin-top:54px;
    }
}
