.eltd-portfolio-list-holder-outer.eltd-ptf-standard{
    height: 100%;
    text-align: justify;
    font-size: 0.1px;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
    }
    article{
        float: left;
        @include eltdBoxSizing(border-box);
        .eltd-item-image-holder {
            overflow: hidden;
                & > a {

                -webkit-transition: -webkit-transform .3s ease-out;
                transition: transform .3s ease-out;

                    &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, .5);
                    opacity: 0;
                    transition: opacity .3s;
                }
            }

            &:hover {
                & > a {

                    @include eltdTransform(scale(1.1,1.1));

                    &:after {
                        opacity: 1;
                        @include eltdTransform(scale(1));
                        -webkit-transition: -webkit-transform .5s, opacity .6s;
                        transition: transform .5s, opacity .6s;
                    }
                }
            }
        }
        .eltd-ptf-like-holder{
            position: absolute;
            z-index: 999;
            right:18px;
            top:17px;

            .eltd-ptf-like-item{
                border: none;
                background-color: transparent;

                &.eltd-ptf-like-text{
                    display: none;
                }
                &.eltd-ptf-like-icon{
                    display:block;
                    height:100%;
                    padding:0;
                    margin: 0 10px;
                    overflow:hidden;
                    a{
                        &.eltd-like{
                            position:relative;
                            color: $light-text-color;
                            display: block;
                            background-color: $light-skin-color;
                            @include eltdBorderRadius(50%);
                            @include eltdTransition(color .4s ease-in-out);
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            &:hover{
                                color:$light-skin-color;

                                &:after {
                                    top:-5%;
                                }
                            }
                            &:before{
                                content: "\e030";
                                position:relative;
                                z-index:1;
                                font-family: 'ElegantIcons';
                                font-size: 16px;
                            }
                            &:after {
                                content:"";
                                position:absolute;
                                top:110%;
                                left:-5%;
                                display:block;
                                width:110%;
                                height:110%;
                                z-index:0;
                                opacity:1;
                                background-color: $first-main-color;
                                @include eltdTransition(all .4s ease);
                            }
                            &.liked{
                                background-color: $first-main-color;
                                color:$light-skin-color;
                            }
                        }

                    }
                }
            }

        }

        margin-bottom: 33px;
        .eltd-ptf-excerpt{
            font-size: 15px;
            margin: 0 0 24px;
        }
        .eltd-item-title{
            margin: 8px 0 16px;
            text-align: left;
            color:$dark-skin-color;
            a:hover{
                color:$first-main-color;
            }

        }
        .eltd-ptf-category-holder{
            margin: 23px 0 0;
        }

    }

    &.eltd-ptf-two-columns{
        article{
            width: 50%;
        }
    }

    &.eltd-ptf-three-columns{
        article{
            width: 33.333333%;
        }

    }
    &.eltd-ptf-four-columns{
        article{
            width: 25%;
        }
    }
    &.eltd-ptf-five-columns{
        article{
            width: 20%;
        }
    }
    &.eltd-ptf-six-columns{
        article{
            width: 16.6666666%;
        }
    }

    &.eltd-ptf-large-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -12px;
        }
        article{
            padding: 0 12px;
        }
    }
    &.eltd-ptf-small-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -4px;
        }
        article{
            padding: 0 4px;
        }
    }
    &.eltd-ptf-extra-small-spacing{
        .eltd-portfolio-list-holder{
            margin: 0 -1px;
        }
        article{
            padding: 0 1px;
            margin: 0 0 2px;
        }
    }
    .eltd-ptf-list-paging{
        margin: 5px 0 0;
    }


    &.eltd-ptf-disable-category{
        .eltd-ptf-category-holder{
            display: none;
        }
    }


    &.eltd-ptf-disable-like{
        .eltd-ptf-like-holder{
            display: none;
        }
    }

    &.eltd-ptf-center-title{
        article .eltd-item-title{
            text-align: center;
            margin-top: 38px;
            color:#adadad;
        }
    }

    .eltd-pagination{
        margin-top: -10px;
    }
}
