.eltd-portfolio-list-holder-outer.eltd-ptf-pinterest {

	.eltd-portfolio-list-holder{
		opacity: 0;
		@include eltdTransition(opacity 0.15s ease-out);

		&.eltd-appeared{
			opacity: 1;
		}
	}
	&.eltd-ptf-pinterest-three-columns{
		.eltd-portfolio-list-masonry-grid-sizer,
		article{
			width: 33.3333333%;
		}
		.eltd-portfolio-list-masonry-grid-gutter{
			width: 0;
		}
	}
	&.eltd-ptf-pinterest-four-columns{

		.eltd-portfolio-list-masonry-grid-sizer,
		article{
			width: 25%;
		}
		.eltd-portfolio-list-masonry-grid-gutter{
			width: 0;
		}

	}
	&.eltd-ptf-pinterest-five-columns{

		.eltd-portfolio-list-masonry-grid-sizer,
		article{
			width: 20%;
		}
		.eltd-portfolio-list-masonry-grid-gutter{
			width: 0;
		}

	}
	&.eltd-ptf-large-spacing{
		.eltd-portfolio-list-holder{
			margin: 0 -12px;
		}
		article{
			padding: 0 12px;
			margin: 0 0 24px;

			.eltd-item-text-overlay{
				top: 30px;
				left: 40px;
				height: calc(100% - 60px);
				width: calc(100% - 80px);
			}
		}


	}
	&.eltd-ptf-small-spacing{
		.eltd-portfolio-list-holder{
			margin: 0 -5px;
		}
		article{
			padding: 0 5px;
			margin: 0 0 10px;
		}
	}

	article{
		margin: 0;
		@include eltdBoxSizing(border-box);
		.eltd-item-title{
			margin: 7px 0;
		}

		.eltd-item-image-holder{
			overflow: hidden;
			@include eltdTransition(all .75s cubic-bezier(0,0,0,1));
		}

		.eltd-item-image-holder img{
			image-rendering: optimizeQuality;
			backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
			-webkit-backface-visibility: hidden;
			@include eltdTransition(opacity .75s cubic-bezier(0,0,0,1));
		}

		.eltd-portfolio-link{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.eltd-item-text-overlay-inner{
			@include  eltdTableLayout;
		}

	}

}