.eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax{

	.eltd-portfolio-list-holder{
		opacity: 0;
		@include eltdTransition(opacity .3s ease-out);
		margin: 0 -20px;

		&.eltd-appeared{
			opacity: 1;
		}
	}

	.eltd-portfolio-list-masonry-grid-sizer,
	.eltd-default-masonry-item,
	.eltd-large-height-masonry-item{
		width: 25%;
	}
	.eltd-large-width-masonry-item,
	.eltd-large-width-height-masonry-item{
		width: 50%;
	}

	article{
		margin: 0;
		padding: 40px;
		@include eltdBoxSizing(border-box);

		.no-touch &.eltd-ptf-masonry-parallax-item {
			overflow: hidden;
			.eltd-item-image-holder {
				@include eltdTransform(translate3d(0,100%,0));			
			}

			.eltd-item-text-overlay {
				opacity:0;
				display:none;
				visibility:hidden;
			}
		}

		.no-touch body:not(.eltd-safari) &.eltd-ptf-masonry-parallax-item {
			.eltd-item-image-holder {
				@include eltdTransition(all .75s cubic-bezier(0,0,0,1));

			}		
		}

		.eltd-item-title{
			margin: 7px 0;
		}

		.eltd-item-image-holder{
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			img{
				image-rendering: optimizeQuality;
				backface-visibility: hidden; // backface-visibility property set because of strange image behavior(Blinking on hover)
				-webkit-backface-visibility: hidden;
				height: 100%;
				width: 100%;
			}
		}

		.eltd-portfolio-link{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.eltd-item-text-overlay-inner{
			@include  eltdTableLayout;
		}

		&:hover{
			.eltd-item-text-overlay{
				opacity: 1;
			}
		}
	}
}