.eltd-portfolio-slider-holder{

    &.eltd-ptf-gallery-var-img-size {
        opacity: 0;
        article {
            display: block !important; //override default inline JS from mixItUp
        }
    }

    &.eltd-ptf-centered .eltd-portfolio-list-holder article {
        .eltd-portfolio-link {
            cursor: url(img/crosshair.png), auto;
        }
        .eltd-item-text-overlay {
            background-color: rgba(0,0,0,.7);
            .eltd-item-title {
                color: #fff;
            }
            .eltd-ptf-category-holder {
                color: $light-text-color;
            }
        }
    }

    .eltd-portfolio-list-holder.owl-carousel{
        margin: 0 -8px;
        width: auto;

        article{
            margin: 0;
            padding: 0 4px;
        }
        .owl-item {
            -webkit-transform: translateZ(0);
        }
        .owl-nav {
            width: 100%;   
            overflow: hidden;
            .owl-prev {
                left: -2%;
                position: absolute;
                top: 50%;
                @include eltdTransform(translateY(-50%));
                @include eltdTransition(left .4s);
            }
            .owl-next {
                right: -2%;
                position: absolute;
                top: 50%;
                @include eltdTransform(translateY(-50%));
                @include eltdTransition(right .4s);
            }
            .eltd-prev-icon,
            .eltd-next-icon {
                display: inline-block;
                width: 42px;
                height: 42px;
                text-align: center;
                span {
                    font-size: 30px;
                    line-height: 40px;
                    color: #fff;
                }
            }
        }

        &:hover {
            .owl-prev {
                left: 2%;
            }
            .owl-next {
                right: 2%;
            }
        }

        .owl-dots {
            @extend %dots-style;
            .owl-dot span{
                background-color: $first-main-color;
            }

        }
    }
}