/* ==========================================================================
# Pricing table style - begin
========================================================================== */

.eltd-pricing-tables{
	@include eltdTableLayout;
}

.eltd-price-table {
	@include eltdTableCellLayout;
	padding: 0 11px;
	vertical-align: top;

	.eltd-price-table-inner {
		position: relative;
		border-bottom: 2px solid $shortcode-background-color; //If there is no button

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		.eltd-table-title {
			h6 {
				margin: 0;
				letter-spacing: 1px;
                color:$heading-color;
			}
			border:2px solid $shortcode-background-color;
			padding: 27px 0;
			border-top: none;
		}

		.eltd-table-price {
			padding: 40px 0 27px;
			border: 2px solid $shortcode-background-color;
			background-color: $light-text-color;
			border-bottom: none;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			.eltd-price-holder{
				margin-bottom:0;
			}

			.eltd-value {
				font-size: 30px;
				font-family: $second-font;
			    color: $light-skin-color;
                top: 19px;
			}

			.eltd-price {
				font-size: 58px;
				letter-spacing: -2px;
				font-family: $second-font;
				font-weight: normal;
			  	color:$light-skin-color;
				display: inline-block;
				line-height: 1em;
			}

			.eltd-mark {
				color:$light-skin-color;
				font-size: 14px;
				margin:0;
				line-height: 1em;
			}

			div:last-child{
				display: inline-block;
				left: 9px;
				position: relative;
			}

		}

		.eltd-table-content {
			border-left: 2px solid $shortcode-background-color;
			border-right: 2px solid $shortcode-background-color;
		    color:$light-text-color;
		    font-weight: 300;
		  	font-size: 15px;
			padding-top: 24px;
			padding-bottom: 9px;

			ul {

				li {
					padding: 8px 0;
					color:#909090;
					font-weight: normal;
                    font-size: 14px;

					&:first-child{
						padding-top: 0;
					}
				}

			}
			p{
				margin:15px 0;
			}
			p:last-child{
				margin-bottom: 0;
			}

		}

		.eltd-table-button {
			border-left: 2px solid $shortcode-background-color;
			border-right: 2px solid $shortcode-background-color;
			padding-top: 14px;
			padding-bottom: 57px;
			a{
				padding: 15px 44px;
			}
		}
	}

	&.eltd-featured {

		.eltd-table-title {
			h6 {
				color: #333333;
			}
			border: 2px solid $shortcode-background-color;
			border-top:none;
		}

	}

}

.eltd-pricing-tables.eltd-pricing-table-appear {

    .no-touch & .eltd-price-table {
        visibility:hidden;
        opacity:0;
        @include eltdTransform(TranslateY(60px));
        @include eltdTransition(all 0.4s cubic-bezier(0.25, 0.1, 0.11, .99));

        &.eltd-pricing-table-appeared {
            visibility:visible;
            opacity:1;
            @include eltdTransform(TranslateY(0));
        }
    }

}

.eltd-pricing-tables.eltd-bigger-featured {

	.eltd-price-table {
		vertical-align: middle;

		&.eltd-featured {

			.eltd-table-title {
				h6 {
					color: $heading-color;
                    letter-spacing: 1px;
				}
				border: 2px solid $shortcode-background-color;
				border-top:none;
			}

			.eltd-table-content{
				ul {
					li{
						&:first-child{
							padding-top: 0;
						}
					}
				}
			}

		}

	}

	.eltd-pricing-star{
		display: none;
	}

}

.eltd-pricing-tables.eltd-standard-featured{
		.eltd-price-table{
			&:not(.eltd-featured){
				.eltd-pricing-star{
					display: none;
				}
			}

			&.eltd-featured{
				.eltd-pricing-star{
					display: block;
					position: absolute;
					top: -21px;
					right: 24px;
					z-index: 1;
					color:#fff;
					background-color: $first-main-color;
					width: 42px;
					line-height: 42px;
					@include eltdBorderRadius(50%);
					height:42px;
				}
			}
		}

}

/* ==========================================================================
# Pricing table style - end
========================================================================== */