.eltd-pricing-tables {

	.eltd-price-table {

		@include ipad-landscape {

			@include eltdBoxSizing(border-box);
			display: block;
			width: 50%;
			float: left;
			margin-bottom: 20px;

			&:nth-child(2n+1) {
				clear: both;
			}

		}

		@include phone-landscape {
			width: 100%;
		}

	}

}