.eltd-processes-holder {

	.eltd-process {
		float: left;
		display: inline-block;
		text-align: center;
	  	position: relative;
		@include eltdBoxSizing(border-box);
		&:hover {
			.eltd-process-link ~ .eltd-process-bgrnd{
				opacity: 1;
				@include eltdTransform(scale(1));
				-webkit-transition: -webkit-transform .2s .1s, opacity .15s ease-out .1s;
				transition: transform .2s .1s, opacity .15s ease-out .1s;
			}
			.eltd-process-bgrnd ~ .eltd-process-content-holder-inner{
				.eltd-process-inner-text{
					color: $first-main-color;
					transition: transform .2s, color .15s ease-out;
				}

			}
		}

	  &:last-child{
		.eltd-process-arrow-right{
		  display: none;
		}
	  }
		&.eltd-process-color-hover{
			.eltd-process-inner-text,
			.eltd-process-content-holder{
				@include eltdTransition(all .2s ease);

                .eltd-process-content-overlay {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    @include eltdTransition(all .2s ease);
                    @include eltdTransform(scale(0.5,0.5));
                }
			}

			&:hover{
				.eltd-process-inner-text{
					color:$light-skin-color;
				}

                .eltd-process-content-overlay {
                    @include eltdTransform(scale(1,1));
                }
			}
		}
		&.eltd-process-image-hover{
			&:hover{
				.eltd-process-inner-text{
					display: none;
				}
			}
		}
	}
	.eltd-process-content-wrapper{
		height: 167px;
		width: 167px;
		margin: 0 auto;
		@include eltdBorderRadius(50%);
		@include eltdBoxSizing(border-box);
		padding: 10px;
		border: 2px solid $shortcode-background-color;

	}
	.eltd-process-arrow-right {
	  position: absolute;
	  right: -9px;
	  top: 73px;
		color: $shortcode-color;
	  font-size: 30px;

	}
	.eltd-process-content-holder {
		background-color: #fff;
		@include eltdBorderRadius(50%);
		@include eltdTableLayout;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.eltd-process-content-holder-inner {
			@include eltdTableCellLayout;
		}
	}

	.eltd-process-bgrnd {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		z-index: 50;
		opacity: 0;
		@include eltdTransform(scale(.3));
		@include eltdTransition(all .4s ease);
		-webkit-transition: -webkit-transform .2s, opacity .1s ease-out;
		transition: transform .2s, opacity .1s ease-out;
	}	

	.eltd-process-link {
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		z-index: 100;
	}

	.eltd-process-inner-text{
		font-family: $second-font;
		font-size: 48px;
		z-index: 999;
		line-height: 1em;
		font-weight: 500;
		color: $shortcode-color;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 4px;
	}

	.eltd-process-title {
		text-transform: uppercase;
		margin: 0;
	 	margin-top:35px;

	}
	.eltd-process-text{
		font-size: 15px;
		color: #8f8f8f;
		margin: 8px 0;
	 	padding: 0 10px;
	}

	&.eltd-four-columns {

		.eltd-process {
			width: 25%; //58px is margin between items


			&:last-child {
				margin-right: 0;
			}

		}
	}

	&.eltd-five-columns {

		.eltd-process {
			width: 19.4%; //65px is margin between items


			&:last-child {
				margin-right: 0;
			}

		}

	}

	&.eltd-six-columns {

		.eltd-process {
			width: 16.66667%; //65px is margin between items


			&:last-child {
				margin-right: 0;
			}

		}

	}

	&.eltd-process-light{
		.eltd-process{
			.eltd-process-inner-text,
			.eltd-process-title,
			.eltd-process-text{
				color:$light-skin-color;
			}
		}

	}

	&.eltd-appear-effect-yes {
		.eltd-process {
			visibility: hidden;
			
			.touch & {
				visibility: visible;
			}

			.no-touch & {
				visibility: visible;
				opacity: 0;
			    @include eltdTransform(translate3d(0,80px,0));

			    &.eltd-appeared {
			    	opacity: 1;
			    	@include eltdTransform(translate3d(0,0,0));
			    	-webkit-transition: opacity .2s ease,-webkit-transform .4s cubic-bezier(.24,.58,.18,1.48);
			    	transition: opacity .2s ease,transform .4s cubic-bezier(.24,.58,.18,1.48);
			    }
			}
		}		
	}

}

