/* ==========================================================================
   Product carousel shortcode start styles
   ========================================================================== */
.eltd-product-carousel-holder{
  position: relative;
  .eltd-product-carousel{
      visibility: hidden;
  }
  .eltd-product-carousel-item-holder{
    width:100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    &.product{
      padding: 0 4px;
    }
    .eltd-product-carousel-caption{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: inline-block;
      opacity: 0;
      @include eltdTransition(opacity 0.3s ease-in-out);
      .eltd-product-carousel-holder{
        @include eltdTableLayout;
      }
      .eltd-product-carousel-inner{
          @include eltdTableCellLayout;
      }


      h2{
        display: inline-block;
        a{
          &:hover{
            color:$first-main-color;
          }
        }
      }
      p{
        color:$light-text-color;
        font-size: 18px;
      }
      .add_to_cart_button,
      .added_to_cart{
        margin-top:10px;
      }

      .eltd-product-carousel-price{
          font-family: $second-font;
          font-size: 15px;
          font-weight: 400;
          color:$heading-color;
          margin-bottom: 28px;
      }
    }
    &:hover{
        .eltd-product-carousel-caption{
          opacity: 1;
        }
    }

  }
  .owl-controls{
    .owl-nav{
      display: inline-block;
      float: right;
      height: 80px;
      .owl-prev,
      .owl-next{
        display: inline-block;
        position: relative;
        top:50%;
        transform: translatey(-50%);
        font-size: 22px;
        color:$first-main-color;
      }
      .owl-next{
        margin-left:14px;
      }
    }
  }

}

/* ==========================================================================
   Product carousel shortcode end styles
   ========================================================================== */