@include laptop-landscape {
	.eltd-processes-holder {
		&.eltd-six-columns,
		&.eltd-five-columns{
			.eltd-process {
				width: 33.3333%;
				margin-right: 0;
				margin-bottom: 20px;
				&:nth-child(3n){
				  .eltd-process-arrow-right{
					display: none;
				  }
				}
			}
		}
	}
}
@include ipad-portrait {

	.eltd-processes-holder {

		&.eltd-four-columns,
		&.eltd-six-columns,
		&.eltd-five-columns{
			.eltd-process{
				width: 50%;
				margin-right: 0;
				margin-bottom: 20px;

				  &:nth-child(even){
					.eltd-process-arrow-right{
					  display: none;
					}
				  }
				  &:nth-child(3n){
					  .eltd-process-arrow-right{
						display: inline-block;
					  }
				  }

			}
		}
	}

}
@include phone-portrait{

	.eltd-processes-holder {

		.eltd-process{
			width: 100% !important; //important in order to override all other styles on small devices
			margin-right: 0 !important;
			margin-bottom: 20px;

				.eltd-process-arrow-right{
				  display: none !important;
				}

		}

	}

}