.eltd-product {

	&.eltd-product-standard-type{
		.eltd-product-title {
			margin-bottom: 20px;
		}

		.eltd-product-excerpt {
			margin-bottom: 24px;
			font-size: 20px;
		}

		.eltd-product-price {
			font-size: 24px;
			font-family: $second-font;
			font-weight: 400;
			color: $first-main-color;
			margin-bottom: 24px;

			del {
				color: $light-text-color;
			}

			ins {
				text-decoration: none;
			}

		}
		.eltd-product-subtitle{
			margin-bottom: 35px;
			font-size: 14px;
		}

		.eltd-product-add-to-cart-holder {

			.added {
				display: none;
			}

			.add_to_cart_button{
				background-color: $first-main-color!important;
				border-color: $first-main-color!important;
				color:$light-skin-color!important;

				&:hover{
					background-color: #333333!important;
					border-color: #333333!important;
					color:$light-skin-color!important;
				}
			}

			.added_to_cart {
				background-color: $light-skin-color;
				border-color: $light-skin-color;
				color: #fff;
				font-weight: 600;
				display: inline-block;
				position: relative;
				outline: 0;
				font-style: normal;
				font-family: $first-font;
				padding: 18px 55px;
				font-size: 11px;
				line-height: 14px;
				text-transform: uppercase;
				@include eltdBorderRadius(0);
				letter-spacing: 2px;
				@include eltdTransition(color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out);
				@include eltdBoxSizing(border-box);

				&:hover {
					background-color: $first-main-color;
					border: 1px solid $first-main-color;
					color: #fff;
				}

			}

		}
	}

	&.eltd-product-image-on-left{

		@include eltdTableLayout;
		.eltd-product-image,
		.eltd-product-content-holder{
			@include eltdTableCellLayout;
			text-align: left;
		}

		.eltd-product-image{
			width: 114px;
			&>div{
				position: relative;
				width: 114px;
				height: 114px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				a{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					@include eltdTransition(background-color .2s linear);

					&:hover{
						background-color: rgba(51, 51, 51, .8);
					}
				}
			}

		}
		.eltd-product-content-holder{
			padding-left: 30px;
			vertical-align: top;
		}
		.eltd-product-title {
			margin: 10px 0 14px;
		}
		.eltd-single-product-subtitle{
			margin-bottom: 17px;
		}
	}

}