/* ==========================================================================
   Product slider shortcode start styles
   ========================================================================== */
.eltd-product-slider-holder{
  position: relative;
  .eltd-product-slider{
      visibility: hidden;
  }
  .eltd-product-slider-item-holder{
    width:100%;
    height:500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    &.product{
      padding: 0 10.24%;
    }
    .eltd-product-slider-caption{
      position: relative;
      display: inline-block;
      top:50%;
      transform: translateY(-50%);
      width:43%;


      h2{
        display: inline-block;
        a{
          &:hover{
            color:$first-main-color;
          }
        }
      }
      p{
        color:$light-text-color;
        font-size: 18px;
      }
      .add_to_cart_button{
        margin-top:27px;
        background-color: $first-main-color!important;
        padding: 18px 52px;
        border-color: $first-main-color!important;
        color:$light-skin-color!important;
        &:hover{
          background-color: $first-main-color!important;
          border-color:$first-main-color!important;
        }
      }
      .added_to_cart{
        margin-top:27px;

      }
      .eltd-product-slider-price{
        font-family: $second-font;
        font-size: 24px;
        font-weight: 400;
        color:$heading-color;
        margin-bottom: 28px;
      }
    }

  }
  .owl-controls{
    .owl-nav{
      display: inline-block;
      float: right;
      height: 80px;
      .owl-prev,
      .owl-next{
        display: inline-block;
        position: relative;
        top:50%;
        transform: translatey(-50%);
        font-size: 22px;
        color:$first-main-color;
      }
      .owl-next{
        margin-left:14px;
      }
    }
  }
  .eltd-bottom-text{
    position: relative;
    display: inline-block;
    height:80px;
    line-height: 80px;
    p{
      margin:0;
      color:$first-main-color;
    }
  }

}






/* ==========================================================================
   Product slider shortcode end styles
   ========================================================================== */