.eltd-product {
	@include mac{

		.eltd-product-title{
			margin: 0 0 10px;
		}

		.eltd-product-excerpt{
			margin: 0 0 38px;
		}

		.eltd-product-price{
			margin: 0 0 20px;
		}
		.eltd-product-image{
			margin: 0 0 35px;
		}

	}
}