.eltd-promotion-list-holder{

    .eltd-promotion-item-holder{
        @include eltdBoxSizing(border-box);
        position: relative;
        display: inline-block;
        padding: 12px;
        float: left;


      .eltd-promotion-item-text-holder{
        position: relative;

        .eltd-title-holder{
          @include  eltdTableLayout;
          margin-top: 13px;
        }

        .eltd-promotion-price-holder{
          @include  eltdTableCellLayout;
          text-align: right;
          vertical-align: top;


          .eltd-promotion-price,
          .eltd-discount-price{
            display: inline-block;
            border:2px solid $shortcode-background-color;
            padding: 3px 17px;
          }
          .eltd-discount-price{
            margin-right: -2px;
            text-decoration: line-through;
          }
          .eltd-promotion-price{
            float: right;
          }
        }

        .eltd-promotion-item-title{
          @include eltdTableCellLayout;
          vertical-align: bottom;
          text-align: left;
          font-size: 28px;
          color:$dark-skin-color;
          font-family:$second-font;
        }
        .eltd-period-icon,
        .eltd-destination-icon{
          color:$first-main-color;
          margin-right: 8px;
        }
        .eltd-promotion-period{
          font-size: 11px;
          color:#909090;
          font-weight: normal;
          text-transform: uppercase;
          margin-top: 13px;

          .eltd-period-icon{
            font-size: 12px;
          }

        }
        .eltd-promotion-destination {
          font-size: 11px;
          color: #909090;
          text-transform: uppercase;
          font-weight: normal;
          margin-top: 6px;

          .eltd-destination-icon {
            font-size: 13px;
          }
        }

      }

    }

  &.eltd-promotion-three-columns{
    .eltd-promotion-item-holder{
      width:33.3333333%;

      &:nth-child(3n+1){
        clear: both;
      }
    }
  }
  &.eltd-promotion-two-columns{
    .eltd-promotion-item-holder{
      width:50%;

      &:nth-child(2n+1){
        clear: both;
      }
    }
  }
}