@include mac{

  .eltd-promotion-list-holder{
    &.eltd-promotion-three-columns{
      .eltd-promotion-item-holder{
        width:50%;

        &:nth-child(3n+1){
          clear: none;
        }
        &:nth-child(2n+1){
          clear: both;
        }
      }
    }

  }
}

@include ipad-portrait{
  .eltd-promotion-list-holder{
    &.eltd-promotion-three-columns,
    &.eltd-promotion-two-columns{
      .eltd-promotion-item-holder{
        width:100%;

        &:nth-child(3n+1){
          clear: none;
        }
        &:nth-child(2n+1){
          clear: both;
        }
      }
    }

  }
}