.eltd-product-slider-holder{
  .eltd-product-slider-item-holder {

    @include ipad-landscape{

      .eltd-product-slider-caption{
        width: 50%;
      }
    }

    @include ipad-portrait{

      .eltd-product-slider-caption{
        width: 100%;
      }

    }

    @include phone-landscape{
        .eltd-product-slider-caption{
          .eltd-product-slider-description{
            display: none;
          }
          .add_to_cart_button{
            margin-top: 0;
          }
        }
    }

  }
}
