/* ==========================================================================
   Progress bar shortcode start styles
   ========================================================================== */
.eltd-progress-bar {
	position: relative;
	margin: 0 0 30px;
	width: 100%;
	text-align: left;
	padding-right: 24px;


	.eltd-progress-title-holder {
      position: relative;
      margin: 5px 0 8px 0;
		.eltd-progress-title {
			display: inline-block;
			z-index: 100;
            color: #333;
            font-weight: 700;
            letter-spacing: 1px;
		}
		.eltd-percent{
			letter-spacing: 0;
		}

	}

	.eltd-progress-content-outer {
		background-color: #f0f0f0;
		position: relative;
		overflow: hidden;
		height: 5px;

		.eltd-progress-content {
			max-width: 100%;
			width: 0;
			overflow: hidden;
			background-color: $first-main-color;
			height: 5px;
			border: 1px solid transparent;
			box-sizing: border-box;
		}
	}

	.eltd-progress-number-wrapper {
		text-align: right;
		position: absolute;
		left: 0;
		z-index: 10;
		opacity: 0;
		color: #fff;
		bottom: 0;

		.eltd-progress-number {
			font-family: $second-font;
			font-size: 16px;
			color: #333;
			font-weight: normal;
			display: inline-block;
			text-align: center;
			float: right;
		}
		.eltd-progress-number .eltd-percent:after {
			content: '%';
			margin-left: 0px;
			font-size: 1em;
		}

	}
	.eltd-progress-number-wrapper.eltd-floating {
		width: 100%;
		height: 100%;

		.eltd-progress-number {
			position: absolute;
			@include eltdTransform(translateX(-50%));
			bottom: 0;
		}
		.eltd-down-arrow {
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 3px solid $first-main-color;
			display: none;
			position: absolute;
			left: 50%;
			top: 100%;
			@include eltdTransform(translateX(-50%));
		}

	}


	.eltd-progress-number-wrapper.eltd-static {
		width: 100%;
		margin-left: 0;

		.eltd-progress-number {
			color: $heading-color;
			font-size: 16px;
			padding: 0;
			&.light{
				color: $default-background-color;
			}
		}
	}
	&.light{
	  color: $first-main-color;
	  .eltd-progress-title-holder{
		color: $default-background-color;

        .eltd-percent{
          color: $default-background-color;
        }

        .eltd-progress-title{
          color:$light-skin-color;
        }
	  }
	  .eltd-progress-content-outer {
		background-color:#f0f0f0;
		.eltd-progress-content {
		  background-color:  $first-main-color;
		}
	  }

	}
	&.dark{
	  .eltd-progress-content-outer {
		background-color:$dark-skin-color;
	  }

	}
}

/* ==========================================================================
   Progress bar shortcode end styles
   ========================================================================== */