.eltd-product-list-holder{

    &.eltd-product-list-with-filter{
        height: 100%;
        text-align: justify;
        font-size: 0.1px;

        &:after{
            content: '';
            display: inline-block;
            width: 100%;
            position: absolute;
        }
        .eltd-product-list-filter-outer{
            position: relative;
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
            margin: 0 0 77px;
        }
        .eltd-product-list-filter-inner{
            position: relative;
            display: table-cell;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            text-align: center;
        }
        .eltd-product-list-filter{

            display: inline-block;
            list-style: none;
            vertical-align: middle;
            position: relative;
            margin: 0;

            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: #ebebeb;
            }

            li{
                cursor: pointer;
                display: block;
                margin: 0;
                float: left;
                text-align: center;

                span{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border-bottom: 3px solid transparent;
                    padding: 10px 15px;
                    color: #333;
                    font-size: 13px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                    -webkit-transition: color 0.15s ease-out;
                    -moz-transition: color 0.15s ease-out;
                    transition: color 0.15s ease-o
                }

                &.active{
                    span{
                        color: $first-main-color;
                        border-bottom-color: $first-main-color;
                    }
                }
            }
        }
        li.product{
            &.mix{
                display: none;
                visibility: hidden;
                vertical-align: middle;
                .eltd-single-product-subtitle{
                    font-size: 14px;
                }
            }
        }
    }
    &.eltd-product-list-with-filter{
        height: 100%;
        text-align: justify;
        font-size: 0.1px;

        &:after{
            content: '';
            display: inline-block;
            width: 100%;
            position: absolute;
        }
        .eltd-product-list-filter-outer{
            position: relative;
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
            margin: 0 0 77px;
        }
        .eltd-product-list-filter-inner{
            position: relative;
            display: table-cell;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            text-align: center;
        }
        .eltd-product-list-filter{

            display: inline-block;
            list-style: none;
            vertical-align: middle;
            position: relative;
            margin: 0;

            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: #ebebeb;
            }

            li{
                cursor: pointer;
                display: block;
                margin: 0;
                float: left;
                text-align: center;

                span{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border-bottom: 3px solid transparent;
                    padding: 10px 15px;
                    color: #333;
                    font-size: 13px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                    -webkit-transition: color 0.15s ease-out;
                    -moz-transition: color 0.15s ease-out;
                    transition: color 0.15s ease-o
                }

                &.active{
                    span{
                        color: $first-main-color;
                        border-bottom-color: $first-main-color;
                    }
                }
            }
        }
        li.product{
            &.mix{
                display: none;
                visibility: hidden;
                vertical-align: middle;
                .eltd-single-product-subtitle{
                    font-size: 14px;
                }
            }
        }
    }

    .eltd-product-list-items{
        &.products.eltd-type-2{
            margin:0 -10px;
        }
    }
}
