/* ==========================================================================
  Restaurant Menu start styles
  ========================================================================== */

.eltd-restaurant-menu{
	position: relative;
	background-color: #fff;

	.eltd-rstrnt-item{
		position: relative;
		@include eltdTableLayout;
		margin-bottom: 37px;

		&:last-child{
			margin-bottom: 0;
		}
	}
	.eltd-rstrnt-item-image,
	.eltd-rstrnt-item-inner{
		@include eltdTableCellLayout;
		vertical-align: top;
	}
	.eltd-rstrnt-item-image{
		width: 52px;
		img{
			@include eltdBorderRadius(50%);
		}
	}
	.eltd-rstrnt-item-inner{
		text-align: left;
		padding-left: 25px;
	}

	.eltd-rstrnt-title-price-holder{
		position: relative;

	}
	.eltd-rstrnt-title{
		margin: 0 0 10px;
		padding-right: 35px;
		text-transform: none;
		line-height: 1;
		font-size: 18px;
	}
	.eltd-rstrnt-price-holder{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		.eltd-rstrnt-price{
			font-weight: 600;
			font-family: $first-font;
			color:$dark-skin-color;
			margin: 0;
			>span{
				display: inline-block;
				vertical-align: middle;
			}
		}

	}

	.eltd-rstrnt-desc{
		margin: 0;
		font-family: $first-font;
		color:#797979;
	}

}
/* ==========================================================================
  Restaurant Menu end styles
  ========================================================================== */