.eltd-section-title-outer-holder {
    .eltd-section-title {
        font-family: $second-font;
        color: $heading-color;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.1em;
      letter-spacing: 8.5px;
    }
    .eltd-section-subtitle-holder{
        margin:0;
        .eltd-section-subtitle {
            font-size: 16px;
            line-height: 29px;
        }
    }
    .eltd-title-separator{
      width: 197px;
      height: 2px;
      background-color: $first-main-color;
      display: none;
      margin-bottom: 14px;
      margin-top: 21px;

      &.eltd-enable-separator{
        display: inline-block;
      }
    }
}