.eltd-boxed .carousel .carousel-inner{
    @include laptop-landscape {
        width: $grid-width-laptop-landscape-boxed;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape-boxed;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait-boxed;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape-boxed;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait-boxed;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait-boxed;
    }
}
@include laptop-landscape {
    .carousel {
        .carousel-inner {
            .item {
                .eltd-slider-lite-elements-container {
                    .eltd-slide-element {
                        .eltd-slide-element-inner {
                            min-width: 20%;
                        }

                        /* 
                            Default Element styles 
                        */

                        &.eltd-slide-element-title {
                            font-size: 80px;
                        }

                        &.eltd-slide-element-subtitle {
                            font-size: 48px;
                        }

                        &.eltd-slide-element-button {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@include ipad-landscape {
    .carousel-inner{
        position: relative;
    }

    .carousel-inner > .item,
    .eltd-slider-lite .carousel-control,
    .eltd-slider-lite-elements-container{
        padding-top: 0px !important;
    }

    .carousel {
        .carousel-inner {
            .item {
                .eltd-slider-lite-elements-container {
                    .eltd-slide-element {
                        .eltd-slide-element-inner {
                            min-width: 30%;
                        }

                        /* 
                            Default Element styles 
                        */

                        &.eltd-slide-element-title {
                            font-size: 70px;
                        }

                        &.eltd-slide-element-subtitle {
                            font-size: 40px;
                        }

                        &.eltd-slide-element-button {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@include ipad-portrait {
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }

    .carousel {
        .carousel-inner {
            .item {
                .eltd-slider-lite-elements-container {
                    .eltd-slide-element {
                        .eltd-slide-element-inner {
                            min-width: 50%;
                        }

                        /* 
                            Default Element styles 
                        */

                        &.eltd-slide-element-title {
                            font-size: 60px;
                        }

                        &.eltd-slide-element-subtitle {
                            font-size: 30px;
                        }

                        &.eltd-slide-element-button {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@include phone-landscape {
    .carousel-control {
        display: none;
    }

    .carousel {
        .carousel-inner {
            .item {
                .eltd-slider-lite-elements-container {
                    .eltd-slide-element {
                        .eltd-slide-element-inner {
                            min-width: 80%;
                        }

                        /* 
                            Default Element styles 
                        */

                        &.eltd-slide-element-title {
                            font-size: 40px;
                        }

                        &.eltd-slide-element-subtitle {
                            font-size: 24px;
                        }

                        &.eltd-slide-element-button {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}