/* ==========================================================================
   Elated Slider Lite styles
   ========================================================================== */

.eltd-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    .eltd-slider-inner {
        background-color: #ebebeb;
    }
}

.eltd-slider-preloader {
    position: absolute;
    width: 100%;
    height: 1500px;
    background-color: #fff;
    z-index: 20;
}

.touch .carousel .carousel-inner {
    position: relative;
}

.carousel {
    position: relative;
    margin: 0;

    &.eltd-full-screen {
        height: 1500px;
    }

    .carousel-inner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;

        .eltd-boxed &{
            width: $grid-width-boxed;
            left: auto;
        }

        .item {
            position: relative;
            display: none;
            @include eltdBoxSizing(border-box);

            &.active,
            &.prev,
            &.next {
                display: block;
            }

            &.prev,
            &.next {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .eltd-image {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 110%;
                background-position: center 0px;
                background-repeat: no-repeat;
                background-size: cover;

                img {
                    display: none !important;
                    width: 0px;
                    height: 0px;
                }
            }

            .eltd-image-pattern {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            .eltd-slider-lite-elements-container {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 12; /* above the background */
                width: 100%;
                box-sizing: border-box; 
                height: 100%;
                @include eltdTransform(translate(-50%,-50%));

                .eltd-slider-lite-elements-container-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 0;

                    .eltd-slider-lite-elements-holder-frame {
                        position: absolute;
                        top: 50%; 
                        left: 50%; 
                        @include eltdTransform(translate(-50%,-50%));

                        &:not(.eltd-grid) {
                            width: 100%;
                        }

                        .eltd-slide-elements-buttons-wrapper {
                            &.eltd-align-left {
                                text-align: left;
                            }

                            &.eltd-align-right {
                                text-align: right;
                            }

                            &.eltd-align-center {
                                text-align: center;
                            }
                        }
                    }
                }

                .eltd-slide-element {
                    margin: 0;
                    color: #fff;

                    &.eltd-slide-element-animation-flip .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-spin .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-fade .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-from_top .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-from_bottom .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-from_left .eltd-slide-element-inner,
                    &.eltd-slide-element-animation-from_right .eltd-slide-element-inner {
                        opacity: 0;
                    }

                    &.eltd-align-left {
                        text-align: left;
                    }

                    &.eltd-align-right {
                        text-align: right;
                    }

                    &.eltd-align-center {
                        text-align: center;
                    }

                    .eltd-slide-element-inner {
                        max-width: 100%;
                    }

                    /* 
                        Default Element styles 
                    */

                    &.eltd-slide-element-title {
                        font-size: 100px;
                        line-height: 1.2em;  /* 100px/120px */
                        font-weight: 700;
                        color: #fff;
                        margin: 0;
                    }

                    &.eltd-slide-element-subtitle {
                        font-size: 60px;
                        line-height: 1.285714285714286em; /* 60px/70px */
                        font-weight: 700;
                        color: #fff;
                        margin: 0;
                    }

                    &.eltd-slide-element-button {
                        display: inline-block;
                        margin: 0;
                    }
                }
            } 

            &.active {

                .eltd-slide-element {

                    /* Animations definition for elements - Start */

                    &.eltd-slide-element-animation-fade > .eltd-slide-element-inner {
                        -webkit-animation: fade 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: fade 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-flip > .eltd-slide-element-inner {
                        -webkit-animation: flip 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: flip 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-spin > .eltd-slide-element-inner {
                        -webkit-animation: spin 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: spin 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-from_top > .eltd-slide-element-inner {
                        -webkit-animation: from-top 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: from-top 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-from_bottom > .eltd-slide-element-inner {
                        -webkit-animation: from-bottom 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: from-bottom 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-from_left > .eltd-slide-element-inner {
                        -webkit-animation: from-left 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: from-left 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    &.eltd-slide-element-animation-from_right > .eltd-slide-element-inner {
                        -webkit-animation: from-right 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                        animation: from-right 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                    }

                    /* Animations definition for elements - End */

                    /* Animation delays for elements - Start */

                    &.eltd-one-by-one:nth-child(1) {
                        .eltd-slide-element-inner {
                            -webkit-animation-delay: 0s;
                            animation-delay: 0s;
                        }

                        &.eltd-slide-element-button {
                            .eltd-slide-element-inner {
                                -webkit-animation-delay: .6s;
                                animation-delay: .6s;
                            }
                        }
                    }

                    &.eltd-one-by-one:nth-child(2) {
                        .eltd-slide-element-inner {
                            -webkit-animation-delay: .3s;
                            animation-delay: .3s;
                        }

                        &.eltd-slide-element-button {
                            .eltd-slide-element-inner {
                                -webkit-animation-delay: .9s;
                                animation-delay: .9s;
                            }
                        }
                    }

                    /* Animation delays for elements - End */
                }
            }

            .touch & {
                background-position: center 0px !important;
            }
        }
    }

    &.eltd-slide {

        .carousel-inner {

            .item {
                @include eltdTransition(0.6s ease-in-out left);

                &.prev {
                    left: -100%;

                    &.right {
                        left: 0;
                    }
                }

                &.next {
                    left: 100%;

                    &.left {
                        left: 0;
                    }
                }

                &.active {
                    left: 0;

                    &.left {
                        left: -100%;
                    }

                    &.right {
                        left: 100%;
                    }
                }
            }
        }
    }

    &.eltd-fade {

        .carousel-inner {

            .item {
                opacity: 1;
                filter: alpha(opacity=100);
                @include eltdTransition(opacity 0.5s ease-in-out);

                &.prev,
                &.next {
                    z-index: 1;
                }

                &.active {
                    opacity: 1;
                    filter: alpha(opacity=100);

                    &.left,
                    &.right {
                        z-index: 2;
                        opacity: 0;
                        filter: alpha(opacity=0);
                    }
                }
            }
        }
    }

    &.eltd-vertical-up:not(.eltd-has-height) {

        .carousel-inner {
            height: 100%;
        }
    }

    &.eltd-vertical-up {

        .carousel-inner {

            .item {
                -webkit-transition: -webkit-transform 0.6s ease;
                transition: transform 0.6s ease;

                &.prev {
                    @include eltdTransform(translateY(-100%));

                    &.right {
                        @include eltdTransform(translateY(0%));
                    }
                }

                &.next {
                    @include eltdTransform(translateY(100%));

                    &.left {
                        @include eltdTransform(translateY(0%));
                    }
                }

                &.active {
                    @include eltdTransform(translateY(0%));

                    &.left {
                        @include eltdTransform(translateY(-100%));
                    }

                    &.right {
                        @include eltdTransform(translateY(100%));
                    }
                }
            }
        }
    }

    &.eltd-vertical-down:not(.eltd-has-height) {

        .carousel-inner {
            height: 100%;
        }
    }

    &.eltd-vertical-down {

        .carousel-inner {

            .item {
                -webkit-transition: -webkit-transform 0.6s ease;
                transition: transform 0.6s ease;

                &.prev {
                    @include eltdTransform(translateY(99%));

                    &.right {
                        @include eltdTransform(translateY(0%));
                    }
                }

                &.next {
                    @include eltdTransform(translateY(-99%));

                    &.left {
                        @include eltdTransform(translateY(0%));
                    }
                }

                &.active {
                    @include eltdTransform(translateY(0%));

                    &.left {
                        @include eltdTransform(translateY(100%));
                    }

                    &.right {
                        @include eltdTransform(translateY(-100%));
                    }
                }
            }
        }
    }

    &.eltd-slide-cover {

        .carousel-inner {

            .item {
                @include eltdTransition(0.6s ease-in-out left);

                &.prev {
                    left: -100%;
                    z-index: 100;

                    &.right {
                        left: 0;
                    }
                }

                &.next {
                    left: 100%;
                    z-index: 99;

                    &.left {
                        left: 0;
                    }
                }

                &.active {
                    left: 0;

                    &.left {
                        left: -30%;
                    }

                    &.right {
                        left: 30%;    
                    }
                }
            }
        }
    }

    &.eltd-slide-peek {

        .carousel-inner {
            
            .item {
                @include eltdTransition(left 0.6s ease-in-out, right 0.6s ease-in-out);

                &.prev {
                    left: 0%;
                    right: 85%;
                    width: auto;
                    z-index: 100;
                    overflow: hidden;

                    &.right {
                        left: 0%;
                        right: 0%;
                    }
                }

                &.next {
                    left: 85%;
                    right: 0%;
                    width: auto;
                    z-index: 99;
                    overflow: hidden;

                    &.left {
                        left: 0%;
                        right: 0%;
                    }
                }

                &.active {
                    left: 0%;
                    right: 0%;
                    width: auto;

                    &.left {
                        left: 0%;
                        right: 0%;
                    }

                    &.right {
                        left: 0%;  
                        right: 0%;  
                    }
                }
            }

            .eltd-slider-peeker {
                position: absolute;
                top: 0;
                height: 110%;
                z-index: 98;
                overflow: hidden;
                @include eltdTransition(left 0.3s ease-in-out, width 0.3s ease-in-out);

                &.eltd-slide-peek-in-progress {
                    @include eltdTransition(none);
                }

                &.left {
                    left: 0;
                    width: 0;

                    &.shown:not(.eltd-slide-peek-in-progress) {
                        width: 15%;
                    }
                }

                &.right {
                    left: 100%;
                    width: 0;

                    &.shown:not(.eltd-slide-peek-in-progress) {
                        left: 85%;
                        width: 15%;
                    }
                }

                .eltd-slider-peeker-inner {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    height: 100%;
                    background: transparent center 0px no-repeat;
                    background-size: cover;                        
                    @include eltdTransform(translateX(-50%));
                }
            }
        }
    }

    .carousel-indicators {
        position: absolute;
        bottom: 20px;
        // overriding script value (opacity:0.2)
        opacity: 1!important;

        left: 50%;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        list-style: none;
        z-index: 15;
        @include eltdTransform(translateX(-50%));

        &:not(.thumbnails) {

            li {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                width: 24px;
                height: 3px;
                cursor: pointer;
                background-color: $first-main-color;
                @include eltdBoxSizing(border-box);
                @include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out);
                &:not(:last-child){
                    margin: 0 10px 0 0;
                }
                &.active {
                    background-color: $first-main-color;
                }

                .eltd-dark-header & {
                    background-color: $first-main-color;
                    &.active {
                        background-color: $first-main-color;;
                    }
                }

                .eltd-light-header & {
                    background-color: $light-skin-color;
                    &.active {
                        background-color: $first-main-color;
                    }

                }

            }
        }

    }

    .carousel-control {
        position: absolute;
        //overriding script value (0.228)
        opacity: 1!important;
        top: 0px;
        width: 8%;
        height: 100%;
        margin: 0px;
        outline: none;
        cursor: pointer;
        text-shadow: none;
        z-index: 2 !important;
        @include eltdTransition(opacity 0.15s ease-out);
        -webkit-backface-visibility: hidden; /* because navigation is not visible during animation on chrome */
        backface-visibility: hidden; /* because navigation glitters in ff */

        &:hover{
            opacity: 1 !important;

            &.left {

                .eltd-thumb-holder {
                    left: 0;
                }
            }

            &.right {

                .eltd-thumb-holder {
                    right: 0;
                }
            }
        }
        .eltd-prev-nav{
            width: 80px;
            height: 80px;
            line-height: 12px;
            .arrow_carrot-left{
                float: left;
                margin-top:2px;
            }
        }
        .eltd-next-nav{
            width: 50px;
            height: 50px;
            line-height: 12px;
            .arrow_carrot-right{
                margin-top: -1px;
            }
        }
        .eltd-prev-nav,
        .eltd-next-nav {
            position: absolute;
            top: 50%;
            margin: -21px 0 0;
            font-size: 20px;
            color: #000;
            text-align: center;
            z-index: 10;
            @include eltdTransition(background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s);

            &:hover{
                color: $first-main-color;
            }
            .eltd-next-nav-text,
            .eltd-prev-nav-text{
                font-size: 12px;
                text-transform: uppercase;
            }

            span {
                display: inline-block;
                line-height: inherit;
            }

            .eltd-dark-header & {
                color: #000;
                &:hover {
                    color: $first-main-color;
                }
            }

            .eltd-light-header & {
                color: #fff;

                &:hover {
                    color: $first-main-color;
                }

            } 
        }

        .eltd-prev-nav {
            left: 41px;
        }

        .eltd-next-nav {
            right: 41px;
            .eltd-next-nav-text{
                float: left;
            }
        }

        &.right {
            right: 0;
            left: auto;
        }
    }
}

.eltd-header-vertical{
    .carousel{
        .carousel-control{
            .eltd-prev-nav {
                left: 15px;
            }

            .eltd-next-nav {
                right: 15px;
            }
        }
    }
}

/* -- Animations Start -- */

@-webkit-keyframes from-bottom {
    0% {
        -webkit-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes from-bottom {
    0% {
        transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-top {
    0% {
        -webkit-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes from-top {
    0% {
        transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-left {
    0% {
        -webkit-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes from-left {
    0% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-right {
    0% {
        -webkit-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes flip {
    0% {
        transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg) scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg) scale(.5);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

/* -- Animations End -- */

/* ==========================================================================
   End of Elated Slider Lite styles
   ========================================================================== */