/* ==========================================================================
# Social Share style - begin
========================================================================== */

.eltd-social-share-holder {
	
	ul {
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	
}

/* List type - begin
========================================================================== */


.eltd-social-share-holder.eltd-list {
	.eltd-social-share-text{
		margin-right: 11px;
		@extend %eltd-custom-title-grey;
	    display: none;
	}
	li {
		display: inline-block;
		margin-right: 15px;
		a{
			font-size: 11px;
			font-weight: 700;
			color: #a2a2a2;
			font-family: $first-font;
			text-transform: uppercase;
			&:hover{
				color: $first-main-color;
			}
		}
	}
}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */


.eltd-social-share-holder.eltd-dropdown {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 39px;
	line-height: 33px;
	border-radius: 20px;
	padding: 0 13px;
	background-color: #f0f0f0;
	@include eltdTransition(background-color .4s ease);

	.eltd-social-share-dropdown-opener {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 15;
		margin-right: 6px;


		i {
			font-size: 12px;
			vertical-align: middle;
			margin-right: 10px;
			color: #858585;
		}
		span{
			font-size: 13px;
			font-family: $second-font;
			color: #9e9e9e;
			letter-spacing: 1px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	.eltd-social-share-title {
		display: inline-block;
		font-family: $second-font;
		font-size: 13px;
	}

	.eltd-social-share-dropdown {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 5;
		padding-left: 6px;
		margin-left: -250px;
		@include eltdTransition(all .4s ease-out);

		ul {
			display: block;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 15px;
				opacity: 0;
				@include eltdTransition(opacity .3s ease);
				backface-visibility: hidden;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);

				a {
					font-size: 11px;
					line-height: 1em;
					color: #9e9e9e;
					&:hover{
						color: $first-main-color;
					}
				}
			}
		}

	}
	&:hover {
		.eltd-listing-share & {
			background-color: $first-main-color;
		}

		.eltd-social-share-dropdown {
			margin-left: -3px;
		}

		@for $i from 1 through 7 {
			.eltd-social-share-dropdown ul li:nth-child(#{$i}) {
				left: ($i - 1) * 50px;
				opacity: 1;
				-webkit-transition-delay: #{(($i+1)/10)}s;
				transition-delay: #{(($i+1)/10)}s;
			}
		}
	}
}

/* ==========================================================================
# Social Share style - end
========================================================================== */








