/* ==========================================================================
# Tabs style - begin
========================================================================== */
.eltd-tabs {
  font-weight: 400;

  .eltd-tabs-nav {
		list-style: none;
		margin: 0;
		padding: 0;
		@include eltdBoxSizing(border-box);

		&:before,
		&:after {
			content: '';
			display: table;
			table-layout: fixed;
		}

		&:after {
			clear: both;
		}

		li {
			a {
				display: block;
				color:#333333;
				font-size: 14px;
				text-transform: uppercase;
				font-family: $second-font;
				letter-spacing: 1px;
			  	text-align: left;
				font-weight: 600;
				@include eltdTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);
				i,
				span {
					@include eltdTransition(initial);
				}
				.eltd-icon-frame {
					display: inline-block;
					min-width: 22px;
					line-height: 1;
					vertical-align: middle;
					color: $first-main-color;
					@include eltdTransition(color 0.15s ease-out);
				}

				.eltd-tab-text-after-icon {
					@include eltdTransition(initial);
					vertical-align: middle;
				}
			}
		}
	}

	.eltd-tab-container {
		@include eltdBoxSizing(border-box);
	}

	&.eltd-color-tabs {
		li a {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				opacity: 0;
				background-color: $shortcode-background-color;
				@include eltdTransition(opacity .4s cubic-bezier(.22,.61,.36,1))
			}
		}
	}
}



/* Horizontal tabs type
   ========================================================================== */
.eltd-tabs.eltd-horizontal-tab {

	.eltd-tabs-nav{
		border-bottom: 2px solid $shortcode-background-color;
		padding-bottom: 16px;
	}

	.eltd-tabs-nav li {
		float: left;
		margin-right: 3px;
	}

	.eltd-tab-container {
		padding: 10px 0;
		visibility: hidden;
		opacity:0;
		@include eltdTransform(translateY(20px));
		&.eltd-visible {
			visibility: visible;
			opacity:1;
			@include eltdTransform(translateY(0));
			@include eltdTransition(all .5s cubic-bezier(0.22, 0.61, 0.36, 1));
		}
		p{
			color:#8f8f8f;
		}
	}

	&.eltd-color-tabs {
		.eltd-tab-container {

		}
		li{
		 	font-weight: normal;

			a{
				background-color: transparent;
				color:#333;
				opacity: 0.6;
				padding: 11px 59px;
				@include eltdBorderRadius(50px);
				position: relative;
			}

			&:hover,
			&.ui-state-active {
				a {
					opacity: 1;
					&:after {
						height: 100%;
						opacity: 1;
					}
					.eltd-icon-frame {
						color: $light-skin-color;
					}
				}
			}

		  &.active{
			a {
			  color: $light-skin-color;
			  &:after {
			  	height: 100%;
			  	opacity: 1;
			  }
			  .eltd-icon-frame {
				color: $light-skin-color;
			  }
			}
		  }
		}

	}

	&.eltd-tab-with-icon ul li a {
		.eltd-tab-text-after-icon {
			padding: 0 4px 0 0;
		}
	}

}

/* Vertical tabs type
   ========================================================================== */
.eltd-tabs.eltd-vertical-tab {
	.eltd-tabs-nav {
		float: left;
	}

	.eltd-tab-container {
		float: left;
		padding-left: 48px;
		visibility: hidden;
		opacity:0;
		@include eltdTransform(translateX(-50px));
		&.eltd-visible {
			visibility: visible;
			opacity:1;
			@include eltdTransform(translateX(0));
			@include eltdTransition(all .5s cubic-bezier(0.22, 0.61, 0.36, 1));
		}
	}

	&.eltd-color-tabs {
		li {
			padding-bottom: 10px;
			width: auto;
			a {

				opacity: 0.6;
				display: block;
				text-align: center;
				padding: 10px 51px;
				border-color: transparent;
				position: relative;
				font-size: 14px;
				font-weight: 600;

				.eltd-icon-frame {
					margin-right: 10px;
				}
			}
			&:hover {
				a {
					border-color: $shortcode-background-color;
					color: #333333;
					opacity: 1;

					&:after {
						height: 100%;
						opacity: 0.85;
						@include eltdTransition(height .25s cubic-bezier(.22,.61,.36,1))
					}
					.eltd-icon-frame {
						color: $light-skin-color;
					}
				}
			}

			&.ui-state-active {
				a {
					border-color: $shortcode-background-color;
					color: #333333;
					opacity: 1;

					&:after {
						height: 100%;
						opacity: 1;
						@include eltdTransition(height .25s cubic-bezier(.22,.61,.36,1))
					}
					.eltd-icon-frame {
						color: $light-skin-color;
					}
				}
			}
		}
		h4{
			margin:5px 0;
		}
		&.eltd-vertical-tab-light{
			.eltd-tabs-nav{
				li{
					a{
						color:#fff;
						opacity: 1;
						&:after {
							background-color: #f0f0f0;
						}
					}
					&:hover,
					&.ui-state-active {
						a {
							border-color: #f0f0f0;
							color: #333333;
						}
					}

				}

			}
		}
		.eltd-tab-container {
			p {
				margin: 0;
			}
		}
	}

	&.eltd-tab-with-icon{
		ul li a {
			.eltd-tab-text-after-icon {
				padding: 0 0 0 13px;
			}
		}
	}
	&.eltd-tab-only-icon {

		.eltd-tabs-nav li a {
			text-align: center;
		}
	}
}

/* Tabs with Icon style
   ========================================================================== */
.eltd-tabs{
	&.eltd-tab-with-icon{
		ul li:hover .eltd-icon-frame  {
			@include eltdAnimation(eltd-appear .35s forwards ease);
		}
	}
}

@include keyframes(eltd-appear) {
	0% {
		opacity: 0;
		@include eltdTransform(translateX(25px));
	}
	30% {
		opacity: .1;
		@include eltdTransform(translateX(15px));
	}
	100% {
		opacity: 1;
		@include eltdTransform(translateX(0px));
	}
}


/* Transparent tabs style
   ========================================================================== */
.eltd-tabs.eltd-transparent-tabs {

	&.eltd-horizontal-tab {

		.eltd-tabs-nav {
			position: relative;
			border-bottom: 2px solid $shortcode-background-color;
		}
		li{
			margin-right: 3px;

			a {
				position: relative;
				padding: 11px 59px;
				border: 2px solid transparent;
				opacity:0.6;
				&:after {
					content:'';
					position: absolute;
					bottom:0;
					right: 0;
					width: 100%;
					height: 0;
					opacity:0;
					background-color: transparent;
					z-index: -1;
					@include eltdTransition(opacity .25s cubic-bezier(0.22, 0.61, 0.36, 1), height .0s .3s);
				}
			}
			&:hover,
			&.ui-state-active {
				a {
					opacity:1;
					color: #333333;
					background-color: transparent;
					border: 2px solid $shortcode-background-color;
					.eltd-icon-frame {
						color: $light-skin-color;
					}
					&:after {
						opacity: 1;
						height: 100%;
						@include eltdTransition(height .3s cubic-bezier(0.22, 0.61, 0.36, 1));
					}
				}
			}

		}
		.eltd-tab-container {
			padding: 7px 0 17px;
		}

	}

	&.eltd-vertical-tab {

		.eltd-tabs-nav {
			position: relative;
			li{
				margin-bottom:3px;
				a {
					position: relative;
					@include eltdBorderRadius(50px);
					line-height: 1.4em;
				  	padding: 10px 42px;
					text-align: center;
					background-color: transparent;
					border:2px solid transparent;
					color:$first-main-color;
					opacity: 0.6;
				}
				&:hover,
				&.ui-state-active {
					a {
						border:2px solid $shortcode-background-color;
						opacity: 1;
						.eltd-icon-frame {
							color: $light-skin-color;
						}
						&:after {
							opacity: 1;
							width: 100%;
							@include eltdTransition(width .5s cubic-bezier(0.22, 0.61, 0.36, 1));
						}
					}
				}
			}

		}
		&.eltd-vertical-tab-light{
			.eltd-tabs-nav{
				li{
					a{
						color:#fff;
					}
					&:hover,
					&.ui-state-active {
						a {
							color: #333333;
						}
					}

				}

			}
		}
		.eltd-tab-container {
			margin: 7px 0 0;
			p{
				margin: 0;
			    color: $default-text-color;
			}
		}
	}
}

/* ==========================================================================
# Tabs style - end
========================================================================== */