@include ipad-landscape {
    .eltd-tabs.eltd-vertical-tab {

         //override value from script
        .eltd-tabs-nav {
            width: 35% !important;
        }

        .eltd-tab-container {
            width: 65% !important;
        }
        li a{
            padding: 10px 27px;
        }
    }
}

@include ipad-portrait {
    .eltd-tabs.eltd-vertical-tab.eltd-color-tabs {
        ul li a{
            padding: 10px 15px;
        }
    }
}

@media only screen and (max-width: $phone-landscape){
    .eltd-tabs .eltd-tabs-nav,
    .eltd-tabs .eltd-tab-container,
    .eltd-tabs.eltd-vertical-tab .eltd-tabs-nav,
    .eltd-tabs.eltd-vertical-tab .eltd-tab-container {
        width: 100% !important;
    }
    
    .eltd-tabs .eltd-tabs-nav li,
    .eltd-tabs.eltd-horizontal-tab .eltd-tabs-nav li {
        float: none;  
        display: block;
        margin-right: 0;
    }

    .eltd-tabs.eltd-transparent-tabs.eltd-horizontal-tab {
        .eltd-tabs-nav li {
            padding: 0;
        }
    }

    .eltd-tabs.eltd-transparent-tabs.eltd-vertical-tab {
        .eltd-tabs-nav {
            border-right: none;
            border-bottom: 2px solid #ebebeb;

            li {

                a {
                    text-align: center;

                    &:after {
                        width: 100%;
                        height: 3px;
                        right: 0;
                        top: auto;
                        bottom: -2px;
                    }
                }
            }

        }
    }

    .eltd-tabs.eltd-vertical-tab {

        .eltd-tabs-nav {
            float: none;
            padding: 0; 
        }

        .eltd-tab-container {
            float: none;
            border-left: 0;
            padding: 9px 0;
        }
    }
}