/* ==========================================================================
# Team style - begin
========================================================================== */

.eltd-team {

	.eltd-team-image {
		img {
			display: block;
		}
	}

	.eltd-team-info {
		text-align: center;
	}

	.eltd-team-name {
		margin: 0;
	  	color:#333;

	}

	.eltd-team-position {
		font-size: 14px;
		color: $light-text-color;
		margin: 0;
		margin-top: 15px;
		font-weight: 600;
		font-family: $second-font;
		letter-spacing: 1px;
	}

	.eltd-team-description {
		color:#8f8f8f;
		margin-top: 12px;

		p {
			margin: 0;
		}

	}

	.eltd-team-social {
	  margin-top:30px;
		.eltd-team-social-icon-holder{
		  display: inline-block;
		}
	}

	/* Team type main info below image - begin
	========================================================================== */
	&.main-info-below-image {

		.eltd-team-info {
			padding: 33px 0;

		    .eltd-team-social{
				margin-top: 16px;

				&.normal{
				  margin-top:12px;

				  .eltd-team-social-icon-holder {

					  .eltd-team-icon-holder-inner{

						  .eltd-icon-shortcode {
							  font-size: 11px;
							  color: #a2a2a2;
							  margin-right: 19px;

							  a{
								  font-size: inherit;
								  color: inherit;

								  &:hover{
									  color:$first-main-color;
								  }
							  }
						  }

						  &:last-child{
							 & > span{
								 margin-right: 0;
							 }
						  }

					  }
				  }

				}

				&.square {

					.eltd-team-icon-holder-inner{
						background-color: #f0f0f0;
						border:none;
						margin-right: 3px;
						&:last-child{
							margin-right: 0;
						}
					}




				}

				&.circle{
					.eltd-icon-shortcode{
						&:hover{
							a span{
								color:#fff;
							}
							background-color: $first-main-color;
						}
					}

				}
			}

			.eltd-team-icon-holder-inner {
			    position: relative;
			    display: block;
			    float: left;
			    overflow: hidden;

                .eltd-team-icon-item {

                    color:$light-text-color;

                    .eltd-icon-shortcode {
                        @include eltdTransition(all 0.5s cubic-bezier(0.25, 0.1, 0.11, .99));
                    }
                }

                .eltd-icon-element {
                    color:$light-text-color;
                }


			}
		}
		.eltd-team-image {
			position: relative;
			display: inline-block;
			vertical-align: middle;

			&.round{
				img {
					@include eltdBorderRadius(50%);
				}
			}
			img{
				margin:0 auto;
			}
			&.round {

				img{
					@include eltdBorderRadius(50%);
				}

				& + .eltd-team-info{

					.eltd-team-name{
						font-size: 16px;
					}

					.eltd-team-position{
						font-family: $second-font;
						text-transform: uppercase;
					}
					.eltd-team-description{

					}
				}
			}
			img{
				margin:0 auto;
			}
		}

		.eltd-team-inner {
		    position: relative;
		}

		.eltd-team-hover-image {
		    position: absolute;
		    top: 0;
		    left:0;
		    opacity: 0;
		    @include eltdTransition(.2s ease-out) ;
		}

		&:hover .eltd-team-hover-image {
		    opacity: 1;
		}

	}

	&.social-icons-on-hover{
		.eltd-team-image{
			position: relative;
			&:before{
				z-index: 1;
				content: "";
				position: absolute;
				display: block;
				top:0;
				height:100%;
				width:100%;
				background-color: rgba(0,0,0,.4);
				opacity: 0;
				@include eltdTransition(opacity .2s linear);
			}

			.eltd-team-social{
				opacity: 0;
				position: absolute;
				margin-top:0;
				top:50%;
				left:50%;
				z-index: 2;
				@include eltdTransition(opacity .2s linear);
				@include eltdTransform(translate(-50%,-50%));

				a{
					font-size: 11px;
					color:$light-skin-color;
					&:hover{
						color:$first-main-color;
					}
				}
				.eltd-team-icon-holder-inner{
					margin-right:16px;

					&:last-child{
						margin-right:0;
					}
				}
			}
		}
		.eltd-team-info{
			.eltd-team-name{
				margin-top:20px;
			}

		}

        .eltd-team-image-wrapper {
            position:relative;
            overflow:hidden;

            .eltd-team-image-inner-wrapper {
                -webkit-transition: -webkit-transform 0.3s ease-out;
                transition: transform 0.3s ease-out;
            }
        }

        .eltd-team-social-icon-holder {
            @include eltdTransition(all 0.3s ease-out);
            @include eltdTransform(rotate(-10deg));
            transform-origin:0;
        }

		&:hover{
			.eltd-team-image{
				&:before{
					opacity:1;
				}
				.eltd-team-social{
					opacity: 1;
				}
			}

            .eltd-team-social-icon-holder {
                @include eltdTransform(rotate(0deg));
            }


            .eltd-team-image-inner-wrapper {
                @include eltdTransform(scale(1.1,1.1));
            }

		}


	}
	/* Team type main info below image - end
	========================================================================== */

	/* Team type main info on hover - begin
	========================================================================== */
	&.main-info-on-hover {

		.eltd-team-image {
			position: relative;

			.eltd-team-info-over {
				position: absolute;
				width: 100%;
			    left: 0;
				background-color: rgba(0,0,0,.4);
				opacity:0;
				transition: opacity .3s;

				.eltd-team-table {
					display: table;
					width: 100%;
					height: 100%;
					text-align: center;
				}

				.eltd-team-cell {
					display: table-cell;
					vertical-align: middle;
				}

				.eltd-team-description,
				.eltd-team-name {
					color: #fff;
					transition: all 0.3s ease-out 0s;
					transform-origin:left center;
					@include eltdTransform(rotate(-5deg));
				}
				.eltd-team-position{
				  font-weight: normal;
					color:$light-skin-color;
					transition: all 0.3s ease-out 0.05s;
					transform-origin:left center;
					@include eltdTransform(rotate(-5deg));
				}

				.eltd-team-social {
					transition: all 0.3s ease-out 0.1s;
					transform-origin:left center;
					@include eltdTransform(rotate(-5deg));
				}

			}

			&:hover {
				.eltd-team-info-over  {
					opacity:1;
					@include eltdTransition(all .3s);

					.eltd-team-name,
					.eltd-team-position,
					.eltd-team-social {
						transition: all 0.3s ease-out 0s;
						@include eltdTransform(rotate(0deg));
					}
				}
			}

		}

	  	&.color-overlay{
		  .eltd-team-info-over {
			top: 0;
			height: 100%;
			  .eltd-team-social{
				  &.square,
				  &.circle{
					  .eltd-icon-shortcode{
						  background-color: $light-skin-color;
						  span{
							  color:$light-text-color;
							  font-size: 11px;
						  }
					  }
				  }
				  .eltd-team-social-icon-holder{

					  .eltd-icon-shortcode{
						  margin-right: 18px;
						  &:last-child{
							  margin-right:0;
						  }

						  &:hover a{
							  color:$first-main-color;
						  }
					  }
				  }
			  }

		  }
		}

		&.bottom-bar,
		&.transparent-overlay{
		  .eltd-team-info-over {
			bottom: 0;
			padding: 40px 20px;
			box-sizing: border-box;
			.eltd-team-social{

			}
		  }

		}
	  &.transparent-overlay{
		.eltd-team-info-over {
		  background-color: transparent;
		}

	  }


		.eltd-team-social .eltd-icon-shortcode a {
			color: #fff;
		}

		.eltd-team-info-below {
			margin-top: 20px;
			text-align: center;
		}

		.eltd-team-position{
			margin-top:11px;
		}

		.eltd-team-social{
			margin-top: 19px;
		}

	}
	/* Team type main info on hover - end
	========================================================================== */

}

/* ==========================================================================
# Team style - end
========================================================================== */