/* ==========================================================================
# Team responsive style - begin
========================================================================== */

@include ipad-landscape{
  .eltd-team{
    .eltd-team-image{
      img{
        margin: 0 auto;
      }
    }
  }
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */