/* ==========================================================================
# Testimonial style - begin
========================================================================== */
.eltd-testimonials {
  	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	@include eltdTransition(opacity 0.3s ease);

	.eltd-testimonial-items-holder {

		.eltd-testimonial-content {
			margin-bottom: 70px;

		}

	}

	/* Type With Icon
	======================================================= */
	&.eltd-with-icon {

		.eltd-testimonials-icon {
			text-align: center;
			margin-bottom: 25px;

			> i,
			> span {
				font-size: 20px;
			   display: inline-block;
				@include eltdBorderRadius(50%);
			    padding: 17px;
			  	background-color:$first-main-color;
				color: #fff;
			}
		}

		.eltd-testimonials-text {
			font-size: 20px;
			line-height: 32px;
			text-align: center;
			color: #7a7a7a;
		}

		.eltd-testimonials-author {
			margin-top: 34px;
			text-align: center;
		}



	}

	/* Type Cards
	======================================================= */
	&.eltd-cards {

		.eltd-testimonial-content {
			padding: 0 14px;
		    margin-bottom: 5px;
			.eltd-testimonials-author-image{
				.eltd-testimonials-author-image-holder {
				  width: 66px;
					display: inline-block;
				  height: 66px;
				  margin: 0 auto;
				  @include eltdBoxSizing(border-box);
				  overflow: hidden;
				}

			}
		}

		.eltd-testimonial-card {
			background-color: #fff;
			padding: 34px 48px 42px;

			.eltd-testimonials-text {
				padding-bottom: 17px;
			    text-align: left;
			  	font-weight: 400;
			  	span{
				  width: 24px;
				  height: 2px;
				  position: absolute;
				  left:50%;
				  margin-top:17px;
				  transform: translateX(-50%);
				  background-color: $first-main-color;
				}
			}
			.eltd-testimonials-author-holder{
				position: relative;
				@include eltdTableLayout;

					.eltd-testimonials-author-image,
					.eltd-testimonials-author {
						@include eltdTableCellLayout;
						text-align: left;
					}
					.eltd-testimonials-author{
						@include eltdBoxSizing("border-box");
						width: 100%;
						top:1px;
						border-top: 2px solid $shortcode-background-color;
					}
				.eltd-testimonials-author-image{
					width:48%;
				}



					.eltd-testimonials-author-details {
						text-align: left;

						h5 {
							margin: 0;
							margin-bottom: 5px;
						}

						h6{
							margin: 10px 0 0px;
							color:#333;
						}

						.author-position {
							font-size: 13px;
							font-family: $third-font;
							font-weight: 400;
							margin-top:5px;
							text-transform: lowercase;
							color: #909090;
                            letter-spacing: 1px;
						}

					}




			}



		}

		&.dark{
			.eltd-testimonial-card{
				background-color: $dark-skin-color;
				.eltd-testimonials-text{
					color:$light-skin-color;
					h5{
						color:$light-skin-color;
					}
				}
				.eltd-testimonials-author-holder{
					.eltd-testimonials-author-details{
						.author-position,
						h5{
							color:$light-skin-color;
						}
					}
				}


			}
		}



	}

	/* Type Standard
	======================================================= */
	&.eltd-standard {
		.eltd-testimonial-content{
		padding: 0 13px;
			text-align: left;
		}

		.eltd-testimonials-inner {
			@include eltdTableLayout;
			.eltd-testimonials-social-network-holder{
			  display: table;
			  margin: 0 auto;
			}
			.eltd-testimonials-description{
                padding: 29px 24px 42px 41px;
				position: relative;
				background-color: rgba(255,255,255,1);
				&:after{
					content: "";
					display: block;
					position: absolute;
					bottom:-19px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 19px 17px 0 17px;
					border-color:  rgba(255,255,255,1) transparent transparent transparent;
				}
				h5{
					color:$heading-color;
					font-weight: 600;
				}
			}
			.eltd-testimonials-author-holder{
				margin-top: 35px;
				margin-left: 20px;
			}
		}

		.eltd-testimonials-author-image,
		.eltd-testimonials-details {

			text-align: left;
			vertical-align: top;
		}

		.eltd-testimonials-author-image {
			display: inline-block;

			img {
				width: 70px;
			  	height: 70px;
				@include eltdBorderRadius(50%);
				@include eltdBoxSizing(border-box);
			}

		}
		.eltd-testimonials-author{
			display: inline-block;
			margin-left:19px;
			h5{
				margin-bottom: 3px;
				color: #fff;
			}
			.author-position{
                letter-spacing:0;
				font-weight: 400;
				color: #8f8f8f;
				font-size: 13px;
				font-family: $third-font;
				margin-top:5px;
				text-transform: lowercase;
			}
		}

		.eltd-testimonials-details {
			padding-top: 20px;
		    text-align: center;

			h4 {
				margin: 0;
			}
			p{
			  margin-top:6px;
			  color:$light-text-color;
			  font-weight: 300;
			}

			.author-position {
				font-weight: 400;
				color: #8f8f8f;
				font-size: 13px;
				font-family: $third-font;
				margin-top:5px;
				text-transform: lowercase;
				letter-spacing:0;
			}

		}

		&.dark{
				.eltd-testimonials-author-holder{
					.eltd-testimonials-author{
						h5{
							color:$heading-color;
						}
					}

				}
			.eltd-testimonials-inner{

				.eltd-testimonials-description{
					background-color: #f5f5f5;

					&:after{
						border-color: #f5f5f5 transparent transparent;
					}
				}
			}

		}

	}

	&.light {
		&:not(.eltd-cards){
			.eltd-testimonials-icon {
				> i,
				> span {
					color: #fff;
				}
			}

			.eltd-testimonials-text {
				color: #fff;
			}

			.eltd-testimonials-author {
				h5 {
					color: #fff;
				}
			}

			.eltd-testimonials-details {
				color: #fff;

				h4 {
					color: #fff;
				}

				.author-position {
					color: #fff;
					letter-spacing: 0;
				}

			}
		}

	}

  	&.light{
	   &.eltd-with-icon{
		 .eltd-testimonials-icon > span, .eltd-testimonials-icon > i{
		   color:$dark-skin-color;
		   background-color: #fff;
		 }
	   }
	}

	&.light{
		&.eltd-standard{
			.eltd-testimonials-author .author-position{
				color: #fff;
			}
		}
	}

	.owl-item {
		-webkit-transform:translateZ(0); //fix blinking
	}

	.owl-controls {

		/* Navigation
		======================================================= */
		.owl-nav {
			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
			}

			.owl-prev {
				left: -20px;
			}

			.owl-next {
				right: -20px;
			}
		}

		/* Pagination
		======================================================= */
		.owl-dots {
		  @extend %dots-style;

		}

	}

 	&:not(.light){
	  .owl-controls{
		.owl-dots {
		  margin-top:32px;
			@extend %dots-style2;
		}
	  }
	}

}

/* ==========================================================================
# Testimonial style - end
========================================================================== */

