.eltd-testimonials {

	/* Type Cards
	======================================================= */
	&.eltd-cards {

		.eltd-testimonial-card {
			@include mac {
			  padding: 10px 25px 20px;
			}
		}

	}

}

@include ipad-landscape{
	.eltd-testimonials-holder{
		.eltd-testimonials.eltd-cards{
			.eltd-testimonials-author-holder{
				.eltd-testimonials-author-image{
					width:82%;
				}
			}
		}
	}
}

@include smaller-phone-portrait{
	.eltd-testimonials-holder{
		.eltd-testimonials.eltd-cards{
			.eltd-testimonial-card .eltd-testimonials-author-holder .eltd-testimonials-author-image{
				width:80%;
			}
		}

	}
}