.eltd-twitter-feed-holder{
	&.eltd-twitter-feed-two-columns,
	&.eltd-twitter-feed-three-columns{
		.eltd-twitter-feed-item-holder{
			@include ipad-portrait{
				width: 100%;
				clear: both;
			}
		}
	}
}