.eltd-twitter-feed-holder{
	&.eltd-twitter-feed-two-columns{
		.eltd-twitter-feed-item-holder{
			width: 50%;
			&:nth-child(2n+1){
				clear: both;
			}
		}
	}
	&.eltd-twitter-feed-three-columns{
		.eltd-twitter-feed-item-holder{
			width: 33.33%;
			&:nth-child(3n+1){
				clear: both;
			}
		}
	}
	.eltd-twitter-feed-item-holder{

		float: left;
		@include eltdTableLayout;
		margin: 0 0 61px;
		.eltd-twitter-feed-image-holder{
			.eltd-twitter-feed-link{
				display: block;
				width: 100%;
				height: 100%;
			}
			@include eltdTableCellLayout;
			width: 77px;
			.eltd-twitter-feed-image-holder-inner{
				width: 77px;
				height: 77px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

		}
		.eltd-twitter-feed-text-holder{
			@include eltdTableCellLayout;
			text-align: left;
			padding: 0 40px 0 24px;
			.eltd-twitter-feed-date{
				a{
					@extend %eltd-custom-title-grey;
				}
			}
			.eltd-twitter-feed-username{
				margin: 6px 0 9px;
			}
			.eltd-twitter-user-url{
				margin-top: 12px;
			}
		}
	}
}