/* ==========================================================================
   Custom Font Type Out start
   ========================================================================== */
.eltd-typed-wrap {
    width:0;
    white-space: nowrap;
    background-color:$first-main-color;
    padding: 0px 10px 5px;
    visibility: hidden;
    opacity:0;
    &.eltd-typing {
        visibility: visible;
        opacity:1;
        @include eltdTransition(opacity .5s);
        @include animation(typeBlink, .6s, 2, linear, .5s);
    }

    @include keyframes(typeBlink) {
        0%,100% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
    }
    .eltd-typed {
        display: inline-block;

        span {
            display: none; //remove initial strings
        }
    }
}
/* ==========================================================================
   Custom Font Type Out end
   ========================================================================== */