/* ==========================================================================
# Unordered List Style - begin
========================================================================== */

.eltd-unordered-list ul{
	display: block;
	margin: 0;
	padding: 0;
    
    >li{
        position: relative;
        font-family: inherit;
        font-size: 14px;
    }    
}
.eltd-unordered-list.eltd-line  ul{
    list-style-type: none;
    
    >li{
        padding-left: 9px; 
        
        &:before {
            height: 20px;
            width: auto;
            line-height: 20px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 1px;
            padding: 0;
            color: #959595;
            text-align: center;
            content: '-';
        }
    }
}
.eltd-unordered-list.eltd-animate-list ul li {
    opacity: 0;
    top: -40px;
    @include eltdTransition(opacity 0.4s ease-in-out,
            top 0.4s ease-in-out)
}

.eltd-unordered-list.eltd-animate-list.eltd-appeared ul li,
.touch .no_animation_on_touch .eltd-unordered-list.eltd-animate-list  ul li{
    opacity: 1;
    top: 0;
}

/* ==========================================================================
# Unordered List Style - end
========================================================================== */
