/* ==========================================================================
   Start of Vertical Split Slider
   ========================================================================== */

.eltd-vertical-split-screen-initialized .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.eltd-vertical-split-screen-initialized .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
	padding: 0;
}


.eltd-vertical-split-slider{
	opacity: 0;
	position: relative;
	margin: 0px -2px;
	overflow: hidden;

	.eltd-vss-ms-left {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;

		.eltd-vss-ms-section{
            background-size: cover;
		}

	}

	.eltd-vss-ms-right {
		height: 100%;
		position: absolute;
		right: 0px;
		top: 10000px;
		width: 50%;

		.eltd-vss-ms-section{
			background-position: 0 center !important;
            background-size: cover;
		}
	}


}

.eltd-vss-ms-section {
	&.ms-table{
		display: table;
		width: 100%;
		table-layout: fixed;

		@include eltdBoxSizing(border-box);
	}

	.ms-tableCell {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;

		@include eltdBoxSizing(border-box);
	}

	.ms-easing {
		@include eltdTransition(all 0.7s ease-out);
	}
}

.eltd-vertical-split-slider-responsive {
	display: none;
}

#multiscroll-nav {
	position: fixed;
	z-index: 1000;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
	@include eltdTransition(opacity .5s ease-out);


	&.right {
		right: 17px;
	}

	&.left {
		left: 17px;
	}

	ul{
		margin: 0;
		padding: 0;

		li{
			display: block;
			width: 11px;
			height: 11px;
			margin: 10px 7px;
			position: relative;
            @include eltdBorderRadius(100%);
            overflow: hidden;

			a {
				display: block;
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				cursor: pointer;
				text-decoration: none;

				&:hover{
					span{
						background-color: #333;
					}
				}
			}

			span {
				width: 100%;
				height: 100%;
				background-color: transparent;
				@include eltdBoxSizing(border-box);
				border: 2px solid #333;
				position: relative;
                display: block;
				z-index: 1;
				@include eltdBorderRadius(50%);
			}

			.active span{
				background-color: #333;
			}
		}

	}

}

.eltd-vss-light-header:not(.eltd-light-header){
	#multiscroll-nav{
		ul li{

			a:hover{
				span{
					background-color: #fff!important;
				}
			}
			.active span{
				background-color: #fff!important;
			}
			span{
				border: 2px solid #fff!important;
			}
		}
	}
}
.eltd-vss-light-header.eltd-light-header{
	#multiscroll-nav{
		ul li{

			a:hover{
				span{
					background-color: #333;
				}
			}
			.active span{
				background-color: #333;
			}
			span{
				border: 2px solid #333;
			}
		}
	}
}





/* ==========================================================================
   End of Vertical Split Slider
   ========================================================================== */