/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@include ipad-landscape {
	body.eltd-vertical-split-screen-initialized {
		overflow-y: visible !important;
		height: auto !important;
	}

	.eltd-vertical-split-slider,
	#multiscroll-nav {
		display: none;
	}

	.eltd-vertical-split-slider-responsive {
		display: block;
	}

	.eltd-vss-ms-section {
		background-position: center center;
        background-size: cover;
	}


}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */