/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */

@include keyframes(element-pulse) {
    0% {
        transform: scale(1.0,1.0);
    }
    50% {
        transform: scale(1.15,1.15);
    }
    100% {
        transform: scale(1.0,1.0);
    }
}

.eltd-video-button-play{
	display: inline-block;
	font-size: 55px;
	text-align: center;
 	margin:0 auto;
	line-height: 55px;
	color: $light-skin-color;
	@include eltdTransition(all 0.3s ease);

	.eltd-video-button-wrapper{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;

		i {
			position: relative;
		}
	}

	&:hover {
	  	color: $light-skin-color;
        @include eltdTransition(all 0.3s ease);
		@include eltdAnimation(element-pulse 1.15s infinite);

	}

}

.eltd-video-button{
	display: block;
	text-align: center;
}

.eltd-video-button-title{
	text-align: center;
	margin-top: 20px;
	font-size: 50px;
	font-weight: normal;
	color:$light-skin-color;
	text-transform: none;
	margin-bottom: 0;
}


/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */