.eltd-workflow{
    margin-top: 50px;
    position: relative;

    .eltd-workflow-item{
        position:relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 82%;
        position: relative;
        padding-bottom: 0;
        overflow: hidden;

        .eltd-workflow-item-inner{
            display: inline-block;
            width: 50%;
            vertical-align: middle;

            .eltd-workflow-line {
                background-color: $shortcode-background-color;
                left: 50%;
                height:100%;
                margin-left: 3px;
                position: absolute;
                width: 2px;
                @include eltdTransition(0.3s height linear);
            }

            .eltd-workflow-image,
            .eltd-workflow-text{
                float: left;
                margin: 0;
                width: auto;

				@include eltdBoxSizing(border-box);
                .date{
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }

            .eltd-workflow-image{
                width:40%;
                text-align: center;

                img{
                    display: inline-block;
                    vertical-align: middle;
                }

            }

            .eltd-workflow-text{
                width:60%;
                padding: 0px 26px 0 45px;
                text-align: right;

                h5{
                    margin-top: 0;
                    margin-bottom: 9px;
                }

                p.text{
                    margin-top: 0px;
                }
                .date{
                    font-family: $second-font;
                    font-size: 12px;
                    color:#909090;
                    text-transform: uppercase;
                    margin-bottom: 7px;
                    margin-top: 0;
                    letter-spacing: 1px;
                }


            }
            .circle {
                background: #fff;
                border: 2px solid $first-main-color;
                border-radius: 50%;
                content: "";
                height: 14px;
                left: 50%;
                margin-left:-3px;
                position: absolute;
                top: 0px;
                width: 14px;
                @include eltdBoxSizing(border-box);
                z-index:1;
            }

            &.reverse{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                float: right;

                .eltd-workflow-image{
                    text-align: right;
                }
                .eltd-workflow-text{
                    text-align: left;
                }

            }

        }

    }

    &.eltd-workflow-animate {
        visibility: hidden;

        .no-touch &,
        .touch & {
            visibility:visible;
        }

        .no-touch & {
            .circle {
                @include eltdTransform(scale(.2));
            }

            .eltd-workflow-item {
                opacity:0;

                .eltd-workflow-item-inner {
                    .eltd-workflow-image {
                        opacity:0;
                        @include eltdTransform(scale(.8));
                    }

                    &.reverse {
                        .eltd-workflow-text {
                            opacity:0;
                            @include eltdTransform(translateX(-15px));
                        }
                    }

                    &:not(.reverse) {
                        .eltd-workflow-text {
                            opacity:0;
                            @include eltdTransform(translateX(15px));
                        }
                    }
                }  

                .eltd-workflow-line {
                    height:0;
                }

                &.eltd-appeared {
                    opacity:1;

                    .eltd-workflow-line {
                        height:100%;
                    }

                    .circle { 
                        @include eltdTransform(scale(1));
                        @include eltdTransition(all .3s cubic-bezier(0.25, 0.1, 0.11, .99));
                    }

                    .eltd-workflow-image {
                        -webkit-transition: -webkit-transform .6s cubic-bezier(.24,.58,.18,1.48) .2s, opacity .3s ease-out .2s;
                        transition: transform .6s cubic-bezier(.24,.58,.18,1.48) .2s, opacity .3s ease-out .2s;
                        opacity:1;
                        @include eltdTransform(scale(1));
                    }

                    .eltd-workflow-item-inner {
                        .eltd-workflow-text {
                            -webkit-transition: -webkit-transform .3s cubic-bezier(.24,.58,.18,1.48), opacity .3s ease-out;
                            transition: transform .3s cubic-bezier(.24,.58,.18,1.48), opacity .3s ease-out;
                            @include eltdTransform(translateX(0));
                            opacity:1;
                        }
                    }

                } 
            }
        }
    }
}