@include mac{
    .eltd-workflow{
        .eltd-workflow-item{
            max-width: 100%;
        }
    }
}

@include laptop-landscape {
    .eltd-workflow{
        .eltd-workflow-item{
            max-width: 100%;

            .eltd-workflow-item-inner .eltd-workflow-text{
                padding: 0 40px;
            }
        }
    }
}
@include ipad-portrait{
    .eltd-workflow{
        .eltd-workflow-item{
            max-width: 100%;

            .eltd-workflow-item-inner{
                .eltd-workflow-text{
                    padding: 0 20px 0 0;
                }
                &.reverse{
                    .eltd-workflow-text{
                        padding: 0 0 0 20px;
                    }
                }
            }


        }
    }
}

@include phone-landscape{

    .eltd-workflow {

        .eltd-workflow-item {
            .eltd-workflow-item-inner{
                @include eltdBoxSizing(border-box);
                padding: 0 20px;
                &.reverse{
                    .eltd-workflow-image{
                        text-align: left;
                    }
                    padding: 0 20px;
                }


            }

        }

        .eltd-workflow-text{
            width: 100% !important;
            padding: 0 !important;
        }

        .eltd-workflow-image{
            width: 100% !important;
            margin-bottom: 20px !important;
            text-align: center;
        }
    }
}

@include phone-portrait{
    .eltd-workflow {
        .main-line,
        .eltd-workflow-item .line,
        .eltd-workflow-item .eltd-workflow-text .circle,
        .eltd-workflow-item .eltd-workflow-item-inner .circle{
            display: none !important;
        }


        .eltd-workflow-item {
            .eltd-workflow-item-inner {
                width: 100%;
                margin-bottom: 20px;
                &.reverse {
                    width: 100%;
                    .eltd-workflow-image,
                    .eltd-workflow-text{
                        text-align: center;
                    }
                }
                .eltd-workflow-image{
                    text-align: center;
                }
                .eltd-workflow-text{
                    text-align: center;
                }
                .eltd-workflow-line{
                    display: none;
                }


            }

        }
    }
}