@import "types/float";
@import "types/on-click";
@import "types/on-hover";
@import "types/slide-in";

.eltd-header-vertical {
    .eltd-vertical-menu {
        position: relative;
        z-index: 101;
        margin: 50px 0 0;
        text-align: center;

        ul {
            position: relative;
            list-style-type: none;
        }

        ul li {
            position: relative;

            a {
                .item_text {
                    position: relative;
                }
            }
        }

        ul li{
            a {
                &:hover{
                    color: $first-main-color;

                }
            }

            &.open{
               &> a{
                 .item_outer{
                   background-color: #333;
                 }
                 .item_text{
                   color:#fff;
                 }
                }
            }
        }

        & > ul > li {
           & > a {
                position: relative;
                display: block;
                padding: 6px 0;
                font-family: $third-font;
                font-size: 13px;
                color: #7c7c7c;
                font-weight: 600;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0;
                cursor: pointer;
                @include eltdTransition(color .1s ease-in-out);

                @include eltdTransition(
                                color 0.15s ease-out,
                                text-decoration 0.15s ease-out,
                                background-color 0.15s ease-out
                );
             .item_outer{
               padding: 9px 22px;
               background-color: transparent;
               @include eltdTransition(background-color .1s ease-in-out);
             }
             .item_text{
               @include eltdTransition(color .1s ease-in-out);
             }

             &:hover{
               .item_outer{
                 background-color: #333;
               }
               .item_text{
                 color:#fff;

               }
             }

            }

            &.eltd-active-item{
                & > a{
                  .item_outer{
                    background-color: #333;
                    padding: 9px 22px;
                  }
                  .item_text{
                    color:#fff;

                  }
                }
            }
        }

        & > ul > li > a:before {
            content: '';
            display: block;
            opacity: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            background-color: $first-main-color;
            -webkit-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -moz-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -o-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -ms-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            transition: background-color 0.2s ease-out, opacity 0.2s ease-out;

            @include eltdTransition(background-color 0.2s ease-out, opacity 0.2s ease-out);
        }

        & > ul > li > a:after {
            display: none;
            height: 1px;
            width: 44px;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $first-main-color;
        }

        & > ul > li > a > span.item_inner {
            @include eltdTransition(text-decoration 0.2s ease-out);
        }
        
        & > ul > li:last-child > a:after {
            content: none;
        }

        ul > li.menu-item-has-children > a .plus {
            display: none;
            @include eltdTransform(translateY(-50%));
        }

        ul > li.menu-item-has-children > a .plus:before {
            content: "\4c";
        }

        ul > li.menu-item-has-children.open > a .plus:before,
        ul > li.menu-item-has-children.current-menu-ancestor > a .plus:before {
            content: "\4b";
        }

        & > ul > li.menu-item-has-children > a .plus {
            display: none;
        }

        .second{
            margin: 3px 0;

            .inner {
                position: relative;
                display: block;
                padding: 0;
                z-index: 997;

                ul li{
                  a{
                    &:hover{
                      .item_text:after{
                        display: none;
                        color:#6e6e6e;
                      }
                    }
                  }

                  ul{
                    li a{
                      font-size: 13px;
                      padding-left: 0;
                    }
                  }
                }
            }

        }

        .menu_icon:not(.blank):not(.null) {
            padding-right: 5px;
        }
    }
}