.eltd-header-vertical {

    .eltd-logo-wrapper {
        z-index: 100;
        display: block;
        position: relative;
        text-align: center;
        overflow: hidden;

        a {
            display: block;
            position: relative;
            height: 100%;
        }

        img {
            display: block;
            height: auto;
            max-height: 100%;
            image-rendering: optimizeQuality;

            @include eltdTransition(opacity 0.3s ease);
        }
    }
}