.eltd-header-vertical {
    .eltd-vertical-area-widget-holder{
        text-align: center;
        z-index: 100;
        position: absolute;
        font-family: $second-font;
        font-size: 12px;
        left: 0;
        right: 0;
        padding: 0 70px;
        bottom:35px;
    }
    &.eltd-light-header {
        .eltd-vertical-area-widget-holder{
            .eltd-icon-shortcode {
                a span {
                    color: #aaa !important;
                    &:hover{
                        color: #fff !important;
                    }
                }
            }
        }
    }
}