.eltd-header-vertical {
    .eltd-vertical-dropdown-float {
        .menu-item .second {
            position: absolute;
            top: -20px;/*because of the padding*/
            left: 200px; /*because of the padding*/
            width: 235px;
            margin-left: 50px;
            opacity: 0;
            background-color: #fff;
            visibility: hidden;

            @include eltdTransition(all 0.3s ease-in-out);
        }

        .menu-item .second.eltd-float-open {
            margin-left: 0px;
            opacity: 1;
            visibility: visible;
        }

        .menu-item .second.vertical_menu_start ul li ul,
        .menu-item .second.vertical_menu_start ul li ul * {
            visibility: hidden;
        }

        .menu-item .second.vertical_menu_start ul li ul.eltd-float-open,
        .menu-item .second.vertical_menu_start ul li ul.eltd-float-open * {
            visibility: visible;
            opacity: 1;
        }

        .second .inner ul {
            width: 100%;
            @include eltdBoxSizing(border-box);
        }

        li.narrow .second .inner ul,
        li.wide .second .inner ul {
            /*because of the .narrow styling*/
            border: none;
            padding: 20px 0;
        }

        .second .inner ul ul {
            position: absolute;
            border: none;
            top: -22px;/*because of the padding + border*/
            left: 100%;
            margin-left: 50px;
            height: auto;
            visibility: hidden;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            z-index: 10;
            background-color: #fff;
            padding: 0;
            transition: all 0.3s ease-in-out;

            @include eltdTransition(all 0.3s ease-in-out);
        }

        .second .inner ul ul.eltd-float-open {
            opacity: 1;
            margin-left: 0;
            visibility: visible;
        }

        .second .inner ul li a {
            display: block;
            height: auto;
            font-weight: 400;
            line-height: 18px;
            color: #a2a2a2;
            margin: 0;
            padding: 8px 28px;
            text-decoration: none;
            position: relative;

            @include eltdTransition(color 0.15s ease-out);

            &:hover {
                color: $first-main-color;
            }
        }

        ul li a .plus {
            display: none;
        }

        ul li a .eltd-menu-arrow {
            position: absolute;
            right: 30px;
        }

        li.narrow .second .inner ul,
        li.wide .second .inner ul {
            border: 2px solid $shortcode-background-color;
        }

        .second .inner > ul > li > a .menu_icon {
            @include eltdTransition(color 0.15s ease-out);
        }
    }
}