.eltd-header-vertical {
    .eltd-vertical-dropdown-toggle {
        .second {
            margin: 0;
            display: none;
            overflow: hidden;
            z-index: 10;
            position: relative;

            &:after {
                display: none;
                width: 44px;
                height: 1px;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $first-main-color;
            }
        }

        .second .inner_arrow {
            display: none;
        }

        .second ul ul {
            display: none;
        }

        ul li a {
            display: block;
        }

        ul li a .line {
            display: none;
        }

        ul > li.menu-item-has-children > a .plus {
            width: 14px;
            height: 14px;
            z-index: 10000;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            color: #9d9d9d;
            font-size: 14px;
            line-height: 14px;
            font-family: 'ElegantIcons';
            cursor: pointer;

            @include eltdTransform(translateY(-50%));
        }

        ul > li.menu-item-has-children > a .plus:before {
            content: "\4c";
        }

        .second ul > li.menu-item-has-children > a .plus {
            display: block;
        }

        ul li.menu-item-has-children a span {
            display: inline-block;
            max-width: 180px;
        }

        ul li a .eltd-menu-arrow {
            display: none;
        }

        li.narrow .second .inner ul {
            background-color: transparent;
            padding: 0;
            width: 100%;
            border: none;
        }

        .second .inner ul li a {
            display: block;
            height: auto;
            font-weight: 400;
            line-height: 18px;
            color: #9d9d9d;
            margin: 0;
            padding: 5px 0px 5px 0px;
            text-decoration: none;
            position: relative;

            @include eltdTransition(color 0.3s ease);
        }
        &>ul>li>.second>.inner>ul>li{

         & > a{
             color:#6e6e6e;

             &:hover{
                 color:$first-main-color;
             }
         }

            &.current_page_item{
                & > a{
                    color:$first-main-color;
                }
            }
        }
        .second .inner ul li a:hover {
            color: $first-main-color;
        }

        li.narrow .second .inner ul ul {
            display: none;
        }

        .second .inner ul ul li a {
            padding-left: 15px;
        }
    }
}