@media only screen and (max-width: 1280px) {
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 23.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 23.5%;
  }
  .eltd-blog-holder.eltd-blog-type-chequered article.format-quote .eltd-post-content .eltd-post-text, .eltd-blog-holder.eltd-blog-type-chequered article.format-link .eltd-post-content .eltd-post-text {
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-holder article .eltd-post-text .eltd-post-title {
    font-size: 22px;
  }
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-image,
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-text {
    display: inline-block;
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-text-inner {
    padding-left: 0px;
  }
  .eltd-blog-holder.eltd-blog-type-masonry article:not(.format-quote):not(.format-link) .eltd-post-title {
    width: 100%;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 32%;
  }
  .eltd-blog-holder.eltd-blog-type-masonry-gallery article.eltd-default-masonry-item, .eltd-blog-holder.eltd-blog-type-masonry-gallery article.eltd-large-height-masonry-item {
    width: 50%;
  }
  .eltd-blog-holder.eltd-blog-type-masonry-gallery article.eltd-large-width-masonry-item, .eltd-blog-holder.eltd-blog-type-masonry-gallery article.eltd-large-width-height-masonry-item {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-masonry-gallery .eltd-blog-masonry-gallery-grid-sizer {
    width: 50%;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-portrait-item, .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-landscape-item {
    width: 50%;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-portrait-item .eltd-post-title, .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-landscape-item .eltd-post-title {
    font-size: 24px;
    width: 100%;
    margin: 5px 0 0;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard .eltd-blog-pinboard-grid-sizer {
    width: 50%;
  }
  .eltd-blog-holder.eltd-blog-type-chequered {
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
  }
  .eltd-blog-holder.eltd-blog-type-chequered.eltd-appeared {
    opacity: 1;
  }
  .eltd-blog-holder.eltd-blog-type-chequered article {
    width: 50%;
  }
  .eltd-blog-holder.eltd-blog-type-chequered article.format-quote .eltd-post-content .eltd-post-text, .eltd-blog-holder.eltd-blog-type-chequered article.format-link .eltd-post-content .eltd-post-text {
    padding: 40px;
  }
  .eltd-blog-holder.eltd-blog-type-chequered .eltd-blog-chequered-grid-sizer {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-holder.eltd-blog-type-masonry article,
  .eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-sizer {
    width: 49%;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 49%;
  }
  .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post {
    width: calc( (100% - 15px) / 2);
  }
  .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1) {
    clear: both;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article:not(.format-quote):not(.format-link) .eltd-post-text {
    padding: 20px;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article:not(.format-quote):not(.format-link) .eltd-post-text .eltd-post-title {
    width: 100%;
  }
  .eltd-column1 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post,
  .eltd-column2 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post {
    width: calc( (100% - 15px) / 2);
  }
  .eltd-column1 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n),
  .eltd-column2 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-column1 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1),
  .eltd-column2 .eltd-blog-holder.eltd-blog-single .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-holder.eltd-blog-type-masonry article,
  .eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-portrait-item,
  .eltd-blog-holder.eltd-blog-type-pinboard article.eltd-pinboard-landscape-item,
  .eltd-blog-holder.eltd-blog-type-pinboard .eltd-blog-pinboard-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-masonry-gallery article {
    width: 100% !important;
  }
  .eltd-blog-holder.eltd-blog-type-masonry-gallery .eltd-blog-masonry-gallery-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-two-columns article, .eltd-blog-holder.eltd-blog-type-three-columns article {
    width: 100%;
    margin: 0 0 20px;
  }
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-left-section,
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-right-section,
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-post-content {
    width: 100% !important;
    display: block !important;
  }
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-left-section {
    min-height: 200px;
  }
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-right-section {
    padding-left: 0;
  }
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-post-text {
    padding: 0;
  }
  .eltd-blog-holder.blog-standard-type article.eltd-split-post .eltd-post-header {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  .eltd-blog-holder.eltd-blog-type-pinboard article,
  .eltd-blog-holder.eltd-blog-type-pinboard .eltd-blog-pinboard-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-single .eltd-blog-single-navigation .eltd-blog-single-prev,
  .eltd-blog-holder.eltd-blog-single .eltd-blog-single-navigation .eltd-blog-single-next {
    display: none;
  }
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder {
    display: block;
  }
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-single-tags-holder,
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-post-info {
    display: block;
    text-align: left;
  }
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-single-tags-holder .eltd-blog-share,
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-post-info .eltd-blog-share {
    float: left;
  }
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-single-tags-holder .eltd-post-info-comments-holder,
  .eltd-blog-holder.eltd-blog-single article .eltd-blog-tags-info-holder .eltd-post-info .eltd-post-info-comments-holder {
    float: left;
  }
  .eltd-blog-holder article .eltd-blog-gallery-masonry-holder .eltd-blog-gallery-sizer,
  .eltd-blog-holder article .eltd-blog-gallery-masonry-holder .eltd-blog-gallery-item {
    width: 100% !important;
  }
  .eltd-blog-holder article .eltd-blog-gallery-masonry-holder .eltd-blog-gallery-gutter {
    width: 0;
  }
  .eltd-blog-holder article .eltd-post-info.eltd-bottom-section {
    display: block;
  }
  .eltd-blog-holder article .eltd-post-info.eltd-bottom-section .eltd-left-section,
  .eltd-blog-holder article .eltd-post-info.eltd-bottom-section .eltd-right-section {
    display: block;
    text-align: left;
  }
  .eltd-blog-holder article .eltd-post-info.eltd-bottom-section .eltd-right-section {
    padding-left: 0;
    margin: 10px 0 0;
  }
  .eltd-blog-holder.eltd-blog-type-chequered {
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
  }
  .eltd-blog-holder.eltd-blog-type-chequered.eltd-appeared {
    opacity: 1;
  }
  .eltd-blog-holder.eltd-blog-type-chequered article {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-chequered .eltd-blog-chequered-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-standard article.format-quote .eltd-post-title, .eltd-blog-holder.eltd-blog-type-standard article.format-link .eltd-post-title {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-related-posts-holder .eltd-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .eltd-related-posts-holder .eltd-related-posts-title h3:before,
  .eltd-related-posts-holder .eltd-related-posts-title h3:after {
    display: none !important;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */