@media only screen and (max-width: 1200px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 96%;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .eltd-header-vertical .eltd-grid,
  .eltd-header-vertical .eltd-container-inner,
  .eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  .eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .eltd-header-vertical .eltd-grid,
  .eltd-header-vertical .eltd-container-inner,
  .eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  .eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-content {
    margin-top: 0px !important;
  }
  body.eltd-paspartu-enabled .eltd-wrapper {
    padding: 0 50px;
  }
  .eltd-top-bar {
    display: none;
  }
  .eltd-content-left-from-sidebar {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-two-columns-50-50 .eltd-column,
  .eltd-two-columns-66-33 .eltd-column1,
  .eltd-two-columns-66-33 .eltd-column2,
  .eltd-two-columns-33-66 .eltd-column1,
  .eltd-two-columns-33-66 .eltd-column2,
  .eltd-two-columns-25-75 .eltd-column1,
  .eltd-two-columns-25-75 .eltd-column2,
  .eltd-two-columns-75-25 .eltd-column1,
  .eltd-two-columns-75-25 .eltd-column2,
  .eltd-three-columns .eltd-column,
  .eltd-four-columns .eltd-column {
    width: 100%;
  }
  .eltd-two-columns-66-33 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-66-33 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column2 .eltd-column-inner {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  body.eltd-paspartu-enabled .eltd-wrapper {
    padding: 0 30px;
  }
  .eltd-newsletter span.wpcf7-form-control-wrap {
    width: 100%;
    margin-bottom: 15px;
  }
  .eltd-newsletter span.wpcf7-form-control-wrap .wpcf7-form-control.wpcf7-text {
    border-right: 2px solid #ebebeb;
  }
  .eltd-newsletter span.wpcf7-form-control-wrap .wpcf7-form-control.wpcf7-text:focus {
    border-right: 2px solid #b79c7d;
  }
  .eltd-top-bar {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-section-inner-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .eltd-parallax-section-holder .eltd-parallax-content-outer {
    padding-top: 70px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-custom-contact-section ul a {
    color: #fff !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-parallax-section-holder {
    background-repeat: repeat;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-overapping-row {
    margin-top: 30px;
  }
  .eltd-overapping-row .vc_column_container > .vc_column-inner {
    margin-top: 0 !important;
    text-align: center;
  }
  .eltd-overapping-row .vc_column_container > .vc_column-inner .wpb_single_image.vc_align_left {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-comment-holder ul li .eltd-comment {
    display: block;
  }
  .eltd-comment-holder ul li .eltd-comment .eltd-comment-image,
  .eltd-comment-holder ul li .eltd-comment .eltd-comment-text {
    display: block;
  }
  .eltd-comment-holder ul ul {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-header-centered .eltd-page-header .eltd-menu-area .eltd-main-menu > ul > li > a .item_inner {
    padding: 0 20px;
  }
  .eltd-header-centered .eltd-page-header .eltd-menu-area .eltd-main-menu > ul > li > a span.plus {
    right: 0;
  }
  .eltd-header-standard .eltd-page-header .eltd-menu-area .eltd-main-menu > ul > li > a .item_inner {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-page-header {
    display: none;
  }
  .eltd-mobile-header {
    display: block;
  }
  .eltd-header-vertical .eltd-vertical-menu-area {
    display: none;
  }
  .eltd-header-vertical .eltd-content,
  .eltd-header-vertical footer {
    padding-left: 0;
  }
  .eltd-header-vertical .eltd-content:before,
  .eltd-header-vertical footer:before {
    display: none;
  }
  .eltd-header-vertical .carousel-inner {
    left: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-page-header .eltd-sticky-header,
  .eltd-boxed .eltd-page-header .eltd-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 768px) {
  footer .eltd-footer-inner .eltd-container-inner .eltd-column {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  footer .eltd-footer-top-holder .eltd-three-columns > .eltd-three-columns-inner {
    margin: 0 -60px;
  }
  footer .eltd-footer-top-holder .eltd-three-columns > .eltd-three-columns-inner .eltd-column .eltd-column-inner {
    padding: 0 51px;
  }
  footer .eltd-footer-top-holder .eltd-three-columns > .eltd-three-columns-inner .eltd-column:first-child, footer .eltd-footer-top-holder .eltd-three-columns > .eltd-three-columns-inner .eltd-column:last-child {
    width: 30%;
  }
  footer .eltd-footer-top-holder .eltd-three-columns > .eltd-three-columns-inner .eltd-column:nth-child(2) {
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-title.eltd-has-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .eltd-title.eltd-title-image-not-responsive .eltd-title-image {
    display: block;
  }
  .eltd-title .eltd-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .eltd-title .eltd-title-holder .eltd-container {
    display: block;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-container-inner {
    display: table;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .eltd-title .eltd-title-subtitle-holder {
    padding: 0px !important;
  }
  .eltd-title.eltd-standard-type .eltd-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-title .eltd-title-holder .eltd-subtitle {
    display: none;
  }
  .eltd-title .eltd-title-holder h1.eltd-title-size-small {
    font-size: 22px;
  }
  .eltd-title .eltd-title-holder h1.eltd-title-size-medium {
    font-size: 40px;
  }
  .eltd-title .eltd-title-holder h1.eltd-title-size-large {
    font-size: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-title .eltd-title-holder h1.eltd-title-size-medium {
    font-size: 32px;
  }
  .eltd-title .eltd-title-holder h1.eltd-title-size-large {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-side-menu-slide-with-content .eltd-side-menu {
    width: 100%;
    right: -100%;
  }
  .eltd-side-menu-slide-from-right .eltd-side-menu {
    width: 100%;
    right: -100%;
  }
}

@media only screen and (max-width: 600px) {
  .masonry .eltd-ptf-gallery .eltd-ptf-gallery-sizer,
  .masonry .eltd-ptf-gallery .eltd-ptf-gallery-item,
  .masonry-wide .eltd-ptf-gallery .eltd-ptf-gallery-sizer,
  .masonry-wide .eltd-ptf-gallery .eltd-ptf-gallery-item {
    width: 100% !important;
  }
  .masonry .eltd-ptf-gallery .eltd-ptf-gallery-gutter,
  .masonry-wide .eltd-ptf-gallery .eltd-ptf-gallery-gutter {
    width: 0;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-prev span:last-child {
    display: none;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-prev .eltd-ptf-nav-icons {
    position: relative;
    vertical-align: middle;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-next span:first-child {
    display: none;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-next .eltd-ptf-nav-icons {
    position: relative;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-prev,
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-next {
    width: 32px;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-navigation-info span {
    display: none;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-portfolio-back-btn {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .info-slider .eltd-info-slider-holder .eltd-portfolio-single-media .eltd-portfolio-info-holder {
    max-width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-two-columns article {
    margin-bottom: 20px;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder .eltd-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Interactive Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-interactive-elements-holder-wrapper .eltd-interactive-elements-holder .eltd-interactive-elements-holder-item-wrap {
    position: relative;
    right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1279px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-1280 .eltd-interactive-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-1024 .eltd-interactive-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-768 .eltd-interactive-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-600 .eltd-interactive-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-480 .eltd-interactive-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-interactive-elements-holder .eltd-interactive-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: left;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: right;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: left;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: right;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: left;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: right;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: left;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: right;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: left;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: right;
  }
  .eltd-interactive-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-interactive-elements-holder-item .eltd-interactive-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Interactive Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-team .eltd-team-image img {
    margin: 0 auto;
  }
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */
.eltd-testimonials {
  /* Type Cards
	======================================================= */
}

@media only screen and (max-width: 1280px) {
  .eltd-testimonials.eltd-cards .eltd-testimonial-card {
    padding: 10px 25px 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-testimonials-holder .eltd-testimonials.eltd-cards .eltd-testimonials-author-holder .eltd-testimonials-author-image {
    width: 82%;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-testimonials-holder .eltd-testimonials.eltd-cards .eltd-testimonial-card .eltd-testimonials-author-holder .eltd-testimonials-author-image {
    width: 80%;
  }
}

/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-text {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-iwt.eltd-iwt-icon-left .eltd-iwt-content-holder {
    padding-left: 45px !important;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-iwt.eltd-iwt-icon-left .eltd-iwt-content-holder {
    padding-left: 82px !important;
  }
}

/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .eltd-message .eltd-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-message.eltd-with-icon .eltd-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-pricing-tables .eltd-price-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
  .eltd-pricing-tables .eltd-price-table:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-pricing-tables .eltd-price-table {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-tabs.eltd-vertical-tab .eltd-tabs-nav {
    width: 35% !important;
  }
  .eltd-tabs.eltd-vertical-tab .eltd-tab-container {
    width: 65% !important;
  }
  .eltd-tabs.eltd-vertical-tab li a {
    padding: 10px 27px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-tabs.eltd-vertical-tab.eltd-color-tabs ul li a {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-tabs .eltd-tabs-nav,
  .eltd-tabs .eltd-tab-container,
  .eltd-tabs.eltd-vertical-tab .eltd-tabs-nav,
  .eltd-tabs.eltd-vertical-tab .eltd-tab-container {
    width: 100% !important;
  }
  .eltd-tabs .eltd-tabs-nav li,
  .eltd-tabs.eltd-horizontal-tab .eltd-tabs-nav li {
    float: none;
    display: block;
    margin-right: 0;
  }
  .eltd-tabs.eltd-transparent-tabs.eltd-horizontal-tab .eltd-tabs-nav li {
    padding: 0;
  }
  .eltd-tabs.eltd-transparent-tabs.eltd-vertical-tab .eltd-tabs-nav {
    border-right: none;
    border-bottom: 2px solid #ebebeb;
  }
  .eltd-tabs.eltd-transparent-tabs.eltd-vertical-tab .eltd-tabs-nav li a {
    text-align: center;
  }
  .eltd-tabs.eltd-transparent-tabs.eltd-vertical-tab .eltd-tabs-nav li a:after {
    width: 100%;
    height: 3px;
    right: 0;
    top: auto;
    bottom: -2px;
  }
  .eltd-tabs.eltd-vertical-tab .eltd-tabs-nav {
    float: none;
    padding: 0;
  }
  .eltd-tabs.eltd-vertical-tab .eltd-tab-container {
    float: none;
    border-left: 0;
    padding: 9px 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-accordion-holder:not(.eltd-boxed) div.eltd-accordion-content {
    padding: 0;
  }
  .eltd-accordion-holder:not(.eltd-boxed) span.eltd-tab-title {
    padding: 0 0 0 58px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-blog-list-holder.eltd-blog-gallery.eltd-four-columns .eltd-blog-list-item {
    width: calc((100% - 24px)/2);
  }
  .eltd-blog-list-holder.eltd-blog-gallery.eltd-four-columns .eltd-blog-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-list-holder.eltd-blog-gallery.eltd-four-columns .eltd-blog-list-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-blog-list-holder.eltd-blog-gallery .eltd-blog-list-item .eltd-blog-list-item-holder {
    min-height: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-list-holder > ul .eltd-blog-list-item .eltd-item-title {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-masonry.eltd-four-columns .eltd-blog-list-masonry-grid-sizer,
  .eltd-blog-list-holder.eltd-masonry.eltd-four-columns .eltd-blog-list-masonry-item {
    width: calc((100% - 24px) / 2);
  }
  .eltd-blog-list-holder.eltd-four-columns .eltd-blog-list-item {
    width: calc((100% - 24px)/2);
  }
  .eltd-blog-list-holder.eltd-four-columns .eltd-blog-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-list-holder.eltd-four-columns .eltd-blog-list-item:nth-child(2n+1) {
    clear: both;
  }
  .eltd-blog-list-holder.eltd-blog-author-top.eltd-three-columns .eltd-blog-list-item {
    width: 100%;
    clear: none;
    margin: 20px 0;
  }
  .eltd-blog-list-holder.eltd-blog-split-column.eltd-three-columns .eltd-blog-list-item.eltd-blog-list-split-column-item {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-blog-minimal .eltd-blog-list li .eltd-item-image {
    width: 12%;
  }
  .eltd-blog-list-holder.eltd-blog-standard.eltd-three-columns ul li .eltd-item-text-holder .eltd-item-info-section.eltd-small-info-section .eltd-post-info-comments-holder {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-list-holder.eltd-blog-standard.eltd-three-columns ul li .eltd-item-text-holder .eltd-item-info-section.eltd-small-info-section .eltd-post-info-comments-holder {
    float: right;
  }
  .eltd-blog-list-holder.eltd-blog-standard.eltd-three-columns .eltd-blog-list-item:nth-child(3n+1),
  .eltd-blog-list-holder.eltd-blog-standard.eltd-three-columns .eltd-blog-list-item,
  .eltd-blog-list-holder.eltd-blog-standard.eltd-three-columns .eltd-blog-list-item:nth-child(3n) {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-blog-gallery .eltd-blog-list-item {
    width: 100%;
    clear: none;
  }
  .eltd-blog-list-holder.eltd-blog-overlay.eltd-three-columns .eltd-blog-list-item {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-blog-split-column.eltd-two-columns .eltd-blog-list-item.eltd-blog-list-split-column-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-list-holder .eltd-blog-list-item {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-sizer,
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-item {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item {
    float: none;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder {
    display: block;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-image-holder,
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-text-holder {
    display: block;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-image-holder a,
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-text-holder a {
    position: relative;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-text-holder {
    padding-left: 0;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-image-holder {
    margin-bottom: 15px;
    background-image: none !important;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-blog-list-item-holder .eltd-item-image-holder img {
    display: block;
  }
  .eltd-blog-type-standard article .eltd-post-info.eltd-bottom-section .eltd-post-info-comments-holder {
    float: none !important;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-item-image-holder {
    width: 100%;
    float: none;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .eltd-blog-list-holder.eltd-blog-split-column .eltd-blog-list-item.eltd-blog-list-split-column-item .eltd-item-text-holder {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .eltd-blog-carousel-holder.eltd-carousel-cards .eltd-blog-carousel-item {
    padding: 39px 20px 36px 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-blog-carousel-holder.eltd-carousel-cards .eltd-blog-carousel-item {
    padding: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-carousel-holder.eltd-carousel-cards .eltd-blog-carousel-item {
    padding: 20px 25px 25px;
  }
  .eltd-blog-carousel-holder.eltd-carousel-cards.eltd-four-columns .eltd-blog-carousel-item {
    width: calc((100% - 28px)/2);
    margin-bottom: 28px;
  }
  .eltd-blog-carousel-holder.eltd-carousel-cards.eltd-four-columns .eltd-blog-carousel-item:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-carousel-holder.eltd-carousel-cards.eltd-four-columns .eltd-blog-carousel-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-carousel-holder.eltd-carousel-cards .eltd-blog-carousel-item {
    width: 100% !important;
    margin: 0 0 28px !important;
    clear: both;
  }
}

/* ==========================================================================
# Carousels responsive  style - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-carousel-holder .eltd-carousel-item-holder img {
    margin: 0 auto;
  }
}

/* ==========================================================================
# Carousels responsive  style - end
========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltd-blog-slider-holder .eltd-grid {
    margin-top: 0 !important;
  }
  .eltd-blog-slider-holder .eltd-blog-slider-item {
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-slider-holder .eltd-blog-slider-item {
    padding: 0;
  }
  .eltd-blog-slider-holder.eltd-four-columns .eltd-blog-slider-item {
    width: calc((100% - 28px)/2);
    margin-bottom: 28px;
  }
  .eltd-blog-slider-holder.eltd-four-columns .eltd-blog-slider-item:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-slider-holder.eltd-four-columns .eltd-blog-slider-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-slider-holder .eltd-blog-slider-item {
    width: 100% !important;
    margin: 0 !important;
    clear: both;
  }
  .eltd-blog-slider-holder .eltd-blog-slider-item .eltd-section-title {
    font-size: 20px;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-2 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    text-align: center;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-2 .eltd-gallery-image img {
    display: inline-block;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: calc((100% - 8px)/2);
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: calc((100% - 25px)/2);
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: calc(100%/3);
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: calc((100% - 25px)/2);
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    text-align: center;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image img {
    display: inline-block;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltd-processes-holder.eltd-six-columns .eltd-process, .eltd-processes-holder.eltd-five-columns .eltd-process {
    width: 33.3333%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .eltd-processes-holder.eltd-six-columns .eltd-process:nth-child(3n) .eltd-process-arrow-right, .eltd-processes-holder.eltd-five-columns .eltd-process:nth-child(3n) .eltd-process-arrow-right {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-processes-holder.eltd-four-columns .eltd-process, .eltd-processes-holder.eltd-six-columns .eltd-process, .eltd-processes-holder.eltd-five-columns .eltd-process {
    width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .eltd-processes-holder.eltd-four-columns .eltd-process:nth-child(even) .eltd-process-arrow-right, .eltd-processes-holder.eltd-six-columns .eltd-process:nth-child(even) .eltd-process-arrow-right, .eltd-processes-holder.eltd-five-columns .eltd-process:nth-child(even) .eltd-process-arrow-right {
    display: none;
  }
  .eltd-processes-holder.eltd-four-columns .eltd-process:nth-child(3n) .eltd-process-arrow-right, .eltd-processes-holder.eltd-six-columns .eltd-process:nth-child(3n) .eltd-process-arrow-right, .eltd-processes-holder.eltd-five-columns .eltd-process:nth-child(3n) .eltd-process-arrow-right {
    display: inline-block;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-processes-holder .eltd-process {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  .eltd-processes-holder .eltd-process .eltd-process-arrow-right {
    display: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax article {
    padding: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-six-columns article {
    width: 33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-four-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-six-columns article {
    width: 33.333333%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-four-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-five-columns .eltd-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-four-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-four-columns .eltd-portfolio-list-masonry-grid-sizer {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-height-masonry-item, .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space .eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space .eltd-large-height-masonry-item {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-height-masonry-item, .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space .eltd-large-width-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space .eltd-large-width-height-masonry-item {
    width: 100%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax .eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax .eltd-large-height-masonry-item {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax .eltd-large-width-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-parallax .eltd-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-large-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard.eltd-ptf-extra-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-large-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-small-spacing.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery.eltd-ptf-extra-small-spacing.eltd-ptf-six-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-standard-no-space.eltd-ptf-six-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-three-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-four-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-five-columns article, .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-no-space.eltd-ptf-six-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-five-columns .eltd-portfolio-list-masonry-grid-sizer, .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-four-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest.eltd-ptf-pinterest-four-columns .eltd-portfolio-list-masonry-grid-sizer {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-portfolio-list-holder-outer article,
  .eltd-portfolio-list-holder-outer .eltd-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-gallery-tiled article {
    left: 0 !important;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry article .eltd-item-image-holder img, .eltd-portfolio-list-holder-outer.eltd-ptf-masonry-with-space article .eltd-item-image-holder img {
    width: 100%;
  }
  .eltd-portfolio-filter-holder .eltd-portfolio-filter-holder-inner ul li {
    float: none;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 96%;
  }
}

@media only screen and (min-width: 1000px) {
  .eltd-slider-thumbs .carousel-control.left:hover .eltd-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.left:hover .eltd-prev-nav {
    left: -200px;
  }
  .eltd-slider-thumbs .carousel-control.right:hover .eltd-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.right:hover .eltd-next-nav {
    right: -200px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 120px !important;
    height: 75px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .eltd-slider .carousel-control,
  .eltd-slider-elements-container {
    padding-top: 0px !important;
  }
  .carousel-inner .item.eltd-animate-image.zoom_center .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_top_left .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_top_right .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_bottom_left .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_bottom_right .eltd-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 100px !important;
    height: 63px !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel .carousel-indicators.thumbnails li {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    /* must not be overwritten by options*/
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails li {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }
  .carousel .carousel-indicators.thumbnails .active {
    background-color: #fff;
    border-color: #fff;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails .active {
    background-color: #000;
    border-color: #000;
  }
  .carousel .carousel-indicators.thumbnails li .thumb-frame,
  .carousel .carousel-indicators.thumbnails li img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .carousel .carousel-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element {
    /* 
                            Default Element styles 
                        */
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element .eltd-slide-element-inner {
    min-width: 20%;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-title {
    font-size: 80px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-subtitle {
    font-size: 48px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-button {
    display: inline-block;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .eltd-slider-lite .carousel-control,
  .eltd-slider-lite-elements-container {
    padding-top: 0px !important;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element {
    /* 
                            Default Element styles 
                        */
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element .eltd-slide-element-inner {
    min-width: 30%;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-title {
    font-size: 70px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-subtitle {
    font-size: 40px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-button {
    display: inline-block;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element {
    /* 
                            Default Element styles 
                        */
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element .eltd-slide-element-inner {
    min-width: 50%;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-title {
    font-size: 60px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-subtitle {
    font-size: 30px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-button {
    display: inline-block;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element {
    /* 
                            Default Element styles 
                        */
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element .eltd-slide-element-inner {
    min-width: 80%;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-title {
    font-size: 40px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-subtitle {
    font-size: 24px;
  }
  .carousel .carousel-inner .item .eltd-slider-lite-elements-container .eltd-slide-element.eltd-slide-element-button {
    display: inline-block;
    margin: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-info-box-holder {
    padding: 25px 0;
  }
  .eltd-info-box-holder .eltd-ib-front-holder {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-info-box-holder {
    padding: 50px 0;
  }
  .eltd-info-box-holder .eltd-ib-front-holder {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-info-box-holder {
    padding: 35px 0;
  }
  .eltd-info-box-holder .eltd-ib-front-holder {
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .eltd-info-box-holder {
    padding: 35px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-info-box-holder {
    padding: 70px 11px;
  }
  .eltd-elements-holder.eltd-four-columns .eltd-info-box-holder {
    width: 50%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-info-box-holder {
    padding: 35px 0;
  }
  .eltd-elements-holder.eltd-two-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-three-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-four-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-five-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-six-columns .eltd-info-box-holder {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-section-title-outer-holder .eltd-section-title {
    font-size: 35px !important;
  }
}

/* ==========================================================================
# Restaurant menu responsive style - start
========================================================================== */
/* ==========================================================================
# Restaurant menu responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-counter-holder.center {
    text-align: center;
    padding: 20px;
  }
}

/* ==========================================================================
# Counter style - end
========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-product .eltd-product-title {
    margin: 0 0 10px;
  }
  .eltd-product .eltd-product-excerpt {
    margin: 0 0 38px;
  }
  .eltd-product .eltd-product-price {
    margin: 0 0 20px;
  }
  .eltd-product .eltd-product-image {
    margin: 0 0 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-product-slider-holder .eltd-product-slider-item-holder .eltd-product-slider-caption {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-product-slider-holder .eltd-product-slider-item-holder .eltd-product-slider-caption {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-product-slider-holder .eltd-product-slider-item-holder .eltd-product-slider-caption .eltd-product-slider-description {
    display: none;
  }
  .eltd-product-slider-holder .eltd-product-slider-item-holder .eltd-product-slider-caption .add_to_cart_button {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-product-carousel-holder .eltd-product-carousel-item-holder .eltd-product-carousel-caption {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-product-carousel-holder .eltd-product-carousel-item-holder .eltd-product-carousel-caption {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-product-carousel-holder .eltd-product-carousel-item-holder .eltd-product-carousel-caption .eltd-product-carousel-description {
    display: none;
  }
  .eltd-product-carousel-holder .eltd-product-carousel-item-holder .eltd-product-carousel-caption .add_to_cart_button {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder {
    width: 50%;
  }
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder:nth-child(3n+1) {
    clear: none;
  }
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder, .eltd-promotion-list-holder.eltd-promotion-two-columns .eltd-promotion-item-holder {
    width: 100%;
  }
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder:nth-child(3n+1), .eltd-promotion-list-holder.eltd-promotion-two-columns .eltd-promotion-item-holder:nth-child(3n+1) {
    clear: none;
  }
  .eltd-promotion-list-holder.eltd-promotion-three-columns .eltd-promotion-item-holder:nth-child(2n+1), .eltd-promotion-list-holder.eltd-promotion-two-columns .eltd-promotion-item-holder:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-workflow .eltd-workflow-item {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-workflow .eltd-workflow-item {
    max-width: 100%;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .eltd-workflow-text {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-workflow .eltd-workflow-item {
    max-width: 100%;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .eltd-workflow-text {
    padding: 0 20px 0 0;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse .eltd-workflow-text {
    padding: 0 0 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse {
    padding: 0 20px;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse .eltd-workflow-image {
    text-align: left;
  }
  .eltd-workflow .eltd-workflow-text {
    width: 100% !important;
    padding: 0 !important;
  }
  .eltd-workflow .eltd-workflow-image {
    width: 100% !important;
    margin-bottom: 20px !important;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-workflow .main-line,
  .eltd-workflow .eltd-workflow-item .line,
  .eltd-workflow .eltd-workflow-item .eltd-workflow-text .circle,
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .circle {
    display: none !important;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner {
    width: 100%;
    margin-bottom: 20px;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse {
    width: 100%;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse .eltd-workflow-image,
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner.reverse .eltd-workflow-text {
    text-align: center;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .eltd-workflow-image {
    text-align: center;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .eltd-workflow-text {
    text-align: center;
  }
  .eltd-workflow .eltd-workflow-item .eltd-workflow-item-inner .eltd-workflow-line {
    display: none;
  }
}

/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.eltd-vertical-split-screen-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .eltd-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .eltd-vertical-split-slider-responsive {
    display: block;
  }
  .eltd-vss-ms-section {
    background-position: center center;
    background-size: cover;
  }
}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-twitter-feed-holder.eltd-twitter-feed-two-columns .eltd-twitter-feed-item-holder, .eltd-twitter-feed-holder.eltd-twitter-feed-three-columns .eltd-twitter-feed-item-holder {
    width: 100%;
    clear: both;
  }
}

/* ==========================================================================
   #Interactive Images responsive styles start
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltd-interactive-images.eltd-ii-five-columns .eltd-interactive-image-holder {
    width: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-interactive-images.eltd-ii-five-columns .eltd-interactive-image-holder, .eltd-interactive-images.eltd-ii-four-columns .eltd-interactive-image-holder {
    width: 33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-interactive-images.eltd-ii-five-columns .eltd-interactive-image-holder, .eltd-interactive-images.eltd-ii-four-columns .eltd-interactive-image-holder, .eltd-interactive-images.eltd-ii-three-columns .eltd-interactive-image-holder {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-interactive-images {
    margin: 0;
  }
  .eltd-interactive-images.eltd-ii-five-columns .eltd-interactive-image-holder, .eltd-interactive-images.eltd-ii-four-columns .eltd-interactive-image-holder, .eltd-interactive-images.eltd-ii-three-columns .eltd-interactive-image-holder {
    width: 100%;
  }
}

/* ==========================================================================
   #Interactive Images responsive styles end
   ========================================================================== */
/* ==========================================================================
# Parallax Images responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-parallax-images {
    display: block;
  }
  .eltd-parallax-images .eltd-parallax-images-holder-inner,
  .eltd-parallax-images .eltd-parallax-images-content {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .eltd-parallax-images .eltd-parallax-images-holder-inner {
    margin-bottom: 5%;
  }
}

/* ==========================================================================
# Parallax Images responsive style - end
========================================================================== */
/* ==========================================================================
# Parallax Section responsive style - begin
========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-parallax-section .eltd-parallax-section-item:not(:last-child) {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-parallax-section .eltd-parallax-section-item:not(:last-child) {
    margin-bottom: 10%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal.eltd-psi-item-right .eltd-psi-wide-image {
    right: 5%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal.eltd-psi-item-left .eltd-psi-wide-image {
    left: 5%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-wide-image {
    vertical-align: text-top;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-parallax-section .eltd-parallax-section-item:not(:last-child) {
    margin-bottom: 15%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-narrow-image {
    max-width: 35%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-wide-image {
    max-width: 65%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-text-holder .eltd-psi-text-holder-inner {
    float: right;
    -webkit-transform: translate(10%, -10%);
    -moz-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-text-holder .eltd-dotted-line-holder {
    display: inline-block;
    -webkit-transform: scaleX(-1) translateX(-10%);
    -moz-transform: scaleX(-1) translateX(-10%);
    transform: scaleX(-1) translateX(-10%);
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal.eltd-psi-item-right .eltd-psi-wide-image {
    right: 0%;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal.eltd-psi-item-left .eltd-psi-wide-image {
    left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-parallax-section .eltd-parallax-section-item .eltd-psi-images-holder .eltd-psi-narrow-image {
    position: relative;
    z-index: 100;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-vertical .eltd-psi-text-holder .eltd-dotted-line-holder {
    float: none;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal .eltd-psi-wide-image {
    z-index: 1;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal .eltd-psi-text-right .eltd-psi-text-holder .eltd-dotted-line-holder {
    float: left;
  }
  .eltd-parallax-section .eltd-parallax-section-item.eltd-psi-horizontal .eltd-psi-text-right .eltd-psi-text-holder .eltd-psi-text-holder .eltd-psi-text-holder-inner {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
  }
}

/* ==========================================================================
# Parallax Section responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-instagram-feed.eltd-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-instagram-feed.eltd-col-4 li {
    width: 50%;
  }
  .eltd-instagram-feed.eltd-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-instagram-feed.eltd-col-4 li,
  .eltd-instagram-feed.eltd-col-3 li,
  .eltd-instagram-feed.eltd-col-6 li,
  .eltd-instagram-feed.eltd-col-9 li {
    width: 100%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */