@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/assets/custom-styles/general-custom-styles-responsive.php creator_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder:not(.eltd-full-screen-height-parallax) { height: auto !important;min-height: 250px;}

}

@media only screen and (max-width: 480px){
	/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/assets/custom-styles/general-custom-styles-responsive.php creator_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder:not(.eltd-full-screen-height-parallax) { height: auto !important;min-height: 250px;}

}