/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/assets/custom-styles/general-custom-styles.php creator_elated_design_styles function */
.eltd-preload-background { background-image: url(http://www.atelierchaponot.offmusic-agency.com/wp-content/themes/creator/assets/img/preload_pattern.png) !important;}

/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/assets/custom-styles/general-custom-styles.php creator_elated_design_styles function */
.eltd-boxed .eltd-wrapper { background-image: url(http://creator.elated-themes.com/wp-content/uploads/2016/11/pattern-boxed.jpg);background-position: 0px 0px;background-repeat: repeat;background-attachment: fixed;}

/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/framework/modules/header/custom-styles/header.php creator_elated_header_top_bar_styles function */
.eltd-top-bar { background-color: rgba(51, 51, 51, 1);}

/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/framework/modules/header/custom-styles/header.php creator_elated_vertical_menu_styles function */
.eltd-header-vertical .eltd-vertical-area-background { background-color: #333;opacity: 0.3;}

/* generated in /home/offmush/atelierchaponot/wp-content/themes/creator/framework/modules/search/custom-styles/search.php creator_elated_search_covers_header_style function */
.eltd-search-slide-header-bottom.eltd-animated .eltd-form-holder-outer, .eltd-search-slide-header-bottom .eltd-form-holder-outer, .eltd-search-slide-header-bottom { height: px;}

